[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = ">=2.0.3,<2.1.0"
Werkzeug = ">=2.0.3,<2.1.0"
Jinja2 = "~=3.1.1"
gunicorn = "~=20.1.0"
alembic = "~=1.7.7"
Babel = "~=2.9.1"
Flask-Babel = "~=2.0.0"
Flask-RESTful = "~=0.3.9"
mysql-connector-python = "~=8.0.28"
pdfkit = "~=1.0.0"
python-barcode = "~=0.13.1"
Pillow = "~=9.3.0"
relatorio = "~=0.10.0"
qrcode = "~=7.3.1"
unoserver = "~=1.2"
pikepdf = "~=5.1.1"
toml = "~=0.10.2"

[dev-packages]

[requires]
python_version = "3.9"
