[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = ">=2.3.2,<2.4.0"
Werkzeug = ">=2.3.2,<2.4.0"
Jinja2 = "~=3.1.2"
gunicorn = "~=20.1.0"
alembic = "~=1.10.4"
Babel = "~=2.12.1"
Flask-Babel = "~=3.1.0"
Flask-RESTful = "~=0.3.9"
mysql-connector-python = "~=8.0.33"
pdfkit = "~=1.0.0"
python-barcode = "~=0.14.0"
Pillow = "~=9.5.0"
relatorio = "~=0.10.1"
qrcode = "~=7.4.2"
unoserver = "~=1.4"
pikepdf = "~=7.2.0"
reportlab = "~=3.6.13"
toml = "~=0.10.2"

[dev-packages]

[requires]
python_version = "3.9"
