.modal-body
{
max-height : 350px;
overflow-y : auto;
}


body
{
padding     : 0;
margin      : 0;
background  : #FFF;
font-style  : normal;
font-family : Arial, Helvetica, sans-serif;
font-size   : 14px;
color       : #666;
}

.cursor-act
{
cursor      : pointer;
}

.mt-n4
{
margin-top  : -1rem ; 
}

a, a:visited, a:link, a:active, a:focus, a:hover, a:focus
{
color   : #5F9629;
outline : none;
cursor  : pointer;
}

#page
{
padding   : 0;
width     : 100%;
max-width : 100%;
}

#page-header
{
position    : fixed;
height      : 75px;
background  : #F7F7F7;
width       : 100%;
z-index     : 10;
line-height : 26px;
}

.inner
{
margin : 0 30px;
}

#logo
{
background-color    : transparent;
background-repeat   : no-repeat;
background-image    : url("/static/img/logo.png");
background-position : center left;
position            : absolute;
height              : 75px;
width               : 194px;
text-indent         : -10000px;
}

#logo a
{
height      : 60px;
width       : 150px;
display     : block;
text-indent : -999999px;
}

#content
{
padding-top    : 114px;
padding-bottom : 32px;
background     : #FFF;
min-height     : 520px;
}

#auth_std
{
margin      : 0 auto;
padding-top : 26px;
}

#auth_std h2
{
border     : none;
padding    : 0 0 26px;
text-align : center;
color      : #5EA045;
font-size  : 160%;
}

#auth_msg
{
position      : fixed;
top           : 90px;
left          : 0;
right         : 0;
margin        : 0 auto;
text-align    : center;
color         : #B42C16;
border-color  : #B42C16;
border-radius : 0;
}

#auth_std input
{
width : auto !important;
}

footer
{
position    : fixed;
bottom      : 0;
background  : #F7F7F7;
width       : 100%;
line-height : 26px;
font-size   : 12px;
text-align  : center;
}

#country-sel
{
position : absolute;
right    : 0;
top      : 0;
}

#country-sel .btn 
{
line-height  : 21px;
padding      : 0;
margin-right : 0;
color        : #FFF;
}

header #country-sel .dropdown-toggle
{
background : #71B330;
}

header #country-sel .dropdown-menu
{
background : #71B330;
}

header #country-sel .dropdown-item
{
background : #71B330;
color      : #FFF;
}

.page-title
{
position         : fixed;
top              : 75px;
max-width        : 100%;
width            : 95%;
height           : 34px;
line-height      : 34px;
text-align       : center;
z-index          : 9;
font-size        : 1rem;
font-weight      : bold;
}

.page-title-A
{
background-color : #FC0;
color            : #FFF;
}

.page-title-B
{
background-color : #8330E2;
color            : #FFF;
}

.page-title-T
{
background-color : #00ADEE;
color            : #FFF;
}

.page-title-TA
{
background-color : #00ADEE;
color            : #FFF;
}

.page-title-TQ
{
background-color : #00ADEE;
color            : #FFF;
}

.page-title-S
{
background-color : #F08739;
color            : #FFF;
}

.page-title-SA
{
background-color : #F08739;
color            : #FFF;
}

.page-title-Q
{
background-color : #E23176;
color            : #FFF;
}

.page-title-P
{
background-color : #996633;
color            : #FFF;
}

#user-info 
{
margin  : 0;
padding : 0;
}

#user-info .name 
{ 
position : absolute; 
right    : 130px; 
top      : 21px; 
color    : #777; 
}

.role
{
position : absolute;
right    : 40px;
top      : 21px;
width    : 80px;
height   : 26px;
}

.role-A
{
background-image : url("/static/img/admin-profile.png")
}

.role-B
{
background-image : url("/static/img/bio-profile.png")
}

.role-T
{
background-image : url("/static/img/tech-profile.png")
}

.role-TA
{
background-image : url("/static/img/tech-profile.png")
}

.role-TQ
{
background-image : url("/static/img/tech-profile.png")
}

.role-S
{
background-image : url("/static/img/sec-profile.png")
}

.role-SA
{
background-image : url("/static/img/sec-profile.png")
}

.role-Q
{
background-image : url("/static/img/qua-profile.png")
}

.role-P
{
background-image : url("/static/img/pre-profile.png")
}

.btn-A
{
background-color : #71B330 ;
color            : #FFF;
}

.btn-B
{
background-color : #71B330 ;
color            : #FFF;
}

.btn-T
{
background-color : #71B330 ;
color            : #FFF;
}

.btn-TA
{
background-color : #71B330 ;
color            : #FFF;
}

.btn-TQ
{
background-color : #71B330 ;
color            : #FFF;
}

.btn-S
{
background-color : #71B330 ;
color            : #FFF;
}

.btn-SA
{
background-color : #71B330 ;
color            : #FFF;
}

.btn-Q
{
background-color : #71B330 ;
color            : #FFF;
}

.btn-P
{
background-color : #71B330 ;
color            : #FFF;
}

.role ul 
{
display          : none;
margin           : 0;
padding          : 0;
list-style-type  : none;
position         : absolute;
right            : 0;
top              : 26px;
padding-top      : 11px;
border-bottom    : 1px solid #FFF;
background-color : rgba(0,0,0,0);
}

.role:hover ul
{
display : block;
}

.role-A a 
{
display    : block;
background : #FC0 !important;
padding    : 0px 10px;
color      : #FFF !important; 
}

.role-A a:hover 
{
background      : #E89400 !important;
color           : #FFF !important;
text-decoration : none !important; 
}

.role-B a 
{
display    : block;
background : #8330E2 !important;
padding    : 0px 10px;
color      : #FFF !important; 
}

.role-B a:hover 
{
background      : #42159B !important;
color           : #FFF !important;
text-decoration : none !important; 
}

.role-T a 
{
display    : block;
background : #29B4ED !important;
padding    : 0px 10px;
color      : #FFF !important; 
}

.role-T a:hover 
{
background      : #1499D2 !important;
color           : #024C71 !important;
text-decoration : none !important; 
}

.role-TA a 
{
display    : block;
background : #29B4ED !important;
padding    : 0px 10px;
color      : #FFF !important; 
}

.role-TA a:hover 
{
background      : #1499D2 !important;
color           : #024C71 !important;
text-decoration : none !important; 
}

.role-TQ a 
{
display    : block;
background : #29B4ED !important;
padding    : 0px 10px;
color      : #FFF !important; 
}

.role-TQ a:hover 
{
background      : #1499D2 !important;
color           : #024C71 !important;
text-decoration : none !important; 
}

.role-S a 
{
display    : block;
width      : 100px;
background : #EF8839 !important;
padding    : 0px 10px;
color      : #FFF !important; 
}

.role-S a:hover 
{
background      : #D36818 !important;
color           : #FFF !important;
text-decoration : none !important; 
}

.role-SA a 
{
display    : block;
width      : 100px;
background : #EF8839 !important;
padding    : 0px 10px;
color      : #FFF !important; 
}

.role-SA a:hover 
{
background      : #D36818 !important;
color           : #FFF !important;
text-decoration : none !important; 
}

.role-Q a 
{
display    : block;
width      : 100px;
background : #E23176 !important;
padding    : 0px 10px;
color      : #FFF !important; 
}

.role-Q a:hover 
{
background      : #AB2759 !important;
color           : #FFF !important;
text-decoration : none !important; 
}

.role-P a 
{
display    : block;
width      : 100px;
background : #996633 !important;
padding    : 0px 10px;
color      : #FFF !important; 
}

.role-P a:hover 
{
background      : #623201 !important;
color           : #FFF !important;
text-decoration : none !important; 
}

header .navbar
{
position   : absolute;
left       : 194px;
top        : 5px;
margin     : 0;
padding    : 0;
background : #F7F7F7;
border     : none;
min-height : 26px;
}

.nav-cust-cont
{
padding : 0;
}

.nav-cust-divider
{
margin     : 0;
border-top : 1px solid #e5e5e5;
}

.nav-cust-btn
{
height         : 70px;
width          : 100px;
vertical-align : top;
text-align     : center;
justify-content : center;
margin         : 0;
}

.nav-cust-btn button
{
outline        : 0;
}

.nav-btn-txt
{
display         : inline-block;
max-height      : 22px;
width           : 100%;
font-size       : .9em;
color           : #000;
vertical-align  : top;
text-align      : center;
word-wrap       : normal;
}

nav .admin
{
background      : url("/static/img/admin.png") center center no-repeat;
background-size : 100% 100%;
display         : inline-block;
width           : 3.0em;
height          : 3.0em;
vertical-align  : middle;
content         : "";
padding         : 0;
}

nav .admin:hover
{
background : url("/static/img/admin-active.png") center center no-repeat;
}

nav .btn-admin:hover .admin-content
{
display : block;
margin  : 0;
}

nav .report
{
background      : url("/static/img/report.png") center center no-repeat;
background-size : 100% 100%;
display         : inline-block;
width           : 3.0em;
height          : 3.0em;
vertical-align  : middle;
content         : "";
padding         : 0;
}

nav .report:hover
{
background : url("/static/img/report-active.png") center center no-repeat;
}

nav .btn-report:hover .report-content
{
display : block;
margin  : 0;
}

nav .setting
{
background      : url("/static/img/param.png") center center no-repeat;
background-size : 100% 100%;
display         : inline-block;
width           : 3.0em;
height          : 3.0em;
vertical-align  : middle;
content         : "";
padding         : 0;
}

nav .setting:hover
{
background : url("/static/img/param-active.png") center center no-repeat;
}

nav .btn-setting:hover .setting-content
{
display : block;
margin  : 0;
}

nav .qualite
{
background       : url("/static/img/qualite.png") center center no-repeat;
background-size : 100% 100%;
display         : inline-block;
width           : 3.0em;
height          : 3.0em;
vertical-align  : middle;
content         : "";
}

nav .qualite:hover
{
background : url("/static/img/qualite-active.png") center center no-repeat;
}

nav .btn-qualite:hover .qualite-content
{
display : block;
margin  : 0;
}

nav .non-conformite
{
background      : url("/static/img/non-conformite.png") center center no-repeat;
background-size : 100% 100%;
display         : inline-block;
width           : 3.0em;
height          : 3.0em;
vertical-align  : middle;
content         : "";
}

nav .non-conformite:hover
{
background : url("/static/img/non-conformite-over.png") center center no-repeat;
}

.nav-A a
{
background-color : #FC0;
color            : #FFF;
border           : 0;
}

.nav-A a:hover
{
background-color : #E89400 !important;
color            : #FFF !important;
}

.nav-B a
{
background-color : #8330E2 !important;
color            : #FFF !important;
border           : 0;
}

.nav-B a:hover
{
background-color : #42159B !important;
color            : #FFF !important;
}

.nav-T a
{
background-color : #00ADEE !important;
color            : #FFF; !important
border           : 0;
}

.nav-T a:hover
{
background-color : #0486A4 !important;
color            : #FFF !important;
}

.nav-TA a
{
background-color : #00ADEE !important;
color            : #FFF; !important
border           : 0;
}

.nav-TA a:hover
{
background-color : #0486A4 !important;
color            : #FFF !important;
}

.nav-TQ a
{
background-color : #00ADEE !important;
color            : #FFF; !important
border           : 0;
}

.nav-TQ a:hover
{
background-color : #0486A4 !important;
color            : #FFF !important;
}

.nav-S a
{
background-color : #F08739 !important;
color            : #FFF; !important
border           : 0;
}

.nav-S a:hover
{
background-color : #DD7512 !important;
color            : #FFF !important;
}

.nav-SA a
{
background-color : #F08739 !important;
color            : #FFF; !important
border           : 0;
}

.nav-SA a:hover
{
background-color : #DD7512 !important;
color            : #FFF !important;
}

.nav-Q a
{
background-color : #E23176 !important;
color            : #FFF; !important
border           : 0;
}

.nav-Q a:hover
{
background-color : #AB2759 !important;
color            : #FFF !important;
}

.nav-P a
{
background-color : #996633 !important;
color            : #FFF; !important
border           : 0;
}

.nav-P a:hover
{
background-color : #623201 !important;
color            : #FFF !important;
}

.module 
{
border-bottom  : 1px solid #EEE;
padding-bottom : 30px; 
margin-bottom  : 26px;
position       : relative;
}

.module .list-group-item 
{
display        : inline-block;
padding        : 110px 0 0;
vertical-align : top;
width          : 130px;
border         : none;
margin         : 10px;
text-align     : center;
}

.module .admin-crea-profil 
{ 
background : transparent url(/static/img/admin-crea-profil.png) center top no-repeat;
}

.module .admin-gest-oole 
{ 
background : transparent url(/static/img/admin-gestion-role.png) center top no-repeat;
}

.module .admin-preferences 
{ 
background : transparent url(/static/img/admin-preferences.png) center top no-repeat;
}

.module .admin-referentiel
{ 
background : transparent url(/static/img/admin-referentiel.png) center top no-repeat;
}

.module .admin-conf-cr
{ 
background : transparent url(/static/img/admin-conf-cr.png) center top no-repeat;
}

.module .admin-num-doss 
{ 
background : transparent url(/static/img/admin-conf-num-doss.png) center top no-repeat;
}

.module .admin-gest-fact-0 
{ 
background : transparent url(/static/img/admin-gest-facture-0.png) center top no-repeat;
}

.module .admin-gest-fact-1 
{ 
background : transparent url(/static/img/admin-gest-facture-1.png) center top no-repeat;
}

.module .admin-qualite-0
{ 
background : transparent url(/static/img/admin-module-qualite-0.png) center top no-repeat;
}

.module .admin-qualite-1
{ 
background : transparent url(/static/img/admin-module-qualite-1.png) center top no-repeat;
}

.module .f-list-bio 
{ 
background : transparent url(/static/img/f-list-bio.png) center top no-repeat;
}

.module .b-list-bio 
{ 
background : transparent url(/static/img/b-list-bio.png) center top no-repeat;
}

.module .prel-bio 
{ 
background : transparent url(/static/img/prel-bio.png) center top no-repeat;
}

.module .res-bio 
{ 
background : transparent url(/static/img/res-bio.png) center top no-repeat;
}

.module .home-qualite 
{ 
background : transparent url(/static/img/home-qualite.png) center top no-repeat;
}

.module .f-list-tec 
{ 
background : transparent url(/static/img/f-list-tec.png) center top no-repeat;
}

.module .t-list-tec 
{ 
background : transparent url(/static/img/t-list-tec.png) center top no-repeat;
}

.module .prel-tec 
{ 
background : transparent url(/static/img/prel-tec.png) center top no-repeat;
}

.module .res-tec 
{ 
background : transparent url(/static/img/res-tec.png) center top no-repeat;
}

.module .f-list-sec 
{ 
background : transparent url(/static/img/f-list-sec.png) center top no-repeat;
}

.module .new-dos-ext-sec
{ 
background : transparent url(/static/img/new-dos-ext-sec.png) center top no-repeat;
}

.module .new-dos-int-sec
{ 
background : transparent url(/static/img/new-dos-int-sec.png) center top no-repeat;
}

.module .emergency 
{ 
background : transparent url(/static/img/urgence.png) center top no-repeat;
}

.links
{
max-width : 800px;
margin    : 0 auto;
}

.links a
{
color           : #555 !important;
text-decoration : none !important;
}

.links a:hover
{
color           : #F18739 !important;
}

.home-stat
{
vertical-align : top;
padding        : 0 43px;
}

.home-graph
{
border-right : 1px solid #EEE;
text-align   : right;
}

.input-large
{
width      : 100%;
text-align : left;
}

.table-lbk
{
color   : #666;
}

.table-lbk tr
{
line-height : 1.4;
}

#tempAlert
{
display          : table;
position         : absolute;
top              : 35%;
left             : 35%;
background-color : #CCC;
color            : #111;
text-align       : center;
vertical-align   : middle;
min-width        : 200px;
min-height       : 80px;
border           : 2px solid #000;
}

.panel-heading
{
padding       : 10px 15px;
border-bottom : 1px solid #71B330;
}

.panel-title
{
font-size     : 1.00rem;
font-weight   : bold;
color         : #71B330;
}

.menu-act
{
padding       : 3px !important;
padding-left  : 30px !important;
padding-right : 30px !important;
background-color    : transparent;
background-repeat   : no-repeat;
background-image    : url("/static/img/info.png");
background-position : left center;
}

.menu-act:hover
{
color         : black;
padding       : 3px !important;
padding-left  : 30px !important;
padding-right : 30px !important;
}

.menu-act-drop
{
background-color : #F08739 !important;
color            : white !important;
}

.menu-act-item:hover
{
background-color : #DD6512 !important;
color            : white !important;
}

.rec-num
{
background-color : #C7AD70;
color            : #FFF;
display          : inline-block;
min-width        : 26px;
height           : 26px;
line-height      : 26px;
font-size        : 1rem;
font-weight      : bold;
text-align       : center;
padding          : 0 8px;
}

.pat-num
{
background-color : #C7AD70;
color            : #FFF;
display          : inline-block;
min-width        : 0px;
height           : 26px;
line-height      : 26px;
font-size        : 1rem;
font-weight      : bold;
text-align       : center;
padding          : 0 8px;
}

.icon
{
display          : inline-block;
min-width        : 24px;
height           : 24px;
line-height      : 24px;
text-align       : center;
vertical-align   : middle;
}

.stat-A
{
background-color : #F08739;
color            : #666;
font-weight      : bold;
}

.stat-B
{
background-color : #8330E2;
color            : #FFF;
font-weight      : bold;
}

.stat-T
{
background-color : #00ADEE;
color            : #666;
font-weight      : bold;
}

.font-info
{
font-weight      : bold;
}

.legend-lbk
{
font-size        : 1.25rem;
}

.color-B
{
color : #8330E2;
}

.bgcolor-B
{
background-color : #8330E2;
color            : #FFF;
}

.error
{
background-color : #F1D9D5;
color            : #B42C16;
font-weight      : bold;
border           : 1px solid #B42C16;
}

.emer
{
display             : inline-block;
background-color    : transparent;
background-repeat   : no-repeat;
background-image    : url("/static/img/urgent.png");
background-position : center center;
height              : 12px;
width               : 14px;
vertical-align      : middle;
}

.warning
{
display             : inline-block;
background-color    : transparent;
background-repeat   : no-repeat;
background-image    : url("/static/img/warning.png");
background-position : center center;
height              : 18px;
width               : 21px;
vertical-align      : middle;
}

.history
{
display             : inline-block;
background-color    : transparent;
background-repeat   : no-repeat;
background-image    : url("/static/img/info.png");
background-position : center center;
height              : 21px;
width               : 21px;
vertical-align      : middle;
}
