[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = ">=3.0.3,<3.1.0"
Werkzeug = ">=3.0.3,<3.1.0"
Jinja2 = "~=3.1.4"
gunicorn = "~=22.0.0"
Babel = "~=2.15.0"
Flask-Babel = "~=4.0.0"
requests = "~=2.32.0"
urllib3 = "~=2.2.1"
tomli = "~=2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
