[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gunicorn = "*"
Babel = "*"
Flask-Babel = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
