[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = ">=2.3.2,<2.4.0"
Werkzeug = ">=2.3.2,<2.4.0"
Jinja2 = "~=3.1.2"
gunicorn = "~=20.1.0"
Babel = "~=2.12.1"
Flask-Babel = "~=3.1.0"
requests = "~=2.29.0"
urllib3 = "~=1.26.2"

[dev-packages]

[requires]
python_version = "3.9"
