# database access from the container
LABBOOK_DB_USER=myUser
LABBOOK_DB_PWD=myPass
LABBOOK_DB_NAME=SIGL
# for rootfull containers
# LABBOOK_DB_HOST=10.88.0.1
# for rootless containers
LABBOOK_DB_HOST=host.containers.internal

# set to replace '/sigl' prefix in URLs of development version
LABBOOK_URL_PREFIX=

# if 1 runs gunicorn with reload option
LABBOOK_DEBUG=1

# backup.sh commands (cmd1,cmd2,...) to fake with success or failure [default=empty]
LABBOOK_TEST_OK=
LABBOOK_TEST_KO=

# user to replace for backup/restore [default=user_labbook]
LABBOOK_USER=

# directory where removable media is mounted [default=/media]
LABBOOK_MEDIA_DIR=

# if 1 podman is run without sudo [default=0]
LABBOOK_ROOTLESS=

# if 0 add --column-statistics=0 to mysqldump arguments [default=empty]
LABBOOK_DUMP_COL_STATS=
