{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Dossier administratif") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}">
                <span>{{ _("Dossier administratif") }}</span><span id="info_pat_title"></span>
            </h2>
            <form autocomplete="off">
                <div class="row ml-3">
                    <span>{{ _("Dossier") }} :&nbsp;</span> 
                    <span class="rec-num" id="num_rec"></span>
                </div>
                <!-- Patient -->
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Identité") }}</h3>
                </div>
                <div class="row ml-3">
                    <div class="col-12 mt-3">
                        {% if args['patient'] and args['patient']['code_patient'] %}
                        <span class="pat-num">{{ args['patient']['code_patient'] }}</span>
                        {% endif %}
                        <span class="pat-num">{% if args['patient'] %}{{ args['patient']['code'] }}{% endif %}</span>
                    </div>
                    <div class="col-12 mt-2">
                        {% if args['patient'] and args['patient']['anonyme'] != 4 %}
                        <span class="font-info">{% if args['patient'] %}{{ args['patient']['prenom'] }} {{ args['patient']['nom'] }}{% if args['patient']['nom_jf'] %} {{ args['patient']['nom_jf'] }}{% endif %}{% endif %}</span>
                        {% else %}
                        <span class="font-info">{{ _("Patient anonyme") }}.</span>
                        {% endif %}
                    </div>
                    <div class="col-12 mt-2">
                        <span>{{ _("Né(e) le") }}&nbsp;</span>
                        <span class="font-info">{% if args['patient'] and args['patient']['ddn'] %}{{ args['patient']['ddn']|date_format }}{% endif %}</span>
                        <span>&nbsp;-&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{{ args['patient']['age'] }}{% endif %}&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{% if args['patient']['unite'] == 1037 %}{{ _("années") }}
                                                {% elif args['patient']['unite'] == 1036 %}{{ _("mois") }}
                                                {% elif args['patient']['unite'] == 1035 %}{{ _("semaines") }}
                                                {% elif args['patient']['unite'] == 1034 %}{{ _("jours") }}{% endif %}{% endif %}</span>
                        <span>&nbsp;-&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{% if args['patient']['sexe'] == 1 %}{{ _("Masculin") }}
                                                {% elif args['patient']['sexe'] == 2 %}{{ _("Féminin") }}
                                                {% elif args['patient']['sexe'] == 3 %}{{ _("Inconnu") }}{% endif %}{% endif %}</span>
                    </div>
                </div>

                <!-- Prescription -->
                <div class="panel-heading row mt-2">
                    <h3 class="panel-title">{{ _("Prescription") }}</h3>
                </div>
                <div class="row ml-3">
                    <div class="col-12 mt-3">
                        <span>{{ _("Date de réception du dossier") }}&nbsp;</span>
                        <span class="font-info">{{ args['record']['date_dos']|date_format }}</span>
                    </div>

                    <div class="col-12 mt-2">
                        <span>{{ _("Date de prescription") }} *</span>
                        <span class="font-info">{{ args['record']['date_prescription']|date_format }}</span>
                    </div>

                    <div class="col-12 mt-2">
                        <span>{{ _("Prescripteur") }}</span>
                        <span class="font-info">
                        {% if args['doctor'] %}
                            {{ args['doctor']['nom'] }} {{ args['doctor']['prenom'] }}
                            {% if args['doctor']['spe_doctor'] %} - {{ args['doctor']['spe_doctor'] }}{% endif %}
                        {% endif %}
                        </span>
                    </div>

                    <div class="col-12 mt-2">
                        <span>{{ _("Colis") }}</span>
                        {% if args['record']['colis'] == 4 %}
                        <span class="font-info">{{ _("Oui") }}</span><br />
                        <span>{{ _("Identification du colis") }}</span>
                        <span class="font-info">{{ args['record']['id_colis'] }}</span><br />
                        <span>{{ _("Date de réception du colis") }}</span>
                        <span class="font-info">{{ args['record']['date_reception_colis']|date_format }}</span>
                        {% else %}
                        <span class="font-info">{{ _("Non") }}</span>
                        {% endif %}
                    </div>
                </div>
            </form>

            <!-- Analyzes -->
            <div class="panel-heading row mt-2">
                <h3 class="panel-title">{{ _("Analyses et actes de prélèvement") }}</h3>
            </div>
            <div class="row ml-3 mt-3">
                <span class="font-info">{{ _("Analyses") }}</span>
            </div>
            <form class="row justify-content-center mt-3">
                <table id="table_analysis" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>serial</th>
                            <th class="text-center cursor-act">{{ _("Code") }}</th>
                            <th class="text-center cursor-act">{{ _("Nom") }}</th>
                            <th class="text-center cursor-act">{{ _("Urgent") }}</th>
                            <th class="text-center cursor-act">{{ _("Demandée") }}</th>
                            <th class="text-center cursor-act">{{ _("Cote") }}</th>
                            <th class="text-center cursor-act">{{ _("Prix") }}</th>
                    </thead>
                    <tbody id="tbody_analysis"></tbody>
                </table>
            </form>
            {% if type_req == 'E' %}
            <div class="row ml-3 mt-3">
                <span class="font-info">{{ _("Actes de prélèvement") }}</span>
            </div>
            <form class="row justify-content-center mt-3">
                <table id="table_sample" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>serial</th>
                            <th class="text-center cursor-act">{{ _("Code") }}</th>
                            <th class="text-center cursor-act">{{ _("Nom") }}</th>
                            <th class="text-center cursor-act">{{ _("Demandée") }}</th>
                            <th class="text-center cursor-act">{{ _("Cote") }}</th>
                            <th class="text-center cursor-act">{{ _("Prix") }}</th>
                    </thead>
                    <tbody id="tbody_sample"></tbody>
                </table>
            </form>
            {% endif %}

            <!-- Reports -->
            <div class="panel-heading row mt-2">
                <h3 class="panel-title">{{ _("Compte-rendus") }}</h3>
            </div>
            <form class="row mt-3">
                <table class="table table-striped table-hover col-4 table-lbk">
                    <thead>
                        <tr>
                            <th hidden>serial</th>
                            <th class="text-center">{{ _("Action") }}</th>
                            <th class="text-center">{{ _("Date") }}</th>
                    </thead>
                    <tbody id="tbody_report"></tbody>
                </table>
            </form>

            <form>
                <!-- Billing -->
                <div class="panel-heading row mt-2">
                    <h3 class="panel-title">{{ _("Facturation") }}</h3>
                </div>
                <div class="row ml-3">
                    <div class="col-12 mt-3">
                        <span>{{ _("Prix total") }}&nbsp;</span>
                        <span class="font-info">{{ args['record']['prix'] }}</span>
                    </div>
                    <div class="col-4 mt-3">
                        <span>{{ _("Remise sur la facturation") }}&nbsp;</span>
                        <span class="font-info">{{ args['record']['remise'] }}</span>
                    </div>
                    <div class="col-4 mt-3">
                        <span>{{ _("Pourcentage de la remise") }}&nbsp;</span>
                        <span class="font-info">{{ args['record']['remise_pourcent'] }}</span>
                    </div>
                    <div class="col-12 mt-3">
                        <span>{{ _("Pourcentage assurance maladie / mutuelle") }}&nbsp;</span>
                        <span class="font-info">{{ args['record']['assu_pourcent'] }}</span>
                    </div>
                    <div class="col-12 mt-3">
                        <span>{{ _("Reste à payer") }}&nbsp;</span>
                        <span class="font-info">{{ args['record']['a_payer'] }}</span>
                    </div>
                    <div class="col-12 mt-3">
                        <span>{{ _("Numéro de quittance") }}&nbsp;</span>
                        <span class="font-info">{{ args['record']['num_quittance'] }}</span>
                    </div>
                </div>

                <!-- Comments --> 
                <div class="panel-heading row mt-2">
                    <h3 class="panel-title">{{ _("Renseignements / Informations complémentaires") }}</h3>
                </div>
                <div class="row ml-3">
                    <div class="col-12 mt-3">
                        <span class="font-info">{{ args['record']['rc'] }}</span>
                    </div>
                </div>

                <!-- Files -->
                <div class="panel-heading row mt-2">
                    <h3 class="panel-title">{{ _("Valise de documents") }}</h3>
                </div>
                <div class="row ml-3">
                    <div class="col-12 mt-3">
                        <div class="form-group">
                            <div class="text-left upload-container">
                                <div>
                                    <div>
                                        <div style="display: inline-block; padding-right: 20px;" class="uploadHTML5">
                                            {% if session['user_role'] != 'P' %}
                                            <input name="file" type="file" style="margin-bottom:4px"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div></div>
                                <div></div>
                                <table class=table-responsive">
                                    <thead>
                                        <tr><th><div>{{ _("Fichier") }}</div></th><th><div>{{ _("Action") }}</div></th></tr>
                                    </thead>
                                    <tbody id="tbody_file"></tbody>
                                </table>
                            </div>
                        </div>
                        {% if session['user_role'] != 'P' %}
                        <input type="button" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Enregistrer le document") }}" onclick="upload_file({{ args['record']['id_data'] }});">
                        {% endif %}
                    </div>
                </div>

                <div class="row ml-3 mt-4">
                    <div class="col-12">
                        <div class="float-left">
                            <input type="button" onclick="return_home();" class="btn btn-{{ session['user_role']|safe }}" value="{{ _('Quitter') }}">
                        </div>
                        {% if session['user_role'] != 'P' %}
                        <div class="float-right">
                            <input type="button" onclick="print_bill({{ args['record']['id_data'] }});" class="btn btn-{{ session['user_role']|safe }}" value="{{ _('Imprimer la facture') }}">
                            <input type="button" onclick="print_barcode();" class="btn btn-{{ session['user_role']|safe }}" value="{{ _('Code barre') }}">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
var data_analysis = {{ args['data_analysis']|safe }} ;
var data_reports  = {% if args['data_reports'] %}{{ args['data_reports']|safe }}{% else %}[]{% endif %} ;
var data_files    = {{ args['data_files']|safe }} ;
var num_rec_y = 0 ;
{% if type_req == 'E' %}var data_samples  = {{ args['data_samples']|safe }}  ;{% endif %}

function load_analysis( data )
{
let tr_analysis = '' ;
let obj    = data ;
let tmp_tr = '<tr style="">' ;
let urg    = obj.urgent ;
let dem    = obj.demande ;
let rate   = obj.cote_unite + obj.cote_valeur ;

    if ( urg == 4 )
    urg = "Oui" ;
    else
    urg = "Non" ;

    if ( dem == 4 )
    dem = "Oui" ;
    else
    dem = "Non" ;

tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
tmp_tr += create_td("", obj.code, "text-center", "") ;
tmp_tr += create_td("", obj.nom, "", "") ;
tmp_tr += create_td("", urg, "text-center", "") ;
tmp_tr += create_td("", dem, "text-center", "") ;
tmp_tr += create_td("", format_rate(rate, obj.prix), "text-center", "") ;
tmp_tr += create_td("", obj.prix, "text-center", "") ;

tmp_tr += '</tr>' ;

tr_analysis += tmp_tr ;

$("#tbody_analysis").append(tr_analysis) ;
}

{% if type_req == 'E' %}
function load_sample( data )
{
let tr_sample = '' ;
let obj = data ;

    if ( obj.id_data > 0 )
    {
    let tmp_tr = '<tr style="">' ;
    let dem    = obj.demande ;
    let rate   = obj.cote_unite + obj.cote_valeur ;

        if ( dem == 4 )
        dem = "Oui" ;
        else
        dem = "Non" ;

    tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
    tmp_tr += create_td("", obj.code, "text-center", "") ;
    tmp_tr += create_td("", obj.nom, "", "") ;
    tmp_tr += create_td("", dem, "text-center", "") ;
    tmp_tr += create_td("", format_rate(rate, obj.prix), "text-center", "") ;
    tmp_tr += create_td("", obj.prix, "text-center", "") ;

    tmp_tr += '</tr>' ;

    tr_sample += tmp_tr ;
    }

$("#tbody_sample").append(tr_sample) ;
}
{% endif %}

function load_report( data )
{
let tr_report = '' ;
let obj = data ;

    if ( obj.id_data > 0 )
    {
    let menu_act = '<a class="menu-act-item" onclick="download_file(\'RP\', \'' + obj.file + '\', \'REC\', ' + num_rec_y + ');">Télécharger</a>' ;

    let tmp_tr = '<tr style="">' ;

    tmp_tr += '<td hidden>' + obj.id_data + '</td>' ;
    tmp_tr += '<td class="text-center">' + menu_act + '</td>' ;
    tmp_tr += '<td class="text-center">' + obj.date + '</td>' ;
    tmp_tr += '</tr>' ;

    tr_report += tmp_tr ;
    }

$("#tbody_report").append(tr_report) ;
}

function load_file( data )
{
let tr_file = '' ;
let obj = data ;

    if ( obj.id_data > 0 )
    {
    let tmp_tr = '<tr style="">' ;
    
    tmp_tr += '<td class="filename"><div>' + obj.name + '</div></td>' ;
    tmp_tr += '<td class="action"><div><a href="#" onclick="download_file(\'JF\', \'' + obj.name + '\', \'REC\', ' + obj.id_data + ');">Télécharger</a>';
    {% if session['user_role'] != 'P' and session['user_role'] != 'S' %}
    tmp_tr += ' - <a href="#" onclick="delete_file(' + obj.id_data + ');">Supprimer</a>' ;
    {% endif %}
    tmp_tr += '</div></td></tr>' ;

    tr_file += tmp_tr ;
    }

$("#tbody_file").append(tr_file) ;
}

function load_data()
{
// clear table tbody
$("#tbody_analysis").empty() ;
{% if type_req == 'E' %}$("#tbody_sample").empty() ;{% endif %}
$("#tbody_report").empty() ;
$("#tbody_file").empty() ;

    for( i in data_analysis )
    {
    load_analysis( data_analysis[i] ) ;
    }

    if (data_analysis.length < 1)
    {
    let tr_ana = '<tr class=""><td colspan="8"><div>Aucune donnée à afficher</div></td></tr>' ;

    $("#tbody_analysis").append(tr_ana) ;
    }

    {% if type_req == 'E' %}
    for( i in data_samples )
    {
    load_sample( data_samples[i] ) ;
    }

    if (data_samples.length < 1)
    {
    let tr_sample = '<tr class=""><td colspan="7"><div>Aucune donnée à afficher</div></td></tr>' ;

    $("#tbody_sample").append(tr_sample) ;
    }
    {% endif %}

    if (data_reports.length < 1)
    {
    let tr_report = '<tr><td colspan="3"><div>Aucune donnéee à afficher</div></td></tr>' ;

    $("#tbody_report").append(tr_report) ;
    }
    else
    {
    load_report( data_reports ) ;
    }

    for( i in data_files )
    {
    load_file( data_files[i] ) ;
    }

    if (data_files.length < 1)
    {
    let tr_file = '<tr><td colspan="2"><div>Aucun fichier déposé</div></td></tr>' ;

    $("#tbody_file").append(tr_file) ;
    }

    $("#table_analysis").tablesorter() ;  // sort only data on screen
    $("#table_sample").tablesorter()   ;  // sort only data on screen
}

function create_td(id, val, cls, style)
{
let tmp_td = '<td class="' + cls + '" id="' + id + '" style="' + style + '">' +
             '<div>' + val + '</div></td>' ;

return tmp_td ;
}

function format_rate(rate, price)
{
return rate + '(' + price + ')' ;
}

function upload_file( id_rec )
{
let param_form = new FormData() ;

param_form.append('file', $('input[type=file]')[0].files[0]) ;

    $.ajax(
    {
        type : 'POST',
        url : "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/upload-file/REC/" + id_rec,
        dataType: 'json',
        contentType: false,
        processData: false,
        data: param_form,
        success : function(response)
        {
        console.log( "success upload ") ;
        location.reload() ;
        },
        error: function(response)
        {
        console.log("ERROR upload file") ;
        alert("Une erreur est survenue lors du dépot d'un fichier") ;
        }
    } ) ;
    
}

function delete_file( id_file )
{
// TODO check user role rights
    if ( window.confirm("Le fichier sera définitivement supprimé") )
    {
        $.ajax( 
        {
            type: "DELETE",
            url: "{{ session['server_ext'] }}/services/file/document/REC/" + id_file,
            success: function(ret)
            {
            location.reload() ;
            },
            error: function(ret)
            {
            console.log("ERROR DELETE document file") ;
            alert("Erreur lors de la suppression d'un fichier") ;
            }
        } ) ;
    }
    else
    return false ;
}

function print_bill( id_rec )
{
// TODO check user role rights ?
    $.ajax( 
    {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/pdf/bill/" + id_rec,
        success: function(ret)
        {
        download_file( "PY", "facture_" + num_rec_y + ".pdf", "GEN", 0 ) ;
        },
        error: function(ret)
        {
        console.log("ERROR GET pdf bill");
        alert("Erreur lors de la génération du PDF facture") ;
        }
    } ) ;
}

function print_barcode()
{
    $.ajax( 
    {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/pdf/barcode/num/" + num_rec_y,
        success: function(ret)
        {
        download_file( "PY", "barcode_" + num_rec_y + ".pdf", "GEN", 0 ) ;
        },
        error: function(ret)
        {
        console.log("ERROR GET pdf barcode");
        alert("Erreur lors de la génération du PDF code barre") ;
        }
    } ) ;
}

function info_pat_title()
{
{% if args['patient'] %}
let info = "" ;

info = " - {% if args['patient']['code_patient'] %}{{ args['patient']['code_patient'] }} {% endif %}" +
           "{% if args['patient']['code'] %}{{ args['patient']['code'] }}{% endif %} - " +
           "{% if args['patient']['prenom'] %}{{ args['patient']['prenom'] }} {% endif %}" +
           "{% if args['patient']['nom'] %}{{ args['patient']['nom'] }} {% endif %}" +
           "{% if args['patient']['nom_jf'] %}{{ args['patient']['nom_jf'] }} {% endif %} - " +
           "{% if args['patient']['ddn'] %}{{ _("Né(e) le") }} {{ args['patient']['ddn'] }} {% endif %}" +
           "{% if args['patient']['age'] %} - {{ args['patient']['age'] }} {% endif %}" +
           "{% if args['patient']['unite'] == 1037 %}{{ _("années") }}" +
           "{% elif args['patient']['unite'] == 1036 %}{{ _("mois") }}" +
           "{% elif args['patient']['unite'] == 1035 %}{{ _("semaines") }}" +
           "{% elif args['patient']['unite'] == 1034 %}{{ _("jours") }}{% endif %}" ;

    if (info != "")
    $("#info_pat_title").text(info) ;
{% endif %}
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/homepage";
}

$( document ).ready( function()
{
num_rec_y = {{ args['record']['num_dos_an'] }} ;

{% if session['record_period'] == 1070 %} // Month period
let num_rec = {{ args['record']['num_dos_mois'] }} ;
{% else %} // Annual period
let num_rec = {{ args['record']['num_dos_an'] }} ;
{% endif %}

let num_rec_fmt = fmt_num_rec( num_rec, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;

    $("#num_rec").text( num_rec_fmt ) ;
    
load_data() ;
info_pat_title() ;
} ) ;
</script>
{% endblock %}

