{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    {% block title %}
    <title>Dossier administratif</title>
    {% endblock %}
{% endblock %}

{% block tag_body %}<body class="yui3-skin-sam yui-skin-sam {{ session['user_role']|safe }}">{% endblock %}
{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title form-patient_externe"><span>Dossier administratif</span></h2>
            <form id="form_main" class="vzn-form form-horizontal row" action="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/upload-file/{{ args['record']['id_data'] }}" method="POST" enctype="multipart/form-data">
                <div class="statictext">
                    <span>Dossier :</span> 
                </div>
                <div class="form-control-static filed readonly-field div-inline label-rightMargin" id="num-dos-ro">
                    <span id="num_rec"></span>
                </div>
                <div id="pat-group-group" class="panel panel-1 panel-primary" style="">
                    <div class="panel-heading"><h3 class="panel-title">Identité</h3></div>
                    <div class="panel-body " id="pat-group-group_body">
                        <div class="row">
                            <div id="pat-group" class="col-xs-12">
                                <div class="form-group form-inline col-xs-12">
                                    <div class="form-control-static field readonly-field col-md-4 col-lg-3" id="pat-code-ro" style="">
                                        <span>{% if args['patient'] %}{{ args['patient']['code_patient'] }}{% endif %}</span>
                                    </div>
                                    <div class="form-control-static field readonly-field col-md-4 col-lg-3" id="anon-code-ro" style="">
                                        <span>{% if args['patient'] %}{{ args['patient']['code'] }}{% endif %}</span>
                                    </div>
                                </div>
                                <div class="panel panel-2 panel-primary" style="transition-duration: 0s; transition-timing-function: ease; transition-delay: 0s; opacity: 1;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-inline col-xs-12">
                                                <div class="form-control-static field readonly-field div-inline label-rightMargin" style="">
                                                    <span>{% if args['patient'] %}{{ args['patient']['prenom'] }} {{ args['patient']['nom'] }}{% if args['patient']['nom_jf'] %} {{ args['patient']['nom_jf'] }}{% endif %}{% endif %}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-2 panel-primary" style="display: none; transition-duration: 0s; transition-timing-function: ease; transition-delay: 0s; opacity: 0;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-inline col-xs-12">
                                                <div class="statictext"><span>Patient anonyme.</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-2 panel-primary" style="">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-inline col-xs-12">
                                                <div class="statictext"><span>Né(e) le</span></div>
                                                <div class="form-control-static field readonly-field div-inline label-rightMargin" style="">
                                                    <span>{% if args['patient'] and args['patient']['ddn'] %}{{ args['patient']['ddn']|date_format }}{% endif %}</span>
                                                </div>
                                                <div class="statictext"><span>-</span></div>
                                                <div class="form-control-static field readonly-field div-inline label-rightMargin" style="">
                                                    <span>{% if args['patient'] %}{{ args['patient']['age'] }}{% endif %}</span>
                                                </div>
                                                <div class="statictext"><span></span></div>
                                                <div class="form-control-static field readonly-field div-inline label-rightMargin" style="">
                                                    <span>{% if args['patient'] %}{% if args['patient']['unite'] == 1037 %}Années
                                                          {% elif args['patient']['unite'] == 1036 %}Mois
                                                          {% elif args['patient']['unite'] == 1035 %}Semaines
                                                          {% elif args['patient']['unite'] == 1034 %}Jours{% endif %}{% endif %}</span>
                                                </div>
                                                <div class="statictext"><span>.</span></div>
                                                <div class="form-control-static field readonly-field div-inline label-rightMargin" style="">
                                                    <span>{% if args['patient'] %}{% if args['patient']['sexe'] == 1 %}Masculin
                                                          {% elif args['patient']['sexe'] == 2 %}Féminin
                                                          {% elif args['patient']['sexe'] == 3 %}Inconnu{% endif %}{% endif %}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="presc-group-group" class="panel panel-1 panel-primary" style="">
                    <div class="panel-heading">
                        <h3 class="panel-title">Prescription</h3>
                    </div>
                    <div class="panel-body " id="presc-group-group_body">
                        <div class="row">
                            <div id="presc-group" class="col-xs-12">
                                <div class="form-group">
                                    <label class="mandatory control-label col-xs-3" style="">
                                        <span data-field="date_dos">Date de réception du dossier *</span>
                                    </label>
                                    <div class="form-control-static field readonly-field col-lg-6 col-md-6 col-sm-6" style="">
                                        <span>{{ args['record']['date_dos']|date_format }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="mandatory control-label col-xs-3" style="">
                                        <span data-field="date_prescription">Date de prescription *</span>
                                    </label>
                                    <div class="form-control-static field readonly-field col-lg-6 col-md-6 col-sm-6" style="">
                                        <span>{{ args['record']['date_prescription']|date_format }}</span>
                                    </div>
                                </div>
                                <div class="form-group" id="prat-search">
                                    <div class="statictext control-label col-xs-3">
                                        <span>Praticien</span>
                                    </div>
                                    <div class="form-control-static field readonly-field col-lg-6 col-md-6 col-sm-6" style="">
                                        <span>
                                        {% if args['doctor'] %}
                                            {{ args['doctor']['nom'] }} {{ args['doctor']['prenom'] }}{% if args['doctor']['spe_doctor'] %} - {{ args['doctor']['spe_doctor'] }}{% endif %}
                                        {% endif %}
                                        </span>
                                    </div>
                                    <div class="form-control-static field readonly-field col-lg-6 col-md-6 col-sm-6" style="">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-3" style=""><span data-field="colis">Colis</span></label>
                                    <div class="form-control-static field readonly-field col-lg-6 col-md-6 col-sm-6" style="">
                                        <span>{% if args['record']['colis'] == 4 %}{{ args['record']['id_colis'] }} {{ args['record']['date_reception_colis']|date_format }}{% else %}Non{% endif %}</span>
                                    </div>
                                </div>
                                <div id="colis-group" class="panel panel-2 panel-primary" style="display: none; transition-duration: 0s; transition-timing-function: ease; transition-delay: 0s; opacity: 0;">
                                    <div class="panel-body " id="colis-group_body">
                                        <div class="row">
                                            <div id="colis" class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3" style="">
                                                        <span data-field="id_colis">Identification du colis</span>
                                                    </label>
                                                    <div class="form-control-static field readonly-field col-lg-6 col-md-6 col-sm-6" style="">
                                                        <span></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-3" style="">
                                                        <span data-field="date_reception_colis">Date de réception du colis</span>
                                                    </label>
                                                    <div class="form-control-static field readonly-field col-lg-6 col-md-6 col-sm-6" style="">
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="analyse-confirm-group-group" class="panel panel-1 panel-primary" style="">
                    <div class="panel-heading"><h3 class="panel-title">Analyses et actes de prélèvement</h3></div>
                    <div class="panel-body " id="analyse-confirm-group-group_body">
                        <div class="row">
                            <div id="analyse-confirm-group" class="col-xs-12">
                                <div class="form-group">
                                    <div class="statictext col-md-1 title"><span>Analyses</span></div>
                                </div>
                                <div class="listing table-responsive yui-dt" id="listing_analyse">
                                    <div class="yui-dt-mask" style="display: none;"></div>
                                    <table summary="" id="yuievtautoid-5">
                                        <colgroup><col><col><col><col><col><col><col></colgroup>
                                        <thead>
                                            <tr class="yui-dt-first yui-dt-last">
                                                <th style="display:none;">
                                                    <div><span>id_data</span></div>
                                                </th>
                                                <th id="yui-dt96-th-code" rowspan="1" colspan="1" class="string yui-dt96-col-code yui-dt-col-code yui-dt-sortable">
                                                    <div id="yui-dt96-th-code-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label" id="yui-gen143">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable" id="yui-gen142">Code</a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt96-th-nom" rowspan="1" colspan="1" class="string yui-dt96-col-nom yui-dt-col-nom yui-dt-sortable">
                                                    <div id="yui-dt96-th-nom-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label" id="yui-gen133">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable" id="yui-gen132">Nom</a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt96-th-urgent" rowspan="1" colspan="1" class="fkey_dico yui-dt96-col-urgent yui-dt-col-urgent yui-dt-sortable">
                                                    <div id="yui-dt96-th-urgent-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">Urgent</a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt96-th-demande" rowspan="1" colspan="1" class="fkey_dico yui-dt96-col-demande yui-dt-col-demande yui-dt-sortable">
                                                    <div id="yui-dt96-th-demande-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">Demandée</a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt96-th-cote" rowspan="1" colspan="1" class="string yui-dt96-col-cote yui-dt-col-cote yui-dt-sortable">
                                                    <div id="yui-dt96-th-cote-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">cote</a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt96-th-prix" rowspan="1" colspan="1" class="float yui-dt96-col-prix yui-dt-col-prix yui-dt-sortable yui-dt-last">
                                                    <div id="yui-dt96-th-prix-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">Prix</a>
                                                        </span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_analysis" style=""></tbody>
                                    </table>
                                </div>
                                <div class="clear"></div>
                                {% if type_req == 'E' %}
                                <div class="form-group">
                                    <div class="statictext col-md-5 title"><span>Actes de prélèvement</span></div>
                                </div>
                                <div class="listing table-responsive yui-dt" id="listing_pb">
                                    <div class="yui-dt-mask" style="display: none;"></div>
                                    <table summary="" id="yuievtautoid-4">
                                        <colgroup><col><col><col><col><col><col></colgroup>
                                        <thead>
                                            <tr class="yui-dt-first yui-dt-last">
                                                <th  style="display:none;">
                                                    <div>
                                                        <span>id_data</span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt108-th-code" rowspan="1" colspan="1" class="string yui-dt108-col-code yui-dt-col-code yui-dt-sortable">
                                                    <div id="yui-dt108-th-code-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">Code</a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt108-th-nom" rowspan="1" colspan="1" class="string yui-dt108-col-nom yui-dt-col-nom yui-dt-sortable">
                                                    <div id="yui-dt108-th-nom-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">Nom</a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt108-th-demande" rowspan="1" colspan="1" class="fkey_dico yui-dt108-col-demande yui-dt-col-demande yui-dt-sortable">
                                                    <div id="yui-dt108-th-demande-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">Demandée</a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt108-th-cote" rowspan="1" colspan="1" class="string yui-dt108-col-cote yui-dt-col-cote yui-dt-sortable">
                                                    <div id="yui-dt108-th-cote-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">cote</a>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt108-th-prix" rowspan="1" colspan="1" class="float yui-dt108-col-prix yui-dt-col-prix yui-dt-sortable yui-dt-last">
                                                    <div id="yui-dt108-th-prix-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">Prix</a>
                                                        </span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_sample"></tbody>
                                    </table>
                                </div>
                                <div class="clear"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-1 panel-primary" style="">
                    <div class="panel-heading"><h3 class="panel-title">Compte-rendus</h3></div>
                    <div class="panel-body ">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="listing table-responsive yui-dt" id="listing_cr">
                                    <div class="yui-dt-mask" style="display: none;"></div>
                                    <table summary="" id="yuievtautoid-3">
                                        <colgroup><col><col><col></colgroup>
                                        <thead>
                                            <tr class="yui-dt-first yui-dt-last">
                                                <th id="yui-dt118-th-id_data" rowspan="1" colspan="1" class="yui-dt118-col-id_data yui-dt-col-id_data yui-dt-hidden yui-dt-first">
                                                    <div id="yui-dt118-th-id_data-liner" class="yui-dt-liner"><span class="yui-dt-label">id_data</span></div>
                                                </th>
                                                <th id="yui-dt118-th-action" rowspan="1" colspan="1" class="yui-dt118-col-action yui-dt-col-action">
                                                    <div id="yui-dt118-th-action-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label" id="yui-gen129">Action</span>
                                                    </div>
                                                </th>
                                                <th id="yui-dt118-th-date" rowspan="1" colspan="1" class="string yui-dt118-col-date yui-dt-col-date yui-dt-sortable yui-dt-last">
                                                    <div id="yui-dt118-th-date-liner" class="yui-dt-liner">
                                                        <span class="yui-dt-label">
                                                            <a title="Click to sort ascending" class="yui-dt-sortable">Date</a>
                                                        </span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <caption>listing_cr</caption>
                                        <tbody id="tbody_report">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="facturation-group-group" class="panel panel-1 panel-primary" style="">
                    <div class="panel-heading"><h3 class="panel-title">Facturation</h3></div>
                    <div class="panel-body " id="facturation-group-group_body">
                        <div class="row">
                            <div id="facturation-group" class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3" style=""><span data-field="prix">Prix total</span></label>
                                    <div class="form-control-static field readonly-field col-md-4 col-lg-3" style="">
                                        <span>{{ args['record']['prix'] }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3" style=""><span data-field="remise">Remise sur la facturation</span></label>
                                    <div class="form-control-static field readonly-field col-lg-2" style=""><span>{{ args['record']['remise'] }}</span></div>
                                    <label class="control-label col-lg-2" style=""><span data-field="remise_pourcent">Pourcentage de la remise</span></label>
                                    <div class="form-control-static field readonly-field col-md-3" style=""><span>{{ args['record']['remise_pourcent'] }}</span></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3" style="">
                                        <span data-field="assu_pourcent">Pourcentage assurance maladie / mutuelle</span>
                                    </label>
                                    <div class="form-control-static field readonly-field col-md-4 col-lg-3" style=""><span>{{ args['record']['assu_pourcent'] }}</span></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3" style=""><span data-field="a_payer">Reste à payer</span></label>
                                    <div class="form-control-static field readonly-field col-md-4 col-lg-3" style=""><span>{{ args['record']['a_payer'] }}</span></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3" style=""><span data-field="num_quittance">Numéro de quittance</span></label>
                                    <div class="form-control-static field readonly-field col-md-4 col-lg-3" id="field_a_payer" style=""><span>{{ args['record']['num_quittance'] }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="rc-confirm-group-group" class="panel panel-1 panel-primary" style="">
                    <div class="panel-heading"><h3 class="panel-title">Renseignements / Informations complémentaires</h3></div>
                    <div class="panel-body " id="rc-confirm-group-group_body">
                        <div class="row">
                            <div id="rc-confirm-group" class="col-xs-12">
                                <div class="form-control-static field readonly-field col-md-11" style=""><span>{{ args['record']['rc'] }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-1 panel-primary" style="">
                    <div class="panel-heading"><h3 class="panel-title">Valise de documents</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="vzn-box text-left upload-container">
                                        <div class="yui-dt">
                                            <div>
                                                <div style="display: inline-block; padding-right: 20px;" class="uploadHTML5">
                                                    <input name="file" type="file" style="margin-bottom:4px"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div></div>
                                        <div></div>
                                        <div class="yui-dt table-responsive">
                                            <table>
                                                <thead>
                                                    <tr><th><div class="yui-dt-liner">Fichier</div></th><th><div class="yui-dt-liner">Action</div></th></tr>
                                                </thead>
                                                <tbody id="tbody_file"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" class="btn btn-default" value="Enregistrer" onclick="upload_file({{ args['record']['id_data'] }});">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group button" id="button">
                    <input type="button" onclick="print_bill({{ args['record']['id_data'] }});" id="print" class="btn btn-primary" value="{{ _('Imprimer la facture') }}">
                    <input type="button" onclick="print_barcode();" id="bar_code" class="btn btn-primary" value="{{ _('Code barre') }}">
                    <input type="button" onclick="return_home();" id="exit" class="btn btn-default" value="{{ _('Quitter') }}">
                </div>

            </form><!-- close form_main -->
            
        </div>
    </div>
</div><!-- ferme le corps -->
{% endblock %}

{% block add_script %}
<script>
var data_analysis = {{ args['data_analysis']|safe }} ;
var data_reports  = {% if args['data_reports'] %}{{ args['data_reports']|safe }}{% else %}[]{% endif %} ;
var data_files    = {{ args['data_files']|safe }} ;
var num_rec_y = 0 ;
{% if type_req == 'E' %}var data_samples  = {{ args['data_samples']|safe }}  ;{% endif %}

function load_analysis( data )
{
let tr_analysis = '' ;
let obj    = data ;
let tmp_tr = '<tr style="">' ;
let urg    = obj.urgent ;
let dem    = obj.demande ;
let rate   = obj.cote_unite + obj.cote_valeur ;

    if ( urg == 4 )
    urg = "Oui" ;
    else
    urg = "Non" ;

    if ( dem == 4 )
    dem = "Oui" ;
    else
    dem = "Non" ;

tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
tmp_tr += create_td("", obj.code, "", "") ;
tmp_tr += create_td("", obj.nom, "", "") ;
tmp_tr += create_td("", urg, "", "") ;
tmp_tr += create_td("", dem, "", "") ;
tmp_tr += create_td("", format_rate(rate, obj.prix), "", "") ;
tmp_tr += create_td("", obj.prix, "", "") ;

tmp_tr += '</tr>' ;

tr_analysis += tmp_tr ;

$("#tbody_analysis").append(tr_analysis) ;
}

{% if type_req == 'E' %}
function load_sample( data )
{
let tr_sample = '' ;
let obj = data ;

    if ( obj.id_data > 0 )
    {
    let tmp_tr = '<tr style="">' ;
    let dem    = obj.demande ;
    let rate   = obj.cote_unite + obj.cote_valeur ;

        if ( dem == 4 )
        dem = "Oui" ;
        else
        dem = "Non" ;

    tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
    tmp_tr += create_td("", obj.code, "", "") ;
    tmp_tr += create_td("", obj.nom, "", "") ;
    tmp_tr += create_td("", dem, "", "") ;
    tmp_tr += create_td("", format_rate(rate, obj.prix), "", "") ;
    tmp_tr += create_td("", obj.prix, "", "") ;

    tmp_tr += '</tr>' ;

    tr_sample += tmp_tr ;
    }

$("#tbody_sample").append(tr_sample) ;
}
{% endif %}

function load_report( data )
{
let tr_report = '' ;
let obj = data ;

    if ( obj.id_data > 0 )
    {
    let menu_act = '<ul class="menu-act-drop">' +
                   '<li><a class="menu-act-item" onclick="download_file(\'RP\', \'' + obj.file + '\', ' + num_rec_y + ');">Télécharger</a></li></ul>' ;

    let tmp_tr = '<tr style="">' ;

    tmp_tr += '<td class="yui-dt-hidden"><div class="yui-dt-liner">' + obj.id_data + '</div></td>' ;
    tmp_tr += '<td><div class="yui-dt-liner">' + menu_act + '</div></td>' ;
    tmp_tr += '<td><div class="yui-dt-liner">' + obj.date + '</div></td>' ;
    tmp_tr += '</tr>' ;

    tr_report += tmp_tr ;
    }

$("#tbody_report").append(tr_report) ;
}

function load_file( data )
{
let tr_file = '' ;
let obj = data ;

    if ( obj.id_data > 0 )
    {
    let tmp_tr = '<tr style="">' ;
    
    tmp_tr += '<td class="filename"><div class="yui-dt-liner">' + obj.name + '</div></td>' ;
    tmp_tr += '<td class="action"><div class="yui-dt-liner"><a href="#" onclick="download_file(\'JF\', \'' + obj.name + '\', ' + obj.id_data + ');">Télécharger</a>';
    tmp_tr += ' - <a href="#" onclick="delete_file(' + obj.id_data + ');">Supprimer</a></div></td>' ;
    tmp_tr += '</tr>' ;

    tr_file += tmp_tr ;
    }

$("#tbody_file").append(tr_file) ;
}

function load_data()
{
// clear table tbody
$("#tbody_analysis").empty() ;
{% if type_req == 'E' %}$("#tbody_sample").empty() ;{% endif %}
$("#tbody_report").empty() ;
$("#tbody_file").empty() ;

    for( i in data_analysis )
    {
    load_analysis( data_analysis[i] ) ;
    }

    if (data_analysis.length < 1)
    {
    let tr_ana = '<tr class=""><td colspan="8"><div>Aucune donnée à afficher</div></td></tr>' ;

    $("#tbody_analysis").append(tr_ana) ;
    }

    {% if type_req == 'E' %}
    for( i in data_samples )
    {
    load_sample( data_samples[i] ) ;
    }

    if (data_samples.length < 1)
    {
    let tr_sample = '<tr class=""><td colspan="7"><div>Aucune donnée à afficher</div></td></tr>' ;

    $("#tbody_sample").append(tr_sample) ;
    }
    {% endif %}

    if (data_reports.length < 1)
    {
    let tr_report = '<tr><td colspan="3"><div class="yui-dt-liner">Aucune donnéee à afficher</div></td></tr>' ;

    $("#tbody_report").append(tr_report) ;
    }
    else
    {
    load_report( data_reports ) ;
    }

    for( i in data_files )
    {
    load_file( data_files[i] ) ;
    }

    if (data_files.length < 1)
    {
    let tr_file = '<tr><td colspan="2"><div class="yui-dt-liner">Aucun fichier déposé</div></td></tr>' ;

    $("#tbody_file").append(tr_file) ;
    }
}

function create_td(id, val, cls, style)
{
let tmp_td = '<td class="' + cls + '" id="' + id + '" style="' + style + '">' +
             '<div>' + val + '</div></td>' ;

return tmp_td ;
}

function format_rate(rate, price)
{
return rate + '(' + price + ')' ;
}

function upload_file( id_rec )
{
let param_form = new FormData() ;

param_form.append('file', $('input[type=file]')[0].files[0]) ;

    $.ajax(
    {
        type : 'POST',
        url : "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/upload-file/" + id_rec,
        dataType: 'json',
        contentType: false,
        processData: false,
        data: param_form,
        success : function(response)
        {
        console.log( "success upload ") ;
        location.reload() ;
        },
        error: function(response)
        {
        console.log("ERROR upload file") ;
        alert("Une erreur est survenue lors du dépot d'un fichier") ;
        }
    } ) ;
    
}

function download_file( type, filename, ref )
{
// TODO check user role rights ?
window.location = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/download-file/type/" + type + "/name/" + filename + "/ref/" + ref ;
}

function delete_file( id_file )
{
// TODO check user role rights
    if ( window.confirm("Le fichier sera définitivement supprimé") )
    {
        $.ajax( 
        {
            type: "DELETE",
            url: "{{ session['server_ext'] }}/services/file/document/" + id_file,
            success: function(ret)
            {
            location.reload() ;
            },
            error: function(ret)
            {
            console.log("ERROR DELETE document file") ;
            alert("Erreur lors de la suppression d'un fichier") ;
            }
        } ) ;
    }
    else
    return false ;
}

function print_bill( id_rec )
{
// TODO check user role rights ?
    $.ajax( 
    {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/pdf/bill/" + id_rec,
        success: function(ret)
        {
        download_file( "BI", "facture_" + num_rec_y + ".pdf", 0 ) ;
        },
        error: function(ret)
        {
        console.log("ERROR GET pdf bill");
        alert("Erreur lors de la génération du PDF facture") ;
        }
    } ) ;
}

function print_barcode()
{
    $.ajax( 
    {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/pdf/barcode/num/" + num_rec_y,
        success: function(ret)
        {
        download_file( "BC", "etiquette_" + num_rec_y + ".png", 0 ) ;
        },
        error: function(ret)
        {
        console.log("ERROR GET pdf barcode");
        alert("Erreur lors de la génération du PDF code barre") ;
        }
    } ) ;
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/sigl/";
}

$( document ).ready( function()
{
num_rec_y = {{ args['record']['num_dos_an'] }} ;

{% if session['record_period'] == 1070 %} // Month period
let num_rec = {{ args['record']['num_dos_mois'] }} ;
{% else %} // Annual period
let num_rec = {{ args['record']['num_dos_an'] }} ;
{% endif %}

let num_rec_fmt = fmt_num_rec( num_rec, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;

    $("#num_rec").text( num_rec_fmt ) ;
    load_data() ;
} ) ;
</script>
{% endblock %}

