{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Import d'analyses") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Import d'analyses") }}</span></h2>
            <form>
                <div class="row">
                    <div class="col-12 my-3">
                        <span>{{ _("Statut de la dernière importation") }} : </span><span id="stat-imp"></span>
                    </div>
                    <div class="col-12 my-3">
                        <div class="form-group">
                            <div class="text-left upload-container">
                                <div>
                                    <div>
                                        <div style="display: inline-block; padding-right: 20px;" class="uploadHTML5">
                                            {% if session['user_role'] != 'P' %}
                                            <input id="btn-upload" name="file" type="file" style="margin-bottom:4px"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if session['user_role'] != 'P' %}
                        <input type="button" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Enregistrer le document") }}" onclick="upload_file();">
                        {% endif %}
                    </div>                    
                    <div class="col-12 my-3">
                        <div class="form-group">
                            <label class="col-form-label col-2 text-right mt-2">{{ _("Type d'import") }}</label>
                            <label class="col-form-label text-right mt-2 mr-3">
                                <input type="radio" name="type_import" value="U" checked>&nbsp;{{ _("Met à jour les analyses (dont le code est identique)") }}</input>
                            </label>
                            <label class="col-form-label text-right mt-2 mr-3">
                                <input type="radio" name="type_import" value="A">&nbsp;{{ _("Ajoute les nouvelles analyses (code non existant en base)") }}</input>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 clearfix mt-3">
                    <div class="float-left" style="margin-left:0px;">
                        <input type="button" onclick="return_back();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                    </div>
                    <div class="float-right mr-2" style="margin-left:0px;">
                        <input type="button" id="import-analysis" onclick="import_analysis();" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Importer des analyses") }}" disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var filename = '' ;

function upload_file()
{
let param_form = new FormData() ;

param_form.append('file', $('input[type=file]')[0].files[0]) ;

filename = $('input[type=file]')[0].files[0].name ;

    if ( filename.endsWith(".csv") )
    {
        $.ajax(
        {
            type : 'POST',
            url : "{{ session['server_ext'] }}/upload-import",
            dataType: 'json',
            contentType: false,
            processData: false,
            data: param_form,
            success : function(response)
            {
            tempAlert("{{ _("Dépôt réussi") }}", "btn-upload") ;
            console.log( "success upload ") ;
            $("#import-analysis").prop('disabled', false);
            },
            error: function(response)
            {
            console.log("ERROR upload file") ;
            alert("{{ _("Une erreur est survenue lors du dépot d'un fichier") }}") ;
            }
        } ) ;
    }
    else
    alert("{{ _("Le fichier doit être un csv") }}") ;
}

function import_analysis()
{
var type = $("input:radio[name=type_import]:checked").val() ;

    if ( window.confirm("{{ _("Lancer l'import du référentiel d'analyses ?") }}") )
    {
        // popup wait
        $("#dial-wait").modal("show") ;

        $("#dial-wait").off() ;

        $("#dial-wait").on('shown.bs.modal', function () 
        {
            $.ajax( 
            {
                type: "GET",
                async: false,
                timeout: 6000000,
                url: "{{ session['server_ext'] }}/services/analysis/import/" + filename + "/" + type +"/{{ session['user_id'] }}",
                success: function(ret)
                {
                    $("#dial-wait").modal("hide") ;

                tempAlert("{{ _("Traitement réussi") }}", "import-analysis") ;
                window.location = "{{ session['server_ext'] }}/setting-analyzes" ;
                },
                error: function(ret)
                {
                    $("#dial-wait").modal("hide") ;

                console.log("ERROR import analysis") ;
                alert("{{ _("Erreur lors du traitement des données, rafraîchissez la page jusqu'à connaître le statut") }}") ;
                }
            } ) ;
        } ) ;
    }
    else
    return false ;
}

function check_stat_db()
{
    $.ajax( 
    {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/db/stat/last",
        success: function(ret)
        {
        data = ret.split(";") ;

            if ( data.length > 0 )
            {
            statut = data[0] ;

                if (data[1] == "ERR")
                {
                statut = statut + ' ERROR : ' + data[2] ;
                }
                else if (data[1] == "OK")
                statut = statut + ' OK' ;

                $('#stat-imp').text( statut ) ;
            }
            else
                $('#stat-imp').text("{{ _("Aucun statut") }}") ;

        },
        error: function(data_ana)
        {
        console.log("ERROR GET db last stat");
        alert("{{ _("Une erreur est survenue lors de la vérification du statut de la base de données") }}") ;
        }
    } ) ;
}

function return_back()
{
window.location.href = "{{ session['server_ext'] }}/setting-analyzes" ;
}

$( document ).ready( function()
{
    check_stat_db() ;
} ) ;
</script>
{% endblock %}
