{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Import d'analyses") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-color"><span>{{ _("Import d'analyses") }}</span></h2>
            {% if has_permission("SETTING_43") %}
            <form>
                <div class="row">
                    <div class="col-12 my-3">
                        <span>{{ _("Statut de la dernière importation") }} : </span><span id="stat-imp"></span>
                    </div>
                    <div class="col-12 my-3">
                        <div class="form-group">
                            <div class="text-start upload-container">
                                <div>
                                    <div>
                                        <div class="uploadHTML5 d-inline-block pe-2">
                                            <input id="btn-upload" name="file" type="file" class="mb-1"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" class="btn btn-lbk btn-{{ session['user_role']|safe }} mt-3" value="{{ _("Enregistrer le document") }}" onclick="upload_file();">
                    </div>                    
                    <div class="col-12 my-3">
                        <div class="form-group">
                            <label class="form-label col-2 text-end ms-1 mt-2">{{ _("Type d'import") }}&nbsp;</label>
                            <label class="form-label text-end mt-2 me-3">
                                <input type="radio" name="type_import" value="U" checked>&nbsp;{{ _("Met à jour les analyses (dont le code est identique)") }}</input>
                            </label>
                            <label class="form-label text-end mt-2 me-3">
                                <input type="radio" name="type_import" value="A">&nbsp;{{ _("Ajoute les nouvelles analyses (code non existant en base)") }}</input>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 clearfix mt-3">
                    <div class="float-start ms-0">
                        <input type="button" onclick="return_back();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                    </div>
                    <div class="float-end ms-0 me-2">
                        <input type="button" id="import-analysis-test" onclick="import_analysis('Y');" class="btn btn-lbk btn-{{ session['user_role']|safe }} me-3" value="{{ _("Tester l'importation des analyses") }}" disabled>
                        <input type="button" id="import-analysis" onclick="import_analysis('N');" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _("Importer des analyses") }}" disabled>
                    </div>
                </div>
            </form>
            {% else %}
                {% include 'no-rights.html' %} 
            {% endif %}
        </div>
    </div>

</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var filename = '' ;

function upload_file()
{
let param_form = new FormData() ;

param_form.append('file', $('input[type=file]')[0].files[0]) ;

filename = $('input[type=file]')[0].files[0].name ;

    if ( filename.endsWith(".csv") )
    {
        $.ajax(
        {
            type : 'POST',
            url : "{{ session['server_ext'] }}/upload-import",
            dataType: 'json',
            contentType: false,
            processData: false,
            data: param_form,
            success : function(response)
            {
            tempAlert("{{ _("Dépôt réussi") }}", "btn-upload") ;
            console.log( "success upload ") ;
            $("#import-analysis-test").prop('disabled', false);
            },
            error: function(response)
            {
            console.log("ERROR upload file") ;
            alert("{{ _("Une erreur est survenue lors du dépot d'un fichier") }}") ;
            }
        } ) ;
    }
    else
    alert("{{ _("Le fichier doit être un csv") }}") ;
}

function import_analysis(mode_test)
{
var type = $("input:radio[name=type_import]:checked").val() ;

var param = '{ "id_user":{{ session["user_id"] }}, ' +
              '"filename":"' + filename + '", ' +
              '"type":"' + type + '", ' +
              '"test":"' + mode_test + '"}' ;

    if ( window.confirm("{{ _("Lancer l'import du référentiel d'analyses ?") }}") )
    {
        // popup wait
        $("#dial-wait").off('shown.bs.modal') ;
        $("#dial-wait").modal("show") ;

        $.ajax( 
        {
            type: "POST",
            //async: false, // 19/04/2023 : dial wait doesnt display
            timeout: 6000000,
            url: "{{ session['server_ext'] }}/services/analysis/import",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param,
            success: function(ret)
            {
                $("#dial-wait").modal("hide") ;

            tempAlert("{{ _("Traitement réussi") }}", "import-analysis") ;

                if ( mode_test == "N" ) 
                setTimeout(function(){location.href="{{ session['server_ext'] }}/setting-analyzes"}, 2400) ;
                else
                {
                check_stat_db() ;
                $("#import-analysis").prop('disabled', false) ;
                }
            },
            error: function(ret)
            {
                $("#dial-wait").modal("hide") ;

            check_stat_db() ;

            console.log("ERROR import analysis") ;
            alert("{{ _("Erreur lors du traitement des données, rafraîchissez la page jusqu'à connaître le statut") }}") ;
            }
        } ) ;
    }
    else
    return false ;
}

function check_stat_db()
{
    $.ajax( 
    {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/db/stat/last/ANA",
        success: function(ret)
        {
        data = ret.split(";") ;

            if ( data.length > 0 )
            {
            statut = data[0] ;

                if (data[1] == "ERR")
                {
                statut = statut + ' ERROR : ' + data[2] ;
                }
                else if (data[1] == "OK")
                {
                    if (data[2].startsWith("TEST"))
                    statut = statut + ' TEST' ; 

                statut = statut + ' OK' ;
                }

            $('#stat-imp').text( statut ) ;
            }
            else
                $('#stat-imp').text("{{ _("Aucun statut") }}") ;

        },
        error: function(data_ana)
        {
        console.log("ERROR GET db last stat");
        alert("{{ _("Une erreur est survenue lors de la vérification du statut de la base de données") }}") ;
        }
    } ) ;
}

function return_back()
{
window.location.href = "{{ session['server_ext'] }}/setting-analyzes" ;
}

{% if has_permission("SETTING_43") %}
$( document ).ready( function()
{
    check_stat_db() ;
} ) ;
{% endif %}
</script>
{% endblock %}
