<html lang="{{ locale }}" {% if locale == 'ar' %}dir="rtl"{% else %}dir="ltr"{% endif %}>
<head>
    <title>{{ _("LabBook API") }}</title>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/swagger-ui/swagger-ui.css') }}" />
    <link href="{{ url_for('static', filename='vendor/css/font-awesome.min.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
</head>

{% if debug == 1 or session['user_role'] == 'A' %}
<body>
    <div id="swagger-ui"></div>
    
    <script src="{{ url_for('static', filename='vendor/swagger-ui/swagger-ui-bundle.js') }}" charset="UTF-8"> </script>
    <script src="{{ url_for('static', filename='vendor/swagger-ui/swagger-ui-standalone-preset.js') }}" charset="UTF-8"> </script>
    <script>
    window.onload = function()
    {
        // Begin Swagger UI call region
        const ui = SwaggerUIBundle(
        {
            url: "{{ url_for('swagger_api') }}",
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout"
        } ) ;
        // End Swagger UI call region

        window.ui = ui;
    } ;
    </script>
  
</body>
{% else %}
<body>
    <div>{{ _("Accès non autorisé") }}</div>
<body>
{% endif %}
</html>
