{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Validation biologique") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}" nonce="{{ session['nonce'] }}"></script>
{% endblock %}

{% block content %}        
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}">
                <span>{{ _("Validation biologique") }}</span><span id="info_pat_title"></span>
            </h2>
            <form autocomplete="off">
                <div class="d-lg-flex align-items-start ms-3 mt-1">
                    <span>{{ _("Dossier") }} :</span> 
                    <span class="rec-num ms-1" id="num_rec"></span>
                    <div class="ms-2" id="rec_stat"></div>
                    {% if args['record'] and args['record']['rec_num_int'] %}
                    <div class="ms-3 mt-1">
                        <span>{{ _("Numéro de dossier interne au laboratoire") }} :&nbsp;</span> 
                        <span class="font-info" id="num_rec_int">{{ args['record']['rec_num_int'] }}</span>
                    </div>
                    {% endif %}
                </div>
                <fieldset class="d-lg-flex flex-wrap border px-3 py-2">
                    <legend class="w-auto legend-lbk">{{ _("Identité") }}</legend>
                    <div class="col-lg-12">
                        {% if args['patient'] and args['patient']['code_patient'] %}
                        <span class="pat-num">{{ args['patient']['code_patient'] }}</span>
                        {% endif %}
                        <span class="pat-num">{% if args['patient'] %}{{ args['patient']['code'] }}{% endif %}</span>
                    </div>
                    <div class="col-lg-12 mt-2">
                        {% if args['patient'] and args['patient']['anonyme'] != 4 %}
                        <span class="font-info">{% if args['patient'] %}{{ args['patient']['prenom'] }} {{ args['patient']['nom'] }}{% if args['patient']['nom_jf'] %} {{ args['patient']['nom_jf'] }}{% endif %}{% endif %}</span>
                        {% else %}
                        <span class="font-info">{{ _("Patient anonyme") }}.</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-12 mt-2">
                        <span>{{ _("Né(e) le") }}&nbsp;</span>
                        <span class="font-info">{% if args['patient'] and args['patient']['ddn'] %}{{ args['patient']['ddn']|date_format }}{% endif %}</span>
                        <span>&nbsp;-&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{{ args['patient']['age'] }}{% endif %}&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{% if args['patient']['unite'] == 1037 %}{{ _("années") }}
                                                {% elif args['patient']['unite'] == 1036 %}{{ _("mois") }}
                                                {% elif args['patient']['unite'] == 1035 %}{{ _("semaines") }}
                                                {% elif args['patient']['unite'] == 1034 %}{{ _("jours") }}{% endif %}{% endif %}</span>
                        <span>&nbsp;-&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{% if args['patient']['sexe'] == 1 %}{{ _("Masculin") }}
                                                {% elif args['patient']['sexe'] == 2 %}{{ _("Féminin") }}
                                                {% elif args['patient']['sexe'] == 3 %}{{ _("Inconnu") }}{% endif %}{% endif %}</span>
                    </div>
                    <div class="col-md-12 mt-1">
                        {% if args['patient'] and args['patient']['adresse'] %}
                        <span class="font-info">{{ args['patient']['adresse'] }}</span>
                        {% endif %}
                        {% if args['patient'] and args['patient']['quartier'] %}
                        <span class="font-info">{{ args['patient']['quartier'] }}</span>
                        {% endif %}
                        {% if args['patient'] and args['patient']['bp'] %}
                        <span class="font-info">{{ args['patient']['bp'] }}</span>
                        {% endif %}
                        {% if args['patient'] and args['patient']['cp'] %}
                        <span class="font-info">{{ args['patient']['cp'] }}</span>
                        {% endif %}
                        {% if args['patient'] and args['patient']['ville'] %}
                        <span class="font-info">{{ args['patient']['ville'] }}</span>
                        {% endif %}
                    </div>
                    <div class="col-md-12 mt-1">
                        {% if args['patient'] and args['patient']['tel'] %}
                        <span class="font-info">{{ args['patient']['tel'] }}</span>
                        {% endif %}
                        {% if args['patient'] and args['patient']['tel'] and args['patient']['pat_phone2'] %} / {% endif %}
                        {% if args['patient'] and args['patient']['pat_phone2'] %}
                        <span class="font-info">{{ args['patient']['pat_phone2'] }}</span>
                        {% endif %}
                    </div>
                </fieldset>
            </form> 

            {% if args['record'] and args['record']['rc'] %}
            <form>
                <fieldset class="d-lg-flex flex-lg-wrap border px-3 py-2 mt-1">
                    <legend class="legend-lbk">{{ _("Renseignements cliniques") }}</legend>
                    <div>{{ args['record']['rc'] }}</div>
                </fieldset>
            </form>
            {% endif %}

            <div id="no_result" class="error mt-3">{{ _("Aucune analyse") }}</div>
            <div id="list_result" class="mt-3"></div>

            <div id="valid_div">
                <fieldset class="d-lg-flex flex-lg-wrap border px-3 py-2 mt-1">
                    <legend class="legend-lbk">{{ _("Validation des résultats cochés") }}</legend>
                    <div class="form-group d-lg-flex align-items-start">
                        <label class="form-label mt-2 me-1">{{ _("Date de validation") }} :</label>
                        <div>
                            <input id="date_bio" class="form-control form-lbk ms-1" type="datetime-local" step="60" value="{{ now|datetime_now }}" placeholder="">
                        </div>
                        <label class="form-label ms-3 mt-2 me-1" for="validator">{{ _("Biologiste") }} :</label>
                        <input type="text" name="validator" id="validator" class="form-control form-lbk bg-readonly ms-1 w-auto" value="" readonly />
                        <input type="hidden" id="id_validator" class="form-control form-lbk ms-1" value="0" />
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <label for="comm_valid" class="align-top mt-2 me-1">{{ _("Commentaire") }}</label>
                        {# We break the loop after the first comment found #}
                        {# Note: If I don't paste the jinja2 code it adds the spaces #}
                        <textarea id="comm_valid" name="comm_valid" cols="60" rows="5" class="form-control form-lbk col-5 ms-1">{% set var_for = {'break': False} %}{% for res in args['list_res'] %}{% if not var_for.break %}{% if res['validation']['commentaire'] %}{{ res['validation']['commentaire'] }}{% if var_for.update({'break': True}) %}{% endif %}{% endif %}{% endif %}{% endfor %}</textarea>
                    </div>
                    <div class="col-lg-12 my-2">
                        <div class="d-lg-flex justify-content-between ms-0 me-3">
                            <input type="button" onclick="return_home();" id="exit" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _('Quitter') }}">
                            <div class="d-lg-flex align-items-end">
                                <input type="hidden" name="validation-type" value="B" id="validation-type">
                                <select id="tpl_result" class="form-select me-3 w-auto" {% if ihm['tpl_result'] and ihm['tpl_result']|length < 2 %}hidden{% endif %}>
                                    {% for tpl in ihm['tpl_result'] %}
                                    <option value="{{ tpl["tpl_file"] }}" {% if tpl["tpl_default"] ==  "Y" %}selected{% endif %}>{{ tpl["tpl_name"] }}</option>
                                    {% endfor %}
                                </select>
                                <button name="validate" id="validate" type="button" value="Valider" class="btn btn-lbk btn-{{ session['user_role']|safe }}" onclick="save_valid({{ args['record']['id_data'] }});">{{ _("Valider") }}</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div>
                <fieldset class="d-lg-flex flex-lg-wrap border px-3 py-2 mt-3">
                    <legend class="legend-lbk">{{ _("Compte rendu") }}</legend>
                    <div id="report" class="col-lg-12 bgcolor-B p-2"></div>
                </fieldset>
            </div>

            <!-- Popup cancel -->
            <div class="modal" id="dial-cancel" tabindex="-1">
                <div class="modal-dialog w-50 mw-75" style="background:#EEE;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>{{ _("Commentaire et motif annulation") }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-lg-2"><span data-field="reason">{{ _("Motif") }} </span></label>
                                <select id="cancel_reason" class="form-select">
                                    {% for reason in ihm['cancel_reason'] %}
                                    <option value="{{ reason['id_data'] }}">{{ _(reason['label']) }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3"><span data-field="comment">{{ _("Commentaire") }}</span></label>
                                <textarea id="cancel_comm" rows="3" cols="80" class="form-select"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="button btn btn-lbk btn-{{ session['user_role']|safe }}" name="btn_cancel_res" id="btn_cancel_res" value="{{ _("Ajouter") }}"  onclick="send_cancel();">
                            <button class="btn btn-lbk btn-{{ session['user_role']|safe }}" data-bs-dismiss="modal" aria-hidden="true">{{ _("Annuler") }}</button>
                        </div>
                    </div>
                </div>
            </div>

            {% if args['list_res'] %}
            <form id="form-new-analyses">
                <div class="mt-3">
                    <fieldset class="d-lg-flex flex-lg-wrap border px-3 py-2">
                        <legend class="legend-lbk">{{ _("Ajouter de nouvelles analyses") }}</legend>
                        <div class="form-group">
                            <select id="search_analysis" class="form-select form-lbk form-search"></select>
                        </div><br />
                        <div class="col-lg-12">
                            <div id="new_analysis"></div>
                            <div id="div_add_analysis" class="form-group button" style="display:none">
                                <input type="button" class="button btn btn-lbk btn-{{ session['user_role']|safe }}" name="btn_add_analysis" id="btn_add_analysis" value="{{ _("Ajouter") }}"  onclick="add_analysis();">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
            {% endif %}

            {% if ihm['mode'] == 'G' %}
            <div class="float-start clearfix mt-3 mb-5">
                <button type="button" onclick="print_grp_rec();" id="print-grp-rec" class="btn btn-lbk btn-{{ session['user_role']|safe }}"><span>{{ _("Compte rendu groupé") }}</span></button>
            </div>

                {% if ihm['id_rec_next'] %}
            <div class="float-end clearfix mt-3 mb-5">
                <button type="button" onclick="next_record();" id="btn_next_valid" class="btn btn-lbk btn-{{ session['user_role']|safe }}"><span>{{ _("Dossier suivant") }}</span></button>
            </div>
                {% else %}
            <div class="float-end clearfix mt-3 mb-5">
                <span>{{ _("Fin de la liste des dossiers") }}</span>
            </div>
                {% endif %}
            {% endif %}

        </div>
    </div>
</div><!-- close content -->
{% endblock %}        

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var data_res     = [] ;
var data_reports = {% if args['data_reports'] %}{{ args['data_reports']|safe }}{% else %}[]{% endif %} ;
var list_id_ana  = [] ;
var num_rec_y    = 0  ;
var num_dos      = 0  ;
var num_rec      = "" ;
var per_rec      = "" ;
var rec_stat     = 0  ;
var id_rec_tmp   = 0  ;
var id_res_tmp   = 0  ;

function fill_bio_list()
{
var name      = '' ;
var id_user   = "{{ session['user_id']|safe}}"        ;
var firstname = "{{ session['user_firstname']|safe}}" ;
var lastname  = "{{ session['user_lastname']|safe}}"  ;

    if ( firstname )
    name = firstname + ' ' + lastname ;
    
    if ( !name )
    name = username ;  

$("#id_validator").val(id_user ) ;
$("#validator").val( name )      ;

{#
{% if ihm['bio_list'] %}
let bio_list = {{ ihm['bio_list']|safe }} ;
let res      = '<option value="0"> </option>' ;

    for ( k in bio_list )
    {
    let selected   = "" ;
    let bio_ident = bio_list[k].username ;

        if ( bio_list[k].firstname != "" && bio_list[k].lastname != "" )
        bio_ident =  bio_list[k].firstname + " " + bio_list[k].lastname ;

        if ( bio_list[k].id_user == {{ session['user_id']}} )
        {
        selected = "selected" ;
        }
        
    res += '<option value="' + bio_list[k].id_user + '" ' + selected + '>' + bio_ident + '</option>' ;
    }

$("#validator").html(res) ;
{% endif %}
#}
}

function add_analysis()
{
let id_user        = {{ session['user_id']|safe}} ;
let user_role      = "{{ session['user_role']|safe }}"  ;
let id_rec         = data_res[0].id_dos ;
let param_list_ana = '{ "list_ana":[ ';
let param_list_res = '{ "id_owner":' + id_user + ', "user_role":"' + user_role + '", "list_ref":[ ';
let value_ana      = '' ;
let value_res      = '' ;

    // Add analysis
    for( i in list_id_ana )
    {
        if (value_ana != '')
        {
        value_ana += ', ' ;
        }

        if (value_res != '')
        {
        value_res += ', ' ;
        }

    let param_ana = '{ "id_owner":' + id_user + ', ' +
                      '"id_rec":' + id_rec  + ', ' +
                      '"id_ana":' + list_id_ana[i] + ', ' +
                      '"price":0, ' +
                      '"paid": 5, ' +
                      '"emer": 5, ' +
                      '"outsourced":"N", ' +
                      '"req": 5 }' ;

    let param_res = '{ "ref_analyse":' + list_id_ana[i] + '}' ;

    value_ana += param_ana ;
    value_res += param_res ;
    }

param_list_ana += value_ana + ' ] }';
param_list_res += value_res +' ] }';

    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    // Send analysis information
    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/analysis/list/req",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param_list_ana,
        success: function(ret_ana)
        {
            // create in DB list of results to enter and corresponding validation
            $.ajax(
            {
                type : 'POST',
                url : "{{ session['server_ext'] }}/services/result/create/" + id_rec,
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: param_list_res,
                success : function(response)
                {
                let param_stat = '{ "stat":182 }' ; 

                    // update record stat to 182 = Validé administrativement
                    $.ajax(
                    {
                        type : 'POST',
                        url : "{{ session['server_ext'] }}/services/record/stat/" + id_rec,
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: param_stat,
                        success : function(response)
                        {
                            $("#dial-wait").modal("hide") ;

                        window.location.href = "{{ session['server_ext'] }}/biological-validation/{{ ihm['mode'] }}/" + id_rec ;
                        },
                        error: function(response)
                        {
                            $("#dial-wait").modal("hide") ;

                        console.log("ERROR record stat") ;
                        alert("{{ _("Une erreur est survenue du changement de statut du dossier") }}") ;
                        }
                    } ) ;
                },
                error: function(response)
                {
                    $("#dial-wait").modal("hide") ;

                console.log("ERROR result create") ;
                alert("{{ _("Une erreur est survenue lors de création des résultats") }}") ;
                }
            } ) ;
        },
        error: function(ret_ana)
        {
            $("#dial-wait").modal("hide") ;

        console.log("ERROR analysis list req") ;
        alert("{{ _("Une erreur est survenue lors de l'enregistrement des analyses") }}") ;
        } 
    } ) ;
}

function display_result( num_page )
{
    // hide no_result
    if (data_res.length < 1)
    $("#no_result").show() ;
    else
    $("#no_result").hide() ;

gen_ihm_res( data_res ) ;
}

function reset_res( id_rec, id_res )
{
    if ( window.confirm("{{ _("Etes-vous sur de vouloir effacer ce résultat ?") }}") )
    {
    let param_res = '{ "id_owner": {{ session["user_id"]}}, "id_res":' + id_res + '}' ;

        // result to reset
        $.ajax( 
        {
            type: "POST",
            url: "{{ session['server_ext'] }}/services/result/reset/" + id_rec,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param_res,
            success: function(data)
                {
                window.location.href = "{{ session['server_ext'] }}/biological-validation/{{ ihm['mode'] }}/" + id_rec ;
                },
            error: function(data)
                {
                console.log("ERROR result reset") ;
                alert("{{ _("Une erreur est survenue lors de réinitialisation d'une valeur saisie") }}") ;
                }
        } ) ;
    }
}

function cancel_res( id_rec, id_res )
{
    if ( window.confirm("{{ _("Etes-vous sur de vouloir annuler ce résultat ?\\nCette action est irreversible.") }}") )
    {
    id_rec_tmp = id_rec ;
    id_res_tmp = id_res ;

        // popup reason and comment
        $( "#dial-cancel" ).modal( "show" ) ;
    }
    else
    {
    id_rec_tmp = 0 ;
    id_res_tmp = 0 ;
    }
}

function send_cancel()
{
let reason    = $("#cancel_reason").val() ;
let comment   = JSON.stringify( $.trim( $("#cancel_comm").val() ) ) ;
let param_res = '{ "id_owner": {{ session['user_id']}}, ' +
                  '"id_res":' + id_res_tmp + ', ' +
                  '"reason":' + reason + ',' +
                  '"comment":' + comment  + '}' ; // NO QUOTE DUE TO STRINGIFY PROCESS

    $('#dial-cancel').modal("hide") ;

    // result to cancel
    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/result/cancel/" + id_rec_tmp,
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param_res,
        success: function(data)
            {
            window.location.href = "{{ session['server_ext'] }}/biological-validation/{{ ihm['mode'] }}/" + id_rec_tmp ;
            },
        error: function(data)
            {
            console.log("ERROR result cancel") ;
            alert("{{ _("Une erreur est survenue lors de l'annulation d'une valeur saisie") }}") ;
            }
    } ) ;
}

function save_valid( id_rec )
{
let date_valid = $("#date_bio").val() ;
let user_valid = $("#id_validator").val() ;
let comm_valid = JSON.stringify( $.trim( $("#comm_valid").val() ) ) ;
let template   = $("#tpl_result").val() ;
let reedit     = "N" ;

    // New analysis added after biological validation
    // we need to reedit for add Cancel and replace text
    if ( data_reports.length > 0 && data_res[0].rec_modified == 'Y' )
    reedit = "Y" ;

let param_list_valid = '{ "reedit": "' + reedit + '", "template": "' + template + '", "comm_valid": ' + comm_valid + ', "list_valid":[ ' ;

    // GET id_res and value
    $(".cbx-" + id_rec + ":checked" ).each( function(i, elem)
    {
    let id_res  = $(this).attr("id").substr(4) ;
    let val_res = $("#res_"+id_res).val() ;

        if (i > 0)
        param_list_valid += ', ' ;

    let param_valid = '{ "id_owner": {{ session['user_id']}}, ' +
                        '"id_res":' + id_res + ', ' +
                        '"date_valid":"' + date_valid + '", ' +
                        '"user_valid":' + user_valid + ', ' +
                        '"value":"' + val_res + '"}' ;

    param_list_valid += param_valid ;
    } ) ;

param_list_valid += ' ] }' ;

    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    // result to validate
    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/result/valid/B/" + id_rec,
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param_list_valid,
        success: function(data)
        {
            $("#dial-wait").modal("hide") ;

            {% if ihm['mode'] == 'G' %}
            // save id record in session storage
            if ( sessionStorage.getItem( "l_id_rec_vld" ) != "null" )
            {
            let l_id_rec_vld = JSON.parse( sessionStorage.getItem("l_id_rec_vld") ) ;

            l_id_rec_vld.push(id_rec) ;

            sessionStorage.setItem( "l_id_rec_vld", JSON.stringify(l_id_rec_vld) ) ;
            }
            else
            {
            let l_id_rec_vld = [] ;

            l_id_rec_vld.push(id_rec) ;

            sessionStorage.setItem( "l_id_rec_vld", JSON.stringify(l_id_rec_vld) ) ;
            }
            {% endif %}

        window.location.href = "{{ session['server_ext'] }}/biological-validation/{{ ihm['mode'] }}/" + id_rec ;
        },
        error: function(data)
        {
            $("#dial-wait").modal("hide") ;
            
        console.log("ERROR result valid bio") ;
        alert("{{ _("Une erreur est survenue lors de validation biologique des valeurs saisies") }}") ;
        }
    } ) ;
}

function gen_ihm_res( data )
{
let res       = "" ;
let id_rec    = 0  ;
let ref_ana_p = 0  ;
let id_res_p  = 0  ;

let disp_valid = "d-none" ;

    {% if args['list_res'] %}
    for( i in data )
    {
    id_rec      = data[i].id_dos  ;
    let ref_ana = data[i].ref_ana ;
    let id_res  = data[i].id_res  ;

        // close the previous form
        if ( ref_ana_p != 0 && ref_ana != ref_ana_p )
        {
        // close the form and table
        res += '</tbody></table></fieldset></form>' ;
        }

        // new analysis so new form
        if ( ref_ana != ref_ana_p )
        {
        let res_name = data[i].nom ;
        let res_fam  = " [" + data[i].famille + "]" ;

            if (res_fam.length < 4) res_fam = "" ;

        res += '<form enctype="application/x-www-form-urlencoded" method="post" action="">' +
               '<fieldset class="d-lg-flex flex-lg-wrap border px-3 py-2">' +
               '<legend class="legend-lbk">' + res_name + res_fam + '</legend>' +
               '<span class="rec-num me-2 mb-2">' + num_rec + '</span>' + per_rec +
               '<table class="table table-striped table-hover table-lbk">' +
               '<tbody class="mx-1">' ;
        }

        // new analysis so new result line
        if ( id_res != id_res_p )
        {
        let res_valid  = data[i].validation.type_validation
        let res_stat   = status_res(res_valid) ;
        let res_emer   = emer(data[i].urgent)
        let res_label  = data[i].libelle ;
        let res_unit   = data[i].unit ;
        let value      = data[i].res_label ;
        let res_limit  = '' ;
        let res_check  = '<td class="text-center"><span><input type="checkbox" id="cbx_' + id_res + '" value="N" class="invisible result-checkbox cbx-' + id_rec + '"></span></td>' ;
        let res_reset  = '' ;
        let res_cancel = '' ;
        let res_type   = data[i].type_resultat ;

            /* result of type labeled */
            if ( res_type == 265 )
            res_label = '<b>' + res_label + '</b>' ;

            if ( data[i].normal_min != "" && data[i].normal_max != "" && value != "" )
            {
            let ico_limit = "d-none" ;

                if ( value < parseFloat(data[i].normal_min) || value > parseFloat(data[i].normal_max) )
                ico_limit = "show" ;

            res_limit = '<span id="limit_' + id_res + '" class="warning ' + ico_limit + '" title="[&nbsp;' + data[i].normal_min + '&nbsp;-&nbsp;' + data[i].normal_max + '&nbsp;]"></span>' ;
            }

            // outsourced icon
            if (data[i].outsourced == "Y")
            {
            res_limit += "<span title=\"{{ _("Sous-traitée") }}\"><i class=\"bi bi-building-gear fs-5 color-T\"></i></span>" ;
            }

            if ( value != "" && res_valid != 252 )
            {
            res_check = '<td class="text-center"><span><input type="checkbox" id="cbx_' + id_res + '" value="O" checked="checked" class="show result-checkbox cbx-' + id_rec + '"></span></td>' ;

            disp_valid = "show d-lg-flex" ;
            }

            /* possible to reset value */
            if ( res_type != 265  )
            res_reset = "<a title=\"{{ _("Réinitialiser la valeur") }}\" class=\"color-B\" onclick=\"reset_res(" + id_rec +","+ id_res + ");\"><i class=\"bi bi-bootstrap-reboot\" /></i></a>" ;

        res += '<tr>' +
                   res_check +
                   '<td class="col-lg-1">' + res_limit + '</td>' +
                   '<td class="col-lg-1 text-center">' + res_emer + '</td>' +
                   '<td class="text-start">' + res_stat + '</td>' +
                   '<td class="text-center">' +
                       '<div class="history" onclick="display_histo(' + i + ');"></div>' +
                   '</td>' +
                   '<td class="col-lg-5 text-center">' + res_label + '</td>' ;

        res += '<td class="text-center"><span class="value">' ;

        if ( res_valid == 251 || (res_valid == 252 && value != "") )
        res_cancel = '<a title="Annuler" class="color-B" onclick="cancel_res(' + id_rec +','+ id_res + ');"><i class="bi bi-x-circle" /></i></a>' ;

        if ( value != "" )
        {
        res += '<span>' + value + '</span><input id="res_' + id_res + '" type="hidden" value="' + data[i].valeur + '">' +
               '<span class="unit show ms-1">' + res_unit + '</span>' ;
        }
        else if ( res_valid == 252 )
        {
        res += '<span>ANNULE</span>' ;
        res_cancel = '<span>' + data[i].validation.label_motif + '<br />' + data[i].validation.commentaire + '</span>' ;
        }
        /* result of type labeled */
        else if ( res_type == 265 )
        {
        res += '<span></span>' ;
        }
        else
        res += '<span>Non rempli</span>' ;

        res += '<input type="hidden" value="' + data[i].type_resultat + '"></span></td>' +
               '<td class="text-center">' + res_reset + '</td>' +
               '<td class="text-center">' + res_cancel + '</td></tr>' ;
        }

    ref_ana_p = ref_ana ;
    id_res_p  = id_res  ;
    }

    // close last form
    if ( res != "" )
    {
    // close the form and table
    res += '</tbody></table>' +
           '</fieldset>' +
           '</form>' ;
    }

    if (disp_valid == "d-none")
    $("#valid_div").hide() ;

    $("#list_result").html( res ) ;
    {% endif %}
}

function load_report( data )
{
let div_report = '' ;
let obj = data ;

    for( i in obj )
    {
        if ( obj[i].id_data > 0 )
        {
        let tmp_div = '<span class="px-5">' ;

        tmp_div += '<a class="report" style="color:#FFF;" onclick="download_file(\'RP\', \'' + obj[i].file + '\', \'GEN\', ' + num_dos + ');"><img src="{{ url_for('static', filename='img/ico_pdf.png') }}" class="me-2">' + obj[i].date ;
        tmp_div += ' - {{ _("Dossier") }} ' + num_dos + ' - {{ _("Modèle") }} : ' + obj[i].tpl_name ;
        tmp_div += ' (' + obj[i].nb_download + ')</a></span><br />' ;

        div_report += tmp_div ;
        }
    }

$("#report").append(div_report) ;
}

function load_data()
{
// clear div report
$("#report").empty() ;

    if (data_reports.length < 1)
    {
    let div_report = '<span class="px-5" style="color:#CCC;">Aucun compte rendu</span>' ;

    $("#report").append(div_report) ;
    }
    else
    {
    load_report( data_reports ) ;
    }
}

$("#search_analysis").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/analysis/search/A",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_analysis").text(),
        data: function (params) {
            return JSON.stringify(
            {
                term: params.term,
                link_fam: {{ session['user_link_fam'] or [] }}
            } ) ;
        },
        processResults: function (data) {
            return {
                // data need id key if not no focus selection displayed
                results: data
            } ;
        }
    },
    templateResult: formatRepoAnalysis
} ) ;

function formatRepoAnalysis(repo)
{
    if (repo.loading)
    return repo.text ;

var code = "" ;

    if (repo.code)
    code += "[" + repo.code + "]" ;

var name = "" ;

    if (repo.name)
    name += repo.name ;

var cat = "" ;

    if (repo.label)
    cat += repo.label ;

var display = $(
    "<div class='select2-result-repository clearfix'>" +
        "<div class='select2-result-repository__meta'>" +
            "<div class='select2-result-repository__code'><b>" + code + "</b></div>" +
            "<div class='select2-result-repository__name'>" + name + "</div>" +
            "<div class='select2-result-repository__category'>" + cat + "</div>" +
        "</div>" +
    "</div>") ;

return display ;
}

$("#search_analysis").on("select2:select", function (e) 
{
let id_ana = $(e.currentTarget).val() ;

    for ( k in data_res )
    {
        if ( data_res[k].ref_ana == id_ana )
        {
        alert("{{ _("Analyse déjà présente !") }}") ;
        return;
        }
    }

list_id_ana.push( id_ana ) ;

$("#div_add_analysis").show() ;

    // GET det analysis
    $.ajax( 
        {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/analysis/det/" + id_ana,
        success: function(data_ana)
            {
            let new_ana  = '<div id="new-analysis-' + id_ana + '" class="new-analysis">' + data_ana.nom + '<input type="hidden" name="new-analysis[]" value="' + id_ana + '"></div>' ;

            let prev_new_ana = $("#new_analysis").html() ;

                $("#new_analysis").html( prev_new_ana + new_ana ) ;
            },
        error: function(data_ana)
            {
            console.log("ERROR GET det analysis");
            alert("{{ _("Erreur lors de la récupération d'une analyse") }}") ;
            }
        } ) ;
} ) ;

// fix bug between jquery 3.6.0 and select2
$(document).on('select2:open', () => 
{
document.querySelector('.select2-search__field').focus() ;
} ) ;

function info_pat_title()
{
{% if args['patient'] %}
let info = "" ;

info = " - {% if args['patient']['code_patient'] %}{{ args['patient']['code_patient'] }} {% endif %}" +
           "{% if args['patient']['code'] %}{{ args['patient']['code'] }}{% endif %} - " +
           "{% if args['patient']['prenom'] %}{{ args['patient']['prenom'] }} {% endif %}" +
           "{% if args['patient']['nom'] %}{{ args['patient']['nom'] }} {% endif %}" +
           "{% if args['patient']['nom_jf'] %}{{ args['patient']['nom_jf'] }} {% endif %} - " +
           "{% if args['patient']['ddn'] %}{{ _("Né(e) le") }} {{ args['patient']['ddn'] }} {% endif %}" +
           "{% if args['patient']['age'] %} - {{ args['patient']['age'] }} {% endif %}" +
           "{% if args['patient']['unite'] == 1037 %}{{ _("années") }}" +
           "{% elif args['patient']['unite'] == 1036 %}{{ _("mois") }}" +
           "{% elif args['patient']['unite'] == 1035 %}{{ _("semaines") }}" +
           "{% elif args['patient']['unite'] == 1034 %}{{ _("jours") }}{% endif %}" ;

    if (info != "")
    $("#info_pat_title").text(info) ;
{% endif %}
}

function print_grp_rec()
{
let l_id_rec_vld = [] ;

    if ( sessionStorage.getItem( "l_id_rec_vld" ) != "null" )
    {
    l_id_rec_vld = JSON.parse( sessionStorage.getItem("l_id_rec_vld") ) ;

    var interv_id = l_id_rec_vld[0] + "-to-" + l_id_rec_vld[l_id_rec_vld.length - 1] ;

    var filename = "grouped-reports_" + interv_id + ".pdf" ;

    var param = '{ "filename": "' + filename + '", "l_id_rec_vld": ['
    var i;

        for (i = 0; i < l_id_rec_vld.length; i++) 
        {
            if ( i > 0 )
            param += ', ' ;

        param += l_id_rec_vld[i];
        }
    
    param += ' ] }'

        $("#dial-wait").off('shown.bs.modal') ;
        $("#dial-wait").modal("show") ;

        // Send information
        $.ajax( 
        {
            type: "POST",
            url: "{{ session['server_ext'] }}/services/pdf/report/grouped",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param,
            success: function(ret)
            {
                $("#dial-wait").modal("hide") ;

                if (ret == 0)
                download_file( "PY", filename, "REC", 0 ) ;
                else
                alert("{{ _("Erreur lors de la génération du PDF") }}") ;
            },
            error: function(data)
            {
                $("#dial-wait").modal("hide") ;
                
            console.log("ERROR pdf group report") ;
            alert("{{ _("Une erreur est survenue") }}") ;
            }
        } ) ;
    }
}

function return_home()
{
    if ( window.confirm("{{ _("Attention vous allez quitter ce dossier sans l'avoir validé.") }}") )
    {
    window.location.href = "{{ session['server_ext'] }}/sigl/homepage" ;
    }
}

{% if ihm['mode'] == 'G' %}
function next_record()
{
    window.location = "{{ session['server_ext'] }}/biological-validation/G/{{ ihm['id_rec_next'] }}" ;
}
{% endif %}

{% include 'js/display_histo.js' %}

$( document ).ready( function()
{
data_res = {% if args['list_res'] %}{{ args['list_res']|safe }}{% elif args['record'] %}[{{ args['record']|safe }}]{% else %}[]{% endif %}

num_rec_y = {{ args['record']['num_dos_an'] }} ;

{% if session['record_period'] == 1070 %} // Month period
num_dos = data_res[0].num_dos_mois ;
{% else %} // Annual period
num_dos = data_res[0].num_dos_an ;
{% endif %}

num_rec  = fmt_num_rec( num_dos, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;
per_rec  = per_num_rec( num_dos, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;
rec_stat = status_rec(data_res[0].stat) ;

    $("#num_rec").html(num_rec)   ;
    $("#rec_stat").html(rec_stat) ;

display_result( 1 ) ;
fill_bio_list() ;

load_data() ;

info_pat_title() ;

    if ( sessionStorage.getItem( "l_id_rec_vld" ) != "null" )
    $("#print-grp-rec").prop("disabled", false) ;
    else
    $("#print-grp-rec").prop("disabled", true) ;
} ) ;
</script>
{% endblock %}
