<!DOCTYPE html>
<html lang='{{ locale }}' {% if locale == 'ar' %}dir="rtl"{% else %}dir="ltr"{% endif %}>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ _("Contributeurs") }}</title>
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" media="screen, print" rel="stylesheet" type="text/css">
    <link href="{{ url_for('labbook_css') }}" media="screen" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="">
    <div id="page" class="container-fluid">
        <header>
            <div class="inner">
                <div id="logo">
                    <h1>
                        <a href="{{ session['server_ext'] }}/">LABBOOK</a>
                    </h1>
                </div>
            </div>
        </header><!-- close header -->
        <div id="content">
            <div class="inner">
                <div id="main row">
                    <h2 class="page-title"><span>{{ _("Contributeurs") }}</span></h2>
                    <div class="d-lg-flex justify-content-center">
                        <div class="col-lg-7 {% if locale == 'ar' %}me-auto ms-3{% else %}ms-auto me-3{% endif %}">
                        <p>{{ _("LabBook est un logiciel de gestion de laboratoire Opensource.") }}</p>
                        <p>{{ _("LabBook est co-financé par l'Agence Française de Développement (AFD) et la Fondation Mérieux.") }}</p>
                        <p>{{ _("Le projet PROALAB est basé à l'Organisation Ouest Africaine de la Santé (OOAS) et fait partie du Plan Stratégique des Laboratoires de l'OOAS. Le projet est financé par la Banque allemande de développement (KFW) et contribue à LabBook depuis 2024 pour améliorer le réseau de surveillance épidémiologique et les systèmes de laboratoire dans l'espace CEDEAO.") }}</p>
                        <p>{{ _("La société Epiconcept a développé le logiciel LabBook jusqu'en 2019.") }}<br />
                           {{ _("La société &AElig;GL&Eacute; a pris le relais à partir de 2020.") }}</p>
                        <p>© LabBook / Fondation Mérieux :<br>
                            <a href="https://www.lab-book.org" onclick="window.open('https://www.lab-book.org', 'globe'); return false;">https://www.lab-book.org</a>
                        </p>
                        <p>© Société &AElig;GL&Eacute; :<br>
                            <a href="https://www.aegle.fr" onclick="window.open('https://www.aegle.fr', 'AEGLE'); return false;">https://www.aegle.fr</a>
                        </p>
                        <p>{{ _("Le logiciel est sous licence GNU.") }}</p>
                    </div>
                    <div class="col-lg-5 {% if locale == 'ar' %}ms-auto{% else %}me-auto{% endif %}" style="text-align: center;">
                        <a href="https://www.afd.fr" onclick="window.open('https://www.afd.fr', 'afd'); return false;"><img src="{{ url_for('static', filename='img/afd.png') }}" alt="AFD"></a>
                        <br /><br />
                        <a href="https://www.fondation-merieux.org" onclick="window.open('https://www.fondation-merieux.org', 'fmx'); return false;"><img src="{{ url_for('static', filename='img/fmx.png') }}" alt="Fondation Mérieux"></a>
                        <br /><br />
                        <a href="https://www.wahooas.org/web-ooas/fr/photos-videos/launch-proalab-project" onclick="window.open('https://www.wahooas.org/web-ooas/fr/photos-videos/launch-proalab-project', 'proalab'); return false;"><img src="{{ url_for('static', filename='img/proalab.png') }}" alt="Proalab" width="150px"></a>
                        <br /><br />
                        <a href="https://www.wahooas.org/web-ooas/fr" onclick="window.open('https://www.wahooas.org/web-ooas/fr', 'ooas'); return false;"><img src="{{ url_for('static', filename='img/OOAS.png') }}" alt="OOAS" width="90px"></a>
                        <br /><br />
                        <a href="https://www.aegle.fr/" onclick="window.open('https://www.aegle.fr/', 'AEGLE'); return false;"><img src="{{ url_for('static', filename='img/aegle.png') }}" alt="AEGLE" width="180px"></a>
                    </div>
                    </div>
                </div>
            </div> 
        </div>
        <footer>
            <div class="version">{{ _('Version : ') }}{{ session['version'] }} | <a href="{{ session['server_ext'] }}/contributors/">{{ _("Contributeurs") }}</a></div>
        </footer>
    </div><!-- close page -->
</body>
</html>
