{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Historique patient") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Historique patient") }}</span></h2>
            <form>
                <div class="panel-filter row mt-3">
                    <div class="col-12">
                        <div>
                            <label class="col-3 text-end mt-2">{{ _("Code") }}</label>
                            <span class="font-info">{{ args['patient']['code'] }}</span>
                        </div>
                        <div >
                            <label class="col-3 text-end mt-2">{{ _("Code labo.") }}</label>
                            <span class="font-info">{{ args['patient']['code_patient'] }}</span>
                        </div>
                        <div >
                            <label class="col-3 text-end mt-2">{{ _("Nom") }}</label>
                            <span class="font-info">{{ args['patient']['nom'] }}</span>
                        </div>
                        <div >
                            <label class="col-3 text-end mt-2">{{ _("Prénom") }}</label>
                            <span class="font-info">{{ args['patient']['prenom'] }}</span>
                        </div>
                        <div >
                            <label class="col-3 text-end mt-2">{{ _("Date de naissance") }}</label>
                            <span class="font-info">{{ args['patient']['ddn'] }}</span>
                        </div>
                        <div >
                            <label class="col-3 text-end mt-2">{{ _("Sexe") }}</label>
                            <span class="font-info">
                                {% if args['patient']['sexe'] == 1 %}{{ _("Masculin") }}
                                {% elif args['patient']['sexe'] == 2 %}{{ _("Féminin") }}
                                {% else %}{{ _("Inconnu") }}{% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel-heading">
                <h3 class="panel-title">{{ _("Liste des analyses") }}</h3>
            </div>
            <div>
                <span>{{ _("Nombre total de lignes") }} :</span>
                <span id="list_datas_total">{% if not args %}0{% endif %}</span>
            </div>
            <div>
                <span><a class="link" id="first_data" onclick="display_data(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_data" onclick="display_data(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_t" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_data" onclick="display_data(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_data" onclick="display_data(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <form class="row justify-content-center mt-3" id="datas-list">
                <table id="table_datas" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>{{ _("serial") }}</th>
                            <th class="text-start cursor-act">{{ _("Action") }}</th>
                            <th class="text-start cursor-act">{{ _("N° dossier") }}</th>
                            <th class="text-start cursor-act">{{ _("Date prescr.") }}</th>
                            <th class="text-start cursor-act">{{ _("Analyse") }}</th>
                            <th class="text-start cursor-act">{{ _("Variable") }}</th>
                            <th class="text-start cursor-act">{{ _("Résultat") }}</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_datas">
                    </tbody>
                </table>
            </form>

            <div>
                <span><a class="link" id="first_data" onclick="display_data(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_data" onclick="display_data(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_b" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_data" onclick="display_data(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_data" onclick="display_data(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <div class="mb-5 clearfix">
                <div class="float-start" style="margin-start:0px;">
                    <input type="button" onclick="return_back();" id="btn_return" value="{{ _("Retour à la liste patients") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
            </div>

        </div><!-- close main -->
    </div><!-- close inner -->
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var data_analyzes = {{ args['analyzes']|safe }} ;
var p_step     = 20 ;
var p_cur      = 1 ;
var p_max      = Math.ceil( data_analyzes.length / p_step ) ;

function display_data( num_page )
{
let res = ''

    // Previous page
    if ( num_page == -1000 && p_cur > 1 )
    p_cur = p_cur - 1 ;
    // Next page
    else if ( num_page == 1000 && p_cur < p_max )
    p_cur = p_cur + 1 ;
    // First or Last page
    else if ( num_page > -1000 && num_page < 1000 )
    p_cur = num_page ;
    else
    return false;

    $("#tbody_datas").empty() ;

{% if not args %}
res = '<tr>' +
      '<td colspan="5">' +
      '<div>{{ _("Aucune donnée à afficher") }}</div></td></tr>' ;
{% else %}
let data_len = data_analyzes.length ;
let i_start  = (p_cur -1) * p_step ;
let i_stop   = Math.min( data_len, p_cur * p_step ) ;
let tr_class = '' ;

$("#list_datas_total").html( data_len ) ;

    for( i = i_start; i < i_stop; i++ )
    {
    let menu_act = '<nav class="">' +
                   '<ul class="navbar-nav">' +
                   '<li class="nav-item dropdown"><a class="dropdown-toggle menu-act" data-bs-toggle="dropdown"></a>' +
                   '<div class="dropdown-menu menu-act-drop nav-{{ session['user_role']|safe }}" style="padding:0;">' +
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/administrative-record/' + data_analyzes[i].type_rec + '/' + data_analyzes[i].id_rec + '">{{ _("Dossier administratif") }}</a>' ;   
        
    menu_act += '</div></ul></nav>' ;

    res += '<tr><td hidden><div>' + data_analyzes[i].id_rec + '</div></td>' +
           '<td><div>' + menu_act + '</div></td>' +
           '<td><div class="text-start"><span class="rec-num">' + data_analyzes[i].rec_num + '</span></div></td>' +
           '<td><div class="text-start">' + data_analyzes[i].date_prescr + '</div></td>' +
           '<td><div class="text-start">' + data_analyzes[i].analysis + '</div></td>' +
           '<td><div class="text-start">' + data_analyzes[i].variable + '</div></td>' +
           '<td><div class="text-start">' + data_analyzes[i].result + '</div></td></tr>' ;
    }
{% endif %}

    $("#tbody_datas").append(res) ;
    $("#num_page_t").text( p_cur ) ;
    $("#num_page_b").text( p_cur ) ;

    $("#table_datas").tablesorter() ;  // sort only data on screen
}

function return_back()
{
window.history.back() ;
}

$( document ).ready( function()
{
display_data( 1 ) ;
} ) ;
</script>
{% endblock %}
