{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Analyseur") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-color"><span>{{ _("Analyseur") }}</span></h2>
            {% if (has_permission("SETTING_49") and args['id_analyzer'] == 0) or (has_permission("SETTING_50") and args['id_analyzer'] > 0) %}
            <form autocomplete="off">
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="reference" class="form-label col-3 text-end mt-2 me-1">{{ _("Nom") }}</label>
                    <div>					
                        <input type="text" name="name" id="name" value="{{ args['analyzer']['ans_name'] }}" class="form-control form-lbk">	
                    </div>
                </div>
                
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="analyzer" class="form-label col-3 text-end mt-2 me-1">{{ _("Liste des analyseurs") }}</label>
                    <div>					
                        <select id="analyzer" name="analyzer" class="form-select">
                            {% from 'macros.html' import select_analyzer %}
                            {{ select_analyzer(ihm['analyzers'], args['analyzer']['ans_filename']) }}
                        </select>			
                    </div>
                </div>

                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="id" class="form-label col-3 text-end mt-2 me-1">{{ _("Identifiant") }}</label>
                    <div >					
                        <input type="text" name="id" id="id" value="{{ args['analyzer']['ans_id'] }}" class="form-control form-lbk">			
                    </div>
                    <button type="button" class="btn btn-lbk btn-{{ session['user_role']|safe }} ms-2" onclick="testLabBookConnect();">
                            {{ _("Tester") }}
                        </button>
                        <div id="test_result" class="ms-2 mt-2"></div>
                </div>

                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="batch" class="form-label col-3 text-end mt-2 me-1">{{ _("Batch") }}</label>
                    <div>
                        <input type="checkbox" name="batch" id="batch" class="form-check-input" 
                               {% if not args or args['analyzer']['ans_batch'] == 'Y' %}checked{% endif %}>
                    </div>
                </div>

                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="rank" class="form-label col-3 text-end mt-2 me-1">{{ _("position") }}</label>
                    <div>					
                        <input type="number" name="rank" id="rank" min="0" step="1" value="{% if args['analyzer']['ans_rank'] %}{{args['analyzer']['ans_rank']}}{% else %}0{% endif %}" class="form-control form-lbk">			
                    </div>
                </div>

            </form>
            
            <div class="my-2 clearfix">
                <div class="float-start ms-0">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                </div>
                {% if has_permission("SETTING_49") %} 
                <div class="float-end">
                    <input type="button" onclick="save_item();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }} ms-2">
                </div>
                {% endif %}
            </div>
            {% else %}
            {% include 'no-rights.html' %} 
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
function testLabBookConnect() 
{
var connect_url = "{{ args['connect']['cos_url'] }}" ;
var analyzer_id = $("#id").val() ;

    if (connect_url.trim() === "" || analyzer_id.trim() === "") 
    {
    alert("{{ _('Veuillez saisir une adresse LabBook Connect et un identifiant.') }}") ;
    return ;
    }

var test_url = connect_url + "/connect/is_analyzer_loaded/" + analyzer_id ;
    
    $("#test_result").html('<span style="color: blue;">{{ _("Test en cours") }}</span>') ;

    $.ajax( {
        url: test_url,
        type: "GET",
        dataType: "json",
        success: function(response) 
        {
            if (response.status === "OK") 
            {
                $("#test_result").html("<span style='color: green;'>{{ _('L\'analyseur est chargé.')|escape }}</span>");
            }
            else if (response.status === "ERR") 
            {
                $("#test_result").html('<span style="color: red;">{{ _("Erreur : ") }}' + response.message + '</span>');
            }
            else
            {
                $("#test_result").html('<span style="color: red;">{{ _("Réponse inattendue du serveur.") }}</span>') ;
            }
        },
        error: function(xhr) 
        {
            $("#test_result").html('<span style="color: red;">{{ _("Erreur lors de la requête :") }} ' + xhr.status + ' ' + xhr.statusText + '</span>') ;
        }
    } ) ;
}

function save_item()
{
var id_user     = {{ session['user_id']|safe}} ;
var id_item     = {{ args['id_analyzer']|safe }} ;
var name        = $("#name").val()     ;
var key         = $("#id").val()       ;
var rank        = $("#rank").val()     ;
var filename    = $("#analyzer").val() ;
var batch       = $("#batch").is(":checked") ? "Y" : "N";

var msg = "" ;

    if (name == "" || key == "" )
    msg += "{{ _("Veuillez saisir un nom, un identifiant unique et leurs adresses.") }}\n" ;

    if (filename == "")
    msg += "{{ _("Veuillez sélectionner un analyseur dans la liste.") }}" ;

    if (msg != "")
    {
    alert( msg ) ;
    return false ;
    }  

var param = JSON.stringify({
                            "id_user": id_user,
                            "name": name,
                            "key": key,
                            "rank": rank,
                            "filename": filename,
                            "batch": batch
                        });

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( {
       type: "POST",
       url: "{{ session['server_ext'] }}/services/device/analyzer/det/" + id_item,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           window.location = document.referrer ;
           },
       error: function(data)
           {
           console.log("ERROR POST item det") ;

               $("#dial-wait").modal("hide") ;

           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function cancel()
{
window.location.href = "{{ session['server_ext'] }}/list-analyzers";
}
</script>
{% endblock %}
