{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Approvisionner un produit") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}" nonce="{{ session['nonce'] }}"></script>
{% endblock %}


{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Approvisionner un produit") }}</span></h2>
            <form autocomplete="off">
                <div class="form-group row">
                    <label for="search_product" class="col-form-label col-3 text-right mr-1">{{ _("Produit") }} *</label>
                    <div>
                        {% if args['prs_ser'] == 0 %}
                        <select id="search_product" style="width:400px"></select>
                        <button type="button" onclick="new_product();" id="btn_product" class="btn btn-{{ session['user_role']|safe }}"><i class="fa fa-plus" /></i></button>
                        {% endif %}
                        <span class="ml-2">{{ args['stock_product']['prd_name'] }}</span>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="prs_nb_pack" class="col-form-label col-3 text-right mr-1">{{ _("Nombre de paquets") }} *</label>
                    <div>
                        <input id="prs_nb_pack" type="number" value="{{ args['stock_product']['prs_nb_pack'] }}" min="1" step="1" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="prs_receipt_date" class="col-form-label col-3 text-right mt-2">{{ _("Date de réception") }}</label>
                    <div>					
                        <input id="prs_receipt_date" name="prs_receipt_date" class="form-control" type="date" maxlength="10" size="10" value="{{ args['stock_product']['prs_receipt_date'] }}" style="color: #888;">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="prs_expir_date" class="col-form-label col-3 text-right mt-2">{{ _("Date d'expiration") }} *</label>
                    <div>					
                        <input id="prs_expir_date" name="prs_expir_date" class="form-control" type="date" maxlength="10" size="10" value="{{ args['stock_product']['prs_expir_date'] }}" style="color: #888;">
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="title" class="col-form-label col-3 text-right mt-2">{{ _("Localisation") }}</label>
                    <div>					
                        <input type="text" name="prs_rack" id="prs_rack" value="{{ args['stock_product']['prs_rack'] }}" class="form-control">			
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="title" class="col-form-label col-3 text-right mt-2">{{ _("Numéro de lot") }}</label>
                    <div>					
                        <input type="text" name="prs_batch_num" id="prs_batch_num" value="{{ args['stock_product']['prs_batch_num'] }}" class="form-control">			
                    </div>
                </div>

                <div class="form-group row">
                    <label for="prs_buy_price" class="col-form-label col-3 text-right mt-2">{{ _("Prix d'achat") }}</label>
                    <div class="">					
                        <input type="number" name="prs_buy_price" id="prs_buy_price" value="{{ args['stock_product']['prs_buy_price'] }}" min="0" step="0.01" class="form-control">			
                    </div>
                </div>
                
            </form>
            
            <div class="my-2 clearfix">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-right">
                    <input type="button" onclick="save_item();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-{{ session['user_role']|safe }} ml-2">
                </div>
            </div>
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">

$("#search_product").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/quality/stock/product/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_product").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_item
                    }
                })
            };
        }
    }
} ) ;

$("#search_product").on("select2:select", function (e) 
{
let id_item = $(e.currentTarget).val();
} ) ;

function save_item()
{
var id_owner     = {{ session['user_id']|safe}} ;
var id_user      = {{ session['user_id']|safe}} ;
var prs_ser      = {{ args['prs_ser']|safe }} ;
var prs_prd      = {% if args['prs_ser'] == 0 %}$("#search_product").val(){% else %}{{ args['stock_product']['prs_prd']|safe }}{% endif %} ;
var prs_nb_pack  = $("#prs_nb_pack").val()      ;
var receipt_date = $("#prs_receipt_date").val() ;
var expir_date   = $("#prs_expir_date").val()   ;
var rack         = $("#prs_rack").val()         ;
var batch_num    = $("#prs_batch_num").val()    ;
var buy_price    = $("#prs_buy_price").val()  * 100 ;

var msg = "" ;

    if (prs_prd == "" || prs_prd == null )
    msg += "{{ _("Veuillez choisir un produit à approvisionner") }}\n" ;

    if (prs_nb_pack <= 0)
    msg += "{{ _("Veuillez saisir un nombre de paquets supérieur à 0.") }}\n" ;

    if (expir_date == "")
    msg += "{{ _("Veuillez saisir une date d'expiration.") }}\n" ;

    if (msg != "")
    {
    alert( msg ) ;
    return false ;
    }

    if (buy_price == "" || buy_price == null )
    buy_price = 0 ;

var param = '{ "id_owner":' + id_owner + ', ' +
              '"prs_user":' + id_user + ', ' +
              '"prs_prd":' + prs_prd + ', ' +
              '"prs_nb_pack":' + prs_nb_pack + ', ' +
              '"prs_receipt_date":"' + receipt_date + '", ' +
              '"prs_expir_date":"' + expir_date + '", ' +
              '"prs_rack":"' + rack + '", ' +
              '"prs_batch_num":"' + batch_num + '", ' +
              '"prs_buy_price":' + buy_price + '}' ;

    $.ajax( {
       type: "POST",
       url: "/services/quality/stock/supply/det/" + prs_ser,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           window.location = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/list-stock" ;
           },
       error: function(data)
           {
           console.log("ERROR POST stock supply det") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function new_product()
{
window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/det-new-product/0";
}

function cancel()
{
window.history.back() ;
}
</script>
{% endblock %}
