{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Prescripteur") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}" nonce="{{ session['nonce'] }}"></script>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Prescripteur") }}</span></h2>
            <form autocomplete="off">
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Accès") }}</h3>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="code" class="form-label col-3 text-end mt-2 me-1">{{ _("Code") }}</label>
                    <div>					
                        <input type="text" name="code" id="code" value="{{ args['code'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="title" class="form-label col-3 text-end mt-2 me-1">{{ _("Titre") }}</label>
                    <div>					
                        <select id="title" name="title" class="form-select">
                            {% from 'macros.html' import select_civility %}
                            {{ select_civility(ihm['civility'], args['titre']) }}
                        </select>			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="lastname" class="form-label col-3 text-end mt-2 me-1">{{ _("Nom") }}</label>
                    <div>					
                        <input type="text" name="lastname" id="lastname" value="{{ args['nom'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="firstname" class="form-label col-3 text-end mt-2 me-1">{{ _("Prénom") }}</label>
                    <div class="">					
                        <input type="text" name="firstname" id="firstname" value="{{ args['prenom'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="initial" class="form-label col-3 text-end mt-2 me-1">{{ _("Initiales") }}</label>
                    <div>					
                        <input type="text" name="initial" id="initial" value="{{ args['initiale'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="facility" class="form-label col-3 text-end mt-2 me-1">{{ _("Lieu de travail") }}</label>
                    <div>					
                        <input type="text" name="facility" id="facility" value="{{ args['facility'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="service" class="form-label col-3 text-end mt-2 me-1">{{ _("Service") }}</label>
                    <div>					
                        <input type="text" name="service" id="service" value="{{ args['service'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="address" class="form-label col-3 text-end mt-2 me-1">{{ _("Adresse") }}</label>
                    <div>					
                        <textarea id="address" name="address" rows="4" cols="50" class="form-control form-lbk">{{ args['adresse'] }}</textarea>
                    </div>
                </div>

                <div class="form-group d-lg-flex align-items-start mt-3">
                    <div class="col-3"></div>
                    <select id="search_zipcity" class="form-select form-lbk form-search"></select>
                </div>
                <div class="form-group d-md-flex align-items-start mt-3">
                    <label for="zipcity" class="form-label col-3 text-end mt-2 me-1">{{ _("Code postal") }}</label>
                    <div>
                        <input id="zipcity" type="text" value="{{ args['doc_zipcity'] }}" maxlength="10" class="form-control form-lbk" style="">
                    </div>
                </div>

                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="city" class="form-label col-3 text-end mt-2 me-1">{{ _("Ville") }}</label>
                    <div>					
                        <input type="text" name="city" id="city" value="{{ args['ville'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="spe" class="form-label col-3 text-end mt-2 me-1">{{ _("Spécialité") }}</label>
                    <div>					
                        <select id="spe" name="title" class="form-select">
                            <option value="0" selected></option>  
                            {% for spe in ihm['spe_list'] %}
                            <option value="{{ spe['id_data'] }}" {% if args['specialite'] == spe['id_data'] %} selected {% endif %}>{{ spe['label'] }}</option>
                            {% endfor %}
                        </select>			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="phone" class="form-label col-3 text-end mt-2 me-1">{{ _("Téléphone fixe") }}</label>
                    <div>					
                        <input type="tel" name="phone" id="phone" value="{{ args['tel'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="mobile" class="form-label col-3 text-end mt-2 me-1">{{ _("Téléphone mobile") }}</label>
                    <div>					
                        <input type="tel" name="mobile" id="mobile" value="{{ args['mobile'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="fax" class="form-label col-3 text-end mt-2 me-1">{{ _("Fax") }}</label>
                    <div>					
                        <input type="tel" name="fax" id="fax" value="{{ args['fax'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="email" class="form-label col-3 text-end mt-2 me-1">{{ _("Adresse email") }}</label>
                    <div>					
                        <input type="email" name="email" id="email" value="{{ args['email'] }}" class="form-control form-lbk">			
                    </div>
                </div>
            </form>
            
            <div class="clearfix my-2">
                <div class="float-start ms-0">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                </div>
                {% if session['user_role'] not in ('L') %}
                <div class="float-end">
                    <input type="button" onclick="save_doctor();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }} ms-2">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
function save_doctor()
{
var id_owner  = {{ session['user_id']|safe}} ;
var id_doctor = {{ args['id_doctor']|safe }} ;
var code      = $("#code").val()      ;
var title     = $("#title").val()     ;
var lastname  = $("#lastname").val()  ;
var firstname = $("#firstname").val() ;
var initial   = $("#initial").val()   ;
var facility  = $("#facility").val();
var service   = $("#service").val()   ;
var address   = JSON.stringify( $.trim( $("#address").val() ) ) ;
var city      = $("#city").val()    ;
var zipcity   = $("#zipcity").val() ;
var spe       = $("#spe").val()     ;
var phone     = $("#phone").val()   ;
var mobile    = $("#mobile").val()  ;
var fax       = $("#fax").val()     ; 
var email     = $("#email").val()   ;

var msg = "" ;

    if (lastname == "")
    msg += "{{ _("Veuillez saisir un nom.") }}\n" ;

    if (msg != "")
    {
    alert( msg ) ;
    return false ;
    }

var param = '{ "id_owner":' + id_owner + ', ' +
              '"id_doctor":' + id_doctor + ', ' +
              '"code":"' + code + '", ' +
              '"title":' + title + ', ' +
              '"lastname":"' + lastname + '", ' +
              '"firstname":"' + firstname + '", ' +
              '"initial":"' + initial + '", ' +
              '"facility":"' + facility + '", ' +
              '"service":"' + service + '", ' +
              '"address":' + address + ', ' +   // No quotes with stringify
              '"city":"' + city + '", ' +
              '"zipcity":"' + zipcity + '", ' +
              '"spe":' + spe + ', ' +
              '"phone":"' + phone + '", ' +
              '"mobile":"' + mobile + '", ' +
              '"fax":"' + fax + '", ' +
              '"email":"' + email + '"}' ;

    $.ajax( {
       type: "POST",
       url: "{{ session['server_ext'] }}/services/doctor/det/" + id_doctor,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           window.location = "{{ session['server_ext'] }}/list-doctors" ;
           },
       error: function(data)
           {
           console.log("ERROR POST doctor det") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

$("#search_zipcity").select2(
{
    placeholder: "{{ _("Recherche de code postal ou ville") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/setting/zipcity/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_zipcity").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_item
                    }
                })
            };
        }
    }
} ) ;

$("#search_zipcity").on("select2:select", function (e) 
{
let id_item = $(e.currentTarget).val();

    // GET det zipcity
    $.ajax( 
        {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/setting/zipcity/det/" + id_item,
        success: function(data_zipcity)
            {
            $("#zipcity").val(data_zipcity.zic_zip) ;
            $("#city").val(data_zipcity.zic_city) ;
            },
        error: function(data_zipcity)
            {
            console.log("ERROR GET det zipcity");
            alert("{{ _("Erreur lors de la récupération des données") }}") ;
            }
        } ) ;
} ) ;

// fix bug between jquery 3.6.0 and select2
$(document).on('select2:open', () => 
{
document.querySelector('.select2-search__field').focus() ;
} ) ;

function cancel()
{
window.history.back() ;
}
</script>
{% endblock %}
