{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Historique d'une analyse") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Historique d'une analyse") }}</span></h2>
            <div class="panel-heading">
                <h3 class="panel-title">{{ _("Liste des dossiers pour cette analyse") }} {{ _("du") }} {{ args['date_beg'] }} {{ _("au") }} {{ args['date_end'] }}</h3>
            </div>
            <div>
                <span>{{ _("Nombre total de lignes") }} :</span>
                <span id="list_datas_total">{% if not args %}0{% endif %}</span>
            </div>
            <div>
                <span><a class="link" id="first_data" onclick="display_data(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_data" onclick="display_data(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_t" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_data" onclick="display_data(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_data" onclick="display_data(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <form class="row justify-content-center mt-3" id="datas-list">
                <table id="table_datas" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>{{ _("serial") }}</th>
                            <th class="text-left">{{ _("Action") }}</th>
                            <th class="text-left cursor-act">{{ _("N° dossier") }}</th>
                            <th class="text-left cursor-act">{{ _("Date prescr.") }}</th>
                            <th class="text-left cursor-act">{{ _("Variable") }}</th>
                            <th class="text-left cursor-act">{{ _("Résultat") }}</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_datas">
                    </tbody>
                </table>
            </form>

            <div>
                <span><a class="link" id="first_data" onclick="display_data(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_data" onclick="display_data(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_b" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_data" onclick="display_data(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_data" onclick="display_data(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <div class="mb-5 clearfix">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="return_back();" id="btn_return" value="{{ _("Retour à la liste analyses") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
            </div>

        </div><!-- close main -->
    </div><!-- close inner -->
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
var data_details = {{ args['details']|safe }} ;
var p_step     = 20 ;
var p_cur      = 1 ;
var p_max      = Math.ceil( data_details.length / p_step ) ;

function display_data( num_page )
{
let res = ''

    // Previous page
    if ( num_page == -1000 && p_cur > 1 )
    p_cur = p_cur - 1 ;
    // Next page
    else if ( num_page == 1000 && p_cur < p_max )
    p_cur = p_cur + 1 ;
    // First or Last page
    else if ( num_page > -1000 && num_page < 1000 )
    p_cur = num_page ;
    else
    return false;

    $("#tbody_datas").empty() ;

{% if not args %}
res = '<tr>' +
      '<td colspan="5">' +
      '<div>{{ _("Aucune donnée à afficher") }}</div></td></tr>' ;
{% else %}
let data_len = data_details.length ;
let i_start  = (p_cur -1) * p_step ;
let i_stop   = Math.min( data_len, p_cur * p_step ) ;
let tr_class = '' ;

$("#list_datas_total").html( data_len ) ;

    for( i = i_start; i < i_stop; i++ )
    {
    let menu_act = '<nav class="">' +
                   '<ul class="navbar-nav">' +
                   '<li class="nav-item dropdown"><a class="dropdown-toggle menu-act" data-toggle="dropdown"></a>' +
                   '<div class="dropdown-menu menu-act-drop nav-{{ session['user_role']|safe }}" style="padding:0;">' +
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/administrative-record/E/' + data_details[i].id_data + '">{{ _("Dossier administratif") }}</a>' ;   
        
    menu_act += '</div></ul></nav>' ;

    res += '<tr><td hidden><div>' + data_details[i].id_data + '</div></td>' +
           '<td><div>' + menu_act + '</div></td>' +
           '<td><div class="text-left"><span class="rec-num">' + data_details[i].rec_num + '</span></div></td>' +
           '<td><div class="text-left">' + data_details[i].date_prescr + '</div></td>' +
           '<td><div class="text-left">' + data_details[i].variable + '</div></td>' +
           '<td><div class="text-left">' + data_details[i].result + '</div></td></tr>' ;
    }
{% endif %}

    $("#tbody_datas").append(res) ;
    $("#num_page_t").text( p_cur ) ;
    $("#num_page_b").text( p_cur ) ;

    $("#table_datas").tablesorter() ;  // sort only data on screen
}

function return_back()
{
window.history.back() ;
}

$( document ).ready( function()
{
display_data( 1 ) ;
} ) ;
</script>
{% endblock %}

