{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Approvisionner un produit") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}" nonce="{{ session['nonce'] }}"></script>
{% endblock %}


{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-color"><span>{{ _("Approvisionner un produit") }}</span></h2>
            <form autocomplete="off">
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="search_product" class="form-label col-3 text-end mt-2 me-1">{{ _("Produit") }} *</label>
                    <div>
                        {% if args['prs_ser'] == 0 %}
                        <select id="search_product" class="form-select form-lbk form-search"></select>
                        <button type="button" onclick="new_product();" id="btn_product" class="btn btn-lbk btn-{{ session['user_role']|safe }}"><i class="bi bi-plus" /></i></button>
                        {% endif %}
                        <span class="ms-2">{{ args['stock_product']['prd_name'] }}</span>
                    </div>
                </div>

                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="prs_nb_pack" class="form-label col-3 text-end mt-2 me-1">{{ _("Nombre de paquets") }} *</label>
                    <div>
                        <input id="prs_nb_pack" type="number" value="{{ args['stock_product']['prs_nb_pack'] }}" min="1" step="1" class="form-control form-lbk">
                    </div>
                </div>

                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="prs_receipt_date" class="form-label col-3 text-end mt-2 me-1">{{ _("Date de réception") }}</label>
                    <div>					
                        <input id="prs_receipt_date" name="prs_receipt_date" class="form-control form-lbk" type="date" maxlength="10" size="10" value="{{ args['stock_product']['prs_receipt_date'] }}" style="color: #888;">
                    </div>
                </div>

                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label id="label_prs_expir_date" for="prs_expir_date" class="form-label col-3 text-end mt-2 me-1">{{ _("Date d'expiration") }} <span id="label_expir_oblig">{% if args['stock_product']['prd_expir_oblig'] == 'Y' %}*{% endif %}</span></label>
                    <div>					
                        <input id="prs_expir_date" name="prs_expir_date" class="form-control form-lbk" type="date" maxlength="10" size="10" value="{{ args['stock_product']['prs_expir_date'] }}" style="color: #888;">
                    </div>
                </div>

                {% if 'supp_rack' in session and session['supp_rack'] == 'Y' %}
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="supp_rack" class="form-label col-3 text-end mt-2 me-1">{{ _("Localisation") }}</label>
                    <div>					
                        <select name="supp_rack" id="supp_rack" class="form-select">
                            {% from 'macros.html' import select_prl_local %}
                            {{ select_prl_local(ihm['product_local'], args['stock_product']['prs_prl']) }}
                        </select>
                    </div>
                </div>
                {% endif %}

                {% if 'supp_batch_num' in session and session['supp_batch_num'] == 'Y' %}
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="supp_batch_num" class="form-label col-3 text-end mt-2 me-1">{{ _("Numéro de lot") }}</label>
                    <div>					
                        <input type="text" name="supp_batch_num" id="supp_batch_num" value="{{ args['stock_product']['prs_batch_num'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                {% endif %}

                {% if 'supp_buy_price' in session and session['supp_buy_price'] == 'Y' %}
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="supp_buy_price" class="form-label col-3 text-end mt-2 me-1">{{ _("Prix d'achat") }}</label>
                    <div class="">					
                        <input type="number" name="supp_buy_price" id="supp_buy_price" value="{{ args['stock_product']['prs_buy_price'] }}" min="0" step="0.01" class="form-control form-lbk">			
                    </div>
                </div>
                {% endif %}

                {% if 'supp_lessor' in session and session['supp_lessor'] == 'Y' %}
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="supp_lessor" class="form-label col-3 text-end mt-2 me-1">{{ _("Nom du bailleur") }}</label>
                    <div>					
                        <input type="text" name="supp_lessor" id="supp_lessor" value="{{ args['stock_product']['prs_lessor'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                {% endif %}
                
            </form>
            
            <div class="my-2 clearfix">
                <div class="float-start ms-0">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-end">
                    <input type="button" onclick="save_item();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }} ms-2">
                </div>
            </div>
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var expir_oblig = "{{ args['stock_product']['prd_expir_oblig'] or Y }}" ;

$("#search_product").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/quality/stock/product/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_product").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_item
                    }
                })
            };
        }
    }
} ) ;

$("#search_product").on("select2:select", function (e) 
{
let id_item = $(e.currentTarget).val() ;
 
    // GET det product for
    $.ajax( {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/quality/stock/product/det/" +  id_item,
        success: function(data_prod)
            {
            expir_oblig = data_prod.prd_expir_oblig ;

                if (expir_oblig == 'Y')
                $("#label_expir_oblig").text("*") ;
            },
        error: function(data_prod)
            {
            console.log("ERROR GET det product");
            alert("{{ _("Erreur lors de la récupération des données") }}") ;
            }
    } ) ;
} ) ;

// fix bug between jquery 3.6.0 and select2
$(document).on('select2:open', () => 
{
document.querySelector('.select2-search__field').focus() ;
} ) ;

function save_item()
{
var id_owner     = {{ session['user_id']|safe}} ;
var id_user      = {{ session['user_id']|safe}} ;
var prs_ser      = {{ args['prs_ser']|safe }} ;
var prs_prd      = {% if args['prs_ser'] == 0 %}$("#search_product").val(){% else %}{{ args['stock_product']['prs_prd']|safe }}{% endif %} ;
var prs_nb_pack  = $("#prs_nb_pack").val()      ;
var receipt_date = $("#prs_receipt_date").val() ;
var expir_date   = $("#prs_expir_date").val()   ;
{% if 'supp_rack' in session and session['supp_rack'] == 'Y' %}
var rack         = $("#supp_rack").val() ;
{% else %}
var rack         = 0 ;
{% endif %}
{% if 'supp_batch_num' in session and session['supp_batch_num'] == 'Y' %}
var batch_num    = $("#supp_batch_num").val()    
{% else %}
var batch_num    = "" ;
{% endif %}
{% if 'supp_buy_price' in session and session['supp_buy_price'] == 'Y' %}
var buy_price    = $("#supp_buy_price").val()    
{% else %}
var buy_price    = 0 ;
{% endif %}
{% if 'supp_lessor' in session and session['supp_lessor'] == 'Y' %}
var lessor       = $("#supp_lessor").val()    
{% else %}
var lessor       = "" ;
{% endif %}

var msg = "" ;

    if (prs_prd == "" || prs_prd == null )
    msg += "{{ _("Veuillez choisir un produit à approvisionner") }}\n" ;

    if (prs_nb_pack <= 0)
    msg += "{{ _("Veuillez saisir un nombre de paquets supérieur à 0.") }}\n" ;

    if (expir_date == "" && expir_oblig == 'Y')
    msg += "{{ _("Veuillez saisir une date d'expiration.") }}\n" ;

    if (msg != "")
    {
    alert( msg ) ;
    return false ;
    }

    if (buy_price == "" || buy_price == null )
    buy_price = 0 ;

var param = '{ "id_owner":' + id_owner + ', ' +
              '"prs_user":' + id_user + ', ' +
              '"prs_prd":' + prs_prd + ', ' +
              '"prs_nb_pack":' + prs_nb_pack + ', ' +
              '"prs_receipt_date":"' + receipt_date + '", ' +
              '"prs_expir_date":"' + expir_date + '", ' +
              '"prs_prl":' + rack + ', ' +
              '"prs_batch_num":"' + batch_num + '", ' +
              '"prs_buy_price":' + buy_price + ', ' +
              '"prs_lessor":"' + lessor + '" }' ;

    // console.log("DEBUG-TRACE param=" + JSON.stringify(param)) ;

    $.ajax( {
       type: "POST",
       url: "{{ session['server_ext'] }}/services/quality/stock/supply/det/" + prs_ser,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
               if ('referrer' in document) 
               {
               window.location = document.referrer ;
               }
               else
               {
               window.location = "{{ session['server_ext'] }}/list-stock" ;
               }
           },
       error: function(data)
           {
           console.log("ERROR POST stock supply det") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function new_product()
{
window.location.href = "{{ session['server_ext'] }}/det-new-product/0";
}

function cancel()
{
window.history.back() ;
}
</script>
{% endblock %}
