{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Détails patient") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}" nonce="{{ session['nonce'] }}"></script>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}">
                <span>{{ _("Demande d'analyses patient - Fiche patient") }}</span>
            </h2>
            <form autocomplete="off">
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Identité") }}</h3>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label class="form-label text-end mx-3">{{ _("Anonyme") }}</label>
                            <label class="form-label text-end me-3">
                                <input type="radio" name="anonyme" value="4" {% if args['anonyme'] == 4 %} checked="checked" {% endif %}>&nbsp;{{ _("Oui") }}</input>
                            </label>
                            <label class="form-label text-end me-3">
                                <input type="radio" name="anonyme" value="5" {% if not args['anonyme'] or args['anonyme'] == 5 %} checked="checked" {% endif %}>&nbsp;{{ _("Non") }}</input>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="code_patient" class="form-label col-5 text-end mt-2 me-1" style="">{{ _("Code patient interne au laboratoire") }}</label>
                            <div>
                                <input id="code_patient" type="text" value="{{ args['code_patient'] }}" maxlength="20" class="form-control form-lbk">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <div class="pat-num" id="anon-code-ro">
                                <span id="code">{{ args['code'] }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group d-lg-flex align-items-start mt-3 identity-group">
                            <label for="nom" class="form-label col-4 text-end mt-2 me-1">{{ _("Nom") }}</label>
                            <div>
                                <input id="nom" type="text" value="{{ args['nom'] }}" maxlength="40" class="form-control form-lbk" style="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="ddn" class="form-label text-end mt-2 me-1">{{ _("Date de naissance") }}</label>
                            <div>
                                <input id="ddn" class="form-control form-lbk" type="date" maxlength="10" size="10" value="{{ args['ddn'] }}" placeholder="" style="color: #888;">
                                <input id="date_current" type="hidden" maxlength="10" size="10" value="" name="date_current" >
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group d-lg-flex align-items-start mt-3 identity-group">
                            <label for="midname" class="form-label col-4 text-end mt-2 me-1">{{ _("Deuxième nom") }}</label>
                            <div>
                                <input id="midname" type="text" value="{{ args['pat_midname'] }}" maxlength="40" class="form-control form-lbk" style="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label class="form-label text-end me-3">{{ _("Date de naissance approximative") }}</label>
                            <label class="form-label text-end me-3">
                                <input type="radio" name="ddn_approx" value="4" {% if args['ddn_approx'] == 4 %} checked="checked" {% endif %}>&nbsp;{{ _("Oui") }}</input>
                            </label>
                            <label class="form-label text-end me-3">
                                <input type="radio" name="ddn_approx" value="5" {% if not args['ddn_approx'] or args['ddn_approx'] == 5 %} checked="checked" {% endif %}>&nbsp;{{ _("Non") }}</input>
                            </label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group d-lg-flex align-items-start mt-3 identity-group">
                            <label for="nom_jf" class="form-label col-4 text-end mt-2 me-1">{{ _("Nom de jeune fille") }}</label>
                            <div>
                                <input id="nom_jf" type="text" value="{{ args['nom_jf'] }}" maxlength="40" class="form-control form-lbk" style="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="age" class="form-label text-end mt-2 me-1">{{ _("ou") }}&nbsp;&nbsp;&nbsp;{{ _("Age") }}</label>
                            <div>
                                <input name="age" id="age" type="text" value="{% if args %}{{ args['age'] }}{% else %}0{% endif %}" maxlength="3" class="form-control form-lbk" style="width:60px;" min="0" max="150">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="unit_age" class="form-label text-end mt-2 me-1">{{ _("unité") }}</label>
                            <div>					
                                <select name="unit_age" id="unit_age" class="form-select">
                                    {% from 'macros.html' import select_unit_age %}
                                    {{ select_unit_age(ihm['unit_age'], args['unite']) }}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group d-lg-flex align-items-start mt-3 identity-group">
                            <label for="prenom" class="form-label col-4 text-end mt-2 me-1" style="">{{ _("Prénom(s)") }}</label>
                            <div>
                                <input id="prenom" type="text" value="{{ args['prenom'] }}" maxlength="80" class="form-control form-lbk" style="">
                            </div>
                        </div>
                    </div>

                    {% if 'pat_nationality' in session and session['pat_nationality'] == 'Y' %}
                    <div class="col-lg-3">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="pat_nationality" class="form-label text-end mt-2 me-1">{{ _("Nationalité") }}</label>
                            <div>					
                                <select name="pat_nationality" id="pat_nationality" class="form-select">
                                    {% from 'macros.html' import select_nationality %}
                                    {{ select_nationality(ihm['nationality'], args['pat_nation']) }}
                                </select>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if 'pat_resident' in session and session['pat_resident'] == 'Y' %}
                    <div class="col-lg-3">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label class="form-label text-end mx-3">{{ _("Résident") }}</label>
                            <label class="form-label text-end me-3">
                                <input type="radio" name="pat_resident" value="Y" {% if not args['pat_resident'] or args['pat_resident'] == 'Y' %} checked="checked" {% endif %}>&nbsp;{{ _("Oui") }}</input>
                            </label>
                            <label class="form-label text-end me-3">
                                <input type="radio" name="pat_resident" value="N" {% if args['pat_resident'] == 'N' %} checked="checked" {% endif %}>&nbsp;{{ _("Non") }}</input>
                            </label>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group d-lg-flex align-items-start mt-3 identity-group">
                            <label class="form-label col-lg-4 text-end me-3">{{ _("Sexe") }}</label>
                            <label class="form-label text-end me-3">
                                <input type="radio" name="sexe" value="1" {% if args['sexe'] == 1 %} checked="checked" {% endif %}>&nbsp;{{ _("Masculin") }}</input>
                            </label>
                            <label class="form-label text-end me-3">
                                <input type="radio" name="sexe" value="2" {% if args['sexe'] == 2 %} checked="checked" {% endif %}>&nbsp;{{ _("Féminin") }}</input>
                            </label>
                            <label class="form-label text-end me-3">
                                <input type="radio" name="sexe" id="unknown_sex" value="3" {% if not args['sexe'] or args['sexe'] == 3 %} checked="checked" {% endif %}>&nbsp;{{ _("Inconnu") }}</input>
                            </label>
                        </div>
                    </div>

                    {% if 'pat_blood_group' in session and session['pat_blood_group'] == 'Y' %}
                    <div class="col-lg-3">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="blood_group" class="form-label text-end mt-2 me-1">{{ _("Groupe sanguin") }}</label>
                            <div>					
                                <select name="pat_blood_group" id="pat_blood_group" class="form-select">
                                    {% from 'macros.html' import select_blood_group %}
                                    {{ select_blood_group(ihm['blood_group'], args['pat_blood_group']) }}
                                </select>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if 'pat_blood_rhesus' in session and session['pat_blood_rhesus'] == 'Y' %}
                    <div class="col">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="blood_rhesus" class="form-label text-end mt-2 me-1">{{ _("Rhésus") }}</label>
                            <div>					
                                <select name="pat_blood_rhesus" id="pat_blood_rhesus" class="form-select">
                                    {% from 'macros.html' import select_blood_rhesus %}
                                    {{ select_blood_rhesus(ihm['blood_rhesus'], args['pat_blood_rhesus']) }}
                                </select>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Coordonnées") }}</h3>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="adresse" class="form-label col-lg-3 text-end mt-2 me-1">{{ _("Adresse") }}</label>
                            <div>
                                <textarea id="adresse" rows="4" cols="50" class="form-control form-lbk">{{ args['adresse'] }}</textarea>
                            </div>
                        </div>
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="phone1" class="form-label col-lg-3 text-end mt-2 me-1">{{ _("Téléphone") }} 1</label>
                            <div>
                                <input id="phone1" type="text" value="{{ args['tel'] }}" maxlength="20" class="form-control form-lbk" style="">
                            </div>
                        </div>
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="phone2" class="form-label col-lg-3 text-end mt-2 me-1">{{ _("Téléphone") }} 2</label>
                            <div>
                                <input id="phone2" type="text" value="{{ args['pat_phone2'] }}" maxlength="20" class="form-control form-lbk" style="">
                            </div>
                        </div>

                        {% if 'pat_profession' in session and session['pat_profession'] == 'Y' %}
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="pat_profession" class="form-label col-lg-3 text-end mt-2 me-1">{{ _("Profession") }}</label>
                            <div>
                                <input id="pat_profession" type="text" value="{{ args['profession'] }}" maxlength="50" class="form-control form-lbk" style="">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <div class="col-3"></div>
                            <select id="search_zipcity" class="form-select form-lbk form-search"></select>
                        </div>

                        {% if 'pat_pbox' in session and session['pat_pbox'] == 'Y' %}
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="pat_pbox" class="form-label col-lg-3 text-end mt-2 me-1">{{ _("Boite postale") }}</label>
                            <div>
                                <input id="pat_pbox" type="text" value="{{ args['bp'] }}" maxlength="10" class="form-control form-lbk" style="">
                            </div>
                        </div>
                        {% endif %}

                        {% if 'pat_district' in session and session['pat_district'] == 'Y' %}
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="pat_district" class="form-label col-lg-3 text-end mt-2 me-1">{{ _("Quartier / Secteur") }}</label>
                            <div>
                                <input id="pat_district" type="text" value="{{ args['quartier'] }}" maxlength="40" class="form-control form-lbk" style="">
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="cp" class="form-label col-lg-3 text-end mt-2 me-1">{{ _("Code postal") }}</label>
                            <div>
                                <input id="cp" type="text" value="{{ args['cp'] }}" maxlength="10" class="form-control form-lbk" style="">
                            </div>
                        </div>
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="ville" class="form-label col-lg-3 text-end mt-2 me-1">{{ _("Ville / Village") }}</label>
                            <div>
                                <input id="ville" type="text" value="{{ args['ville'] }}" maxlength="40" class="form-control form-lbk" style="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix row mb-4">
                    <div class="col-lg-12">
                        <div class="float-start ms-0">
                            <input type="button" onclick="return_back();" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _("Retour") }}">
                        </div>
                        <div class="float-end me-2">
                            <input type="button" onclick="save_pat( {{ args['id_pat'] }} );" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _("Enregistrer") }}"> 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
function save_pat( id_pat ) 
{
var id_owner      = {{ session['user_id']|safe}} ;
var anonyme       = $("input:radio[name=anonyme]:checked").val() ;
var code          = $("#code").text() ;
var code_patient  = $("#code_patient").val() ;
var nom           = $("#nom").val() ;
var prenom        = $("#prenom").val() ;
var ddn           = $("#ddn").val() ;
var sexe          = $("input:radio[name=sexe]:checked").val() ;
var adresse       = JSON.stringify( $.trim( $("#adresse").val() ) ) ;
var cp            = $("#cp").val() ;
var ville         = $("#ville").val() ;
var phone1        = $("#phone1").val() ;
var phone2        = $("#phone2").val() ;
var ddn_approx    = $("input:radio[name=ddn_approx]:checked").val() ;
var age           = $("#age").val() ;
var unit_age      = $("#unit_age").val() ;
var midname       = $("#midname").val() ;
var nom_jf        = $("#nom_jf").val() ;

{% if 'pat_nationalit' in session and session['pat_nationalit'] == 'Y' %}
var nationality = $("#pat_nationality").val() ;
{% else %}
var nationality = 0 ;
{% endif %}

{% if 'pat_resident' in session and session['pat_resident'] == 'Y' %}
var resident = $("input:radio[name=pat_resident]:checked").val() ;
{% else %}
var resident = "Y" ;
{% endif %}

{% if 'pat_blood_group' in session and session['pat_blood_group'] == 'Y' %}
var blood_group = $("#pat_blood_group").val() ;
{% else %}
var blood_group = 0 ;
{% endif %}

{% if 'pat_blood_rhesus' in session and session['pat_blood_rhesus'] == 'Y' %}
var blood_rhesus = $("#pat_blood_rhesus").val() ;
{% else %}
var blood_rhesus = 0 ;
{% endif %}

{% if 'pat_profession' in session and session['pat_profession'] == 'Y' %}
var profession = $("#pat_profession").val() ;
{% else %}
var profession = "" ;
{% endif %}

{% if 'pat_district' in session and session['pat_district'] == 'Y' %}
var quartier = $("#pat_district").val() ;
{% else %}
var quartier = "" ;
{% endif %}

{% if 'pat_pbox' in session and session['pat_pbox'] == 'Y' %}
var bp = $("#pat_pbox").val() ;
{% else %}
var bp = "" ;
{% endif %}

    // date de naissance obligatoire
    if (ddn == "" && age == "")
    {
    alert("{{ _("Veuillez sélectionner une date de naissance ou saisir un age") }}") ;
    return false;
    }

phone1 = phone1.replaceAll(" ", "") ;
phone2 = phone2.replaceAll(" ", "") ;
 
var param = '{ "id_owner":' + id_owner + ', ' +
              '"anonyme":' + anonyme  + ', ' +
              '"code":"' + code + '", ' +
              '"code_patient":"' + code_patient + '", ' +
              '"nom":"' + nom + '", ' +
              '"prenom":"' + prenom + '", ' +
              '"ddn":"' + ddn + '", ' +
              '"sexe":' + sexe + ', ' +
              '"adresse":' + adresse + ', ' + // NO QUOTE DUE TO STRINGIFY PROCESS
              '"cp":"' + cp + '", ' +
              '"ville":"' + ville + '", ' +
              '"tel":"' + phone1 + '", ' +
              '"phone2":"' + phone2 + '", ' +
              '"profession":"' + profession + '", ' +
              '"nom_jf":"' + nom_jf + '", ' +
              '"quartier":"' + quartier + '", ' +
              '"bp":"' + bp + '", ' +
              '"ddn_approx":' + ddn_approx + ', ' +
              '"age":' + age + ', ' +
              '"unite":' + unit_age + ', ' +
              '"midname":"' + midname + '", ' +
              '"nationality":' + nationality + ', ' +
              '"resident":"' + resident + '", ' +
              '"blood_group":' + blood_group + ', ' +
              '"blood_rhesus":' + blood_rhesus + ' }' ;

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/patient/det/" + id_pat,
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(data)
        {
            $("#dial-wait").modal("hide") ;

        id_pat = data.id_pat ;

        {% if type_req == 'E' %}
        window.location.href = "{{ session['server_ext'] }}/det-req-ext/Y/" + id_pat ;
        {% else %}
        window.location.href = "{{ session['server_ext'] }}/det-req-int/Y/" + id_pat ;
        {% endif %}
        },
        error: function(data)
        {
            $("#dial-wait").modal("hide") ;

        console.log("ERROR POST patient det") ;
        alert("{{ _("Une erreur est survenue lors de la modification/ajout d'un patient") }}") ;
        }
    } ) ;
}

$("input[type=radio][name=anonyme]").change(function() 
{
    if (this.value == '4') 
    {
    // Clean and hide input nom, prenom, nom_jf, sexe
    $("#nom").val("")     ;
    $("#midname").val("") ;
    $("#nom_jf").val("")  ;
    $("#prenom").val("")  ;
    $("#unknown_sex").prop('checked', true) ;
    $(".identity-group").hide() ;
    }
    else if (this.value == '5') 
    {
    // Show input nom, prenom, nom_jf, sexe
    $(".identity-group").show() ;
    $("#unknown_sex").prop('checked', true) ;
    }
} ) ;

$("#ddn").change(function() 
{
// after date change calculate age and put unit
var start = $("#ddn").val() ;
var end   = $("#date_current").val() ;

// end - start returns difference in milliseconds 
var diff = new Date(Date.parse(end) - Date.parse(start));

var age = Math.abs(diff.getUTCFullYear() - 1970);

    if ( age >= 1 )
    {
        $("#age").val( age ) ;
        $("#unit_age").val("1037") ;
    }
    else
    {
    var days = diff/1000/60/60/24;

        if (days >= 28)
        {
        $("#age").val( (days / 30).toFixed(0) ) ;
        $("#unit_age").val("1036") ;
        }
        else
        {
        $("#age").val( (days).toFixed(0) ) ;
        $("#unit_age").val("1034") ;
        }
    }
} ) ;

$("#search_zipcity").select2(
{
    placeholder: "{{ _("Recherche de code postal ou ville") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/setting/zipcity/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_zipcity").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_item
                    }
                })
            };
        }
    }
} ) ;

$("#search_zipcity").on("select2:select", function (e) 
{
let id_item = $(e.currentTarget).val();

    // GET det zipcity
    $.ajax( 
        {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/setting/zipcity/det/" + id_item,
        success: function(data_zipcity)
            {
            $("#cp").val(data_zipcity.zic_zip) ;
            $("#ville").val(data_zipcity.zic_city) ;
            },
        error: function(data_zipcity)
            {
            console.log("ERROR GET det zipcity");
            alert("{{ _("Erreur lors de la récupération des données") }}") ;
            }
        } ) ;
} ) ;

// fix bug between jquery 3.6.0 and select2
$(document).on('select2:open', () => 
{
document.querySelector('.select2-search__field').focus() ;
} ) ;

function return_back()
{
window.history.back() ;
}

$( document ).ready( function()
{
    $("#date_current").val( "{{ now|date_now }}" ) ;

    {% if args['anonyme'] == 4 %}
    $(".identity-group").hide() ;
    {% endif %}
} ) ;
</script>
{% endblock %}
