{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Produits pathologiques") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}        
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}">
                <span>{{ _("Produits pathologiques") }}</span>
            </h2>
            <form autocomplete="off">
                <div class="form-group form-inline">
                    <span>{{ _("Dossier") }} :</span>
                    <span class="rec-num ms-1" id="rec_num"></span>
                </div>
                <fieldset class="d-lg-flex flex-lg-wrap border px-3 py-2">
                    <legend class="w-auto legend-lbk">{{ _("Identité") }}</legend>
                    <div class="col-12">
                        {% if args['patient'] and args['patient']['pat_code_lab'] %}
                        <span class="pat-num">{{ args['patient']['pat_code_lab'] }}</span>
                        {% endif %}
                        <span class="pat-num">{% if args['patient'] %}{{ args['patient']['pat_code'] }}{% endif %}</span>
                    </div>
                    <div class="col-12 mt-2">
                        {% if args['patient'] and args['patient']['pat_ano'] != 4 %}
                        <span class="font-info">{% if args['patient'] %}{{ args['patient']['pat_firstname'] }} {{ args['patient']['pat_name'] }}{% if args['patient']['pat_maiden'] %} {{ args['patient']['pat_maiden'] }}{% endif %}{% endif %}</span>
                        {% else %}
                        <span class="font-info">{{ _("Patient anonyme") }}.</span>
                        {% endif %}
                    </div>
                    <div class="col-12 mt-2">
                        <span>{{ _("Né(e) le") }}&nbsp;</span>
                        <span class="font-info">{% if args['patient'] and args['patient']['pat_birth'] %}{{ args['patient']['pat_ddn']|date_format }}{% endif %}</span>
                        <span>&nbsp;-&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{{ args['patient']['pat_age'] }}{% endif %}&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{% if args['patient']['pat_age_unit'] == 1037 %}{{ _("années") }}
                                                {% elif args['patient']['pat_age_unit'] == 1036 %}{{ _("mois") }}
                                                {% elif args['patient']['pat_age_unit'] == 1035 %}{{ _("semaines") }}
                                                {% elif args['patient']['pat_age_unit'] == 1034 %}{{ _("jours") }}{% endif %}{% endif %}</span>
                        <span>&nbsp;-&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{% if args['patient']['pat_sex'] == 1 %}{{ _("Masculin") }}
                                                {% elif args['patient']['pat_sex'] == 2 %}{{ _("Féminin") }}
                                                {% elif args['patient']['pat_sex'] == 3 %}{{ _("Inconnu") }}{% endif %}{% endif %}</span>
                    </div>
                </fieldset>
            </form>

            <form autocomplete="off">
                <fieldset class="border px-3 py-2 mt-3">
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Statut") }} *</div>
                        <div>
                            <select name="prod_stat" id="prod_stat" class="form-select ms-1">
                                <option value="0" selected="selected"></option>
                                {% for prod_stat in ihm['products_statut'] %}
                                <option value="{{ prod_stat['id_data'] }}" {% if args['product']['stat'] == prod_stat['id_data'] %} selected {% endif %}>{{ prod_stat['label'] }}</option>
                                {% endfor %}
                            </select>       
                        </div>
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Code prélèvement") }}</div>
                        <div>
                            <input type="text" name="prod_code" id="prod_code" value="{{ args['product']['code'] }}" class="form-control form-lbk">     
                        </div>
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Analyse associée") }}</div>
                        <div>
                            <input type="text" name="prod_ana" id="prod_ana" value="{{ args['product']['code_ana'] }}" class="form-control form-lbk" readonly disabled>       
                        </div>
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Produit pathologique") }} *</div>
                        <div>
                            <select name="prod_type" id="prod_type" class="form-select ms-1">
                                <option value="0" selected="selected"></option>
                                {% for prod_type in ihm['products'] %}
                                <option value="{{ prod_type['id_data'] }}" {% if args['product']['prod_type'] == prod_type['id_data'] %} selected {% endif %}>{{ prod_type['label'] }}</option>
                                {% endfor %}
                            </select>       
                        </div>
                    </div>
                    <div class="form-group form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Localisation prélèvement") }}</div>
                        <div>
                            <input type="text" name="prod_storage" id="prod_storage" value="{{ args['product']['storage'] }}" class="form-control form-lbk">     
                        </div>
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Date du prélèvement") }}</div>
                        <div>
                            <input id="prod_date" class="form-control form-lbk" type="datetime-local" value="{{ args['product']['prod_date'] }}" name="prod_date" style="color: #888;">      
                        </div>
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Préleveur") }}</div>
                        <div>
                            <input type="text" name="prod_sampler" id="prod_sampler" value="{{ args['product']['sampler'] }}" class="form-control form-lbk">     
                        </div>
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Lieu de prélèvement") }}</div>
                        <div>
                            <select name="prod_location" id="prod_location" class="form-select ms-1">
                                <option value="0" selected="selected"></option>
                                {% for prod_location in ihm['products_location'] %}
                                <option value="{{ prod_location['id_data'] }}" {% if args['product']['prod_location'] == prod_location['id_data'] %} selected {% endif %}>{{ prod_location['label'] }}</option>
                                {% endfor %}
                            </select>                                   
                        </div>
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Précision lieu") }}</div>
                        <div>
                            <input type="text" name="prod_location_accu" id="prod_location_accu" value="{{ args['product']['prod_location_accu'] }}" class="form-control form-lbk">       
                        </div>
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Date de réception") }}</div>
                        <div>
                            <input id="prod_receipt_date" class="form-control form-lbk" type="datetime-local" value="{{ args['product']['receipt_date'] }}" name="prod_receipt_date" style="color: #888;">       
                        </div>
                    </div>
                    <div class="form-group d-lg-flex align-items-start mt-3">
                        <div class="control-label col-2 text-end mt-2 me-1">{{ _("Commentaire") }}</div>
                        <div>
                            <input type="text" name="prod_comm" id="prod_comm" value="{{ args['product']['comment'] }}" class="form-control form-lbk">       
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="row mb-4 mt-3">
                <div class="col-12 clearfix">
                    <div class="float-start ms-0">
                        <input type="button" onclick="go_back();" id="btn_return" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _("Retour") }}">
                    </div>
                    <div class="float-end me-2">
                        <input type="button" onclick="save_prod();" id="save" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _("Enregistrer") }}">
                    </div>
                </div>
            </div>

      </div>
    </div>
</div><!-- close content -->
{% endblock %}        

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
function save_prod()
{
var id_owner      = {{ session['user_id']|safe}} ;
var id_rec        = {{ args['record']['id_data']|safe }} ;
var id_prod       = {{ args['id_prod']|safe }}     ;
var code          = $("#prod_code").val()          ;
var stat          = $("#prod_stat").val()          ;
var type          = $("#prod_type").val()          ;
var storage       = $("#prod_storage").val()       ;
var prod_ana      = $("#prod_ana").val()           ;
var prod_date     = $("#prod_date").val()          ;
var sampler       = $("#prod_sampler").val()       ;
var prod_location = $("#prod_location").val()      ;
var location_accu = $("#prod_location_accu").val() ;
var receipt_date  = $("#prod_receipt_date").val()  ; 
var comment       = $("#prod_comm").val()          ;

var msg = "" ;

    if (stat == 0)
    msg += "{{ _("Veuillez saisir un statut.") }}\n" ;

    if (type == 0)
    msg += "{{ _("Veuillez choisir un produit pathologique.") }}\n" ;

    if (msg != "")
    {
    alert( msg ) ;
    return false ;
    }

var param = '{ "id_owner":' + id_owner + ', ' +
              '"id_rec":' + id_rec + ', ' +
              '"stat":' + stat + ', ' +
              '"code":"' + code + '", ' +
              '"type":' + type + ', ' +
              '"storage":"' + storage + '", ' +
              '"ana":{{ args["product"]["samp_id_ana"] }}, ' +
              '"prod_date":"' + prod_date + '", ' +
              '"sampler":"' + sampler + '", ' +
              '"location":' + prod_location + ', ' +
              '"location_accu":"' + location_accu + '", ' +
              '"receipt_date":"' + receipt_date + '", ' +
              '"comment":"' + comment + '"}' ;

    $.ajax( {
       type: "POST",
       url: "{{ session['server_ext'] }}/services/product/det/" + id_prod,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           window.location = "{{ session['server_ext'] }}/list-samples" ;
           },
       error: function(data)
           {
           console.log("ERROR POST product det") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function go_back()
{
window.history.back() ;
}

$( document ).ready( function()
{
{% if session['record_period'] == 1070 %} // Month period
let rec_num = {{ args['record']['num_dos_mois'] }} ;
{% else %} // Annual period
let rec_num = {{ args['record']['num_dos_an'] }} ;
{% endif %}

rec_num = fmt_num_rec( rec_num, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;

$("#rec_num").text( rec_num ) ;
} ) ;
</script>
{% endblock %}
