{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Details demande d'analyses") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}" nonce="{{ session['nonce'] }}"></script>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}">
                <span>{{ _("Demande d'analyses patient externe") }}</span>
            </h2>
            <form autocomplete="off">
                {% if entry == 'N' %}
                <div>
                    <span>{{ _("Dossier") }} :</span>
                </div>
                <div>
                    <span class="rec-num" id="rec_num"></span>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-3 panel-heading ml-3">
                        <h3 class="panel-title">{{ _("Identité") }}</h3>
                    </div>
                    <div class="col-5 panel-heading ml-3">
                        <h3 class="panel-title">{{ _("Prescription") }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="col-12 mt-3">
                            {% if args['patient'] and args['patient']['code_patient'] %}
                            <span class="pat-num">{{ args['patient']['code_patient'] }}</span>
                            {% endif %}
                            <span class="pat-num">{% if args['patient'] %}{{ args['patient']['code'] }}{% endif %}</span>
                        </div>
                        <div class="col-12 mt-2">
                            {% if args['patient'] and args['patient']['anonyme'] != 4 %}
                            <span class="font-info">{% if args['patient'] %}{{ args['patient']['prenom'] }} {{ args['patient']['nom'] }}{% if args['patient']['nom_jf'] %} {{ args['patient']['nom_jf'] }}{% endif %}{% endif %}</span>
                            {% else %}
                            <span class="font-info">{{ _("Patient anonyme") }}.</span>
                            {% endif %}
                        </div>
                        <div class="col-12 mt-2">
                            <span>{{ _("Né(e) le") }}&nbsp;</span>
                            <span class="font-info">{% if args['patient'] and args['patient']['ddn'] %}{{ args['patient']['ddn']|date_format }}{% endif %}</span>
                            <span>&nbsp;-&nbsp;</span>
                            <span class="font-info">{% if args['patient'] %}{{ args['patient']['age'] }}{% endif %}&nbsp;</span>
                            <span class="font-info">{% if args['patient'] %}{% if args['patient']['unite'] == 1037 %}{{ _("Années") }}
                                                    {% elif args['patient']['unite'] == 1036 %}{{ _("Mois") }}
                                                    {% elif args['patient']['unite'] == 1035 %}{{ _("Semaines") }}
                                                    {% elif args['patient']['unite'] == 1034 %}{{ _("Jours") }}{% endif %}{% endif %}</span>
                            <span>&nbsp;-&nbsp;</span>
                            <span class="font-info">{% if args['patient'] %}{% if args['patient']['sexe'] == 1 %}{{ _("Masculin") }}
                                                    {% elif args['patient']['sexe'] == 2 %}{{ _("Féminin") }}
                                                    {% elif args['patient']['sexe'] == 3 %}{{ _("Inconnu") }}{% endif %}{% endif %}</span>
                        </div>
                        {% if entry == 'Y' %}
                        <div class="ml-3 mt-3">
                            <input type="button" onclick="change_pat({% if args['patient'] %}{{ args['patient']['id_data'] }}{% else %}0{% endif %});" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Modifier le dossier du patient") }}">
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-5">
                        <div class="col-12 mt-1">
                            <div class="form-group row">
                                <label for="date_record" class="col-form-label col-6 text-right">{{ _("Date de réception du dossier") }} * </label>
                                {% if entry == 'Y' %}
                                <input id="date_record" class="form-control" type="date" maxlength="10" size="10" value="" placeholder="" style="width:160px;">
                                {% else %}
                                <span class="font-info">{{ args['record']['date_dos']|date_format }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <label for="date_prescr" class="col-form-label col-6 text-right">{{ _("Date de prescription") }} * </label>
                                {% if entry == 'Y' %}
                                <input id="date_prescr" class="form-control" type="date" maxlength="10" size="10" value="" placeholder="" style="width:160px;">
                                {% else %}
                                <span class="font-info">{{ args['record']['date_prescription']|date_format }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <label for="search_doctor" class="col-form-label col-3 text-right">{{ _("Prescripteur") }}</label>
                                {% if entry == 'Y' %}
                                <div>
                                    <select id="search_doctor" style="width:320px"></select>
                                    <button type="button" onclick="new_doctor();" id="btn_supplier" class="btn btn-{{ session['user_role']|safe }}"><i class="fa fa-plus" /></i></button>
                                </div>
                                {% else %}
                                    {% if args['doctor'] %}
                                    <span class="font-info">{{ args['doctor']['nom'] }} {{ args['doctor']['prenom'] }}
                                        {% if args['doctor']['spe_doctor'] %} - {{ args['doctor']['spe_doctor'] }}{% endif %}
                                        {% if args['doctor']['facility'] %} - {{ args['doctor']['facility'] }}{% endif %}
                                    </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-3 text-right mr-3">{{ _("Colis") }}</label>
                                {% if entry == 'Y' %}
                                <label class="col-form-label text-right mr-3">
                                    <input type="radio" name="parcel" value="4" >&nbsp;{{ _("Oui") }}</input>
                                </label>
                                <label class="col-form-label text-right mr-3">
                                    <input type="radio" name="parcel" value="5" checked="checked">&nbsp;{{ _("Non") }}</input>
                                </label>
                                {% else %}
                                    {% if args['record']['colis'] == 4 %}
                                <span class="font-info">
                                    {{ args['record']['id_colis'] }} {{ args['record']['date_reception_colis']|date_format }}
                                </span>
                                    {% else %}
                                <span class="font-info">{{ _("Non") }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div id="colis-group" class="form-group row" style="display:none;">
                                <label class="col-form-label col-6 text-right" style="">{{ _("Identification du colis") }}</label>
                                <div>
                                    <input id="parcel_id" type="text" value="" maxlength="30" class="form-control" style="width: 240px;">
                                </div>
                                <label class="col-form-label col-6 text-right mt-2">{{ _("Date de réception du colis") }}</label>
                                <div>
                                    <input  id="date_parcel" class="form-control mt-2" type="date" maxlength="10" size="10" value="" placeholder="" style="color:#888;width:160px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Analyzes -->
            <div class="panel-heading row ml-1">
                <h3 class="panel-title">{{ _("Analyses et actes de prélèvement") }}</h3>
            </div>
            {% if entry == 'Y' %}
            <div class="row ml-3 mt-3">
                <div class="col-12">
                    <div class="form-group row">
                        <label class="col-form-label col-3 text-right">{{ _("Rechercher une analyse") }}</label>
                        <div>
                            <select id="search_analysis" style="width:450px"></select>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row ml-3 mt-3">
                <span class="font-info">{{ _("Analyses") }}</span>
            </div>
            <form class="row justify-content-center mt-3" autocomplete="off">
                <table id="table_analysis" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>serial</th>
                            {% if entry == 'Y' %}
                            <th class="text-left">{{ _("Action") }}</th>
                            {% endif %}
                            <th class="text-center cursor-act">{{ _("Code") }}</th>
                            <th class="text-center cursor-act">{{ _("Nom") }}</th>
                            <th class="text-center cursor-act">{{ _("Urgent") }}</th>
                            <th class="text-center cursor-act">{{ _("Demandée") }}</th>
                            <th class="text-center cursor-act">{{ _("Cote") }}</th>
                            <th class="text-center cursor-act">{{ _("Prix") }}</th>
                    </thead>
                    <tbody id="tbody_analysis"></tbody>
                </table>
            </form> 

            <div class="row ml-3 mt-3">
                <span class="font-info">{{ _("Actes de prélèvement") }}</span>
            </div>
            <form class="row justify-content-center mt-3" autocomplete="off">
                <table id="table_sample" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>serial</th>
                            {% if entry == 'Y' %}
                            <th class="text-left">{{ _("Action") }}</th>
                            {% endif %}
                            <th class="text-center cursor-act">{{ _("Code") }}</th>
                            <th class="text-center cursor-act">{{ _("Nom") }}</th>
                            <th class="text-center cursor-act">{{ _("Demandée") }}</th>
                            <th class="text-center cursor-act">{{ _("Cote") }}</th>
                            <th class="text-center cursor-act">{{ _("Prix") }}</th>
                    </thead>
                    <tbody id="tbody_sample"></tbody>
                </table>
            </form>

            <form autocomplete="off">
                <!-- Billing -->
                <div class="panel-heading row ml-1 mt-2">
                    <h3 class="panel-title">{{ _("Facturation") }}</h3>
                </div>
                <div class="row ml-3">
                    <div class="form-group form-inline col-12 mt-3">
                        <label class="col-form-label text-right mr-1">{{ _("Prix total") }}</label>
                        {% if entry == 'Y' %}
                        <input type="number" id="bill_price" name="bill_price" value="" maxlength="16" class="form-control col-3" style="width: 160px;" min="0" max="9999999999999" step=".01" readonly="">
                        {% else %}
                        <span class="font-info">{{ args['record']['prix'] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group form-inline col-5 mt-3">
                        <label class="col-form-label text-right mr-1">{{ _("Remise sur la facturation") }}</label>
                        {% if entry == 'Y' %}
                        <select id="discount" class="form-control col-6">
                            {% from 'macros.html' import select_discount_bill %}
                            {{ select_discount_bill(ihm['discount_bill']) }}
                        </select>
                        {% else %}
                        <span class="font-info">{{ args['record']['remise'] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group form-inline col-4 mt-3">
                        <label class="col-form-label text-right mr-1">{{ _("Pourcentage de la remise") }}</label>
                        {% if entry == 'Y' %}
                        <input id="per_discount" type="number" value="" maxlength="8" class="form-control" style="width: 96px;" min="0" max="99999" step=".01" onfocus="old_discount=this.value;" onchange="change_per_discount(this);">
                        {% else %}
                        <span class="font-info">{{ args['record']['remise_pourcent'] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group form-inline col-12 mt-3">
                        <label class="col-form-label text-right mr-1">{{ _("Pourcentage assurance maladie / mutuelle") }}</label>
                        {% if entry == 'Y' %}
                        <input id="per_insurance" type="number" value="" maxlength="8" class="form-control" style="width: 96px;" min="0" max="99999" step=".01" onfocus="old_insurance=this.value;" onchange="change_per_insurance(this);">
                        {% else %}
                        <span class="font-info">{{ args['record']['assu_pourcent'] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group form-inline col-12 mt-3">
                        <label class="col-form-label text-right mr-1">{{ _("Reste à payer") }}</label>
                        {% if entry == 'Y' %}
                        <input type="number" id="bill_remain" name="bill_remain" value="" maxlength="16" class="form-control" style="width: 160px;" min="0" max="9999999999999" step=".01" readonly="">
                        {% else %}
                        <span class="font-info">{{ args['record']['a_payer'] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group form-inline col-12 mt-3">
                        <label class="col-form-label text-right mr-1">{{ _("Numéro de quittance") }}</label>
                        {% if entry == 'Y' %}
                        <input type="text" id="receipt_num" name="receipt_num" value="" maxlength="20" class="form-control" style="width: 200px;" null="">
                        {% else %}
                        <span class="font-info">{{ args['record']['num_quittance'] }}</span>
                        {% endif %}
                    </div>
                </div>
            </form>

            <!-- Products -->
            <div class="panel-heading row ml-1 mt-2">
                <h3 class="panel-title">{{ _("Produits pathologiques") }}</h3>
            </div>
            {% if entry == 'Y' %}
            <div class="row ml-3 mt-3">
                <input type="button" onclick="new_prod();return false;" id="prod_new" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Ajouter un prélèvement") }}">
            </div>
            {% endif %}
            <form class="row justify-content-center mt-2" autocomplete="off">
                <table id="table_product" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>serial</th>
                            {% if entry == 'Y' %}
                            <th class="text-left">{{ _("Action") }}</th>
                            {% endif %}
                            <th class="text-center cursor-act">{{ _("Code") }} *</th>
                            <th class="text-center cursor-act">{{ _("Prod. pathol.") }} *</th>
                            <th class="text-center cursor-act">{{ _("Statut") }} *</th>
                            <th class="text-center cursor-act">{{ _("Date prél.") }}</th>
                            <th class="text-center cursor-act">{{ _("Date réception") }}</th>
                            <th class="text-center cursor-act">{{ _("Préleveur") }}</th>
                            <th class="text-center cursor-act">{{ _("Qté") }}</th>
                            <th class="text-center cursor-act">{{ _("Commentaire") }}</th>
                    </thead>
                    <tbody id="tbody_product"></tbody>
                </table>
            </form>

            <!-- comments -->
            <form autocomplete="off">
                <div class="panel-heading row ml-1 mt-2">
                    <h3 class="panel-title">{{ _("Renseignements / Informations complémentaires") }}</h3>
                </div>
                <div class="row ml-3">
                    <div class="col-7 mt-3">
                        {% if entry == 'Y' %}
                        <textarea id="comm" rows="5" cols="80" class="form-control"></textarea>
                        {% else %}
                        <span class="font-info">{{ args['record']['rc'] }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="row mb-4 mt-3">
                    <div class="col-12 clearfix">
                        <div class="float-left" style="margin-left:0px;">
                            <input type="button" onclick="return_home();" id="exit" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Quitter") }}">
                        </div>
                        <div class="float-right mr-2">
                            {% if entry == 'Y' %}
                            <input type="button" onclick="save_requests();" id="save" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Valider") }}">
                            {% else %}
                            <input type="button" onclick="valid_requests();" id="valid" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Valider") }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var struct_ana    = {"id_data":0 ,"code":"", "name":"", "emer":0, "req":4, "rate":"", "price":0} ;
var struct_samp   = {"id_data":0 ,"code":"", "name":"", "req":4, "rate":"", "price":0} ;
var struct_prod   = {"id_data":0 ,"code":"","type":0, "stat":0, "dateSamp":"", "dateReceipt":"", "sampler":"", "qty":0, "comm":""} ;
var data_analysis = {% if args['data_analysis'] %}{{ args['data_analysis']|safe }}{% else %}[]{% endif %} ;
var data_samples  = {% if args['data_samples'] %}{{ args['data_samples']|safe }}{% else %}[]{% endif %}   ;
var data_products = {% if args['data_products'] %}{{ args['data_products']|safe }}{% else %}[]{% endif %} ;
var ind_products  = 0 ;
var old_value     = 0 ;
var old_discount  = 0 ;
var old_insurance = 0 ;
var bill_price    = 0 ;
var bill_remain   = {% if entry == 'Y' %}0{% else %}{{ args['record']['a_payer'] }}{% endif %} ;
var act_price     = {{ ihm['act_price']['value'] }} ;
var opt_yorn      = {{ ihm['yorn']|safe }} ;

{% if entry == 'Y' %}
function change_pat( id_pat ) 
{
window.location.href = "{{ session['server_ext'] }}/det-patient/E/" + id_pat ;
}

$("#search_doctor").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/doctor/search" ,
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_doctor").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_doctor
                    }
                })
            };
        }
    }
} ) ;

$("#search_analysis").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/analysis/search/A",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_analysis").text(),
        data: function (params) {
            return JSON.stringify(
            {
                term: params.term
            } ) ;
        },
        processResults: function (data) {
            return {
                // data need id key if not no focus selection displayed
                results: data
            } ;
        }
    },
    templateResult: formatRepoAnalysis
} ) ;

function formatRepoAnalysis(repo)
{
    if (repo.loading)
    return repo.text ;

var code = "" ;

    if (repo.code)
    code += "[" + repo.code + "]" ;

var name = "" ;

    if (repo.name)
    name += repo.name ;

var cat = "" ;

    if (repo.label)
    cat += repo.label ;

var display = $(
    "<div class='select2-result-repository clearfix'>" +
        "<div class='select2-result-repository__meta'>" +
            "<div class='select2-result-repository__code'><b>" + code + "</b></div>" +
            "<div class='select2-result-repository__name'>" + name + "</div>" +
            "<div class='select2-result-repository__category'>" + cat + "</div>" +
        "</div>" +
    "</div>") ;

return display ;
}

$("#search_analysis").on("select2:select", function (e) 
{
let id_item    = $(e.currentTarget).val();
let data_exist = false ;

    // check if this analysis is not already used
    if ( !$.isEmptyObject(data_analysis) )
    $.map(data_analysis,function(val,key) { if( val != null && val.id_data == id_item ) { data_exist = true; } } ) ;

    if (!data_exist)
    {
        $("#search_analysis").empty() ;

        // GET det analysis
        $.ajax( {
            type: "GET",
            url: "{{ session['server_ext'] }}/services/analysis/det/" + id_item,
            success: function(data_ana)
                {
                let tmp_struct_ana = JSON.parse(JSON.stringify(struct_ana)) ; // copy structure

                tmp_struct_ana.id_data = data_ana.id_data ;
                tmp_struct_ana.code    = data_ana.code ;
                tmp_struct_ana.name    = data_ana.nom ;
                tmp_struct_ana.rate    = data_ana.cote_unite + data_ana.cote_valeur ;
                tmp_struct_ana.price   = act_price * data_ana.cote_valeur ;

                data_analysis.push(tmp_struct_ana) ;

                // load new analysis in table
                load_analysis( tmp_struct_ana, 1) ;
                refresh_bill() ;

                    // GET det sample linked to analysis
                    if ( data_ana.produit_biologique > 0 )
                    {
                    // check if this analysis is not already used
                    if (!$.isEmptyObject(data_samples) )
                    $.map(data_samples,function(val,key) { if ( val != null && val.id_data == data_ana.produit_biologique ) { data_exist = true; } } ) ;

                        if (!data_exist)
                        {
                            // GET det sample
                            $.ajax( {
                                type: "GET",
                                url: "{{ session['server_ext'] }}/services/analysis/det/" +  data_ana.produit_biologique,
                                success: function(data_samp)
                                    {
                                    let tmp_struct_samp = JSON.parse(JSON.stringify(struct_samp)) ;

                                    tmp_struct_samp.id_data = data_samp.id_data ;
                                    tmp_struct_samp.code    = data_samp.code ;
                                    tmp_struct_samp.name    = data_samp.nom ;
                                    tmp_struct_samp.rate    = data_samp.cote_unite + data_samp.cote_valeur ;
                                    tmp_struct_samp.price   = act_price * data_samp.cote_valeur ;

                                    data_samples.push(tmp_struct_samp) ;

                                    // load new sample in table
                                    load_sample( tmp_struct_samp, 1 ) ;
                                    refresh_bill() ;
                                    },
                                error: function(data_samp)
                                    {
                                    console.log("ERROR GET det sample");
                                    alert("{{ _("Erreur lors la récupération des prélèvements") }}") ;
                                    }
                            } ) ;
                        }
                    }

                    data_exist = false ;

                    // GET det product linked to analysis
                    if ( data_ana.type_prel > 0 )
                    {
                    let id_type_prod = data_ana.type_prel ;

                    // check if this analysis is not already used
                    if (!$.isEmptyObject(data_products) )
                    $.map(data_products,function(val,key) { if ( val != null && val.type == data_ana.type_prel ) { data_exist = true; } } ) ;

                        if (!data_exist)
                        {
                            // GET type product
                            $.ajax( {
                                type: "GET",
                                url: "{{ session['server_ext'] }}/services/analysis/type/product/" +  id_type_prod,
                                success: function(data_prod)
                                    {
                                    let tmp_struct_prod = JSON.parse(JSON.stringify(struct_prod)) ;

                                    tmp_struct_prod.id_data    = ind_products++ ;
                                    tmp_struct_prod.type       = data_prod.id_data ;
                                    tmp_struct_prod.stat       = 9 ;

                                    data_products.push(tmp_struct_prod) ;

                                    // load new product in table
                                    load_product( tmp_struct_prod ) ;
                                    },
                                error: function(data_prod)
                                    {
                                    console.log("ERROR GET type product");
                                    alert("{{ _("Erreur lors la récupération des produits pathologiques") }}") ;
                                    }
                            } ) ;
                        }
                    }
                },
            error: function(data_ana)
                {
                console.log("ERROR GET det analysis");
                alert("{{ _("Erreur lors de la récupération des analyses") }}") ;
                }
        } ) ;
    }
} ) ;

// fix bug between jquery 3.6.0 and select2
$(document).on('select2:open', () => 
{
document.querySelector('.select2-search__field').focus() ;
} ) ;
{% endif %}

function load_analysis( data, bill_calc )
{
let tr_analysis = '' ;

    if (data.length < 1)
    {
    tr_analysis = '' ; //'<tr class=""><td colspan="8">' +
                  //'<div>Aucune donnée à afficher</div></td></tr>' ;
    }
    else
    {
    let obj    = data ;
    let tmp_tr = '<tr style="">' ;

    {% if entry == 'Y' %}
    let btn = '<input type="button" onclick="del_analysis(' + obj.id_data + ');load_data(0);refresh_bill();" value="' + '{{ _("Supprimer") }}' + '">' ;

    tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
    tmp_tr += create_td("", btn, "text-center", "") ;
    tmp_tr += create_td("", obj.code, "text-center", "") ;
    tmp_tr += create_td("", obj.name, "", "") ;
    tmp_tr += create_td("", create_select("ana_emer_"+obj.id_data, opt_yorn, obj.emer, true), "text-center", "") ;
    tmp_tr += create_td("", create_select("ana_req_"+obj.id_data, opt_yorn, obj.req, false), "text-center", "") ;
    tmp_tr += create_td("", format_rate(obj.rate, obj.price), "text-center", "") ;
    tmp_tr += create_td("", create_input("ana_price_"+obj.id_data, "number", obj.price, 0, 999999, "change_price"), "text-center", "") ;
    {% else %}
    let urg  = obj.urgent ;
    let dem  = obj.demande ;
    let rate = obj.cote_unite + obj.cote_valeur ;

        if ( urg == 4 )
        urg = "Oui" ;
        else
        urg = "Non" ;

        if ( dem == 4 )
        dem = "Oui" ;
        else
        dem = "Non" ;

    tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
    tmp_tr += create_td("", obj.code, "text-center", "") ;
    tmp_tr += create_td("", obj.nom, "", "") ;
    tmp_tr += create_td("", urg, "text-center", "") ;
    tmp_tr += create_td("", dem, "text-center", "") ;
    tmp_tr += create_td("", format_rate(rate, obj.prix), "text-center", "") ;
    tmp_tr += create_td("", obj.prix, "text-center", "") ;
    {% endif %}

    tmp_tr += '</tr>' ;

        if (bill_calc)
        {
        bill_price  += obj.price ;
        bill_remain += obj.price ;
        }

    tr_analysis += tmp_tr ;
    }

$("#tbody_analysis").append(tr_analysis) ;
$("#table_analysis").tablesorter() ;  // sort only data on screen
}

{% if entry == 'Y' %}
function del_analysis( id_data )
{
    if ( window.confirm("{{ _("Merci de confirmer la suppression") }}") )
    {
        for( i in data_analysis )
        {
            if (data_analysis[i].id_data == id_data)
            {
            bill_price  -= data_analysis[i].price ;
            bill_remain -= data_analysis[i].price ;

            delete data_analysis[i] ;

            break ;
            }
        }
    }
    else
    return false ;
}
{% endif %}

function load_sample( data, bill_calc )
{
let tr_sample = '' ;

    if (data.length < 1)
    {
    tr_sample = '' ; //'<tr class=""><td colspan="7">' +
                  //'<div>Aucune donnée à afficher</div></td></tr>' ;
    }
    else
    {
    let obj = data ;

        if ( obj.id_data > 0 )
        {
        let tmp_tr = '<tr style="">' ;

        {% if entry == 'Y' %}
        let btn = '<input type="button" onclick="del_sample(' + obj.id_data + ');load_data(0);refresh_bill();" value="' + '{{ _("Supprimer") }}' + '">' 

        tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
        tmp_tr += create_td("", btn, "text-center", "") ;
        tmp_tr += create_td("", obj.code, "text-center", "") ;
        tmp_tr += create_td("", obj.name, "", "") ;
        tmp_tr += create_td("", create_select("samp_req_"+obj.id_data, opt_yorn, obj.req, false), "text-center", "") ;
        tmp_tr += create_td("", format_rate(obj.rate, obj.price), "text-center", "") ;
        tmp_tr += create_td("", create_input("samp_price_"+obj.id_data, "number", obj.price, 0, 999999, "change_price"), "text-center", "") ;
        {% else %}
        let dem  = obj.demande ;
        let rate = obj.cote_unite + obj.cote_valeur ;

            if ( dem == 4 )
            dem = "Oui" ;
            else
            dem = "Non" ;

        tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
        tmp_tr += create_td("", obj.code, "text-center", "") ;
        tmp_tr += create_td("", obj.nom, "", "") ;
        tmp_tr += create_td("", dem, "text-center", "") ;
        tmp_tr += create_td("", format_rate(rate, obj.prix), "text-center", "") ;
        tmp_tr += create_td("", obj.prix, "text-center", "") ;
        {% endif %}

        tmp_tr += '</tr>' ;

            if (bill_calc)
            {
            bill_price  += obj.price ;
            bill_remain += obj.price ;
            }

        tr_sample += tmp_tr ;
        }
    }

$("#tbody_sample").append(tr_sample) ;
$("#table_sample").tablesorter() ;  // sort only data on screen
}

{% if entry == 'Y' %}
function del_sample( id_data )
{
    if ( window.confirm("{{ _("Merci de confirmer la suppression") }}") )
    {
        for( i in data_samples )
        {
            if (data_samples[i].id_data == id_data)
            {
            bill_price  -= data_samples[i].price ;
            bill_remain -= data_samples[i].price ;

            delete data_samples[i] ;

            break ;
            }
        }
    }
    else
    return false ;
}
{% endif %}

function load_product( data )
{
let tr_product = '' ;

    if (data.length < 1)
    {
    tr_product = '' ; //'<tr class=""><td colspan="7">' +
                  //'<div>Aucune donnée à afficher</div></td></tr>' ;
    }
    else
    {
    let obj = data ;

        if ( obj.id_data >= 0 )
        {
        let tmp_tr = '<tr style="vertical-align:middle;">' ;

        {% if entry == 'Y' %}
        let btn = '<input type="button" onclick="del_product(' + obj.id_data + ');load_data(0);" value="' + '{{ _("Supprimer") }}' + '">' ;

        tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
        tmp_tr += create_td("", btn, "text-center", "") ; // actions
        tmp_tr += create_td("", create_input("prod_code_"+obj.code, "text", obj.code, 0, 0, ""), "text-center", "") ; // input code product
        tmp_tr += create_td("", create_select("prod_type_"+obj.id_data, {{ ihm['products']|safe }}, obj.type, true), "text-center", "") ; // select product
        tmp_tr += create_td("", create_select("prod_stat_"+obj.id_data, {{ ihm['products_statut']|safe }}, obj.stat, true), "text-center", "") ; // select statut
        tmp_tr += create_td("", create_input("prod_dateSamp_"+obj.id_data, "date", obj.dateSamp, 0, 0, ""), "text-center", "") ; // input date prel
        tmp_tr += create_td("", create_input("prod_dateReceipt_"+obj.id_data, "date", obj.dateReceipt, 0, 0, ""), "text-center", "") ; // input date recept
        tmp_tr += create_td("", create_input("prod_sampler_"+obj.id_data, "text", obj.sampler, 0, 0, ""), "text-center", "") ; // input text preleveur
        tmp_tr += create_td("", create_input("prod_qty_"+obj.id_data, "number", obj.qty, 0, 9, ""), "text-center", "") ; // input number qtte
        tmp_tr += create_td("", create_input("prod_comm_"+obj.id_data, "text", obj.comm, 0, 0, ""), "text-center", "") ; // input text comm
        {% else %}
        tmp_tr += create_td(obj.id_data, obj.id_data, "", "display:none;") ;
        tmp_tr += create_td("", obj.code, "text-center", "") ;
        tmp_tr += create_td("", obj.type_prod, "text-center", "") ;
        tmp_tr += create_td("", obj.stat_prod, "text-center", "") ;
        tmp_tr += create_td("", obj.date_prel, "text-center", "") ;
        tmp_tr += create_td("", obj.date_reception, "text-center", "") ;
        tmp_tr += create_td("", obj.preleveur, "text-center", "") ;
        tmp_tr += create_td("", obj.quantite, "text-center", "") ;
        tmp_tr += create_td("", obj.commentaire, "text-center", "") ;
        {% endif %}

        tmp_tr += '</tr>' ;

        tr_product += tmp_tr ;
        }
    }

$("#tbody_product").append(tr_product) ;
$("#table_product").tablesorter() ;  // sort only data on screen
}

{% if entry == 'Y' %}
function del_product( id_data )
{
    if ( window.confirm("{{ _("Merci de confirmer la suppression") }}") )
    {
        for( i in data_products )
        {
            if (data_products[i].id_data == id_data)
            {
            delete data_products[i] ;

            break ;
            }
        }
    }
    else
    return false ;
}
{% endif %}

function create_td(id, val, cls, style)
{
style = "font-size:14px;vertical-align:middle;padding-left:.3rem;padding-right:.3rem;" + style ; 

let tmp_td = '<td class="' + cls + '" id="' + id + '" style="' + style + '">' +
             '<div>' + val + '</div></td>' ;

return tmp_td ;
}

{% if entry == 'Y' %}
function create_select(id, l_options, val_select, opt_empty)
{
let tmp_select = '<select class="form-control" style="font-size:14px;" id="' + id + '" onChange="change_data(this)">' ;

    if (opt_empty)
    tmp_select += '<option value="0"></option>' ;

    for( i in l_options )
    {
    let selected = "" ;

        if (l_options[i].id_data == val_select)
        selected = "selected" ;

    tmp_select += '<option value="' + l_options[i].id_data + '" ' + selected + ' >' + l_options[i].label + '</option>' ;
    }

tmp_select += '</select>' ;

return tmp_select ;
}

function create_input(id, type, val, min, max, fct)
{
let other_fct = '' ;

    // example : onchange for price
    if ( fct != "" )
    other_fct += fct + '(this);" ' ;

let tmp_input = '<input class="form-control" id="' + id + '" type="' + type + '" value="' + val + '" onfocus="old_value=this.value;" onChange="change_data(this);' + other_fct + '"' ;

    if (type == "number")
    tmp_input += 'min="' + min + '" max="' + max + '" style="font-size:14px;min-width:50px;max-width:100px;text-align:right;"' ;
    else
    tmp_input += 'style="font-size:14px;min-width:50px;max-width:150px;"' ;

tmp_input += '>' ;

return tmp_input ;
}

function change_price( elem )
{
// Get new value from input
let val = $(elem).val() ;

bill_price += ( Number(val) - Number(old_value) )  ;

// Update old value
old_value = Number(val) ;

refresh_bill();
}

function change_per_discount( elem )
{
// Get new value from input
let val = $(elem).val() ;

// Update old discount
old_discount = Number(val) ;

refresh_bill();
}

function change_per_insurance( elem )
{
// Get new value from input
let val = $(elem).val() ;

// Update old insurance
old_insurance = Number(val) ;

refresh_bill();
}

function calc_remain()
{
    if ( old_discount > 0 && old_insurance > 0 )
    bill_remain = (bill_price - (bill_price * Number(old_discount) / 100)) * (100 - Number(old_insurance)) / 100 ;
    else if ( old_discount > 0 )
    bill_remain = bill_price - (bill_price * Number(old_discount) / 100) ;
    else if ( old_insurance > 0 )
    bill_remain = bill_price - (bill_price * Number(old_insurance) / 100) ;
    else
    bill_remain = bill_price ;
}

function change_data( elem )
{
// Get new value from select or input
let val = $(elem).val() ;

// Change value in data structure
let id_elem = elem.id ;
let split_id = id_elem.split("_") ;
let id_data  = split_id[split_id.length -1] ; 

    if ( split_id[0] == "ana" )
    {
        for( i in data_analysis )
        {
            if (data_analysis[i].id_data == id_data )
            {
                if ( split_id[1] == "emer" )
                data_analysis[i].emer = val ;
                else if ( split_id[1] == "req" )
                data_analysis[i].req = val ;
                else if ( split_id[1] == "price" )
                data_analysis[i].price = val ;

            break ;
            }
        }
    }
    else if ( split_id[0] == "samp" )
    {
        for( i in data_samples )
        {
            if (data_samples[i].id_data == id_data )
            {
                if ( split_id[1] == "req" )
                data_samples[i].req = val ;
                else if ( split_id[1] == "price" )
                data_samples[i].price = val ;

            break ;
            }
        }
    }
    else if ( split_id[0] == "prod" )
    {
        for( i in data_products )
        {
            if (data_products[i].id_data == id_data )
            {
                if ( split_id[1] == "code" )
                data_products[i].code = val ;
                else if ( split_id[1] == "type" )
                data_products[i].type = val ;
                else if ( split_id[1] == "stat" )
                data_products[i].stat = val ;
                else if ( split_id[1] == "dateSamp" )
                data_products[i].dateSamp = val ;
                else if ( split_id[1] == "dateReceipt" )
                data_products[i].dateReceipt = val ;
                else if ( split_id[1] == "sampler" )
                data_products[i].sampler = val ;
                else if ( split_id[1] == "qty" )
                data_products[i].qty = val ;
                else if ( split_id[1] == "comm" )
                data_products[i].comm = val ;

            break ;
            }
        }
    }
}
{% endif %}

function format_rate(rate, price)
{
return rate + '(' + price + ')' ;
}

{% if entry == 'Y' %}
function refresh_bill()
{
calc_remain() ;

$("#bill_price").val(bill_price)   ;
$("#bill_remain").val(bill_remain) ;
}

function new_prod()
{
let tmp_struct_prod = JSON.parse(JSON.stringify(struct_prod)) ;

tmp_struct_prod.id_data = ind_products++ ;

data_products.push(tmp_struct_prod) ;

load_product( tmp_struct_prod ) ;
}
{% endif %}

function load_data( bill_calc )
{
// clear table tbody
$("#tbody_analysis").empty() ;
$("#tbody_sample").empty() ;
$("#tbody_product").empty() ;

    for( i in data_analysis )
    {
    load_analysis( data_analysis[i], bill_calc ) ;
    }

    for( i in data_samples )
    {
    load_sample( data_samples[i], bill_calc ) ;
    }

    for( i in data_products )
    {
    load_product( data_products[i] ) ;
    }
}

{% if entry == 'Y' %}
$("input[type=radio][name=parcel]").change(function() 
{
    if (this.value == '4') 
    {
    $("#parcel_id").val("")   ;
    $("#parcel_date").val("") ;
    $("#colis-group").show()  ;
    }
    else if (this.value == '5') 
    {
    // hide identification and date reception
    $("#parcel_id").val("")   ;
    $("#parcel_date").val("") ;
    $("#colis-group").hide()  ;
    }
} ) ;
{% endif %}

{% if entry == 'Y' %}
function save_requests() 
{
var id_user      = {{ session['user_id']|safe}} ;
var user_role     = "{{ session['user_role']|safe }}"  ;
var id_patient    = {{ args['patient']['id_data']|safe }} ;
var type          = 183 ; // EXTERNAL
var date_record   = $("#date_record").val() ;
var id_med        = $("#search_doctor").val() ;
var date_prescr   = $("#date_prescr").val() ;
var parcel_id     = $("#parcel_id").val() ;
var date_parcel   = $("#date_parcel").val() ;
var comm          = JSON.stringify( $("#comm").val() ) ;
var parcel        = $("input[type='radio'][name='parcel']:checked").val() ;
var price         = $("#bill_price").val() ;
var discount      = $("#discount").val() ;
var per_discount  = $("#per_discount").val() ;
var per_insurance = $("#per_insurance").val() ;
var bill_remain   = $("#bill_remain").val() ;
var receipt_num   = $("#receipt_num").val() ;
var date_hosp     = "" ;
var bill_num      = "" ;
var stat          = 181 ;

    if (id_med == null || id_med == "")
    id_med = 0 ;

    if (parcel == null)
    parcel = 5 ;

    if (data_analysis.length < 1)
    {
    alert( "{{ _("Veuillez sélectionner au moins une analyse") }}" ) ;
    return false ;
    }

    if (per_discount == "")
    per_discount = 0 ;

    if (per_insurance == "")
    per_insurance = 0 ;

    // date_record required
    if (date_record == "")
    {
    alert( "{{ _("Veuillez sélectionner une date de réception du dossier") }}" ) ;
    return false ;
    }

    // date_prescr required
    if (date_prescr == "")
    {
    alert( "{{ _("Veuillez sélectionner une date de prescription") }}" ) ;
    return false ;
    }

    // type and status required
    for( i in data_products )
    {
        if (data_products[i].code == "")
        {
        alert( "{{ _("Veuillez renseigner le code de prélèvement") }}" ) ;
        return false ;
        }

        if (data_products[i].type == 0)
        {
        alert( "{{ _("Veuillez renseigner le type du produit") }}" ) ;
        return false ;
        }

        if (data_products[i].stat == 0)
        {
        alert( "{{ _("Veuillez renseigner le statut du produit") }}" ) ;
        return false ;
        }

        /* ISSUE 1 17/10/2020
        if (data_products[i].dateReceipt == "")
        {
        alert( "{{ _("Veuillez renseigner toutes les dates de réception") }}" ) ;
        return false ;
        }

        if (data_products[i].sampler == "")
        {
        alert( "{{ _("Veuillez renseigner toutes les identités des préleveurs") }}" ) ;
        return false ;
        }
        */
    }

    if ( $.isEmptyObject(data_products) )
    alert( "{{ _("Avertissement : Ce dossier n'est associé à aucun prélèvement") }}" ) ;

    // confirm if user wants validate this record
    if ( window.confirm("{{ _("Merci de confirmer la création et validation de ce dossier") }}") )
    {
    var param = '{ "id_owner":' + id_user + ', ' +
                  '"id_patient":' + id_patient  + ', ' +
                  '"type":' + type + ', ' +
                  '"date_record":"' + date_record + '", ' +
                  '"id_med":' + id_med + ', ' +
                  '"date_prescr":"' + date_prescr + '", ' +
                  '"parcel_id":"' + parcel_id + '", ' +
                  '"date_parcel":"' + date_parcel + '", ' +
                  '"comm":' + comm + ', ' + // NO QUOTE DUE TO STRINGIFY PROCESS
                  '"parcel":' + parcel + ', ' +
                  '"price":' + price + ', ' +
                  '"discount":' + discount + ', ' +
                  '"percent_discount":' + per_discount + ', ' +
                  '"percent_insurance":' + per_insurance + ', ' +
                  '"bill_remain":' + bill_remain + ', ' +
                  '"receipt_num":"' + receipt_num + '", ' +
                  '"bill_num":"' + bill_num + '", ' +
                  '"date_hosp":"' + date_hosp + '", ' +
                  '"service_int":"", ' +
                  '"bed_num":0, ' +
                  '"stat":' + stat + '}' ;

        // popup wait
        $("#dial-wait").modal("show") ;

        $("#dial-wait").off() ;

        $("#dial-wait").on('shown.bs.modal', function () 
        {
            // Send record information
            $.ajax( 
            {
                // CREATE Record
                type: "POST",
                url: "{{ session['server_ext'] }}/services/record/det/0",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: param,
                success: function(ret_rec)
                {
                var id_rec = ret_rec.id_rec ;

                var param_list_ana = '{ "list_ana":[';

                    // Add analysis
                    for( i in data_analysis )
                    {
                        if (data_analysis[i] != null)
                        {
                            if (i > 0 && param_list_ana.slice(-1) != "[" )
                            param_list_ana += ', ' ;

                        var param_ana = '{ "id_owner":' + id_user + ', ' +
                                          '"id_rec":' + id_rec  + ', ' +
                                          '"id_ana":' + data_analysis[i].id_data + ', ' +
                                          '"price":' + data_analysis[i].price + ', ' +
                                          '"paid": 5, ' +
                                          '"emer":' + data_analysis[i].emer + ', ' +
                                          '"req":' + data_analysis[i].req + '}' ;

                        param_list_ana += param_ana ;
                        }
                    }

                    // Add samples
                    for( i in data_samples )
                    {
                        if (data_samples[i] != null)
                        {
                        param_list_ana += ', ' ;

                        var param_samp = '{ "id_owner":' + id_user + ', ' +
                                           '"id_rec":' + id_rec  + ', ' +
                                           '"id_ana":' + data_samples[i].id_data + ', ' +
                                           '"price":' + data_samples[i].price + ', ' +
                                           '"paid": 5, ' +
                                           '"emer": 5, ' +
                                           '"req":' + data_samples[i].req + '}' ;

                        param_list_ana += param_samp ;
                        }
                    }

                param_list_ana += ' ] }';

                    // Send analysis information
                    $.ajax( 
                    {
                        // INSERT ANALYSIS REQUESTED
                        type: "POST",
                        url: "{{ session['server_ext'] }}/services/analysis/list/req",
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: param_list_ana,
                        success: function(ret_ana)
                        {
                        var param_list_prod = '{ "list_prod":[ ';

                            for( i in data_products )
                            {
                                if (data_products[i] != null)
                                {
                                    if (i > 0)
                                    param_list_prod += ', ' ;

                                var param_prod = '{ "id_owner":' + id_user + ', ' +
                                                   '"code":"' + data_products[i].code + '", ' +
                                                   '"date_samp":"' + data_products[i].dateSamp + '", ' +
                                                   '"type_samp":"' + data_products[i].type + '", ' +
                                                   '"qty":' + data_products[i].qty + ', ' +
                                                   '"stat":' + data_products[i].stat + ', ' +
                                                   '"id_rec":' + id_rec + ', ' +
                                                   '"sampler":"' + data_products[i].sampler + '", ' +
                                                   '"date_receipt":"' + data_products[i].dateReceipt + '", ' +
                                                   '"time_receipt":"", ' +
                                                   '"comm":"' + data_products[i].comm + '", ' +
                                                   '"locat_samp":"", ' +
                                                   '"locat_samp_more":"", ' +
                                                   '"location":""}' ;

                                param_list_prod += param_prod ;
                                }
                            }

                        param_list_prod += ' ] }';

                            // Send product information
                            $.ajax( 
                            {
                                // INSERT SAMPLES REQUESTED
                                type: "POST",
                                url: "{{ session['server_ext'] }}/services/product/list/req",
                                dataType: 'json',
                                contentType: "application/json; charset=utf-8",
                                data: param_list_prod,
                                success: function(ret_prod)
                                {
                                let param_res = '{ "id_owner":' + id_user + ', "user_role":"' + user_role + '"}' ;

                                    // create in DB list of results to enter and corresponding validation
                                    $.ajax(
                                    {
                                        type : "POST",
                                        url : "{{ session['server_ext'] }}/services/result/create/" + id_rec,
                                        dataType: 'json',
                                        contentType: "application/json; charset=utf-8",
                                        data: param_res,
                                        success : function(response)
                                        {
                                        let param_stat = '{ "stat":182 }' ; 

                                            // update record stat 181 to 182
                                            $.ajax(
                                            {
                                                type : 'POST',
                                                url : "{{ session['server_ext'] }}/services/record/stat/" + id_rec,
                                                dataType: 'json',
                                                contentType: "application/json; charset=utf-8",
                                                data: param_stat,
                                                success : function(response)
                                                {
                                                    $("#dial-wait").modal("hide") ;

                                                // Redirection to adminsitrative page
                                                window.location.href = "{{ session['server_ext'] }}/administrative-record/E/" + id_rec ;
                                                },
                                                error: function(response)
                                                {
                                                    $("#dial-wait").modal("hide") ;

                                                console.log("ERROR record stat") ;
                                                alert("{{ _("Une erreur est survenue lors du changement de statut du dossier") }}") ;
                                                }
                                            } ) ;
                                        },
                                        error: function(response)
                                        {
                                            $("#dial-wait").modal("hide") ;

                                        console.log("ERROR result create") ;
                                        alert("{{ _("Une erreur est survenue lors de la création des résultats") }}") ;
                                        }
                                    } ) ;
                                },
                                error: function(ret_prod)
                                {
                                    $("#dial-wait").modal("hide") ;

                                console.log("ERROR product list req") ;
                                alert("{{ _("Une erreur est survenue lors de l'enregistrement des prélèvements") }}") ;
                                } 
                            } ) ;
                        },
                        error: function(ret_ana)
                        {
                            $("#dial-wait").modal("hide") ;

                        console.log("ERROR analysis list req") ;
                        alert("{{ _("Une erreur est survenue lors de l'enregistrement des analyses") }}") ;
                        } 
                    } ) ;
                },
                error: function(ret_rec)
                {
                    $("#dial-wait").modal("hide") ;

                console.log("ERROR record det") ;
                alert("{{ _("Une erreur est survenue lors de l'enregistrement du dossier") }}") ;
                }
            } ) ;
        } ) ;
    }
    else
    return false;
}
{% endif %}

{% if entry == 'N' %}
function valid_requests()
{
let id_user  = {{ session['user_id']|safe}} ;
let user_role = "{{ session['user_role']|safe }}"  ;
let param_res = '{ "id_owner":' + id_user + ', "user_role":"' + user_role + '"}' ;

    // popup wait
    $("#dial-wait").modal("show") ;

    $("#dial-wait").off() ;

    $("#dial-wait").on('shown.bs.modal', function () 
    {
        // create in DB list of results to enter and corresponding validation
        $.ajax(
        {
            type : 'POST',
            url : "{{ session['server_ext'] }}/services/result/create/" + {{ args['record']['id_data'] }},
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param_res,
            success : function(response)
            {
            let param_stat = '{ "stat":182 }' ; 

                // update record stat 181 to 182
                $.ajax(
                {
                    type : 'POST',
                    url : "{{ session['server_ext'] }}/services/record/stat/" + {{ args['record']['id_data'] }},
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: param_stat,
                    success : function(response)
                    {
                        $("#dial-wait").modal("hide") ;

                    window.location.href = "{{ session['server_ext'] }}/administrative-record/E/" + {{ args['record']['id_data'] }} ;
                    },
                    error: function(response)
                    {
                        $("#dial-wait").modal("hide") ;

                    console.log("ERROR record stat") ;
                    alert("{{ _("Une erreur est survenue lors du changement de statut du dossier") }}") ;
                    }
                } ) ;
            },
            error: function(response)
            {
                $("#dial-wait").modal("hide") ;

            console.log("ERROR result create") ;
            alert("{{ _("Une erreur est survenue lors de la création des résultats") }}") ;
            }
        } ) ;
    } ) ;
}
{% endif %}

function new_doctor()
{
window.location.href = "{{ session['server_ext'] }}/det-doctor/0";
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/sigl/homepage";
}

$( document ).ready( function()
{
    {% if entry == 'Y' %}
    $("#date_record").val( "{{ now|date_now }}" ) ;
    {% else %}
        {% if session['record_period'] == 1070 %} // Month period
        let num_dos = {{ args['record']['num_dos_mois'] }} ;
        {% else %} // Annual period
        let num_dos = {{ args['record']['num_dos_an'] }} ;
        {% endif %}

        num_dos = fmt_num_rec( num_dos, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;

        $("#rec_num").text( num_dos ) ;
    {% endif %}
    load_data(1) ;
} ) ;
</script>
{% endblock %}
