{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Modèle de document") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Modèle de document") }}</span></h2>
            <form autocomplete="off">
                <div class="form-group row mt-3">
                    <label for="tpl_name" class="col-form-label col-3 text-right mt-2">{{ _("Nom du modèle") }}</label>
                    <div>					
                        <input type="text" name="tpl_name" id="tpl_name" value="{{ args['template']['tpl_name'] }}" class="form-control">			
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tpl_type" class="col-form-label col-3 text-right mt-2">{{ _("Type de modèle") }}</label>
                    <div>					
                        <select id="tpl_type" name="tpl_type" class="form-control">
                            <option value="RES" {% if args['template']['tpl_type'] == 'RES' %}selected{% endif %}>{{ _("Résultat") }}</option>  
                            <option value="STI" {% if args['template']['tpl_type'] == 'STI' %}selected{% endif %}>{{ _("Etiquette") }}</option>
                        </select>			
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-3 text-right mt-2">{{ _("Par défaut pour ce type") }}</label>
                    <label class="col-form-label text-right mt-2 mr-3">
                        <input type="radio" name="tpl_default" value="Y" {% if args['template']['tpl_default'] == 'Y' %} checked="checked" {% endif %}>&nbsp;{{ _("Oui") }}</input>
                    </label>
                    <label class="col-form-label text-right mt-2 mr-3">
                        <input type="radio" name="tpl_default" value="N" {% if not args['template']['tpl_default'] or args['template']['tpl_default'] == 'N' %} checked="checked" {% endif %}>&nbsp;{{ _("Non") }}</input>
                    </label>
                </div>
                
                <div class="form-group row">
                    <div class="offset-3  text-left upload-container">
                        <div style="display: inline-block; padding-right: 20px;" class="uploadHTML5">
                            <input id="TPL" name="file" type="file" style="margin-bottom:4px"/>
                        </div>
                        <table class=table-responsive">
                            <thead>
                                <tr><th><div>{{ _("Fichier") }}</div></th><th><div>{{ _("Action") }}</div></th></tr>
                            </thead>
                            <tbody id="tbody_file">
                                {% if args['id_tpl'] > 0 %}
                                <tr>
                                    <td class="filename"><div>{{ args['template']['tpl_file'] }}</div></td>
                                    <td class="action">
                                        <div>
                                            <a href="#" onclick="download_file('TP', '{{ args["template"]["tpl_file"] }}', 'TPL', {{ args['id_tpl']|safe }});">{{ _("Télécharger") }}</a>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            
            <div class="my-2 clearfix">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-right">
                    <input type="button" onclick="save_item();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-{{ session['user_role']|safe }} ml-2">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block add_script %}
<script>
function save_item()
{
var id_owner    = {{ session['user_id']|safe}} ;
var id_tpl      = {{ args['id_tpl']|safe }} ;
var tpl_name    = $("#tpl_name").val()      ;
var tpl_type    = $("#tpl_type").val()      ;
var tpl_default = $("input:radio[name=tpl_default]:checked").val() ;
var tpl_file    = $("#TPL")[0].files[0] ;

var msg = "" ;

    if (tpl_name == "")
    msg += "{{ _("Veuillez saisir un nom.") }}\n" ;

    if (tpl_file == "" && "{{ args['template']['tpl_file'] }}" == "")
    msg += "{{ _("Veuillez choisir un fichier.") }}\n" ;

    if (msg != "")
    {
    alert( msg ) ;
    return false ;
    }

    if ("{{ args['template']['tpl_file'] }}" != "")
    tpl_file = "{{ args['template']['tpl_file'] }}" ;
    else
    tpl_file = tpl_file.name ;

var param = '{ "id_item":' + id_tpl + ', ' +
              '"tpl_name":"' + tpl_name + '", ' +
              '"tpl_type":"' + tpl_type + '", ' +
              '"tpl_default":"' + tpl_default + '", ' +
              '"tpl_file":"' + tpl_file + '"}' ;

    $.ajax( {
       type: "POST",
       url: "/services/setting/template/det/" + id_tpl,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           let ref = JSON.stringify(data) ;

           {% if not args['template']['tpl_file'] %}
           upload_tpl(ref);
           {% endif %}

           window.location = "{{ session['server_ext'] }}/list-template" ;
           },
       error: function(data)
           {
           console.log("ERROR POST item det") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function upload_tpl()
{
let param_form = new FormData() ;

param_form.append('file', $('input[type=file]')[0].files[0]) ;

    $.ajax(
    {
        type : 'POST',
        url : "{{ session['server_ext'] }}/upload-tpl",
        dataType: 'json',
        contentType: false,
        processData: false,
        data: param_form,
        success : function(response)
        {
        tempAlert("{{ _("Dépôt réussi") }}", "btn_save") ;
        console.log("success upload epidemio") ;
        location.reload() ;
        },
        error: function(response)
        {
        console.log("ERROR upload logo") ;
        alert("{{ _("Une erreur est survenue lors du dépot du fichier") }}") ;
        }
    } ) ;
    
}

function cancel()
{
window.history.back() ;
}
</script>
{% endblock %}
