{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Personnel") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-color"><span>{{ _("Personnel") }}</span></h2>
            <form autocomplete="off">
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="lastname" class="form-label col-3 text-end mt-2 me-1">{{ _("Nom") }}</label>
                    <div>					
                        <input type="text" name="lastname" id="lastname" value="{{ args['user_det']['lastname'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3 mt-3">
                    <label for="firstname" class="form-label col-3 text-end mt-2 me-1">{{ _("Prénom") }}</label>
                    <div class="">					
                        <input type="text" name="firstname" id="firstname" value="{{ args['user_det']['firstname'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="email" class="form-label col-3 text-end mt-2 me-1">{{ _("Adresse email") }}</label>
                    <div>					
                        <input type="email" name="email" id="email" value="{{ args['user_det']['email'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="title" class="form-label col-3 text-end mt-2 me-1">{{ _("Titre") }}</label>
                    <div>					
                        <select id="title" name="title" class="form-select">
                            {% from 'macros.html' import select_civility %}
                            {{ select_civility(ihm['civility'], args['user_det']['title']) }}
                        </select>			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="initial" class="form-label col-3 text-end mt-2 me-1">{{ _("Initiales") }}</label>
                    <div>					
                        <input type="text" name="initial" id="initial" value="{{ args['user_det']['initial'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="birth" class="form-label col-3 text-end mt-2 me-1">{{ _("Date de naissance") }}</label>
                    <div>					
                        <input id="birth" class="form-control form-lbk" type="date" maxlength="10" size="10" value="{{ args['user_det']['birth'] }}" name="birth" style="color: #888;">
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="address" class="form-label col-3 text-end mt-2 me-1">{{ _("Adresse") }}</label>
                    <div>					
                        <textarea id="address" name="address" rows="4" cols="50" class="form-control form-lbk">{{ args['user_det']['address'] }}</textarea>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="phone" class="form-label col-3 text-end mt-2 me-1">{{ _("Numéro de téléphone") }}</label>
                    <div>					
                        <input type="text" name="phone" id="phone" value="{{ args['user_det']['phone'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                 <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="arrived" class="form-label col-3 text-end mt-2 me-1">{{ _("Date d'arrivée au laboratoire") }}</label>
                    <div>					
                        <input id="arrived" class="form-control form-lbk" type="date" maxlength="10" size="10" value="{{ args['user_det']['arrived'] }}" name="arrived" style="color: #888;">
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="position" class="form-label col-3 text-end mt-2 me-1">{{ _("Position actuelle dans le laboratoire") }}</label>
                    <div>					
                        <input type="text" name="position" id="position" value="{{ args['user_det']['position'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="cv" class="form-label col-3 text-end mt-2 me-1">{{ _("CV") }}</label>
                    <div>					
                        <textarea id="cv" name="cv" rows="4" cols="50" class="form-control form-lbk">{{ args['user_det']['cv'] }}</textarea>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <div class="offset-3 text-start upload-container">
                        <div>
                            <div>
                                <div class="uploadHTML5 d-inline-block pe-3">
                                    <input id="USCV" name="file" type="file" class="mb-1"/>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                        <table class=table-responsive">
                            <thead>
                                <tr><th><div>{{ _("Fichier") }}</div></th><th><div>{{ _("Action") }}</div></th></tr>
                            </thead>
                            <tbody id="tbody_file_USCV"></tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="diploma" class="form-label col-3 text-end mt-2 me-1">{{ _("Diplômes") }}</label>
                    <div>					
                        <textarea id="diploma" name="diploma" rows="4" cols="50" class="form-control form-lbk">{{ args['user_det']['diploma'] }}</textarea>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <div class="offset-3 text-start upload-container">
                        <div>
                            <div>
                                <div class="uploadHTML5 d-inline-block pe-3">
                                    <input id="USDI" name="file" type="file" class="mb-1"/>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                        <table class=table-responsive">
                            <thead>
                                <tr><th><div>{{ _("Fichier") }}</div></th><th><div>{{ _("Action") }}</div></th></tr>
                            </thead>
                            <tbody id="tbody_file_USDI"></tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="training" class="form-label col-3 text-end mt-2 me-1">{{ _("Formations continues") }}</label>
                    <div>					
                        <textarea id="training" name="training" rows="4" cols="50" class="form-control form-lbk">{{ args['user_det']['training'] }}</textarea>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <div class="offset-3 text-start upload-container">
                        <div>
                            <div>
                                <div class="uploadHTML5 d-inline-block pe-3">
                                    <input id="USTR" name="file" type="file" class="mb-1"/>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                        <table class=table-responsive">
                            <thead>
                                <tr><th><div>{{ _("Fichier") }}</div></th><th><div>{{ _("Action") }}</div></th></tr>
                            </thead>
                            <tbody id="tbody_file_USTR"></tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="section" class="form-label col-3 text-end mt-2 me-1">{{ _("Section de travail") }}</label>
                    <div>					
                        <select id="section" name="section" class="form-select">
                            {% from 'macros.html' import select_section %}
                            {{ select_section(ihm['sections'], args['user_det']['section']) }}
                        </select>			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="last_eval" class="form-label col-3 text-end mt-2 me-1">{{ _("Dernière évaluation des compétences") }}</label>
                    <div>					
                        <input id="last_eval" class="form-control form-lbk" type="date" maxlength="10" size="10" value="{{ args['user_det']['last_eval'] }}" name="last_eval" style="color: #888;">
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <div class="offset-3 text-start upload-container">
                        <div>
                            <div>
                                <div class="uploadHTML5 d-inline-block pe-3">
                                    <input id="USEV" name="file" type="file" class="mb-1"/>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                        <table class=table-responsive">
                            <thead>
                                <tr><th><div>{{ _("Fichier") }}</div></th><th><div>{{ _("Action") }}</div></th></tr>
                            </thead>
                            <tbody id="tbody_file_USEV"></tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="SIGN" class="form-label col-3 text-end mt-2 me-1">{{ _("Signature") }} (png)</label>
                    <div class="text-start upload-container">
                        <div>
                            <div>
                                <div class="uploadHTML5 d-inline-block pe-3">
                                    <input id="SIGN" name="file" type="file" class="mb-1" accept="image/png"/>
                                </div>
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                        <table class=table-responsive">
                            <thead>
                                <tr><th><div>{{ _("Fichier") }}</div></th><th><div>{{ _("Action") }}</div></th></tr>
                            </thead>
                            <tbody id="tbody_file_SIGN"></tbody>
                        </table>
                    </div>
                </div>
                    
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="comment" class="form-label col-3 text-end mt-2 me-1">{{ _("Commentaires") }}</label>
                    <div>					
                        <textarea id="comment" name="comment" rows="4" cols="50" class="form-control form-lbk">{{ args['user_det']['comment'] }}</textarea>
                    </div>
                </div>
            </form>
            
            <div class="clearfix my-2">
                <div class="float-start ms-0">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                </div>
                {% if has_permission("STAFF_83") or args['user_id'] == session['user_id'] %}
                <div class="float-end">
                    <input type="button" onclick="save_user();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }} ms-2">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var data_USCV = {% if args['data_USCV'] %}{{ args['data_USCV']|safe }}{% else %}[]{% endif %} ;
var data_USDI = {% if args['data_USDI'] %}{{ args['data_USDI']|safe }}{% else %}[]{% endif %} ;
var data_USTR = {% if args['data_USTR'] %}{{ args['data_USTR']|safe }}{% else %}[]{% endif %} ;
var data_USEV = {% if args['data_USEV'] %}{{ args['data_USEV']|safe }}{% else %}[]{% endif %} ;
var data_SIGN = {% if args['data_SIGN'] %}{{ args['data_SIGN']|safe }}{% else %}[]{% endif %} ;

function save_user()
{
var id_owner  = {{ session['user_id']|safe}} ;
var id_user   = {{ args['user_id']|safe }} ;
var lastname  = $("#lastname").val()  ;
var firstname = $("#firstname").val() ;
var email     = $("#email").val()     ;
var title     = $("#title").val()     ;
var initial   = $("#initial").val()   ;
var birth     = $("#birth").val()     ; 
var phone     = $("#phone").val()     ;
var arrived   = $("#arrived").val()   ;
var position  = $("#position").val()  ;
var section   = $("#section").val()   ;
var last_eval = $("#last_eval").val() ;
var address   = JSON.stringify( $.trim( $("#address").val() ) )  ;
var cv        = JSON.stringify( $.trim( $("#cv").val() ) )       ;
var diploma   = JSON.stringify( $.trim( $("#diploma").val() ) )  ;
var training  = JSON.stringify( $.trim( $("#training").val() ) ) ;
var comment   = JSON.stringify( $.trim( $("#comment").val() ) )  ;
var role_type = "{{ args['user_det']['role_type'] if args['user_det']['role_type'] }}" ;
var role_pro  = {{ args['user_det']['role_pro'] if args['user_det']['role_pro'] else 0 }} ;

var param = '{ "id_owner":' + id_owner + ', ' +
              '"id_user":' + id_user + ', ' +
              '"role_type":"' + role_type + '", ' +
              '"role_pro":' + role_pro + ', ' +
              '"lastname":"' + lastname + '", ' +
              '"firstname":"' + firstname + '", ' +
              '"email":"' + email + '", ' +
              '"title":' + title + ', ' +
              '"initial":"' + initial + '", ' +
              '"birth":"' + birth + '", ' +
              '"phone":"' + phone + '", ' +
              '"arrived":"' + arrived + '", ' +
              '"position":"' + position + '", ' +
              '"section":' + section + ', ' +
              '"last_eval":"' + last_eval + '", ' +
              '"address":' + address + ', ' +   // No quotes with stringify
              '"cv":' + cv + ', ' +             // No quotes with stringify
              '"diploma":' + diploma + ', ' +   // No quotes with stringify
              '"training":' + training + ', ' + // No quotes with stringify
              '"comment":' + comment + '}' ; // No quotes with stringify

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( {
       type: "POST",
       url: "{{ session['server_ext'] }}/services/user/staff/det/" + id_user,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           upload_file("USCV", id_user)
           .then( upload_file("USDI", id_user) )
           .then( upload_file("USTR", id_user) )
           .then( upload_file("USEV", id_user) )
           .then( upload_file("SIGN", id_user) )
           .then( function()
               {
               $("#dial-wait").modal("hide") ;

               {% if ihm['return_page'] %}
               window.location = "{{ session['server_ext'] }}/{{ ihm['return_page'] }}" ;
               {% else %}
               window.location = "{{ session['server_ext'] }}/list-staff" ;
               {% endif %}
               } ) ;
           },
       error: function(data)
           {
           console.log("ERROR POST user staff det") ;

               $("#dial-wait").modal("hide") ;

           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function load_data()
{
$("#tbody_file_USCV").empty() ;
$("#tbody_file_USDI").empty() ;
$("#tbody_file_USTR").empty() ;
$("#tbody_file_USEV").empty() ;

    for( i in data_USCV )
    {
    load_file( data_USCV[i], "USCV" ) ;
    }

    for( i in data_USDI )
    {
    load_file( data_USDI[i], "USDI" ) ;
    }

    for( i in data_USTR )
    {
    load_file( data_USTR[i], "USTR" ) ;
    }

    for( i in data_USEV )
    {
    load_file( data_USEV[i], "USEV" ) ;
    }

    for( i in data_SIGN )
    {
    load_file( data_SIGN[i], "SIGN" ) ;
    }
}

function load_file( data, type_ref )
{
let tr_file = '' ;
let obj = data ;

    if ( obj.id_data > 0 )
    {
    let tmp_tr = '<tr style="">' ;
    
    tmp_tr += '<td class="filename"><div>' + obj.name + '</div></td>' ;
    tmp_tr += '<td class="action"><div><a href="#" onclick="download_file(\'JF\', \'' + obj.name + '\', \'' + type_ref + '\', ' + obj.id_data + ');">{{ _("Télécharger") }}</a>';

    {% if has_permission("STAFF_84") %}
    tmp_tr += ' - <a href="#" onclick="delete_file(\'' + type_ref + '\',' + obj.id_data + ');">{{ _("Supprimer") }}</a></div></td>' ;
    {% endif %}
    tmp_tr += '</tr>' ;

    tr_file += tmp_tr ;
    }

$("#tbody_file_" + type_ref).append(tr_file) ;
}

function upload_file(type_ref, id_ref)
{
let param_form = new FormData() ;
let input_file = $('#' + type_ref)[0] ;

    // TEST if an file is waiting
    if (input_file.files.length > 0)
    {
    console.log( "1 file to upload ") ;

    param_form.append('file', input_file.files[0]) ;

        return new Promise(function (resolve, reject)
        {
            $.ajax(
            {
                type : 'POST',
                url : "{{ session['server_ext'] }}/upload-file/" + type_ref + "/" + id_ref,
                dataType: 'json',
                contentType: false,
                processData: false,
                data: param_form,
                success : function(response)
                {
                console.log( "success upload ") ;

                resolve(response) ;
                },
                error: function(response)
                {
                console.log("ERROR upload file") ;

                    $("#dial-wait").modal("hide") ;

                alert("{{ _("Une erreur est survenue lors du dépot d'un fichier") }}") ;

                reject(response) ;
                }
            } ) ;
        } ) ;
    }
    else
    {
    console.log( "file empty upload ") ;

        return new Promise(function (resolve, reject) { resolve(true) } ) ;
    }
}

function delete_file( type_ref, id_file )
{
    if ( window.confirm("{{ _("Le fichier sera définitivement supprimé") }}") )
    {
        // popup wait
        $("#dial-wait").off('shown.bs.modal') ;
        $("#dial-wait").modal("show") ;

        $.ajax( 
        {
            type: "DELETE",
            url: "{{ session['server_ext'] }}/services/file/document/" + type_ref + "/" + id_file,
            success: function(ret)
            {
            $("#dial-wait").modal("hide") ;
            location.reload() ;
            },
            error: function(ret)
            {
            console.log("ERROR DELETE document file") ;
            $("#dial-wait").modal("hide") ;
            alert("{{ _("Erreur lors de la suppression d'un fichier") }}") ;
            }
        } ) ;
    }
    else
    return false ;
}

function cancel()
{
window.history.back() ;
}

$( document ).ready( function()
{
load_data() ;
} ) ;
</script>
{% endblock %}
