{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Historique des approvisionnements et usages pour ce produit") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Historique des approvisionnements et usages pour ce produit") }}</span></h2>

            <form autocomplete="off">
                <fieldset class="row border mx-1 p-2">
                    <legend class="legend-lbk">{{ _("Rechercher") }}</legend>
                        <div class="col-3">
                            <div class="form-group row">
                                <label for="f_date_beg" class="col-form-label col-4 text-right">{{ _("Date du") }}</label>
                                <div>
                                    <input id="f_date_beg" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="{{ args['date_beg'] }}" placeholder="" style="color: #888;">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <label for="f_date_end" class="col-form-label col-2 text-right">{{ _("au") }}</label>
                                <div>					
                                    <input id="f_date_end" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="{{ args['date_end'] }}" placeholder="" style="color: #888;">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="float-right">
                                <button type="button" onclick="filter_data();return false;" id="btn_search" class="btn btn-{{ session['user_role']|safe }} cnx_trigger"><i class="fa fa-search pr-1" /></i><span>{{ _("Rechercher") }}</span></button>
                            </div>
                        </div>
                </fieldset>
            </form>

            <div>
                <span>{{ _("Nombre total de lignes") }} :</span>
                <span id="list_items_total">{% if not args %}0{% endif %}</span>
            </div>
            <div>
                <span><a class="link" id="first_item" onclick="display_item(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_item" onclick="display_item(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_t" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_item" onclick="display_item(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_item" onclick="display_item(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <form class="row justify-content-center mt-3" id="items-list">
                <table id="table_items" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>{{ _("serial") }}</th>
                            <th class="text-center">{{ _("Action") }}</th>
                            <th class="text-center">{{ _("E/S") }}</th>
                            <th class="text-left cursor-act">{{ _("Nb de paq.") }}</th>
                            <th class="text-left cursor-act">{{ _("Date recept.") }}</th>
                            <th class="text-left cursor-act">{{ _("Date expir.") }}</th>
                            <th class="text-left cursor-act">{{ _("Localisation") }}</th>
                            <th class="text-left cursor-act">{{ _("N° lot") }}</th>
                            <th class="text-right cursor-act">{{ _("Prix d'achat") }}</th>
                            <th class="text-left cursor-act">{{ _("Utilisateur") }}</th>
                            <th class="text-left cursor-act">{{ _("Date action") }}</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_items">
                    </tbody>
                </table>
            </form>

            <div>
                <span><a class="link" id="first_item" onclick="display_item(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_item" onclick="display_item(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_b" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_item" onclick="display_item(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_item" onclick="display_item(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <div class="clearfix mb-5">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="return_back();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
            </div>

        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var id_use_item = 0 ;
var data_items  = {{ args['hist_stock_product']|safe }} ;
var p_step      = 20 ;
var p_cur       = 1 ;
var p_max       = Math.ceil( data_items.length / p_step ) ;

function filter_data()
{
let date_beg = $("#f_date_beg").val() ;
let date_end = $("#f_date_end").val() ;

let param = '{ "date_beg":"' + date_beg  + '", ' +
            '"date_end":"' + date_end  + '"}' ;

    // popup wait
    $("#dial-wait").modal("show") ;

    $("#dial-wait").off() ;

    $("#dial-wait").on('shown.bs.modal', function () 
    {
        $.ajax( {
            type: "POST",
            url: "{{ session['server_ext'] }}/services/quality/stock/product/history/{{ args['prd_ser']|safe }}" ,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param,
            success: function(data)
                {
                data_items = data ;

                display_item(1) ;

                $("#dial-wait").modal("hide") ;
                },
            error: function(data)
                {
                    $("#dial-wait").modal("hide") ;

                console.log("ERROR stock product history") ;
                alert("{{ _("Une erreur est survenue lors de la récupération des données") }}") ;
                }
        } ) ;
    } ) ;
}

function display_item( num_page )
{
let res = ''

    // Previous page
    if ( num_page == -1000 && p_cur > 1 )
    p_cur = p_cur - 1 ;
    // Next page
    else if ( num_page == 1000 && p_cur < p_max )
    p_cur = p_cur + 1 ;
    // First or Last page
    else if ( num_page > -1000 && num_page < 1000 )
    p_cur = num_page ;
    else
    return false;

    $("#tbody_items").empty() ;

{% if not args %}
res = '<tr>' +
      '<td colspan="10">' +
      '<div>{{ _("Aucune donnée à afficher") }}</div></td></tr>' ;
{% else %}
let data_len = data_items.length ;
let i_start  = (p_cur -1) * p_step ;
let i_stop   = Math.min( data_len, p_cur * p_step ) ;
let tr_class = '' ;

$("#list_items_total").html( data_len ) ;

    for( i = i_start; i < i_stop; i++ )
    {
    let serial      = data_items[i].prs_ser ;
    let stock_move  = '<span class="text-success"><i class="fa fa-sign-in" aria-hidden="true"></i></span>' ;
    let nb_pack     = data_items[i].prs_nb_pack ;
    let type_move   = 'I' ;

        if ( data_items[i].pru_ser > 0 )
        {
        serial      = data_items[i].pru_ser ;
        stock_move  = '<span class="text-danger"><i class="fa fa-sign-out" aria-hidden="true"></i></span>' ;
        nb_pack     = data_items[i].pru_nb_pack ;
        type_move   = 'O' ;
        }

    let menu_act = '<nav>' +
                   '<ul class="navbar-nav">' +
                   '<li class="nav-item dropdown"><a class="dropdown-toggle menu-act" data-toggle="dropdown"></a>' +
                   '<div class="dropdown-menu menu-act-drop nav-{{ session['user_role']|safe }}" style="padding:0;">' +
                   {% if session['user_role'] == 'B' or session['user_role'] == 'A' or 
                         session['user_role'] == 'TA' or session['user_role'] == 'TQ' %}
                   '<a class="dropdown-item menu-act-item" onclick="cancel_stock(' + serial + ',\'' + type_move + '\');">{{ _("Annuler") }}</a>' ;
                   {% else %}
                   '' ;
                   {% endif %}
                   
    menu_act += '</div></li></ul></nav>' ;

    res += '<tr><td hidden><div>' + serial + '</div></td>' +
           '<td><div class="text-center">' + menu_act + '</div></td>' +
           '<td><div class="text-center">' + stock_move + '</div></td>' +
           '<td><div class="text-left">' + nb_pack + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].prs_receipt_date + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].prs_expir_date + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].prs_rack + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].prs_batch_num + '</div></td>' +
           '<td><div class="text-right">' + Number(data_items[i].prs_buy_price / 100 ).toFixed(2) + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].username + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].date_create + '</div></td></tr>' ;
    }
{% endif %}

    $("#tbody_items").append(res) ;
    $("#num_page_t").text( p_cur ) ;
    $("#num_page_b").text( p_cur ) ;
        
    $("#table_items").tablesorter() ;  // sort only data on screen
}

function cancel_stock( id_stock, type_move )
{
var id_user = {{ session['user_id']|safe}} ;

    if (type_move == "I")
    {
        // check if a add of stock it is not partially or totally used
        $.ajax( 
            {
            type: "GET",
            url: "{{ session['server_ext'] }}/services/quality/stock/use/" + id_stock,
            success: function(ret)
                {
                    if (ret > 0)
                    {
                    alert("{{ _("Vous ne pouvez pas annuler un stock déjà partiellement consommé") }}") ;
                    return false;
                    }
                    else
                    {
                        if ( window.confirm("{{ _("Veuillez confirmer l'annulation") }}") )
                        {
                        var param = '{ "id_stock":' + id_stock + ', ' +
                                      '"type_move":"' + type_move + '", ' +
                                      '"id_user":' + id_user + '}' ;

                            $.ajax( 
                                {
                                type: "POST",
                                url: "{{ session['server_ext'] }}/services/quality/stock/cancel/io" ,
                                dataType: 'json',
                                contentType: "application/json; charset=utf-8",
                                data: param,
                                success: function(ret)
                                    {
                                    location.reload() ;
                                    },
                                error: function(ret)
                                    {
                                    console.log("ERROR CANCEL stock move") ;
                                    alert("{{ _("Erreur lors de l'annulation de stock") }}") ;
                                    }
                                } ) ;
                        }
                        else
                        return false ;
                    }
                },
            error: function(ret)
                {
                console.log("ERROR check stock use") ;
                alert("{{ _("Erreur lors de la vérification de l'usage de ce stock") }}") ;
                }
            } ) ;
    }
    else
    {
        if ( window.confirm("{{ _("Veuillez confirmer l'annulation") }}") )
        {
        var param = '{ "id_stock":' + id_stock + ', ' +
                      '"type_move":"' + type_move + '", ' +
                      '"id_user":' + id_user + '}' ;

            $.ajax( 
                {
                type: "POST",
                url: "{{ session['server_ext'] }}/services/quality/stock/cancel/io" ,
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: param,
                success: function(ret)
                    {
                    location.reload() ;
                    },
                error: function(ret)
                    {
                    console.log("ERROR CANCEL stock move") ;
                    alert("{{ _("Erreur lors de l'annulation de stock") }}") ;
                    }
                } ) ;
        }
        else
        return false ;
    }
}

/*
function export_data()
{
let prod_name    = $("#name").val()      ;
let prod_type    = $("#prod_type").val() ;
let prod_conserv = $("#prod_conserv").val() ;

let param = '{ "prod_name":"' + prod_name + '", ' +
              '"prod_type":' + prod_type  + ', ' +
              '"prod_conserv":' + prod_conserv  + '}' ;

    // popup wait
    $("#dial-wait").modal("show") ;

    $("#dial-wait").off() ;

    $("#dial-wait").on('shown.bs.modal', function () 
    {
        $.ajax( 
        {
            type: "POST",
            url: "{{ session['server_ext'] }}/services/quality/stock/export",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param,
            success: function(ret)
            {
                $("#dial-wait").modal("hide") ;
            
            let today = new Date();

            let month = today.getMonth() + 1 ;

            if (month < 10) month = '0' + month ;

            let day = today.getDate() ;

            if (day < 10) day = '0' + day ;

            today = today.getFullYear() + '' + month + '' + day ;

            let filename = "stock_" + today + ".csv" ;

            download_file( "PY", filename, "GEN", 0 ) ;
            },
            error: function(ret)
            {
                $("#dial-wait").modal("hide") ;

                if (ret.status == 404)
                alert("{{ _("Aucun prescripteur à exporter !") }}") ;
                else
                alert("{{ _("Erreur lors de la génération du fichier") }}") ;
            }
        } ) ;
    } ) ;
}
*/

function return_back()
{
window.history.back() ;
}

$(".cnx_trigger").keyup( function(event) 
{
    if (event.which == 13)
    {
    event.preventDefault() ;
    $("#btn_search").click() ;
    }
} ) ;

$( document ).ready( function()
{
display_item( 1 ) ;
} ) ;
</script>
{% endblock %}
