{% if session and 'login_ok' in session and session['login_ok'] == session['login'] %}
{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Accueil") }}</title>
    <script src="{{ url_for('static', filename='vendor/js/Chart.min.js') }}"></script>
{% endblock %}

{% block content %}
<div id="content" class="text-center">
    <div class="inner text-center">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Accueil") }}</span></h2>

            {% if session['user_role'] == 'A' %}
            <div class="module">
                <div class="links">
                    <a href="{{ session['server_ext'] }}/setting-pref" class="list-group-item icon-module admin-preferences">{{ _("Préférences") }}</a>
                    <a href="{{ session['server_ext'] }}/setting-users" class="list-group-item icon-module admin-crea-profil">{{ _("Gestion des utilisateurs") }}</a>
                    <!--<a href="#" class="list-group-item icon-module admin-gest-role">{{ _("Gestion des rôles") }}</a>-->
                    <a href="{{ session['server_ext'] }}/setting-analyzes" class="list-group-item icon-module admin-referentiel">{{ _("Référentiel des analyses") }}</a>
                    <a href="{{ session['server_ext'] }}/setting-dicts" class="list-group-item icon-module admin-conf-cr">{{ _("Dictionnaires") }}</a>
                    <a href="{{ session['server_ext'] }}/setting-backup" class="list-group-item icon-module admin-num-doss">{{ _("Gestion des sauvegardes") }}</a>
                    <a href="{{ session['server_ext'] }}/list-analyzers" class="list-group-item icon-module admin-connect">{{ _("Configuration des analyseurs") }}</a>
                    <a href="#" id="pref_bill" onclick="change_pref('facturation');" class="list-group-item icon-module admin-gest-fact-{{ session['pref_bill'] }}">{{ _("Gestion de la Facturation") }}</a>

                    <a href="#" id="pref_quality" onclick="change_pref('qualite', {{ session['pref_quality'] }});" class="list-group-item icon-module admin-qualite-{{ session['pref_quality'] }}">{{ _("Management de la Qualité") }}</a>
                </div>
                {% if args['stat_backup'] == 'OK' %}
                <div class="text-end"><i class="fs-4 bi bi-database-check text-success me-1" title="{{ _("Dernière sauvegarde OK") }}"></i> <small>{{ args['date_backup'] }}</small></div>
                {% else %}
                <div class="text-end"><i class="fs-4 bi bi-database-x text-danger me-1" title="{{ _("Dernière sauvegarde") }}"></i> <small>{{ args['date_backup'] }}</small></div>
                {% endif %}
            </div>
            {% else %}
            <div class="module">
                <div class="links {% if args['nb_emer'] > 0 %}mw-100 mx-5{% endif %}">
                    {% if session['user_role'] in ('B','T','TA','TQ') and args['nb_emer'] > 0 %}
                        {% if session['user_role'] == 'B' %}
                    <a href="{{ session['server_ext'] }}/list-works/B/E" class="list-group-item icon-module emergency" title="{{ _("Analyses urgentes") }} : {{ args['nb_emer'] }}">{{ _("Urgences") }}</a>
                        {% else %}
                    <a href="{{ session['server_ext'] }}/list-works/T/E" class="list-group-item icon-module emergency" title="{{ _("Analyses urgentes") }} : {{ args['nb_emer'] }}">{{ _("Urgences") }}</a>
                        {% endif %}
                    {% endif %}
                    {% if session['user_role'] in ('B','T','TA','TQ','S','SA') %}
                    <a href="{{ session['server_ext'] }}/list-records" class="list-group-item icon-module {% if session['user_role'] == 'B' %}f-list-bio{% elif session['user_role'] in ('T','TA','TQ') %}f-list-tec{% else %}f-list-sec{% endif %}">{{ _("Liste des dossiers") }}</a>
                    {% endif %}
                    {% if session['user_role'] == 'B' %}
                    <a href="{{ session['server_ext'] }}/list-works/B" class="list-group-item icon-module b-list-bio">{{ _("Liste de travail biologiste") }}</a>
                    {% endif %}
                    {% if session['user_role'] in ('T','TA','TQ') %}
                    <a href="{{ session['server_ext'] }}/list-works/T" class="list-group-item icon-module t-list-tec">{{ _("Liste de travail technicien") }}</a>
                    {% endif %}
                    {% if session['user_role'] in ('B','T','TA','TQ') %}
                    <a href="{{ session['server_ext'] }}/list-samples" class="list-group-item icon-module {% if session['user_role'] == 'B' %}prel-bio{% else %}prel-tec{% endif %}">{{ _("Etat des prélèvements en cours") }}</a>
                    <a href="{{ session['server_ext'] }}/list-results" class="list-group-item icon-module {% if session['user_role'] == 'B' %}res-bio{% else %}res-tec{% endif %}">{{ _("Saisie des résultats") }}</a>
                    {% endif %}
                    {% if session['user_role'] in ('S','SA') %}
                    <a href="{{ session['server_ext'] }}/new-req-ext" class="list-group-item icon-module new-dos-ext-sec">{{ _("Nouvelle demande externe") }}</a>
                    <a href="{{ session['server_ext'] }}/new-req-int" class="list-group-item icon-module new-dos-int-sec">{{ _("Nouvelle demande hospitalisé") }}</a>
                    {% endif %}
                </div>
                {% if args['stat_backup'] == 'OK' %}
                <div class="text-end"><i class="fs-4 bi bi-database-check text-success me-1" title="{{ _("Dernière sauvegarde OK") }}"></i> <small>{{ args['date_backup'] }}</small></div>
                {% else %}
                <div class="text-end"><i class="fs-4 bi bi-database-x text-danger me-1" title="{{ _("Dernière sauvegarde") }}"></i> <small>{{ args['date_backup'] }}</small></div>
                {% endif %}
            </div>

            <div class="home-stat row">
                <div class="home-graph col-lg-6 text-lg-end">
                    <h5 id="label-chart">{{ _("Validations à effectuer") }}</h5>
                    <canvas id="chart"></canvas>
                </div>
                <div class="home-activity col-lg-6 text-start">
                    <h5 id="label-activity">{{ _("Activité du laboratoire") }}</h5>
                    <ul>
                        <li>{{ _("Dernier numéro utilisé") }} : <strong><span class="rec-num" id="num_rec"></span></strong></li>
                        <li>{{ _("Nombre de dossiers validés aujourd'hui") }} : <strong>{{ args['nb_rec_today'] }}</strong></li>
                        <li>{{ _("Nombre de dossiers enregistrés") }} : <strong>{{ args['nb_rec'] }}</strong></li>
                    </ul>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
{% if session['user_role'] not in ('A','P','K') %}
var pieData = [{value: "{{ args['nb_rec_bio'] }}", label: "{{ _("Biologique") }}", color: "#8330E2"}, {value: "{{ args['nb_rec_tech'] }}", label: "{{ _("Technique") }}", color: "#00ADEE"}] ;
{% endif %}
var val_bill    = {{ session['pref_bill'] }} ;
var val_quality = {{ session['pref_quality'] }} ;

function change_pref(pref_name)
{
let prec_val = val_bill ;    
let val      = 0 ;
let ico      = "admin-gest-fact-" ;

    if (pref_name == "qualite")
    {
    prec_val = val_quality ;
    ico      = "admin-qualite-" ;
    }

    if (prec_val == 0)
    val = 1 ;

    if (pref_name == "qualite")
    val_quality = val ;
    else
    val_bill = val ;

    $.ajax( {
       type: "POST",
       url: "{{ session['server_ext'] }}/services/default/name/" + pref_name + "/val/" + val,
       success: function(data)
           {
           console.log("SUCCESS POST change pref") ;
           $("." + ico + prec_val).addClass(ico + val) ;
           $("." + ico + val).removeClass(ico + prec_val) ;

           window.location = "{{ session['server_ext'] }}/homepage" ;
           },
       error: function(data)
           {
           console.log("ERROR POST change pref") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

$( document ).ready( function()
{
{% if session['user_role'] not in ('A','P','K') %}
let rec_num = "" ;

{% if args['record'] %}
    {% if session['record_period'] == 1070 %} // Month period
rec_num = {{ args['record']['num_dos_mois'] }} ;
    {% else %} // Annual period
rec_num = {{ args['record']['num_dos_an'] }} ;
    {% endif %}
rec_num = fmt_num_rec( rec_num, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;

    $("#num_rec").html(rec_num) ;
{% endif %}

new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData) ;
{% endif %}

    // Stock alert
    {% if session['user_role'] not in ('P','Q') %}
    if ( sessionStorage.getItem( "stock-alert" ) != "DONE" )
    {
    var data_stock = {% if args["stock"] %}{{ args["stock"]|safe }}{% else %}[]{% endif %} ;

    sessionStorage.setItem("stock-alert", "DONE") ;

        for( i = 0; i < data_stock.length; i++ )
        {
            if ( (data_stock[i].nb_total > 0 && data_stock[i].day_to_expir <= {{ session['stock_expir_warning'] }}) ||
                 (data_stock[i].nb_total <= data_stock[i].prd_safe_limit) )
            {
            alert("{{ _("Une alerte est présente dans la gestion de stock") }}") ;
            return true ;
            }
        }
    }
    {% endif %}
} ) ;
</script>
{% endblock %}
{% else %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
window.location = "{{ session['server_ext'] }}/disconnect" ;
</script>
{% endif %}
