{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Import du référentiel d'analyses") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Import du référentiel d'analyses") }}</span></h2>
            <form>
                <div class="col-12">
                    <div class="float-left" style="margin-left:0px;">
                        <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- ferme le corps -->
{% endblock %}

{% block add_script %}
<script>
function return_home()
{
window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/homepage" ;
}
</script>
{% endblock %}
