<html lang="{{ locale }}" {% if locale == 'ar' %}dir="rtl"{% else %}dir="ltr"{% endif %}>
<head>
    <title>{{ _("LabBook") }}</title>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ url_for('static', filename='vendor/css/font-awesome.min.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}" media="screen, print" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/labbook.css') }}?0" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/jquery-3.6.0.min.js') }}" nonce="{{ session['nonce'] }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/bootstrap.min.js') }}" nonce="{{ session['nonce'] }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
</head>

<body>
    <div id="page" class="container">
        <header id="page-header">
            <div class="inner">
                <div id="logo">
                    <h1>
                        <a href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/">{{ _("LabBook") }}</a>
                    </h1>
                </div>
            </div>
        </header>
        <div id="content">
            <div class="inner">
                <div>
	            LabBook n'a pas fini son initialisation, veuillez recharger cette page dans quelques secondes ou patientez jusqu'à la redirection automatique dans 10 secondes.
                </div>
            </div>
        </div>
        <footer>
            <div class="version">{{ _("Version") }} : {{ session['version'] }} | <a href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/contributors">{{ _("Contributeurs") }}</a></div>
        </footer>
    </div>
  
</body>

<script type="text/javascript" nonce="{{ session['nonce'] }}">
$( document ).ready( function()
{
setTimeout(function(){ window.location = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/"; }, 10000);
} ) ;
</script>
</html>
