{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Liste de travail") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Liste de travail") }}</span></h2>
            <form autocomplete="off">
                <!-- Search -->
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Rechercher") }}</h3>
                </div>
                <div class="panel-filter row mt-3">
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="f_date_beg" class="col-form-label col-6 text-right optional">{{ _("Date dossier supérieure à") }}</label>
                            <div>
                                <input id="f_date_beg" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="" placeholder="" style="color: #888;">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="f_date_end" class="col-form-label col-6 text-right optional">{{ _("Date dossier inférieure à") }}</label>
                            <div>					
                                <input id="f_date_end" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="" placeholder="" style="color: #888;">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="f_emer" class="col-form-label col-5 text-right optional">{{ _("Urgent uniquement") }}</label>
                            <div>
                                <input type="checkbox" id="f_emer" name="f_mer" class="mt-2" value="4" {% if ihm and ihm['emer'] == 'E' %} checked="checked"{% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="float-right">
                            <button type="button" onclick="filter_record();return false;" id="btn_search" class="btn btn-{{ session['user_role']|safe }} cnx_trigger"><i class="fa fa-search pr-1" /></i><span>{{ _("Rechercher") }}</span></button>
                        </div>
                    </div>
                </div>

                <!-- List records -->
                <div class="panel panel-1 panel-primary" style="">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ _("Liste des dossiers") }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row mt-3">
                                <div class="listing_total_info" id="listing_dos_total_info">
                                    <span class="listing_total_label" id="listing_dos_total_label">{{ _("Nombre total de lignes") }} :</span>
                                    <span class="listing_total" id="listing_dos_total">{% if not args %}0{% endif %}</span>
                                </div>
                                <div class="listing table-responsive" id="listing_dos">
                                    <div style="">
                                        <span><a class="link" id="first_rec" onclick="display_record(1);">{{ _("Premier") }}</a></span>
                                        <span><a class="link" id="prev_rec" onclick="display_record(-1000);">{{ _("Précédent") }}</a></span>
                                        <span id="num_page_t" style="font-weight:bold;">{% if not args %}0{% else %}1{% endif %}</span>
                                        <span><a class="link" id="next_rec" onclick="display_record(1000);">{{ _("Suivant") }}</a></span>
                                        <span><a class="link" id="last_rec" onclick="display_record(p_max);">{{ _("Dernier") }}</a></span>
                                    </div>
                                    <table class="table table-striped table-hover col-12 table-lbk">
                                        <colgroup><col><col><col><col><col><col><col><col><col></colgroup>
                                        <thead>
                                            <tr>
                                                <th class="text-center" hidden>
                                                    <span>id_data</span>
                                                </th>
                                                <th class="text-center">
                                                    <span>{{ _("Action") }}</span>
                                                </th>
                                                <th class="text-center">
                                                    <span>{{ _("Statut") }}</span>
                                                </th>
                                                <th class="text-center">
                                                    <span>{{ _("Urgent") }}</span>
                                                </th>
                                                <th class="text-center">
                                                    <span>{{ _("N° dossier") }}</span>
                                                </th>
                                                <th class="text-center">
                                                    <span>{{ _("Création dossier") }}</span>
                                                </th>
                                                <th class="text-center">
                                                    <span>{{ _("Code patient") }}</span>
                                                </th>
                                                <th class="text-center">
                                                    <span>{{ _("Nom") }}</span>
                                                </th>
                                                <th class="text-center">
                                                    <span>{{ _("Prénom") }}</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_records" style=""></tbody>
                                    </table>
                                    <div style="">
                                        <span><a class="link" id="first_rec" onclick="display_record(1);">{{ _('Premier') }}</a></span>
                                        <span><a class="link" id="prev_rec" onclick="display_record(-1000);">{{ _('Précédent') }}</a></span>
                                        <span id="num_page_b" style="font-weight:bold;">{% if not args %}0{% else %}1{% endif %}</span>
                                        <span><a class="link" id="next_rec" onclick="display_record(1000);">{{ _('Suivant') }}</a></span>
                                        <span><a class="link" id="last_rec" onclick="display_record(p_max);">{{ _('Dernier') }}</a></span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel-heading row mt-3">
                <h3 class="panel-title">{{ _("Validation groupée") }}</h3>
            </div>
            <div class="row my-3">
                <div class="float-left">
                    <button type="button" onclick="group_validation();return false;" id="btn_group_val" class="btn btn-{{ session['user_role']|safe }}"><span>{{ _("Commencer la validation groupée") }}</span></button>
                </div>
            </div>

            {% include 'popup_det_rec.html' %}

        </div><!-- close main -->
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
var data_records = {{ args|safe }} ;
var p_step       = 20 ;
var p_cur        = 1 ;
var p_max        = Math.ceil( data_records.length / p_step ) ;

function filter_record()
{
let date_beg = $("#f_date_beg").val() ;
let date_end = $("#f_date_end").val() ;
let emer     = 5 ;

    if ( $("#f_emer").is(":checked") )
    emer = $("#f_emer").val() ;

let param = '{ "num_rec": "", ' +
            '"stat_work": "{{ ihm["stat_work"] }}", ' +
            '"stat_rec": 0, ' +
            '"patient": "", ' +
            '"date_beg":"' + date_beg  + '", ' +
            '"date_end":"' + date_end  + '", ' +
            '"emer":' + emer + '}' ;

    // popup wait
    $( "#dial-wait" ).modal( "show" ) ;

    $.ajax( {
        type: "POST",
        url: "/services/record/list/" + {{ session['user_id_group']|safe}},
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(data)
            {
            data_records = data ;

            p_max = Math.ceil( data.length / p_step ) ;

            display_record( 1 ) ;

            setTimeout(function()
                {
                $('#dial-wait').modal("hide") ;
                }, 1000) ;
            },
        error: function(data)
            {
            setTimeout(function()
                {
                $('#dial-wait').modal("hide") ;
                }, 1000) ;

            console.log("ERROR record works list") ;
            alert("Une erreur est survenue lors de la récupération de la liste des dossiers") ;
            }
    } ) ;
}

function display_record( num_page )
{
let res = ''

    // Previous page
    if ( num_page == -1000 && p_cur > 1 )
    p_cur = p_cur - 1 ;
    // Next page
    else if ( num_page == 1000 && p_cur < p_max )
    p_cur = p_cur + 1 ;
    // First or Last page
    else if ( num_page > -1000 && num_page < 1000 )
    p_cur = num_page ;
    else
    return false;

    $("#tbody_records").empty() ;

{% if not args %}
res = '<tr>' +
      '<td colspan="9">' +
      '<div>Aucune donnée à afficher</div></td></tr>' ;
{% else %}
let data_len = data_records.length ;
let i_start  = (p_cur -1) * p_step ;
let i_stop   = Math.min( data_len, p_cur * p_step ) ;
let tr_class = '' ;

$("#listing_dos_total").html( data_len ) ;

    for( i = i_start; i < i_stop; i++ )
    {
    let menu_act = '<nav class="">' +
                   '<ul class="navbar-nav">' +
                   '<li class="nav-item dropdown"><a class="dropdown-toggle menu-act" data-toggle="dropdown">{{ _("Action") }}</a>' +
                   '<div class="dropdown-menu menu-act-drop nav-{{ session['user_role']|safe }}" style="padding:0;">' +
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/administrative-record/E/' + data_records[i].id_data + '">{{ _("Dossier administratif") }}</a>' +
                   {% if session['user_id_role'] < 4 %}
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/enter-result/' + data_records[i].id_data + '">{{ _("Saisie de résultats") }}</a>' +
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/technical-validation/' + data_records[i].id_data + '">{{ _("Validation technique") }}</a>' +
                   {% if session['user_id_role'] < 3 %}
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/biological-validation/S/' + data_records[i].id_data + '">{{ _("Validation biologique") }}</a>' +
                   {% endif %}{% endif %}
                   '<a class="dropdown-item menu-act-item" onclick="del_record(' + data_records[i].id_data + ');">{{ _("Supprimer") }}</a>' ;
                   
                   menu_act += '</div></li></ul>' ;

        if ( data_records[i].urgent == "O" )
        tr_style = 'style="background-color:#FFD5D6;"' ;
        else
        tr_style = '' ;

    res += '<tr ' + tr_style + '><td hidden><div>' + data_records[i].id_data + '</div></td>' +
           '<td><div class="text-center">' + menu_act + '</div></td>' +
           '<td><div class="text-center">' + status_rec_with_det( data_records[i].stat, data_records[i].id_data, data_records[i].num_dos_long ) + '</div></td>' +
           '<td><div class="text-center">' + emer( data_records[i].urgent ) + '</div></td>' +
           '<td><div class="text-center"><span class="rec-num" title="' + data_records[i].num_dos_long + '">' + data_records[i].num_dos + '</span></div></td>' +
           '<td><div class="text-center">' + data_records[i].date_dos + '</div></td>' +
           '<td><div class="text-center">' + data_records[i].code + '</div></td>' +
           '<td><div class="text-center">' + data_records[i].nom + '</div></td>' +
           '<td><div class="text-center">' + data_records[i].prenom + '</div></td></tr>' ;
    }
{% endif %}

    $("#tbody_records").append(res) ;
    $("#num_page_t").text( p_cur ) ;
    $("#num_page_b").text( p_cur ) ;
}

function del_record( id_rec )
{
    if ( window.confirm("Merci de confirmer la suppression") )
    {
        $.ajax( 
        {
            type: "DELETE",
            url: "{{ session['server_ext'] }}/services/record/det/" + id_rec,
            success: function(ret)
            {
            location.reload() ;
            },
            error: function(ret)
            {
            console.log("ERROR DELETE record") ;
            alert("Erreur lors de la suppression d'un dossier") ;
            }
        } ) ;
    }
    else
    return false ;
}

function group_validation()
{
window.location = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/biological-validation/G/" + data_records[0].id_data ;
}

{% include 'stat_rec_with_det.js' %}

$(".cnx_trigger").keyup( function(event) 
{
    if (event.which == 13)
    {
    event.preventDefault() ;
    $("#btn_search").click() ;
    }
} ) ;

$( document ).ready( function()
{
display_record( 1 ) ;
} ) ;
</script>
{% endblock %}
