{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Liste des non-conformités") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Liste des non-conformités") }}</span></h2>
            <form autocomplete="off">
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Rechercher") }}</h3>
                </div>
                <div class="panel-filter row mt-3">
                    <div class="col-3">
                        <div class="form-group form-inline">
                            <label for="f_date_beg" class="col-form-label text-right mr-1">{{ _("Date du") }}</label>
                            <div>
                                <input id="f_date_beg" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="{{ args['date_beg'] }}" placeholder="" style="color: #888;">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group form-inline">
                            <label for="f_date_end" class="col-form-label text-right ml-1 mr-1">{{ _("au") }}</label>
                            <div>					
                                <input id="f_date_end" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="{{ args['date_end'] }}" placeholder="" style="color: #888;">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="float-right">
                            <button type="button" onclick="filter_items();return false;" id="btn_search" class="btn btn-{{ session['user_role']|safe }} cnx_trigger"><i class="fa fa-search pr-1" /></i><span>{{ _("Rechercher") }}</span></button>
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <span>{{ _("Nombre total de lignes") }} :</span>
                <span id="list_items_total">{% if not args %}0{% endif %}</span>
            </div>
            <div>
                <span><a class="link" id="first_item" onclick="display_item(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_item" onclick="display_item(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_t" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_item" onclick="display_item(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_item" onclick="display_item(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <form class="row justify-content-center mt-3" id="conformitys-list">
                <table id="table_items" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>{{ _("serial") }}</th>
                            <th class="text-left">{{ _("Action") }}</th>
                            <th class="text-left cursor-act">{{ _("Date de création") }}</th>
                            <th class="text-left cursor-act">{{ _("Nom") }}</th>
                            <th class="text-left cursor-act">{{ _("Catégorie") }}</th>
                            <th class="text-left cursor-act">{{ _("Impact sur le patient") }}</th>
                            <th class="text-left cursor-act">{{ _("Impact sur le personnel") }}</th>
                            <th class="text-left cursor-act">{{ _("Mise en place d'une action correctrice") }}</th>
                            <th class="text-left cursor-act">{{ _("Date correction") }}</th>
                            <th class="text-left cursor-act">{{ _("Date de clotûre") }}</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_items">
                    </tbody>
                </table>
            </form>

            <div>
                <span><a class="link" id="first_item" onclick="display_item(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_item" onclick="display_item(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_b" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_item" onclick="display_item(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_item" onclick="display_item(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <div class="clearfix mb-5">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-right">
                    <input type="button" onclick="export_data();" id="btn_export" value="{{ _("Export des données") }}" class="btn btn-{{ session['user_role']|safe }} ml-3" disabled>
                    <input type="button" onclick="add_item();" id="btn_add" value="{{ _("Ajouter une non-conformité") }}" class="btn btn-{{ session['user_role']|safe }} ml-2" disabled>
                </div>
            </div>

        </div><!-- close main -->
    </div><!-- close inner -->
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
var data_items = {{ args['item_list']|safe }} ;
var p_step     = 20 ;
var p_cur      = 1 ;
var p_max      = Math.ceil( data_items.length / p_step ) ;

function filter_items()
{
let date_beg = $("#f_date_beg").val() ;
let date_end = $("#f_date_end").val() ;

let param = '{ "date_beg":"' + date_beg  + '", ' +
              '"date_end":"' + date_end  + '"}' ;

    // popup wait
    $( "#dial-wait" ).modal( "show" ) ;

    $.ajax( {
        type: "POST",
        url: "/services/quality/conformity/list",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(data)
            {
            data_items = data ;

            p_max = Math.ceil( data.length / p_step ) ;

            display_item( 1 ) ;

            setTimeout(function()
                {
                $('#dial-wait').modal("hide") ;
                }, 1000) ;
            },
        error: function(data)
            {
            setTimeout(function()
                 {
                 $('#dial-wait').modal("hide") ;
                 }, 1000) ;

            console.log("ERROR conformity list") ;
            alert("{{ _("Une erreur est survenue lors de la récupération des données") }}") ;
            }
    } ) ;
}

function display_item( num_page )
{
let res = ''

    // Previous page
    if ( num_page == -1000 && p_cur > 1 )
    p_cur = p_cur - 1 ;
    // Next page
    else if ( num_page == 1000 && p_cur < p_max )
    p_cur = p_cur + 1 ;
    // First or Last page
    else if ( num_page > -1000 && num_page < 1000 )
    p_cur = num_page ;
    else
    return false;

    $("#tbody_items").empty() ;

{% if not args %}
res = '<tr>' +
      '<td colspan="10">' +
      '<div>{{ _("Aucune donnée à afficher") }}</div></td></tr>' ;
{% else %}
let data_len = data_items.length ;
let i_start  = (p_cur -1) * p_step ;
let i_stop   = Math.min( data_len, p_cur * p_step ) ;
let tr_class = '' ;

$("#list_items_total").html( data_len ) ;

    for( i = i_start; i < i_stop; i++ )
    {
    let menu_act = '<nav class="">' +
                   '<ul class="navbar-nav">' +
                   '<li class="nav-item dropdown"><a class="dropdown-toggle menu-act" data-toggle="dropdown"></a>' +
                   '<div class="dropdown-menu menu-act-drop nav-{{ session['user_role']|safe }}" style="padding:0;">' +
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/non-conformity/' + data_items[i].id_data + '">{{ _("Editer") }}</a>' +
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/delete-conformity/' + data_items[i].id_data + '">{{ _("Supprimer") }}</a>';   
        
    menu_act += '</div></ul></nav>' ;

    res += '<tr><td hidden><div>' + data_items[i].id_data + '</div></td>' +
           '<td><div>' + menu_act + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].date_create + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].name + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].category + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].impact_patient + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].impact_user + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].correction + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].date_correction + '</div></td>' +
           '<td><div class="text-left">' + data_items[i].date_close + '</div></td></tr>' ;
    }
{% endif %}

    $("#tbody_items").append(res) ;
    $("#num_page_t").text( p_cur ) ;
    $("#num_page_b").text( p_cur ) ;

    $("#table_items").tablesorter() ;  // sort only data on screen
}

function add_item()
{
window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/non-conformity/0";
}

function export_data()
{
let date_beg = $("#f_date_beg").val() ;
let date_end = $("#f_date_end").val() ;

let param = '{ "date_beg":"' + date_beg  + '", ' +
              '"date_end":"' + date_end  + '"}' ;

    // popup wait
    $( "#dial_wait" ).modal( "show" ) ;

    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/quality/conformity/export",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(ret)
        {
            setTimeout(function()
                {
                $('#dial-wait').modal("hide") ;
                }, 1000) ;
        
        let today = new Date();

        let month = today.getMonth() + 1 ;

        if (month < 10) month = '0' + month ;

        let day = today.getDate() ;

        if (day < 10) day = '0' + day ;

        today = today.getFullYear() + '' + month + '' + day ;

        let filename = "conformity_" + today + ".csv" ;

        download_file( "PY", filename, "GEN", 0 ) ;
        },
        error: function(ret)
        {
            setTimeout(function()
                {
                $('#dial-wait').modal("hide") ;
                }, 1000) ;

            if (ret.status == 404)
            alert("{{ _("Aucun prescripteur à exporter !") }}") ;
            else
            alert("{{ _("Erreur lors de la génération du fichier") }}") ;
        }
    } ) ;
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/homepage";
}

$(".cnx_trigger").keyup( function(event) 
{
    if (event.which == 13)
    {
    event.preventDefault() ;
    $("#btn_search").click() ;
    }
} ) ;

$( document ).ready( function()
{
display_item( 1 ) ;
} ) ;
</script>
{% endblock %}
