{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Liste des dossiers") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Liste des dossiers") }}</span></h2>
            <form autocomplete="off">
                <!-- Filter -->
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Rechercher") }}</h3>
                </div>
                <div class="panel-filter row mt-3">
                    <div class="col-3">
                        <div class="form-group form-inline">
                            <label for="f_num_rec" class="col-form-label text-right mr-1">{{ _("N° dossier") }}</label>
                            <div>					
                                <input id="f_num_rec" type="text" value="" maxlength="10" class="form-control" style="width:120px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group form-inline">
                            <label for="f_date_beg" class="col-form-label text-right mr-1">{{ _("Date du") }}</label>
                            <div>
                                <input id="f_date_beg" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="" placeholder="" style="color: #888;">
                            </div>
                            <label for="f_date_end" class="col-form-label text-right ml-2 mr-1">{{ _("au") }}</label>
                            <div>					
                                <input id="f_date_end" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="" placeholder="" style="color: #888;">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group form-inline">
                            <label for="f_emer" class="col-form-label text-right mr-1">{{ _("Urgent uniquement") }}</label>
                            <div>
                                <input type="checkbox" id="f_emer" name="f_mer" class="mt-2" value="4" {% if args and args['urgent'] == 4 %} checked="checked"{% endif %}>
                            </div> 
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="form-group form-inline">
                            <label for="lastname" class="col-form-label text-right mt-2 mr-1">{{ _("Nom") }}</label>
                            <div class="">					
                                <input type="text" name="lastname" id="lastname" value="" class="form-control cnx_trigger">			
                            </div>
                            <label for="firstname" class="col-form-label text-right mt-2 ml-3 mr-1">{{ _("Prénom") }}</label>
                            <div>					
                                <input type="text" name="firstname" id="firstname" value="" class="form-control cnx_trigger">			
                            </div>
                            <label for="code" class="col-form-label text-right mt-2 ml-3 mr-1">{{ _("Code") }}</label>
                            <div>					
                                <input type="text" name="code" id="code" value="" class="form-control cnx_trigger" style="width:120px;">			
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group form-inline">
                            <label for="f_stat_rec" class="col-form-label text-right mr-1">{{ _("Statut") }}</label>
                            <div>					
                                <select id="f_stat_rec" class="form-control">
                                    <option value="0" selected=""></option>
                                    <option value="181">{{ _("Nouveau") }}</option>
                                    <option value="182">{{ _("Validé administrativement") }}</option>
                                    <option value="253">{{ _("Intermédiaire (validé admin.)") }}</option>
                                    <option value="254">{{ _("Validé techniquement") }}</option>
                                    <option value="255">{{ _("Intermédiaire (validé tech.)") }}</option>
                                    <option value="256">{{ _("Validé biologiquement") }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="float-right">
                            <button type="button" onclick="filter_record();return false;" id="btn_search" class="btn btn-{{ session['user_role']|safe }} cnx_trigger"><i class="fa fa-search pr-1" /></i><span>{{ _("Rechercher") }}</span></button>
                        </div>
                    </div>
                </div>

                <!-- List records -->
                <div class="panel panel-1 panel-primary" style="">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ _("Liste des dossiers") }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row mt-3">
                                <div class="listing_total_info" id="listing_dos_total_info">
                                    <span class="listing_total_label" id="listing_dos_total_label">{{ _("Nombre total de lignes") }} :</span>
                                    <span class="listing_total" id="listing_dos_total">{% if not args %}0{% endif %}</span>
                                </div>
                                <div class="listing table-responsive" id="listing_dos">
                                    <div style="">
                                        <span><a class="link" id="first_rec" onclick="display_record(1);">{{ _("Premier") }}</a></span>
                                        <span><a class="link" id="prev_rec" onclick="display_record(-1000);">{{ _("Précédent") }}</a></span>
                                        <span id="num_page_t" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                                        <span><a class="link" id="next_rec" onclick="display_record(1000);">{{ _("Suivant") }}</a></span>
                                        <span><a class="link" id="last_rec" onclick="display_record(p_max);">{{ _("Dernier") }}</a></span>
                                    </div>
                                    <table id="table_records" class="table table-striped table-hover col-12 table-lbk tablesorter">
                                        <colgroup><col><col><col><col><col><col><col><col><col></colgroup>
                                        <thead>
                                            <tr>
                                                <th class="text-left" hidden>
                                                    <span>id_data</span>
                                                </th>
                                                <th class="text-left">
                                                    <span>{{ _("Action") }}</span>
                                                </th>
                                                <th class="text-left cursor-act">
                                                    <span>{{ _("Statut") }}</span>
                                                </th>
                                                <th class="text-left cursor-act">
                                                    <span>{{ _("Urgent") }}</span>
                                                </th>
                                                <th class="text-left cursor-act">
                                                    <span>{{ _("N° dossier") }}</span>
                                                </th>
                                                <th class="text-left cursor-act">
                                                    <span>{{ _("Création dossier") }}</span>
                                                </th>
                                                <th class="text-left cursor-act">
                                                    <span>{{ _("Code patient") }}</span>
                                                </th>
                                                <th class="text-left cursor-act">
                                                    <span>{{ _("Nom") }}</span>
                                                </th>
                                                <th class="text-left cursor-act">
                                                    <span>{{ _("Prénom") }}</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_records" style=""></tbody>
                                    </table>
                                    <div>
                                        <span><a class="link" id="first_rec" onclick="display_record(1);">{{ _('Premier') }}</a></span>
                                        <span><a class="link" id="prev_rec" onclick="display_record(-1000);">{{ _('Précédent') }}</a></span>
                                        <span id="num_page_b" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                                        <span><a class="link" id="next_rec" onclick="display_record(1000);">{{ _('Suivant') }}</a></span>
                                        <span><a class="link" id="last_rec" onclick="display_record(p_max);">{{ _('Dernier') }}</a></span>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </form>

            {% include 'popup_det_rec.html' %}

        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
var data_records = {{ args|safe }} ;
var p_step       = 20 ;
var p_cur        = 1 ;
var p_max        = Math.ceil( data_records.length / p_step ) ;

function filter_record()
{
let num_rec   = $("#f_num_rec").val()  ;
let stat_rec  = $("#f_stat_rec").val() ;
let lastname  = $("#lastname").val()   ;
let firstname = $("#firstname").val()  ;
let code      = $("#code").val()       ;
let date_beg  = $("#f_date_beg").val() ;
let date_end  = $("#f_date_end").val() ;
let emer      = 5 ;

    if ( $("#f_emer").is(":checked") )
    emer = $("#f_emer").val() ;

let param = '{ "num_rec":"' + num_rec + '", ' +
            '"stat_rec":' + stat_rec  + ', ' +
            '"lastname":"' + lastname  + '", ' +
            '"firstname":"' + firstname  + '", ' +
            '"code":"' + code  + '", ' +
            '"date_beg":"' + date_beg  + '", ' +
            '"date_end":"' + date_end  + '", ' +
            '"emer":' + emer + '}' ;

    // popup wait
    setTimeout(function()
    {
    $('#dial-wait').modal("show") ;
    }, 600) ;

    $.ajax( {
        type: "POST",
        url: "/services/record/list/" + {{ ihm['id_pres']|safe}},
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(data)
            {
            data_records = data ;
 
            p_max = Math.ceil( data.length / p_step ) ;
 
            display_record( 1 ) ;

            setTimeout(function()
                {
                $('#dial-wait').modal("hide") ;
                }, 600) ;
            },
        error: function(data)
            {
            setTimeout(function()
                {
                $('#dial-wait').modal("hide") ;
                }, 600) ;

            console.log("ERROR record list") ;
            alert("Une erreur est survenue lors de la récupération de la liste des dossiers") ;
            }
    } ) ;
}

function display_record( num_page )
{
let res = ''

    // Previous page
    if ( num_page == -1000 && p_cur > 1 )
    p_cur = p_cur - 1 ;
    // Next page
    else if ( num_page == 1000 && p_cur < p_max )
    p_cur = p_cur + 1 ;
    // First or Last page
    else if ( num_page > -1000 && num_page < 1000 )
    p_cur = num_page ;
    else
    return false;

    $("#tbody_records").empty() ;

{% if not args %}
res = '<tr>' +
      '<td colspan="9">' +
      '<div>Aucune donnée à afficher</div></td></tr>' ;
{% else %}
let data_len = data_records.length ;
let i_start  = (p_cur -1) * p_step ;
let i_stop   = Math.min( data_len, p_cur * p_step ) ;
let tr_class = '' ;

$("#listing_dos_total").html( data_len ) ;

    for( i = i_start; i < i_stop; i++ )
    {
    let menu_act = '<nav class="">' +
                   '<ul class="navbar-nav">' +
                   '<li class="nav-item dropdown"><a class="dropdown-toggle menu-act" data-toggle="dropdown"></a>' +
                   '<div class="dropdown-menu menu-act-drop nav-{{ session['user_role']|safe }}" style="padding:0;">' +
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/administrative-record/E/' + data_records[i].id_data + '">{{ _("Dossier administratif") }}</a>' +
                   {% if session['user_role'] == 'B' or session['user_role'] == 'T' or 
                         session['user_role'] == 'TA' or session['user_role'] == 'TQ' or session['user_role'] == 'SA' %}
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/enter-result/' + data_records[i].id_data + '">{{ _("Saisie de résultats") }}</a>' +
                   {% if session['user_role'] == 'B' or session['user_role'] == 'T' or 
                         session['user_role'] == 'TA' or session['user_role'] == 'TQ' %}
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/technical-validation/' + data_records[i].id_data + '">{{ _("Validation technique") }}</a>' +{% endif %}
                   {% if session['user_role'] == 'B' or session['user_role'] == 'TA' %}
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/biological-validation/S/' + data_records[i].id_data + '">{{ _("Validation biologique") }}</a>' +
                   {% endif %}{% endif %}
                   '<a class="dropdown-item menu-act-item" onclick="del_record(' + data_records[i].id_data + ');">{{ _("Supprimer") }}</a>' ;
                   
                   menu_act += '</div></li></ul>' ;

        if ( data_records[i].urgent == "O" )
        tr_style = 'style="background-color:#FFD5D6;"' ;
        else
        tr_style = '' ;

    res += '<tr ' + tr_style + '><td hidden><div>' + data_records[i].id_data + '</div></td>' +
           '<td><div class="text-left">' + menu_act + '</div></td>' +
           '<td><div class="text-left">' + status_rec_with_det( data_records[i].stat, data_records[i].id_data, data_records[i].num_dos_long ) + '</div></td>' +
           '<td><div class="text-left">' + emer( data_records[i].urgent ) + '</div></td>' +
           '<td><div class="text-left"><span class="rec-num" title="' + data_records[i].num_dos_long + '">' + data_records[i].num_dos + '</span></div></td>' +
           '<td><div class="text-left">' + data_records[i].date_dos + '</div></td>' +
           '<td><div class="text-left">' + data_records[i].code + '</div></td>' +
           '<td><div class="text-left">' + data_records[i].nom + '</div></td>' +
           '<td><div class="text-left">' + data_records[i].prenom + '</div></td></tr>' ;
    }
{% endif %}

    $("#tbody_records").append(res) ;
    $("#num_page_t").text( p_cur ) ;
    $("#num_page_b").text( p_cur ) ;

    $("#table_records").tablesorter() ;  // sort only data on screen
}

function del_record( id_rec )
{
    if ( window.confirm("Merci de confirmer la suppression") )
    {
        $.ajax( 
        {
            type: "DELETE",
            url: "{{ session['server_ext'] }}/services/record/det/" + id_rec,
            success: function(ret)
            {
            location.reload() ;
            },
            error: function(ret)
            {
            console.log("ERROR DELETE record") ;
            alert("Erreur lors de la suppression d'un dossier") ;
            }
        } ) ;
    }
    else
    return false ;
}

{% include 'stat_rec_with_det.js' %}

$(".cnx_trigger").keyup( function(event) 
{
    if (event.which == 13)
    {
    event.preventDefault() ;
    $("#btn_search").click() ;
    }
} ) ;

$( document ).ready( function()
{
display_record( 1 ) ;
} ) ;
</script>
{% endblock %}
