{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Liste des archives d'audit") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-color"><span>{{ _("Liste des archives d'audit") }}</span></h2>

            <div class="d-lg-flex m-3">
                <div class="form-group">
                    <div class="text-start upload-container">
                        <div>
                            <div>
                                <div class="uploadHTML5 d-inline-block pe-3">
                                    <label for="btn-upload">{{ _("Fichier") }}</label>
                                    <input id="btn-upload" name="file" type="file" class="mb-1"/>
                                </div>
                            </div>
                        </div>
                        <table class="table-responsive">
                            <thead>
                                <tr><th><div>{{ _("Fichier") }}</div></th><th><div>{{ _("Action") }}</div></th></tr>
                            </thead>
                            <tbody id="tbody_file"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="clearfix mt-3 mb-5">
                <div class="float-start ms-0">
                    <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var data_audit_archives = {% if args['data_audit_archives'] %}{{ args['data_audit_archives']|safe }}{% else %}[]{% endif %} ;

function load_data()
{
    for( i in data_audit_archives )
    {
    load_file( data_audit_archives[i] ) ;
    }

    if (data_audit_archives.length < 1)
    {
    let tr_file = '<tr><td colspan="2"><div>{{ _("Aucun fichier") }}</div></td></tr>' ;

    $("#tbody_file").append(tr_file) ;
    }
}

function load_file( filename )
{
let tr_file = '' ;

    let tmp_tr = '<tr style="">' ;
    
    tmp_tr += '<td class="filename"><div>' + filename + '</div></td>' ;
    tmp_tr += '<td class="action"><div><a href="#" onclick="download_file(\'AA\', \'' + filename + '\', \'AUDIT\', 0);">{{ _("Télécharger") }}</a>';
    tmp_tr += '</div></td></tr>' ;

    tr_file += tmp_tr ;

$("#tbody_file").append(tr_file) ;
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/list-audits";
}

$( document ).ready( function()
{
load_data() ;
} ) ;
</script>
{% endblock %}
