{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Modèles de documents") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Modèles de documents") }}</span></h2>
            <div>
                <span>{{ _("Nombre total de lignes") }} :</span>
                <span id="list_items_total">{% if not args %}0{% endif %}</span>
            </div>
            <div>
                <span><a class="link" id="first_item" onclick="display_item(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_item" onclick="display_item(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_t" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_item" onclick="display_item(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_item" onclick="display_item(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <form class="row justify-content-center mt-3" id="doctors-list">
                <table id="table_items" class="table table-striped table-hover table-responsive col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>{{ _("serial") }}</th>
                            <th class="text-left">{{ _("Action") }}</th>
                            <th class="text-left cursor-act">{{ _("Nom") }}</th>
                            <th class="text-left cursor-act">{{ _("Type") }}</th>
                            <th class="text-left cursor-act">{{ _("Défaut") }}</th>
                            <th class="text-left">{{ _("Fichier") }}</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_items">
                    </tbody>
                </table>
            </form>

            <div>
                <span><a class="link" id="first_item" onclick="display_item(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_item" onclick="display_item(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_b" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_item" onclick="display_item(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_item" onclick="display_item(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <div class="clearfix mb-5 mt-3">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-right">
                    {% if session['user_role'] == 'A' or session['user_role'] == 'B' or
                          session['user_role'] == 'Q' or session['user_role'] == 'TQ' %}
                    <input type="button" onclick="add_item();" id="btn_add" value="{{ _("Ajouter un modèle") }}" class="btn btn-{{ session['user_role']|safe }} ml-2">
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
var data_items = {{ args|safe }} ;
var p_step     = 20 ;
var p_cur      = 1 ;
var p_max      = Math.ceil( data_items.length / p_step ) ;

function display_item( num_page )
{
let res = "" ;

    // Previous page
    if ( num_page == -1000 && p_cur > 1 )
    p_cur = p_cur - 1 ;
    // Next page
    else if ( num_page == 1000 && p_cur < p_max )
    p_cur = p_cur + 1 ;
    // First or Last page
    else if ( num_page > -1000 && num_page < 1000 )
    p_cur = num_page ;
    else
    return false;

    $("#tbody_items").empty() ;

{% if not args %}
res = "<tr>" +
      "<td colspan=\"11\">" +
      "<div>{{ _("Aucune donnée à afficher") }}</div></td></tr>" ;
{% else %}
let data_len = data_items.length ;
let i_start  = (p_cur -1) * p_step ;
let i_stop   = Math.min( data_len, p_cur * p_step ) ;
let tr_class = "" ;

$("#list_items_total").html( data_len ) ;

    for( i = i_start; i < i_stop; i++ )
    {
    {% if session["user_role"] == "A" or session["user_role"] == "B" or
          session["user_role"] == "Q" or session["user_role"] == "TQ" %}
    let menu_act = "<nav>" +
                   "<ul class=\"navbar-nav\">" +
                   "<li class=\"nav-item dropdown\"><a class=\"dropdown-toggle menu-act\" data-toggle=\"dropdown\"></a>" +
                   "<div class=\"dropdown-menu menu-act-drop nav-{{ session["user_role"]|safe }}\" style=\"padding:0;\">" +
                   "<a class=\"dropdown-item menu-act-item\" href=\"{{ session["server_ext"] }}/det-template/" + data_items[i].id_item + "\">{{ _("Editer") }}</a>" +
                   "<a class=\"dropdown-item menu-act-item\" href=\"#\" onclick=\"print_test(" + data_items[i].id_item + ")\">{{ _("Tester") }}</a>" +
                   "<a class=\"dropdown-item menu-act-item\" href=\"#\" onclick=\"delete_item(" + data_items[i].id_item + ")\">{{ _("Supprimer") }}</a>";   
        
    menu_act += "</div></ul></nav>" ;
    {% else %}
    let menu_act = "" ;
    {% endif %}

    if ( data_items[i].tpl_file != "")
    link_file = "<a href=\"#\" onclick=\"download_file('TP', '" + data_items[i].tpl_file + "', 'TPL', 0);\"><span class=\"fa fa-download\"></span></a>" ;
    else
    link_file = "" ;

    if ( data_items[i].tpl_default == "Y")
    tpl_default = "<span class=\"fa fa-check\"></span>" ;
    else
    tpl_default = "" ;

    res += "<tr><td hidden><div>" + data_items[i].id_item + "</div></td>" +
           "<td><div>" + menu_act + "</div></td>" +
           "<td><div class=\"text-left\">" + data_items[i].tpl_name + "</div></td>" +
           "<td><div class=\"text-left\">" + data_items[i].tpl_type + "</div></td>" +
           "<td><div class=\"text-left\">" + tpl_default + "</div></td>" +
           "<td><div class=\"text-left\">" + link_file + "</div></td></tr>" ;
    }
{% endif %}

    $("#tbody_items").append(res) ;
    $("#num_page_t").text( p_cur ) ;
    $("#num_page_b").text( p_cur ) ;

    $("#table_items").tablesorter() ;  // sort only data on screen 
}

function delete_item(id_item)
{
var id_user = {{ session['user_id']|safe}} ;

    if ( window.confirm("{{ _("Merci de confirmer la suppression") }}") )
    {
    var param = '{ "id_user":' + id_user + '}' ;

        $.ajax( 
        {
            type: "DELETE",
            url: "{{ session['server_ext'] }}/services/setting/template/det/" + id_item,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param,
            success: function(ret)
            {
            location.reload() ;
            },
            error: function(ret)
            {
            console.log("ERROR DELETE item") ;
            alert("{{ _("Erreur lors de la suppression des données") }}") ;
            }
        } ) ;
    }
    else
    return false ; 
}

function print_test(id_item)
{
    // popup wait
    $("#dial-wait").modal("show") ;

    $("#dial-wait").off() ;

    $("#dial-wait").on('shown.bs.modal', function () 
    {
        $.ajax( 
        {
            type: "GET",
            url: "{{ session['server_ext'] }}/services/pdf/template/test/" + id_item,
            success: function(ret)
            {
                $("#dial-wait").modal("hide") ;

                if (ret == 0)
                download_file( "PY", "test_template.pdf", "GEN", 0 ) ;
                else
                alert("{{ _("Erreur lors de la génération du PDF") }}") ;
            },
            error: function(ret)
            {
                $("#dial-wait").modal("hide") ;

            console.log("ERROR GET pdf test template");
            alert("{{ _("Erreur lors de la génération du PDF") }}") ;
            }
        } ) ;
    } ) ;
}

function add_item()
{
window.location.href = "{{ session['server_ext'] }}/det-template/0";
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/homepage";
}

$( document ).ready( function()
{
display_item( 1 ) ;
} ) ;
</script>
{% endblock %}
