{% macro select_discount_bill(l_discount_bill) -%}
    <option selected value="0"></option>
    {% for discount_bill in l_discount_bill %}
        <option value="{{ discount_bill['id_data'] }}">{{ discount_bill['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_prd_type(l_prd_type, id_selected) -%}
    <option selected value="0"></option>
    {% for prd_type in l_prd_type %}
        <option value="{{ prd_type['id_data'] }}" {% if id_selected and id_selected == prd_type['id_data'] %}selected{% endif %}>{{ prd_type['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_prd_conserv(l_prd_conserv, id_selected) -%}
    <option selected value="0"></option>
    {% for prd_conserv in l_prd_conserv %}
        <option value="{{ prd_conserv['id_data'] }}" {% if id_selected and id_selected == prd_conserv['id_data'] %}selected{% endif %}>{{ prd_conserv['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_prl_local(l_prl_local, id_selected) -%}
    <option selected value="0"></option>
    {% for prl_local in l_prl_local %}
        <option value="{{ prl_local['prl_ser'] }}" {% if id_selected and id_selected == prl_local['prl_ser'] %}selected{% endif %}>{{ prl_local['prl_name'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_type_ana(l_type_ana, id_selected) -%}
    <option selected value="0"></option>
    {% for type_ana in l_type_ana %}
        <option value="{{ type_ana['id_data'] }}" {% if id_selected and id_selected == type_ana['id_data'] %}selected{% endif %}>{{ type_ana['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_section(l_section, id_selected) -%}
    <option selected value="0"></option>
    {% for section in l_section %}
        <option value="{{ section['id_data'] }}" {% if id_selected and id_selected == section['id_data'] %}selected{% endif %}>{{ section['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_unit_age(l_unit_age, id_selected) -%}
    <option selected value="0"></option>
    {% for unit_age in l_unit_age %}
        <option value="{{ unit_age['id_data'] }}" {% if id_selected and id_selected == unit_age['id_data'] %}selected{% endif %}>{{ unit_age['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_nationality(l_nationality, id_selected) -%}
    <option value="0" {% if not id_selected or id_selected == 0 %} selected {% endif %}>{{ _("Inconnu") }}</option>
    {% for nationality in l_nationality %}
    <option value="{{ nationality['nat_ser'] }}" {% if id_selected and id_selected == nationality['nat_ser'] %}selected{% endif %}>{{ nationality['nat_name'] }} ({{ nationality['nat_code'] }})</option>
    {% endfor %}
{%- endmacro %}

{% macro select_blood_group(l_blood_group, id_selected) -%}
    <option value="0" {% if not id_selected or id_selected == 0 %} selected {% endif %}>{{ _("Inconnu") }}</option>
    {% for blood_group in l_blood_group %}
        <option value="{{ blood_group['id_data'] }}" {% if id_selected and id_selected == blood_group['id_data'] %}selected{% endif %}>{{ blood_group['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_blood_rhesus(l_blood_rhesus, id_selected) -%}
    <option value="0" {% if not id_selected or id_selected == 0 %} selected {% endif %}>{{ _("Inconnu") }}</option>
    {% for blood_rhesus in l_blood_rhesus %}
        <option value="{{ blood_rhesus['id_data'] }}" {% if id_selected and id_selected == blood_rhesus['id_data'] %}selected{% endif %}>{{ blood_rhesus['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_user_role(l_user_role, type_selected) -%}
    <option value="" {% if not type_selected or type_selected == '' %} selected {% endif %}></option>
    {% for user_role in l_user_role %}
        <option value="{{ user_role['type'] }}" {% if type_selected and type_selected == user_role['type'] %}selected{% endif %}>{{ user_role['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_user_ident(l_user_ident, type_selected) -%}
    <option value="0" {% if not type_selected or type_selected == '' %} selected {% endif %}></option>
    {% for user_ident in l_user_ident %}
        <option value="{{ user_ident['id_user'] }}" {% if type_selected and type_selected == user_ident['id_user'] %}selected{% endif %}>{{ user_ident['user_ident'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_type_record() -%}
    <option value="A" selected=""></option>
    <option value="E">{{ _("Externe") }}</option>
    <option value="I">{{ _("Interne") }}</option>
    <option value="C">{{ _("Garde") }}</option>
{%- endmacro %}

{% macro select_sex(l_dict_sex, type_selected) -%}
    <option value="" {% if not type_selected or type_selected == '' %} selected {% endif %}></option>
    {% for dict_sex in l_dict_sex %}
        <option value="{{ dict_sex['id_data'] }}" {% if type_selected and type_selected == dict_sex['id_data'] %}selected{% endif %}>{{ dict_sex['label'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_req_services(l_req_services, id_selected) -%}
    <option value="" {% if not id_selected or id_selected == 0 %} selected {% endif %}></option>
    {% for req_service in l_req_services %}
        <option value="{{ req_service['rqs_name'] }}" {% if id_selected and id_selected == req_service['rqs_ser'] %}selected{% endif %}>{{ req_service['rqs_name'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_manualCat(l_manualCat, id_selected) -%}
    <option selected value="0"></option>
    {% for manualCat in l_manualCat %}
        <option value="{{ manualCat['mas_ser'] }}" {% if id_selected and id_selected == manualCat['mas_ser'] %}selected{% endif %}>{{ manualCat['mas_name'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_analyzer(l_analyzers, id_selected) -%}
    <option value=""></option>
    {% for analyzer in l_analyzers %}
        <option value="{{ analyzer['filename'] }}" {% if id_selected and id_selected == analyzer['filename'] %}selected{% endif %}>{{ analyzer['display'] }}</option>
    {% endfor %}
{%- endmacro %}

{% macro select_civility(l_civility, id_civility) -%}
    <option selected value="0"></option>
    {% for civility in l_civility %}
        <option value="{{ civility['id_data'] }}" {% if id_selected and id_selected == civility['id_data'] %}selected{% endif %}>{{ civility['label'] }}</option>
    {% endfor %}
{%- endmacro %}
