{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Non-conformité") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}"></script>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Non-conformité") }}</span></h2>
            <form autocomplete="off">
                <div class="form-group row mt-3">
                    <label for="name" class="col-form-label col-3 text-right mt-2">{{ _("Nom de la non-conformité") }}</label>
                    <div>					
                        <input type="text" name="name" id="name" value="{{ args['details']['name'] }}" class="form-control">			
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="search_reporter" class="col-form-label col-3 text-right mr-1">{{ _("Rapporteur") }}</label>
                    <div>
                        <select id="search_reporter" style="width:400px"></select>
                        <span class="ml-2">{{ args['details']['reporter'] }}</span>
                    </div>
                </div>

                <fieldset class="border p-2">
                    <legend class="w-auto legend-lbk">{{ _("DECLARATION DE LA NON-CONFORMITE") }}</legend>
                    <div class="form-group row">
                        <label for="report_date" class="col-form-label col-3 text-right mt-2">{{ _("Date") }}</label>
                        <div>					
                            <input id="report_date" name="report_date" class="form-control" type="date" maxlength="10" size="10" value="{{ args['details']['report_date'] }}" style="color: #888;">
                        </div>
                    </div>

                    <!-- PREANA category -->
                    <span class="offset-2 font-info">{{ _("Catégorie de la non-conformité") }}</span>

                    <div class="form-group row">
                        <label for="report_preana" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Pré analytique") }}</label>
                        <div class="form-inline">
                            <input id="report_preana" name="report_preana" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- preana SUB category -->
                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat1" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Prescription") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat1" name="sub_preana_cat1" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat2" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Oubli ou examen erroné") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat2" name="sub_preana_cat2" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat3" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Dossier du patient / identité patient") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat3" name="sub_preana_cat3" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat4" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Prélèvement") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat4" name="sub_preana_cat4" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- SUB category from sub_preana_cat4 -->
                    <div class="form-group row mt-n4">
                        <label for="sub1_sub_preana_cat4" class="col-form-label col-5 text-right ml-1 mr-2">{{ _("Heure de prélèvement") }}</label>
                        <div class="form-inline">
                            <input id="sub1_sub_preana_cat4" name="sub1_sub_preana_cat4" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub2_preana_cat4" class="col-form-label col-5 text-right ml-1 mr-2">{{ _("Volume de prélèvement") }}</label>
                        <div class="form-inline">
                            <input id="sub2_sub_preana_cat4" name="sub2_sub_preana_cat4" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub3_sub_preana_cat4" class="col-form-label col-5 text-right ml-1 mr-2">{{ _("Identification du prélèvement") }}</label>
                        <div class="form-inline">
                            <input id="sub3_sub_preana_cat4" name="sub3_sub_preana_cat4" type="checkbox" value="4">
                        </div>
                    </div>

                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat5" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Renseignement clinique") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat5" name="sub_preana_cat5" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat6" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Transport de l'échantillon") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat6" name="sub_preana_cat6" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat7" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Respect procédures") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat7" name="sub_preana_cat7" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat8" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Urgence") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat8" name="sub_preana_ca8" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat9" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Traçabilité") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat9" name="sub_preana_cat9" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_preana_cat10" class="col-form-label col-4 text-right ml-1 mr-2">{{ _("Autres") }}</label>
                        <div class="form-inline">
                            <input id="sub_preana_cat10" name="sub_preana_cat10" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- ANALY category -->
                    <div class="form-group row mt-n4">
                        <label for="cat_analy" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Analytique") }}</label>
                        <div class="form-inline">
                            <input id="cat_analy" name="cat_analy" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- analy sub category -->


                    <div class="form-group row mt-n4">
                        <label for="report_postana" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Post analytique") }}</label>
                        <div class="form-inline">
                            <input id="report_postana" name="report_postana" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- preana sub category -->


                    <div class="form-group row mt-n4">
                        <label for="report_res" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Transmission des résultats") }}</label>
                        <div class="form-inline">
                            <input id="report_res" name="report_res" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- preana sub category -->

                    <div class="form-group row mt-n4">
                        <label for="report_postana" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Ressources humaines") }}</label>
                        <div class="form-inline">
                            <input id="report_postana" name="report_postana" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- preana sub category -->


                    <div class="form-group row mt-n4">
                        <label for="report_res" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Equipements") }}</label>
                        <div class="form-inline">
                            <input id="report_res" name="report_res" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- preana sub category -->


                    <div class="form-group row mt-n4">
                        <label for="report_analy" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Réactifs et consommables") }}</label>
                        <div class="form-inline">
                            <input id="report_analy" name="report_analy" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- preana sub category -->


                    <div class="form-group row mt-n4">
                        <label for="report_postana" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Locaux et environnement") }}</label>
                        <div class="form-inline">
                            <input id="report_postana" name="report_postana" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- preana sub category -->


                    <div class="form-group row mt-n4">
                        <label for="report_res" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Ssytèmes informatiques") }}</label>
                        <div class="form-inline">
                            <input id="report_res" name="report_res" type="checkbox" value="4">
                        </div>
                    </div>

                    <!-- preana sub category -->
                    <div class="form-group row mt-n4">
                        <label for="sub_si_cat1" class="col-form-label col-5 text-right ml-1 mr-2">{{ _("Abscence de connexion") }}</label>
                        <div class="form-inline">
                            <input id="sub_si_cat2" name="sub_si_cat1" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_si_cat1" class="col-form-label col-5 text-right ml-1 mr-2">{{ _("Errer de paramétrage") }}</label>
                        <div class="form-inline">
                            <input id="sub_si_cat2" name="sub_si_cat2" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_si_cat3" class="col-form-label col-5 text-right ml-1 mr-2">{{ _("Panne réseau") }}</label>
                        <div class="form-inline">
                            <input id="sub_si_cat3" name="sub_si_cat3" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_si_cat4" class="col-form-label col-5 text-right ml-1 mr-2">{{ _("Panne système d'information") }}</label>
                        <div class="form-inline">
                            <input id="sub_si_cat4" name="sub_si_cat4" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_si_cat5" class="col-form-label col-5 text-right ml-1 mr-2">{{ _("Pannes matériel informatique") }}</label>
                        <div class="form-inline">
                            <input id="sub_si_cat5" name="sub_si_cat5" type="checkbox" value="4">
                        </div>
                    </div>
                    <div class="form-group row mt-n4">
                        <label for="sub_si_cat6" class="col-form-label col-5 text-right ml-1 mr-2">{{ _("Autres") }}</label>
                        <div class="form-inline">
                            <textarea id="sub_si_cat6" name="sub_si_cat6" rows="4" cols="50" class="form-control">{{ args['details']['sub_si_cat6'] }}</textarea>
                        </div>
                    </div>

                    <div class="form-group row mt-n4">
                        <label for="report_analy" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Sous-traitance") }}</label>
                        <div class="form-inline">
                            <input id="report_analy" name="report_analy" type="checkbox" value="4">
                        </div>
                    </div>

                    <div class="form-group row mt-n4">
                        <label for="cat_client" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Réclamations clients") }}</label>
                        <div class="form-inline">
                            <textarea id="cat_client" name="cat_client" rows="4" cols="50" class="form-control">{{ args['details']['cat_client'] }}</textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cat_other" class="col-form-label col-3 text-right ml-1 mr-2">{{ _("Autre") }}</label>
                        <div class="form-inline">
                            <textarea id="cat_other" name="cat_other" rows="4" cols="50" class="form-control">{{ args['details']['cat_other'] }}</textarea>
                        </div>
                    </div>
                    
                    <div class="form-group row mt-3">
                        <label for="description" class="col-form-label col-3 text-right mt-2">{{ _("Description de la non-conformité") }}</label>
                        <div>					
                            <textarea id="description" name="description" rows="4" cols="50" class="form-control">{{ args['details']['description'] }}</textarea>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="border p-2">
                    <legend class="w-auto legend-lbk">{{ _("SUIVI DE LA NON-CONFORMITE") }}</legend>
                    <div class="form-group row">
                        <label for="search_followed" class="col-form-label col-3 text-right mr-1">{{ _("Qui") }}</label>
                        <div>
                            <select id="search_followed" style="width:400px"></select>
                            <span class="ml-2">{{ args['details']['followed'] }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="flwd_what" class="col-form-label col-3 text-right mt-2">{{ _("Quoi") }}</label>
                        <div>					
                            <textarea id="flwd_what" name="flwd_what" rows="4" cols="50" class="form-control">{{ args['details']['flwd_what'] }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="flwd_when" class="col-form-label col-3 text-right mt-2">{{ _("Quand") }}</label>
                        <div>					
                            <input id="flwd_when" name="flwd_when" class="form-control" type="date" maxlength="10" size="10" value="{{ args['details']['flwd_when'] }}" style="color: #888;">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="flwd_descr_action" class="col-form-label col-3 text-right mt-2">{{ _("Description de l'action correctrice") }}</label>
                        <div>					
                            <textarea id="flwd_descr_action" name="flwd_descr_action" rows="4" cols="50" class="form-control">{{ args['details']['flwd_descr_action'] }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="flwd_action_date" class="col-form-label col-3 text-right mt-2">{{ _("Date de réalisation de l'action correctrice") }}</label>
                        <div>					
                            <input id="flwd_action_date" name="flwd_action_date" class="form-control" type="date" maxlength="10" size="10" value="{{ args['details']['flwd_action_date'] }}" style="color: #888;">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="search_incharge" class="col-form-label col-3 text-right mr-1">{{ _("Responsable de l'action") }}</label>
                        <div>
                            <select id="search_incharge" style="width:400px"></select>
                            <span class="ml-2">{{ args['details']['incharge'] }}</span>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="border p-2">
                    <legend class="w-auto legend-lbk">{{ _("CLOTURE DE LA NON-CONFORMITE") }}</legend>
                    <div class="form-group row">
                        <label for="close_comment" class="col-form-label col-3 text-right mt-2">{{ _("Commentaire") }}</label>
                        <div>					
                            <textarea id="close_comment" name="close_comment" rows="4" cols="50" class="form-control">{{ args['details']['close_comment'] }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="search_validate" class="col-form-label col-3 text-right mr-1">{{ _("Validé par") }}</label>
                        <div>
                            <select id="search_validate" style="width:400px"></select>
                            <span class="ml-2">{{ args['details']['close_vld'] }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="close_date" class="col-form-label col-3 text-right mt-2">{{ _("Date de clotûre") }}</label>
                        <div>					
                            <input id="close_date" name="close_date" class="form-control" type="date" maxlength="10" size="10" value="{{ args['details']['close_date'] }}" style="color: #888;">
                        </div>
                    </div>
                </fieldset>
            </form>
            
            <div class="my-2 clearfix">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-right">
                    <input type="button" onclick="save_item();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-{{ session['user_role']|safe }} ml-2">
                </div>
            </div>
        </div><!-- close main -->
    </div><!-- close inner -->
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
$("#search_reporter").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/user/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_reporter").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_data
                    }
                })
            };
        }
    }
} ) ;

$("#search_reporter").on("select2:select", function (e) 
{
let id_item = $(e.currentTarget).val();
} ) ;

$("#search_followed").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/user/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_followed").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_data
                    }
                })
            };
        }
    }
} ) ;

$("#search_followed").on("select2:select", function (e) 
{
let id_item = $(e.currentTarget).val();
} ) ;

$("#search_incharge").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/user/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_incharge").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_data
                    }
                })
            };
        }
    }
} ) ;

$("#search_incharge").on("select2:select", function (e) 
{
let id_item = $(e.currentTarget).val();
} ) ;

$("#search_validate").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/user/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_validate").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_data
                    }
                })
            };
        }
    }
} ) ;

$("#search_validate").on("select2:select", function (e) 
{
let id_item = $(e.currentTarget).val();
} ) ;

function save_item()
{
var id_owner     = {{ session['user_id_group']|safe }} ;
var id_details   = {{ args['id_det']|safe }} ;
var date_meeting = $("#date_meeting").val()      ;
var type         = $("#type").val()              ;
var reporter     = $("#search_reporter").val()   ;
var followed     = $("#search_followed").val()   ;
var incharge     = $("#search_incharge").val()   ;
var validate     = $("#search_validate").val()   ;
var report       = JSON.stringify( $("#report").val() ) ;

var msg = "" ;

    if (date_meeting == "")
    msg += "{{ _("Veuillez saisir une date de réunion.") }}\n" ;

    if (msg != "")
    {
    alert( msg ) ;
    return false ;
    }

    if (id_details > 0)
    {
        if (reporter < 1)
        reporter = {% if args['details']['reporter_id'] %}{{ args['details']['reporter_id']|safe }}{% else %}0{% endif %} ;

        if (followed < 1)
        followed = {% if args['details']['followed_id'] %}{{ args['details']['followed_id']|safe }}{% else %}0{% endif %} ;

        if (incharge < 1)
        incharge = {% if args['details']['incharge_id'] %}{{ args['details']['incharge_id']|safe }}{% else %}0{% endif %} ;

        if (validate < 1)
        validate = {% if args['details']['validate_id'] %}{{ args['details']['validate_id']|safe }}{% else %}0{% endif %} ;
    }

var param = '{ "id_owner":' + id_owner + ', ' +
              '"id_item":' + id_details + ', ' +
              '"date_meeting":"' + date_meeting + '", ' +
              '"type":' + type + ', ' +
              '"reporter":' + reporter + ', ' +
              '"followed":' + followed + ', ' +
              '"incharge":' + incharge + ', ' +
              '"validate":' + validate + ', ' +
              '"report":' + report + '}' ;  // No quotes with stringify

console.log("DEBUG param=" + JSON.stringify(param)) ;

    $.ajax( {
       type: "POST",
       url: "/services/quality/nonconformity/det/" + id_details,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           console.log("DEBUG data=" + JSON.stringify(data)) ;

           tempAlert("Enregistrement réussi", 2000) ;

           window.history.back() ;
           },
       error: function(data)
           {
           console.log("ERROR POST item det") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function cancel()
{
window.history.back() ;
}
</script>
{% endblock %}
