<!-- Popup waiting -->
<div class="modal fade" id="dial-wait" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog w-50 mw-75" style="background:#EEE;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ _("Processus en cours") }}</h5>
                <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span data-field="reason">
                        {{ _("Veuillez patienter") }}
                        <img src="{{ url_for('static', filename='img/busy.gif') }}" class="ml-3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
