{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Export DHIS2") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Export DHIS2") }}</span></h2>
            <form>
                <div class="row">
                    <div class="form-group d-md-flex align-items-start col-md-12 mt-3">
                        <label for="date_beg" class="form-label text-end mt-2 me-1">{{ _("Date de début de période ") }} </label>
                        <div>					
                            <input id="date_beg" class="form-control form-lbk" type="date" maxlength="10" size="10" value="" name="date_beg" style="color: #888;">
                        </div>
                        <label for="date_end" class="form-label text-end ms-1 mt-2 me-1">{{ _("au") }} </label>
                        <div>					
                            <input id="date_end" class="form-control form-lbk" type="date" maxlength="10" size="10" value="" name="date_end" style="color: #888;">
                        </div>
                        <label class="form-label text-end mx-3 mt-2">{{ _("Type période") }}</label>
                        <label class="form-label text-end me-3 mt-2">
                            <input type="radio" name="type_period" value="W" checked="checked" >&nbsp;{{ _("Hebdomadaire") }}</input>
                        </label>
                        <label class="form-label text-end me-3 mt-2">
                            <input type="radio" name="type_period" value="M">&nbsp;{{ _("Mensuelle") }}</input>
                        </label>
                    </div>
                    <div class="form-group col-md-12 mt-1">
                        <span>{{ _("Pour une feuille de calcul hebdomadaire, lundi et dimanche doivent être respectivement les dates de début et fin de période.") }}</span><br />
                        <span>{{ _("Pour une feuille de calcul mensuelle, la date de début doit correspondre au 1er du mois et la date de fin au dernier jour du mois sélectionné.") }}</span>
                    </div>
                    <div class="form-group d-md-flex align-items-start col-md-12 mt-3">
                        <label for="calc" class="form-label text-end mt-2 me-1"> {{ _("Feuille de calcul") }} </label>
                       <select name="spreadsheet" id="spreadsheet" class="form-select w-auto">
                           <option value="" selected="selected"></option>
                           <option value="LIST_OUTSOURCING.csv">{{ _("Sous-traitance") }}</option>
                           {% for filename in args['data_dhis2'] %}
                           <option value="{{ filename }}">{{ filename }}</option>
                           {% endfor %}
                        </select> 
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                        </div>
                    
                        {% if ihm['dhs']|length > 0 %}
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <select id="dhs_list" class="form-select me-3 w-auto" {% if ihm['dhs'] and ihm['dhs']|length < 2 %}hidden{% endif %}>
                                    {% for dhs in ihm['dhs'] %}
                                    <option value="{{ dhs["dhs_ser"] }}" {% if dhs["dhs_default"] == "Y" %}selected{% endif %}>{{ dhs["dhs_name"] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input id="btn-send" type="button" class="btn btn-lbk btn-{{ session['user_role']|safe }}" onclick="send_dhis2();" value="{{ _("Envoyer les données") }}">
                            </div>
                        </div>
                        {% endif %}

                        <div>
                            <input type="button" onclick="export_dhis2();" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _("Récupérer les données") }}">
                        </div>
                    </div>
                </div>

                <div id="div_send_log" class="form-group align-items-start mt-3 d-none">
                    <label for="send_log" class="form-label text-end mt-2 me-1">{{ _("Retour d'envoi") }}</label>
                    <div>					
                        <textarea id="send_log" name="send_log" rows="6" cols="80" class="form-control form-lbk"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
function export_dhis2()
{
var id_user  = {{ session['user_id']|safe}} ;
var date_beg = $("#date_beg").val() ;
var date_end = $("#date_end").val() ;
var period   = $("input:radio[name=type_period]:checked").val() ;
var filename = $("#spreadsheet").val() ;
var param    = '{"date_beg":"' + date_beg + '", ' +
                '"date_end":"' + date_end + '", ' +
                '"period":"' + period + '", ' +
                '"filename":"' + filename + '", ' +
                '"id_user":' + id_user + '}' ;

    if ( filename == "" )
    {
    alert("{{ _("Veuillez sélectionner une feuille de calcul.") }}") ;
    return false ;
    }

    if ( date_beg == '' || date_end == '' || (date_beg > date_end) )
    {
    alert("{{ _("Veuillez saisir des dates") }}") ;
    return false ;
    }

    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/export/dhis2",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(ret)
        {
            $("#dial-wait").modal("hide") ;

        let spreadsheet = filename.substr(0, filename.length-4) ;

        download_file( "PY", "dhis2_" + spreadsheet + "_" + date_beg + "-" +date_end +".csv", "GEN", 0 ) ;
        },
        error: function(ret)
        {
            $("#dial-wait").modal("hide") ;

            if (ret.status == 404)
            alert("{{ _("Aucun résultat à exporter !") }}") ;
            else
            alert("{{ _("Erreur lors de la génération du fichier") }}") ;
        }
    } ) ;
}

function send_dhis2()
{
$("#div_send_log").addClass('d-none') ;

var id_user  = {{ session['user_id']|safe}} ;
var date_beg = $("#date_beg").val() ;
var date_end = $("#date_end").val() ;
var period   = $("input:radio[name=type_period]:checked").val() ;
var filename = $("#spreadsheet").val() ;
var dhs_ser  = $("#dhs_list").val() ;
var param    = '{"date_beg":"' + date_beg + '", ' +
                '"date_end":"' + date_end + '", ' +
                '"period":"' + period + '", ' +
                '"filename":"' + filename + '", ' +
                '"dhs_ser":' + dhs_ser + ', ' +
                '"id_user":' + id_user + '}' ;

    if ( filename == "" )
    {
    alert("{{ _("Veuillez sélectionner une feuille de calcul.") }}") ;
    return false ;
    }

    if ( date_beg == '' || date_end == '' || (date_beg > date_end) )
    {
    alert("{{ _("Veuillez saisir des dates") }}") ;
    return false ;
    }

    if ( !(dhs_ser > 0) )
    {
    alert("{{ _("Veuillez sélectionner une plateforme de destination.") }}") ;
    return false ;
    }

    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/export/dhis2/api",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(ret)
        {
            $("#dial-wait").modal("hide") ;

            tempAlert("{{ _("Dépôt réussi") }}", "btn-send") ;
        },
        error: function(ret)
        {
            $("#dial-wait").modal("hide") ;

            if (ret && ret.responseJSON)
            {
            $("#send_log").val(ret.responseJSON) ;
            $("#div_send_log").removeClass('d-none') ;
            }

            if (ret.status == 404)
            alert("{{ _("Aucun résultat à exporter !") }}") ;
            else if (ret.status == 405)
            alert("{{ _("Paramétrage manquant !") }}") ;
            else if (ret.status == 401)
            alert("{{ _("Accès non autorisé") }}") ;
            else if (ret.status == 500)
            alert("{{ _("Une erreur est survenue lors du dépot du fichier") }}") ;
        }
    } ) ;
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/homepage" ;
}

$( document ).ready( function()
{
    //$("#date_beg").val( "{{ now|date_now }}" ) ;
    //$("#date_end").val( "{{ now|date_now }}" ) ;
} ) ;
</script>
{% endblock %}
