{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Rapport activité") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Rapport activité") }}</span></h2>
            <form autocomplete="off">
                <fieldset class="row border mx-1 p-2">
                    <legend class="legend-lbk">{{ _("Rechercher") }}</legend>
                        <div class="form-group d-flex align-items-start mt-1">
                            <label for="f_date_beg" class="form-label col-2 text-end mt-2 me-1">{{ _("Date du") }}</label>
                            <div>
                                <input id="f_date_beg" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="{{ args['date_beg'] }}" placeholder="" style="color: #888;">
                            </div>
                            <label for="f_date_end" class="form-label text-end mx-1 mt-2">{{ _("au") }}</label>
                            <div>					
                                <input id="f_date_end" class="form-control cnx_trigger" type="date" maxlength="10" size="10" value="{{ args['date_end'] }}" placeholder="" style="color: #888;">
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-start mt-3">
                            <label for="type_ana" class="form-label col-2 text-end mt-2 me-1">{{ _("Famille d'analyse") }}</label>
                            <div>
                                <select name="type_ana" id="type_ana" class="form-select">
                                    {% from 'macros.html' import select_type_ana %}
                                    {{ select_type_ana(ihm['type_ana']) }}
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="float-end">
                                <button type="button" onclick="filter_data();return false;" id="btn_search" class="btn btn-{{ session['user_role']|safe }} cnx_trigger"><i class="bi bi-search pe-1" /></i><span>{{ _("Rechercher") }}</span></button>
                            </div>
                        </div>
                </fieldset>
            </form>

            <form id="html_report">
                <fieldset class="row border mx-1 mt-3 p-2">
                    <legend class="legend-lbk">{{ _("Analyses par type de demande") }}</legend>
                        <table class="table table-striped table-hover col-12 table-lbk">
                            <thead id="thead_stat_by_type"></thead>
                            <tbody id="tbody_stat_by_type"></tbody>
                        </table>
                </fieldset>
                <br />
                <fieldset class="row border mx-1 mt-3 p-2">
                    <legend class="legend-lbk">{{ _("Analyses par tranche d'âge") }}</legend>
                        <table class="table table-striped table-hover col-12 table-lbk">
                            <thead id="thead_stat_by_age"></thead>
                            <tbody id="tbody_stat_by_age"></tbody>
                        </table>
                </fieldset>
            </form>

            <br />
            <p>* {{ _("H = Homme, F = Femme, I = Inconnu") }}</p>

            <div class="float-end mt-3 mb-5">
                <input type="button" onclick="export_by_type();" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Export par type") }}">
                <input type="button" onclick="export_by_age();" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Export par âge") }}">
                <input type="button" onclick="download_report();" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Télécharger le rapport") }}">
            </div>

        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var data_stats = {% if args['stat'] %}{{ args['stat']|safe }}{% else %}[]{% endif %} ;
var data_interval = {% if ihm['age_interval'] %}{{ ihm['age_interval']|safe }}{% else %}[]{% endif %} ;

var csv_type= "" ;
var csv_age = "" ;
var csv_head_age = "{{ _("Analyses") }};" ;

function filter_data()
{
let date_beg = $("#f_date_beg").val() ;
let date_end = $("#f_date_end").val() ;
let type_ana = $("#type_ana").val()   ;

let param = '{ "date_beg":"' + date_beg  + '", ' +
              '"date_end":"' + date_end  + '", ' +
              '"type_ana":' + type_ana + '}' ;

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/report/activity",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(data)
        {
        data_stats = data ;

        display_data() ;

            $("#dial-wait").modal("hide") ;
        },
        error: function(data)
        {
            $("#dial-wait").modal("hide") ;

        console.log("ERROR report stat") ;
        alert("{{ _("Une erreur est survenue lors de la récupération des données") }}") ;
        }
    } ) ;
}

function display_data()
{
    $("#thead_stat_by_type").empty() ;
    $("#tbody_stat_by_type").empty() ;
    $("#thead_stat_by_age").empty() ;
    $("#tbody_stat_by_age").empty() ;

{% if args %}
    if (data_stats.type != undefined)
    display_by_type(data_stats.type) ;

    if (data_stats.age != undefined)
    display_by_age(data_stats.age) ;
{% endif %}
}

function display_by_type( data )
{
let len_data = data_interval.length ;
let res_head = '<tr><th>{{ _("Analyses") }}</th><th colspan="3">{{ _("Externes") }}</th>' +
               '<th colspan="3">{{ _("Hospitalisés") }}</th><th colspan="2">{{ _("Total") }}</th></tr>' +
               '<tr><td></td><td class="text-center font-info">{{ _("H") }}</td><td class="text-center font-info">{{ _("F") }}</td>' +
               '<td class="text-center font-info">{{ _("I") }}</td><td class="text-center font-info">{{ _("H") }}</td>' +
               '<td class="text-center font-info">{{ _("F") }}</td><td class="text-center font-info">{{ _("I") }}</td>' +
               '<td class="text-center font-info">{{ _("H") }}</td><td class="text-center font-info">{{ _("F") }}</td>' +
               '<td class="text-center font-info">{{ _("I") }}</td></tr>' ;
let res_body = '' ;

let val_E_M = {} ;
let val_E_F = {} ;
let val_E_I = {} ;
let val_I_M = {} ;
let val_I_F = {} ;
let val_I_I = {} ;
let val_T_M = {} ;
let val_T_F = {} ;
let val_T_I = {} ;

    // calculate statistic
    for( i = 0; i < data.length; i++ )
    {
    let nb_ana = data[i].nb_ana ;

    if (data[i].rec_type == 183)
    {
        if ( data[i].sex == 1 )
        {
            if (val_E_M[data[i].code] != undefined)
            val_E_M[data[i].code] += data[i].nb_ana ;
            else
            val_E_M[data[i].code] = data[i].nb_ana ;



            if (val_T_M[data[i].code] != undefined)
            val_T_M[data[i].code] += data[i].nb_ana ;
            else
            val_T_M[data[i].code] = data[i].nb_ana ;

        }
        else if ( data[i].sex == 2 )
        {
            if (val_E_F[data[i].code] != undefined)
            val_E_F[data[i].code] += data[i].nb_ana ;
            else
            val_E_F[data[i].code] = data[i].nb_ana ;

            if (val_T_F[data[i].code] != undefined)
            val_T_F[data[i].code] += data[i].nb_ana ;
            else
            val_T_F[data[i].code] = data[i].nb_ana ;
        }
        else
        {
            if (val_E_I[data[i].code] != undefined)
            val_E_I[data[i].code] += data[i].nb_ana ;
            else
            val_E_I[data[i].code] = data[i].nb_ana ;

            if (val_T_I[data[i].code] != undefined)
            val_T_I[data[i].code] += data[i].nb_ana ;
            else
            val_T_I[data[i].code] = data[i].nb_ana ;
        }
    }
    else
    {
        if ( data[i].sex == 1 )
        {
            if (val_I_M[data[i].code] != undefined)
            val_I_M[data[i].code] += data[i].nb_ana ;
            else
            val_I_M[data[i].code] = data[i].nb_ana ;

            if (val_T_M[data[i].code] != undefined)
            val_T_M[data[i].code] += data[i].nb_ana ;
            else
            val_T_M[data[i].code] = data[i].nb_ana ;

        }
        else if ( data[i].sex == 2 )
        {
            if (val_I_F[data[i].code] != undefined)
            val_I_F[data[i].code] += data[i].nb_ana ;
            else
            val_I_F[data[i].code] = data[i].nb_ana ;

            if (val_T_F[data[i].code] != undefined)
            val_T_F[data[i].code] += data[i].nb_ana ;
            else
            val_T_F[data[i].code] = data[i].nb_ana ;
        }
        else
        {
            if (val_I_I[data[i].code] != undefined)
            val_I_I[data[i].code] += data[i].nb_ana ;
            else
            val_I_I[data[i].code] = data[i].nb_ana ;

            if (val_T_I[data[i].code] != undefined)
            val_T_I[data[i].code] += data[i].nb_ana ;
            else
            val_T_I[data[i].code] = data[i].nb_ana ;
        }

    }
        
        // avoid undefined total
        if (val_E_M[data[i].code] == undefined)
        val_E_M[data[i].code] = 0 ;

        if (val_E_F[data[i].code] == undefined)
        val_E_F[data[i].code] = 0 ;

        if (val_E_I[data[i].code] == undefined)
        val_E_I[data[i].code] = 0 ;

        if (val_I_M[data[i].code] == undefined)
        val_I_M[data[i].code] = 0 ;

        if (val_I_F[data[i].code] == undefined)
        val_I_F[data[i].code] = 0 ;

        if (val_I_I[data[i].code] == undefined)
        val_I_I[data[i].code] = 0 ;

        if (val_T_M[data[i].code] == undefined)
        val_T_M[data[i].code] = 0 ;

        if (val_T_F[data[i].code] == undefined)
        val_T_F[data[i].code] = 0 ;

        if (val_T_I[data[i].code] == undefined)
        val_T_I[data[i].code] = 0 ;
    }

let line   = '' ;
let code_p = '' ;

    for( i = 0; i < data.length; i++ )
    {
        if (code_p != data[i].code )
        {
        code_p = data[i].code ;

        line += '<tr><td class="text-center">'+ data[i].analysis + ' [' + data[i].code +']</td>' ;

        line += '<td class="text-center">' + val_E_M[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_E_F[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_E_I[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_I_M[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_I_F[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_I_I[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_T_M[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_T_F[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_T_I[data[i].code] +'</td></tr>' ;

        res_body += line ;

        csv_type += data[i].analysis + ' [' + data[i].code +'];' + val_E_M[data[i].code] + ';' + 
                    val_E_F[data[i].code] + ';' + val_E_I[data[i].code] + ';' + val_I_M[data[i].code] + ';' +
                    val_I_F[data[i].code] + ';' + val_I_I[data[i].code] + ';' + val_T_M[data[i].code] + ';' +
                    val_T_F[data[i].code] + ';' + val_T_I[data[i].code] + '\n' ;

        line = '' ;
        }
    }

    $("#thead_stat_by_type").append(res_head) ;
    $("#tbody_stat_by_type").append(res_body) ;
}

function display_by_age( data )
{
let len_data = data_interval.length ;
let res_head = '<tr><th>{{ _("Analyses") }}</th>' ;
let res_sub  = '<tr><td></td>' ;
let sub_head = '<td class="text-center font-info">{{ _("H") }}</td><td class="text-center font-info">{{ _("F") }}</td><td class="text-center font-info">{{ _("I") }}</td>' ;
let res_body = '' ;

{% for obj in ihm['age_interval'] %}
let val_{{loop.index0}}_M = {} ;
let val_{{loop.index0}}_F = {} ;
let val_{{loop.index0}}_I = {} ;
{% endfor %}

let val_T_M = {} ;
let val_T_F = {} ;
let val_T_I = {} ;

    // calculate statistic
    for( i = 0; i < data.length; i++ )
    {
    let nb_ana = data[i].nb_ana ;

        if ( data[i].age == null )
        {
            if ( data[i].sex == 1 )
            {
                if (val_T_M[data[i].code] != undefined)
                val_T_M[data[i].code] += data[i].nb_ana ;
                else
                val_T_M[data[i].code] = data[i].nb_ana ;

            }
            else if ( data[i].sex == 2 )
            {
                if (val_T_F[data[i].code] != undefined)
                val_T_F[data[i].code] += data[i].nb_ana ;
                else
                val_T_F[data[i].code] = data[i].nb_ana ;
            }
            else
            {
                if (val_T_I[data[i].code] != undefined)
                val_T_I[data[i].code] += data[i].nb_ana ;
                else
                val_T_I[data[i].code] = data[i].nb_ana ;
            }


        }{% for obj in ihm['age_interval'] %}
        else if ( (data_interval[{{loop.index0}}].ais_lower_bound == "" || data[i].age > data_interval[{{loop.index0}}].ais_lower_bound) &&
                  (data_interval[{{loop.index0}}].ais_upper_bound == "" || data[i].age <= data_interval[{{loop.index0}}].ais_upper_bound) )
        {
            if ( data[i].sex == 1 )
            {
                if (val_{{loop.index0}}_M[data[i].code] != undefined)
                val_{{loop.index0}}_M[data[i].code] += data[i].nb_ana ;
                else
                val_{{loop.index0}}_M[data[i].code] = data[i].nb_ana ;

                if (val_T_M[data[i].code] != undefined)
                val_T_M[data[i].code] += data[i].nb_ana ;
                else
                val_T_M[data[i].code] = data[i].nb_ana
            }
            else if ( data[i].sex == 2 )
            {
                if (val_{{loop.index0}}_F[data[i].code] != undefined)
                val_{{loop.index0}}_F[data[i].code] += data[i].nb_ana ;
                else
                val_{{loop.index0}}_F[data[i].code] = data[i].nb_ana ;

                if (val_T_F[data[i].code] != undefined)
                val_T_F[data[i].code] += data[i].nb_ana ;
                else
                val_T_F[data[i].code] = data[i].nb_ana
            }
            else
            {
                if (val_{{loop.index0}}_I[data[i].code] != undefined)
                val_{{loop.index0}}_I[data[i].code] += data[i].nb_ana ;
                else
                val_{{loop.index0}}_I[data[i].code] = data[i].nb_ana ;

                if (val_T_I[data[i].code] != undefined)
                val_T_I[data[i].code] += data[i].nb_ana ;
                else
                val_T_I[data[i].code] = data[i].nb_ana
            }
        }{% endfor %}
        
        // avoid undefined total
        if (val_T_M[data[i].code] == undefined)
        val_T_M[data[i].code] = 0 ;

        if (val_T_F[data[i].code] == undefined)
        val_T_F[data[i].code] = 0 ;

        if (val_T_I[data[i].code] == undefined)
        val_T_I[data[i].code] = 0 ;
    }

    // prepare columns age interval
    for( i = 0; i < len_data; i++ )
    {
    let head_name = '' ;
    
        if (data_interval[i].ais_lower_bound == "")
        {
        head_name = '{{ _("Moins de") }} ' + data_interval[i].ais_upper_bound + ' {{ _("ans") }}' ;

        csv_head_age += "< " + data_interval[i].ais_upper_bound + " H;" + 
                        "< " + data_interval[i].ais_upper_bound + " F;" +
                        "< " + data_interval[i].ais_upper_bound + " I;"
        }
        else if (data_interval[i].ais_upper_bound == "")
        {
        head_name = '{{ _("Plus de") }} ' + data_interval[i].ais_lower_bound + ' {{ _("ans") }}' ;

        csv_head_age += "> " + data_interval[i].ais_lower_bound + " H;" +
                        "> " + data_interval[i].ais_lower_bound + " F;" +
                        "> " + data_interval[i].ais_lower_bound + " I;" ;
        }
        else
        {
        head_name = data_interval[i].ais_lower_bound + ' {{ _("à") }} ' + data_interval[i].ais_upper_bound + ' {{ _("ans") }}' ;
        csv_head_age += data_interval[i].ais_lower_bound + " - " + data_interval[i].ais_upper_bound + " H;" +
                        data_interval[i].ais_lower_bound + " - " + data_interval[i].ais_upper_bound + " F;" +
                        data_interval[i].ais_lower_bound + " - " + data_interval[i].ais_upper_bound + " I;" ;
        }

    res_head += '<th class="text-center font-info" colspan="3">' + head_name  + '</th>' ;
    res_sub  += sub_head ;
    }

csv_head_age += "Total H;Total F;Total I\n" ;

res_head += '<th class="text-center font-info" colspan="3">{{ _("Total") }}</th></tr>' ;
res_sub  += sub_head + '</tr>' ;

res_head += res_sub ;

let line   = '' ;
let code_p = '' ;
let csv_line = '' ;

    for( i = 0; i < data.length; i++ )
    {
        if (code_p != data[i].code )
        {
        code_p = data[i].code ;

        console.log("TRACE i="+i + " | code=" + data[i].code) ;

        line += '<tr><td class="text-center">'+ data[i].analysis + ' [' + data[i].code +']</td>' ;

        csv_line += data[i].analysis + ' [' + data[i].code +'];' ;

        {% for obj in ihm['age_interval'] %}
        val_M = 0 ;
        val_F = 0 ;
        val_I = 0 ;

            if (val_{{loop.index0}}_M[data[i].code] != undefined)
            val_M = val_{{loop.index0}}_M[data[i].code] ;

            if (val_{{loop.index0}}_F[data[i].code] != undefined)
            val_F = val_{{loop.index0}}_F[data[i].code] ;

            if (val_{{loop.index0}}_I[data[i].code] != undefined)
            val_I = val_{{loop.index0}}_I[data[i].code] ;

        line += '<td class="text-center">' + val_M +'</td>' ;
        line += '<td class="text-center">' + val_F +'</td>' ;
        line += '<td class="text-center">' + val_I +'</td>' ;

        csv_line += val_M + ";" + val_F + ";" + val_I + ";" ;
        {% endfor %}

        line += '<td class="text-center">' + val_T_M[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_T_F[data[i].code] +'</td>' ;
        line += '<td class="text-center">' + val_T_I[data[i].code] +'</td></tr>' ;

        csv_line += val_T_M[data[i].code] + ";" + val_T_F[data[i].code] + ";" + val_T_I[data[i].code] + "\n" ;

        res_body += line ;
        csv_age  += csv_line ;

        line = '' ;
        csv_line = '' ;
        }
    }

    $("#thead_stat_by_age").append(res_head) ;
    $("#tbody_stat_by_age").append(res_body) ;
}

function export_by_type()
{
    if (csv_type == "")
    return false ;

csv_type = "{{ _("Analyses") }};Ext H;Ext F;Ext I;Int H;Int F;Int I;Total H;Total F;Total I\n" + csv_type ;

csv_type = JSON.stringify(csv_type) ; 

let today = new Date();

let month = today.getMonth() + 1 ;

    if (month < 10) month = '0' + month ;

let day = today.getDate() ;

    if (day < 10) day = '0' + day ;

today = today.getFullYear() + '' + month + '' + day ;

var filename = "activity_by_type_" + today + ".csv" ;

var param = '{ "filename":"' + filename + '", ' +
              '"csv_str":' + csv_type + '}' ;

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/export/csv",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(ret)
        {
            $("#dial-wait").modal("hide") ;
        
        download_file( "PY", filename, "GEN", 0 ) ;
        },
        error: function(ret)
        {
            $("#dial-wait").modal("hide") ;

            alert("{{ _("Erreur lors de la génération du fichier") }}") ;
        }
    } ) ;
}

function export_by_age()
{
    if (csv_age == "")
    return false ;

csv_age = csv_head_age + csv_age ;

csv_age = JSON.stringify(csv_age) ; 

let today = new Date();

let month = today.getMonth() + 1 ;

    if (month < 10) month = '0' + month ;

let day = today.getDate() ;

    if (day < 10) day = '0' + day ;

today = today.getFullYear() + '' + month + '' + day ;

var filename = "activity_by_age_" + today + ".csv" ;

var param = '{ "filename":"' + filename + '", ' +
              '"csv_str":' + csv_age + '}' ;

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/export/csv",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(ret)
        {
            $("#dial-wait").modal("hide") ;
        
        download_file( "PY", filename, "GEN", 0 ) ;
        },
        error: function(ret)
        {
            $("#dial-wait").modal("hide") ;

            alert("{{ _("Erreur lors de la génération du fichier") }}") ;
        }
    } ) ;
}

function download_report()
{
var html_report = JSON.stringify($("#html_report")[0].outerHTML) ;
html_report = html_report.replaceAll("border:0", "border:1px solid #000") ;

var param = '{ "html": ' + html_report + ', ' + // No quotes with stringify
              '"filename": "activity"}' ;

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/pdf/report/generic",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(ret)
        {
            $("#dial-wait").modal("hide") ;
        
        let today = new Date();
        
        let month = today.getMonth() + 1 ;

        if (month < 10) month = '0' + month ;

        let day = today.getDate() ;

        if (day < 10) day = '0' + day ;

        today = today.getFullYear() + '' + month + '' + day ;

        let filename = "activity_" + today + ".pdf" ;

        download_file( "PY", filename, "GEN", 0 ) ;
        },
        error: function(ret)
        {
            $("#dial-wait").modal("hide") ;

        alert("{{ _("Erreur lors de la génération du fichier") }}") ;
        }
    } ) ;
}

$(".cnx_trigger").keyup( function(event) 
{
    if (event.which == 13)
    {
    event.preventDefault() ;
    $("#btn_search").click() ;
    }
} ) ;

$( document ).ready( function()
{
display_data() ;
} ) ;
</script>
{% endblock %}
