{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Export DHIS2") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Export DHIS2") }}</span></h2>
            <form>
                <div class="row">
                    <div class="form-group form-inline col-12 mt-3">
                        <label for="date_beg" class="col-form-label col-2 text-right">{{ _("Date de début de période ") }} </label>
                        <div>					
                            <input id="date_beg" class="form-control" type="date" maxlength="10" size="10" value="" name="date_beg" style="color: #888;">
                        </div>
                    </div>
                    <div class="form-group form-inline col-12 mt-3">
                        <label for="calc" class="col-form-label col-2 text-right"> {{ _("Feuille de calcul") }} </label>
                        <div>					
                           <select name="spreadsheet" id="spreadsheet" class="form-control">
                               <option value="" selected="selected"></option>
                               {% for filename in args['data_dhis2'] %}
                               <option value="{{ filename }}">{{ filename }}</option>
                               {% endfor %}
                            </select> 
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="float-left" style="margin-left:0px;">
                        <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                    </div>
                    <div class="float-right mr-2" style="margin-left:0px;">
                        <input type="button" onclick="export_dhis2();" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Récupérer les données") }}">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
function export_dhis2()
{
var id_user  = {{ session['user_id']|safe}} ;
var date_beg = $("#date_beg").val() ;
var filename = $("#spreadsheet").val() ;
var param    = '{"date_beg":"' + date_beg + '", ' +
                '"filename":"' + filename + '", ' +
                '"id_user":' + id_user + '}' ;

    if ( filename == "" )
    {
    alert("{{ _("Veuillez sélectionner une feuille de calcul.") }}") ;
    return false ;
    }

    $("#dial-wait").modal("show") ;

    $("#dial-wait").off() ;

    $("#dial-wait").on('shown.bs.modal', function () 
    {
        $.ajax( 
        {
            type: "POST",
            url: "{{ session['server_ext'] }}/services/export/dhis2",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param,
            success: function(ret)
            {
                $("#dial-wait").modal("hide") ;

            let spreadsheet = filename.substr(0, filename.length-4) ;

            download_file( "PY", "dhis2_" + spreadsheet + "_" + date_beg + ".csv", "GEN", 0 ) ;
            },
            error: function(ret)
            {
                $("#dial-wait").modal("hide") ;

            console.log("ERROR POST export dhis2");
            alert("{{ _("Erreur lors de la génération du fichier") }}") ;
            }
        } ) ;
    } ) ;
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/homepage" ;
}

$( document ).ready( function()
{
    $("#date_beg").val( "{{ now|date_now }}" ) ;
} ) ;
</script>
{% endblock %}
