<label for="send_method_last" class="visually-hidden">{{ _("Méthodes") }}</label>
<select id="send_method_last" class="form-select form-select-sm w-auto"></select>
<label for="send_model_last" class="visually-hidden">{{ _("Modèles") }}</label>
<select id="send_model_last"  class="form-select form-select-sm w-auto"></select>
<label for="send_recipient_last" class="visually-hidden">{{ _("Destinataire") }}</label>
<input  id="send_recipient_last" class="form-control form-control-sm w-auto" placeholder="{{ _("Destinataire") }}" />
<button type="button" class="btn btn-sm btn-{{ session['user_role']|safe }}" onclick="send_last_report('__FILE__')">{{ _("Envoyer") }}</button>
{% if args['patient']['pat_agreement'] == 'Y' and args['doctor']['doc_agreement'] == 'Y' %}
<button type="button" id="btn_toggle_recipient"
        class="btn btn-sm btn-outline-secondary ms-2"
        data-bs-toggle="tooltip"
        title="{{ _("Récupérer contact du praticien") }}"
        onclick="toggleRecipient()">
    <i class="bi bi-arrow-left-right"></i>
</button>
{% endif %}
<div id="send_inline_help_last" class="form-text mt-1"></div>
