{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Paramétrage de la sauvegarde") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Paramétrage de la sauvegarde") }}</span></h2>
            <form autocomplete="off" class="row mt-3">
                <div class="col-6 text-center">
                    <input type="button" onclick="run_media();" id="btn_media" value="{{ _("INITIALISER LE MEDIA") }}" class="col-6 mt-3 btn btn-{{ session['user_role']|safe }}" disabled>
                    <input type="button" onclick="run_keygen();" id="btn_keygen" value="{{ _("GENERER CLE DE SAUVEGARDE") }}" class="col-6 mt-3 btn btn-{{ session['user_role']|safe }}" disabled>
                    <input type="button" onclick="run_backup();" id="btn_run_save" value="{{ _("SAUVEGARDER") }}" class="col-6 mt-3 btn btn-{{ session['user_role']|safe }}" disabled>
                    <input type="button" onclick="run_restore();" id="btn_run_restore" value="{{ _("RESTAURER") }}" class="col-6 mt-3 btn btn-{{ session['user_role']|safe }}" disabled>
                </div>
                <div id="tempAnchor"></div>
                <div class="col-6">
                    <div class="form-group form-inline">
                        <label for="start-time" class="col-form-label col-5 text-right mt-2">{{ _("Heure de sauvegarde") }} *</label>
                        <div>
                            <input  type="time" name="start-time" id="start-time" class="form-control" maxlength="10" size="10" value="{{  args['bks_start_time'] }}" style="color: #888;">     
                        </div>
                    </div>
                </div>
            </form>

            <div class="mb-5 clearfix">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-right">
                    <input type="button" onclick="save();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-{{ session['user_role']|safe }} ml-2">
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block add_script %}
<script>
function save()
{
    if ( window.confirm("{{ _("Merci de confirmer la modification de l'heure de sauvegarde quotidienne.") }}") )
    {
    let start_time  = $("#start-time").val()  ;
    let msg = "" ;

        if (start_time == "")
        msg += "{{ _("Veuillez saisir une heure de sauvegarde.") }}\n" ;

        if (msg != "")
        {
        alert( msg ) ;
        return false ;
        }

    start_time = start_time + ':00' ;  // add second default values

    var param = '{ "start_time":"' + start_time + '"}' ;

        $.ajax( {
           type: "POST",
           url: "/services/setting/backup",
           dataType: 'json',
           contentType: "application/json; charset=utf-8",
           data: param,
           success: function(data)
               {
               tempAlert("{{ _("Enregistrement réussi") }}", 2000, "tempAnchor") ;
               },
           error: function(data)
               {
               console.log("ERROR POST setting backup") ;
               alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
               }
        } ) ;
    }
}

function run_keyexist()
{
    $.ajax( {
       type: "GET",
       url: "/services/setting/script/keyexist",
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           //tempAlert("{{ _("Lancement réussi") }}", 2000, "tempAnchor") ;
           console.log("data="+JSON.stringify(data)) ;
           },
       error: function(ret)
           {
           console.log("ERROR POST setting restore") ;
           console.log("ret="+JSON.stringify(ret)) ;
           }
    } ) ;
}

function run_listmedia()
{
    if ( window.confirm("{{ _("Merci") }}") )
    {
        

        $.ajax( {
           type: "POST",
           url: "/services/setting/script/listmedia",
           dataType: 'json',
           contentType: "application/json; charset=utf-8",
           data: param,
           success: function(data)
               {
               tempAlert("{{ _("Lancement réussi") }}", 2000, "tempAnchor") ;
               },
           error: function(data)
               {
               console.log("ERROR POST setting listmedia") ;
               alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
               }
        } ) ;
    }
}

function run_keygen()
{
    if ( window.confirm("{{ _("Merci de confirmer le lancement immédiat de la génération de clefs de sauvegarde.") }}") )
    {
        $.ajax( {
           type: "POST",
           url: "/services/setting/script/keygen",
           dataType: 'json',
           contentType: "application/json; charset=utf-8",
           data: param,
           success: function(data)
               {
               tempAlert("{{ _("Lancement réussi") }}", 2000, "tempAnchor") ;
               },
           error: function(data)
               {
               console.log("ERROR POST setting keygen") ;
               alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
               }
        } ) ;
    }
}

function run_backup()
{
    if ( window.confirm("{{ _("Merci de confirmer le lancement immédiat de la sauvegarde.") }}") )
    {
        $.ajax( {
           type: "POST",
           url: "/services/setting/script/backup",
           dataType: 'json',
           contentType: "application/json; charset=utf-8",
           data: param,
           success: function(data)
               {
               tempAlert("{{ _("Lancement réussi") }}", 2000, "tempAnchor") ;
               },
           error: function(data)
               {
               console.log("ERROR POST setting backup") ;
               alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
               }
        } ) ;
    }
}

function run_restore()
{
    if ( window.confirm("{{ _("Merci de confirmer le lancement immédiat de la restauration.") }}") )
    {
        $.ajax( {
           type: "POST",
           url: "/services/setting/script/restore",
           dataType: 'json',
           contentType: "application/json; charset=utf-8",
           data: param,
           success: function(data)
               {
               tempAlert("{{ _("Lancement réussi") }}", 2000, "tempAnchor") ;
               },
           error: function(data)
               {
               console.log("ERROR POST setting restore") ;
               alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
               }
        } ) ;
    }
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/homepage";
}

$( document ).ready( function()
{
run_keyexist() ;
} ) ;
</script>
{% endblock %}
