{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Gestion impression étiquettes") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Gestion impression étiquettes") }}</span></h2>
            <form autocomplete="off">
                <div class="text-center row">
                    <span class="col-12 text-center font-info">{{ _("Sur la base d'une page A4 en mode portrait") }}</span>
                </div>
                <div class="form-group row mt-3">
                    <label for="sts_width" class="col-form-label col-3 text-right mt-2">{{ _("Longueur étiquette (mm)") }}</label>
                    <div>					
                        <input type="number" name="sts_width" id="sts_width" value="{{ args['sts_width'] }}" min="1" step="1" class="form-control">			
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sts_height" class="col-form-label col-3 text-right mt-2">{{ _("Hauteur étiquette (mm)") }}</label>
                    <div class="">					
                        <input type="number" name="sts_height" id="sts_height" value="{{ args['sts_height'] }}" min="1" step="1" class="form-control">			
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sts_margin_top" class="col-form-label col-3 text-right mt-2">{{ _("Marge haute de la page (mm)") }}</label>
                    <div>					
                        <input type="number" name="sts_margin_top" id="sts_margin_top" value="{{ args['sts_margin_top'] }}" min="0" step="1" class="form-control">			
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="sts_margin_bottom" class="col-form-label col-3 text-right mt-2">{{ _("Marge basse de la page (mm)") }}</label>
                    <div>					
                        <input type="number" name="sts_margin_bottom" id="sts_margin_bottom" value="{{ args['sts_margin_bottom'] }}" min="0" step="1" class="form-control">			
                    </div>
                </div>
                 <div class="form-group row">
                    <label for="sts_margin_left" class="col-form-label col-3 text-right mt-2">{{ _("Marge gauche de la page (mm)") }}</label>
                    <div>					
                        <input type="number" name="sts_margin_left" id="sts_margin_left" value="{{ args['sts_margin_left'] }}" min="0" step="1" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sts_margin_right" class="col-form-label col-3 text-right mt-2">{{ _("Marge droite de la page (mm)") }}</label>
                    <div>					
                        <input type="number" name="sts_margin_right" id="sts_margin_right" value="{{ args['sts_margin_right'] }}" min="0" step="1" class="form-control">			
                    </div>
                </div>
                <div id="tempAnchor"></div>
            </form>
            
            <div class="clearfix my-2">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-right">
                    <input type="button" onclick="print_test();" id="btn_print" value="{{ _("Générer une planche test") }}" class="btn btn-{{ session['user_role']|safe }}">
                    <input type="button" onclick="save_det();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-{{ session['user_role']|safe }} ml-2">
                </div>
            </div>
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
function save_det()
{
var id_owner          = {{ session['user_id_group']|safe }} ;
var sts_ser           = {% if args %}{{ args['sts_ser']|safe }}{% else %}0{% endif %} ;
var sts_width         = $("#sts_width").val()  ;
var sts_height        = $("#sts_height").val() ;
var sts_margin_top    = $("#sts_margin_top").val()    ;
var sts_margin_bottom = $("#sts_margin_bottom").val() ;
var sts_margin_left   = $("#sts_margin_left").val()   ;
var sts_margin_right  = $("#sts_margin_right").val()  ;

var param = '{ "id_owner":' + id_owner + ', ' +
              '"sts_ser":' + sts_ser + ', ' +
              '"sts_width":' + sts_width + ', ' +
              '"sts_height":' + sts_height + ', ' +
              '"sts_margin_top":' + sts_margin_top + ', ' +
              '"sts_margin_bottom":' + sts_margin_bottom + ', ' +
              '"sts_margin_left":' + sts_margin_left + ', ' +
              '"sts_margin_right":' + sts_margin_right + '}' ;

console.log("DEBUG param=" + JSON.stringify(param)) ;

    $.ajax( {
       type: "POST",
       url: "/services/setting/sticker/" + sts_ser,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           tempAlert("{{ _("Enregistrement réussi") }}", 2000, "tempAnchor") ;
           },
       error: function(data)
           {
           console.log("ERROR POST setting sticker") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function print_test()
{
var sts_width         = $("#sts_width").val()  ;
var sts_height        = $("#sts_height").val() ;
var sts_margin_top    = $("#sts_margin_top").val()    ;
var sts_margin_bottom = $("#sts_margin_bottom").val() ;
var sts_margin_left   = $("#sts_margin_left").val()   ;
var sts_margin_right  = $("#sts_margin_right").val()  ;

var param = '{ "sts_width":' + sts_width + ', ' +
              '"sts_height":' + sts_height + ', ' +
              '"sts_margin_top":' + sts_margin_top + ', ' +
              '"sts_margin_bottom":' + sts_margin_bottom + ', ' +
              '"sts_margin_left":' + sts_margin_left + ', ' +
              '"sts_margin_right":' + sts_margin_right + '}' ;

    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/pdf/barcode/num/2021000001" ,
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(ret)
        {
        download_file( "PY", "barcode_2021000001.pdf", "GEN", 0 ) ;
        },
        error: function(ret)
        {
        console.log("ERROR POST pdf barcode");
        alert("Erreur lors de la génération du PDF code barre") ;
        }
    } ) ;
}

function cancel()
{
window.history.back() ;
}
</script>
{% endblock %}
