{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Paramétrage du logo pour les documents") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-color"><span>{{ _("Paramétrage du logo pour les documents") }}</span></h2>
            <div class="d-lg-flex ms-5">
                <label>{{ _("Logo original") }} :</label>
                <img src="{{ session['server_ext'] }}/resource/logo.png?{{ rand }}" alt="logo" class="img-fluid">
            </div>
            <div class="d-lg-flex ms-5">
                <label>{{ _("Logo tel qu'il apparaitra dans l'entête de rapport") }}<br />{{ _("Largeur forcée à 230 pixels et conserve les proportions") }} :</label>
                <img src="{{ session['server_ext'] }}/resource/logo.png?{{ rand }}" width="230" alt="resized_logo">
            </div>
            <br />
            <p class="ms-5">{{ _("Le fichier doit être au format png ou jpg") }}</p>
            <div class="d-lg-flex">
                <div class="offset-lg-1 uploadHTML5 d-inline-block pe-3">
                    <input name="file" type="file" class="mb-1"/>
                </div> 
            </div>
            <div class="d-lg-flex">
                <div class="offset-lg-1">
                    <input type="button" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _("Enregistrer") }}" onclick="upload_logo();">
                </div>
            </div>
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
function upload_logo()
{
let param_form = new FormData() ;

param_form.append('file', $('input[type=file]')[0].files[0]) ;

    $.ajax(
    {
        type : 'POST',
        url : "{{ session['server_ext'] }}/upload-logo",
        dataType: 'json',
        contentType: false,
        processData: false,
        data: param_form,
        success : function(response)
        {
        console.log( "success upload logo ") ;
        location.reload() ;
        },
        error: function(response)
        {
        console.log("ERROR upload logo") ;
        alert("{{ _("Une erreur est survenue lors du dépot du logo") }}") ;
        }
    } ) ;
}
</script>
{% endblock %}
