{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Paramétrage des services demandeurs") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Paramétrage des services demandeurs") }}</span></h2>
            <form autocomplete="off">
                <div class="panel-name row mt-3">
                    <div class="col-12">
                        <input type="button" onclick="add_value();" id="btn_add" value="{{ _("Ajouter un service") }}" class="btn btn-{{ session['user_role']|safe }} ms-2 float-end">
                    </div>
                </div>
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Services demandeurs") }}</h3>
                </div>
            </form>

            <form class="mt-3" id="value-list">
                <table class="table table-responsive table-striped table-hover table-lbk">
                    <thead>
                        <tr class="">
                            <th hidden>{{ _("serial") }}</th>
                            <th class="text-center">{{ _("Action") }}</th>
                            <th class="text-start">{{ _("Nom") }}</th>
                            <th class="text-start">{{ _("Position") }}</th>
                    </thead>
                    <tbody id="tbody_value">
                    </tbody>
                </table>
            </form>
            
            <div class="clearfix my-2">
                <div class="float-start">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-end">
                    <input type="button" onclick="save_dict();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-{{ session['user_role']|safe }} ms-2">
                </div>
            </div>

        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var struct_val  = {"id_ihm":0, "rqs_ser":0 ,"rqs_name":"", "rqs_rank":0} ;
var data_values = {% if args['data_values'] %}{{ args['data_values']|safe }}{% else %}[]{% endif %} ;
var ind_values  = {% if args['data_last_id'] %}{{ args['data_last_id'] }}{% else %}0{% endif %} ;

function add_value()
{
let tmp_struct_val = JSON.parse(JSON.stringify(struct_val)) ;

tmp_struct_val.id_ihm = ind_values++ ;

data_values.push(tmp_struct_val) ;

load_value( tmp_struct_val ) ;
}

function load_value( data )
{
let tr_value = '' ;
    
let obj = data ;

    if ( obj.id_ihm >= 0 )
    {
    let tmp_tr = '<tr class="">' ;

    let btn = '<input class="mt-2" type="button" onclick="del_value(' + obj.id_ihm + ');load_data();" value="' + '{{ _("Supprimer") }}' + '">' ;

    tmp_tr += create_td(obj.id_ihm, obj.id_ihm, "", "display:none;") ;
    tmp_tr += create_td("", btn, "text-center", "") ; // actions
    tmp_tr += create_td("", create_input("name_"+obj.id_ihm, "text", obj.rqs_name, 0, 100, ""), "", "") ;
    tmp_tr += create_td("", create_input("rank_"+obj.id_ihm, "number", obj.rqs_rank, 0, 20, ""), "", "") ;
    tmp_tr += '</tr>' ;

    tr_value += tmp_tr ;
    }

$("#tbody_value").append(tr_value) ;
}

function del_value( id_ihm )
{
    if ( window.confirm("{{ _("Merci de confirmer la suppression") }}") )
    {
        for( i in data_values )
        {
            if (data_values[i].id_ihm == id_ihm)
            {
            delete data_values[i] ;

            break ;
            }
        }
    }
    else
    return false ;
}

function load_data()
{
// clear table tbody
$("#tbody_value").empty() ;

    for( i in data_values )
    {
    load_value( data_values[i] ) ;
    }
}

function create_td(id, val, cls, style)
{
let tmp_td = '<td class="' + cls + '" id="' + id + '" style="' + style + '">' +
             '<div>' + val + '</div></td>' ;

return tmp_td ;
}

function create_input(id, type, val, min, max, fct)
{
let other_fct = '' ;

    // example : onchange for price
    if ( fct != "" )
    other_fct += fct + '(this);" ' ;

let tmp_input = '<input class="form-control w-auto" id="' + id + '" type="' + type + '" value="' + val + '" onfocus="old_value=this.value;" onChange="change_data(this);' + other_fct + '"' ;

    if (type == "number")
    tmp_input += 'min="' + min + '" max="' + max + '" style="max-width:75px;text-align:right;"' ;
    else if (type == "text" && max != "")
    tmp_input += 'maxlength="' + max + '"'

tmp_input += '>' ;

return tmp_input ;
}

function change_data( elem )
{
// Get new value from select or input
let val = $(elem).val() ;

// Change value in data structure
let id_elem = elem.id ;
let split_id = id_elem.split("_") ;
let id_ihm  = split_id[split_id.length -1] ; 

    for( i in data_values )
    {
        if (data_values[i].id_ihm == id_ihm )
        {
            if ( split_id[0] == "name" )
            data_values[i].rqs_name = val ;
            else if ( split_id[0] == "rank" )
            data_values[i].rqs_rank = val ;

        break ;
        }
    }
}

function save_dict()
{
var id_owner = {{ session['user_id']|safe}} ;
var param = '{ "list_val":[ ';
var tmp_value = '' ;

    for( i in data_values )
    {
        if (tmp_value != '')
        tmp_value += ', ' ;

    let name = data_values[i].rqs_name ;

        if (name == "")
        {
        alert( "{{ _("Veuillez renseigner le(s) libellé(s).") }}" ) ;
        return false ;
        }

    var param_val = '{ "id_owner":' + id_owner + ', ' +
                      '"rqs_ser":' + data_values[i].rqs_ser + ', ' +
                      '"rqs_name":"' + name + '", ' +
                      '"rqs_rank":' + data_values[i].rqs_rank + '}' ;

    tmp_value += param_val ;
    }

param += tmp_value + ' ] }';

    $.ajax( {
       type: "POST",
       url: "{{ session['server_ext'] }}/services/setting/requesting/services",
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           tempAlert("{{ _("Enregistrement réussi") }}", "btn_save") ;
           location.reload() ;
           },
       error: function(data)
           {
           console.log("ERROR POST requesting services") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function cancel()
{
window.history.back() ;
}

$( document ).ready( function()
{
load_data() ;
} ) ;
</script>
{% endblock %}
