{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Utilisateur") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}" nonce="{{ session['nonce'] }}"></script>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Utilisateur") }}</span></h2>
            <form autocomplete="off">
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Droits utilisateur") }}</h3>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3 mt-3">
                    <label for="role" class="form-label col-3 text-end mt-2 me-1">{{ _("Rôle") }} *</label>
                    <div>					
                        {% if args['user_id'] > 0 and args['role_type'] == 'A' and args['username'] == 'root' %}
                        <select id="role" name="role" class="form-select" onchange="role_choice(this);">
                            <option value="A" selected>{{ _("Administrateur") }}</option>
                        </select>
                        {% else %}
                        <select id="role" name="role" class="form-select" onchange="role_choice(this);" {{ 'disabled' if session['user_role'] != 'A' }}>
                            {% from 'macros.html' import select_user_role %}
                            {{ select_user_role(ihm['user_role'], args['role_type']) }}
                        </select>
                        {% endif %}
                    </div>
                </div>
                <div id="search_account" class="form-group align-items-start mt-3 {% if args['user_id'] == 0 or (args['user_id'] > 0 and args['role_type'] != 'P') %}d-none{% else %}d-lg-flex{% endif %}">
                    <label for="search_doctor" class="form-label col-3 text-end mt-2 me-1">{{ _("Prescripteur associé") }}</label>
                    <div>
                        <select id="search_doctor" class="form-select form-lbk form-search"></select>
                        {% if not args['side_account'] or args['side_account'] == 0  %}
                        <button type="button" onclick="new_doctor();" id="btn_doctor" class="btn btn-lbk btn-{{ session['user_role']|safe }}"><i class="bi bi-plus" /></i></button>
                        {% else %}
                        <br /><div class="mt-2">{{ args['prescriber'] }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Accès") }}</h3>
                </div>
                <div class="form-group align-items-start mt-3 mt-3 {% if args['user_id'] == 0 or (args['user_id'] > 0 and args['role_type'] != 'Z') %}d-lg-flex{% else %}d-none{% endif %}" id="div_login">
                    <label for="login" class="form-label col-3 text-end mt-2 me-1">{{ _("Identifiant") }}*</label>
                    <div>					
                        <input type="text" name="login" id="login" value="{{ args['username'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                {% if args['user_id'] == 0 %}
                <div class="form-group d-lg-flex align-items-start mt-3" id="div_pwd">
                    <label for="pwd" class="form-label col-3 text-end mt-2 me-1">{{ _("Mot de passe") }}*</label>
                    <div>					
                        <input type="password" name="pwd" id="pwd" value="" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3" id="div_pwd2">
                    <label for="pwd2" class="form-label col-3 text-end mt-2 me-1">{{ _("Confirmation du mot de passe") }}*</label>
                    <div>					
                        <input type="password" name="pwd2" id="pwd2" value="" class="form-control form-lbk">			
                    </div>
                </div>
                {% endif %}
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="cps" class="form-label col-3 text-end mt-2 me-1">{{ _("Numéro de matricule interne") }}</label>
                    <div>					
                        <input type="text" name="cps" id="cps" value="{{ args['cps'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="rpps" class="form-label col-3 text-end mt-2 me-1">{{ _("Numéro de la carte professionnelle") }}</label>
                    <div>					
                        <input type="text" name="rpps" id="rpps" value="{{ args['rpps'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                {% if args['user_id'] > 0 %}
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label class="form-label col-3 text-end mt-2 me-1">{{ _("Statut") }}</label>
                    <label class="form-label text-end mt-2 me-3">
                        <input type="radio" name="stat" value="A" {% if args['stat'] == 'A' %} checked="checked" {% endif %}>&nbsp;{{ _("Activé") }}</input>
                    </label>
                    <label class="form-label text-end mt-2 me-3 me-1">
                        <input type="radio" name="stat" value="D" {% if args['stat'] == 'D' or args['stat'] == 'X' %} checked="checked" {% endif %}>&nbsp;{{ _("Désactivé") }}</input>
                    </label>
                </div>
                {% endif %}

                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Identité") }}</h3>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3 mt-3">
                    <label for="firstname" class="form-label col-3 text-end mt-2 me-1">{{ _("Prénom") }}</label>
                    <div class="">					
                        <input type="text" name="firstname" id="firstname" value="{{ args['firstname'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="lastname" class="form-label col-3 text-end mt-2 me-1">{{ _("Nom") }}</label>
                    <div>					
                        <input type="text" name="lastname" id="lastname" value="{{ args['lastname'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label class="form-label col-3 text-end mt-2 me-1">{{ _("Langues *") }}</label>
                    <div>
                        <select id="lang" name="lang" class="form-select">
                            <option value="35" {% if args['lang'] == 35 %} selected {% endif %}>{{ _("Français (FR)") }}</option>
                            <option value="34" {% if args['lang'] == 34 %} selected {% endif %}>{{ _("Anglais (UK)") }}</option>
                            <option value="75" {% if args['lang'] == 75 %} selected {% endif %}>{{ _("Américain (US)") }}</option>
                            <option value="118" {% if args['lang'] == 118 %} selected {% endif %}>{{ _("Arabe (AR)") }}</option>
                            <option value="724" {% if args['lang'] == 724 %} selected {% endif %}>{{ _("Espagnole (ES)") }}</option>
                            <option value="1113" {% if args['lang'] == 1113 %} selected {% endif %}>{{ _("Khmer (KM)") }}</option>
                            <option value="1215" {% if args['lang'] == 1215 %} selected {% endif %}>{{ _("Laotien (LO)") }}</option>
                            <option value="137" {% if args['lang'] == 137 %} selected {% endif %}>{{ _("Malagasy (MG)") }}</option>
                            <option value="1620" {% if args['lang'] == 1620 %} selected {% endif %}>{{ _("Portugais (PT)") }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="email" class="form-label col-3 text-end mt-2 me-1">{{ _("Adresse email") }}</label>
                    <div>					
                        <input type="email" name="email" id="email" value="{{ args['email'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="title" class="form-label col-3 text-end mt-2 me-1">{{ _("Titre") }}</label>
                    <div>					
                        <select id="title" name="title" class="form-select">
                            <option value="0" {% if args['title'] == 0  %} selected {% endif %}></option>  
                            <option value="260" {% if args['title'] == 260 %} selected {% endif %}>{{ _("Monsieur") }}</option>
                            <option value="261" {% if args['title'] == 261 %} selected {% endif %}>{{ _("Madame") }}</option>
                            <option value="262" {% if args['title'] == 262 %} selected {% endif %}>{{ _("Mademoiselle") }}</option>
                            <option value="263" {% if args['title'] == 263 %} selected {% endif %}>{{ _("Docteur") }}</option>
                            <option value="264" {% if args['title'] == 264 %} selected {% endif %}>{{ _("Professeur") }}</option>
                        </select>			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="initial" class="form-label col-3 text-end mt-2 me-1">{{ _("Initiales") }}</label>
                    <div>					
                        <input type="text" name="initial" id="initial" value="{{ args['initial'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="birth" class="form-label col-3 text-end mt-2 me-1">{{ _("Date de naissance") }}</label>
                    <div>					
                        <input id="birth" class="form-control form-lbk" type="date" maxlength="10" size="10" value="{{ args['birth'] }}" name="birth" style="color: #888;">
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="address" class="form-label col-3 text-end mt-2 me-1">{{ _("Adresse") }}</label>
                    <div>					
                        <textarea id="address" name="address" rows="4" cols="50" class="form-control form-lbk">{{ args['address'] }}</textarea>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="phone" class="form-label col-3 text-end mt-2 me-1">{{ _("Numéro de téléphone") }}</label>
                    <div>					
                        <input type="text" name="phone" id="phone" value="{{ args['phone'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                 <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="arrived" class="form-label col-3 text-end mt-2 me-1">{{ _("Date d'arrivée au laboratoire") }}</label>
                    <div>					
                        <input id="arrived" class="form-control form-lbk" type="date" maxlength="10" size="10" value="{{ args['arrived'] }}" name="arrived" style="color: #888;">
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="position" class="form-label col-3 text-end mt-2 me-1">{{ _("Position actuelle dans le laboratoire") }}</label>
                    <div>					
                        <input type="text" name="position" id="position" value="{{ args['position'] }}" class="form-control form-lbk">			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="cv" class="form-label col-3 text-end mt-2 me-1">{{ _("CV") }}</label>
                    <div>					
                        <textarea id="cv" name="cv" rows="4" cols="50" class="form-control form-lbk">{{ args['cv'] }}</textarea>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="diploma" class="form-label col-3 text-end mt-2 me-1">{{ _("Diplômes") }}</label>
                    <div>					
                        <textarea id="diploma" name="diploma" rows="4" cols="50" class="form-control form-lbk">{{ args['diploma'] }}</textarea>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="training" class="form-label col-3 text-end mt-2 me-1">{{ _("Formations continues") }}</label>
                    <div>					
                        <textarea id="training" name="training" rows="4" cols="50" class="form-control form-lbk">{{ args['training'] }}</textarea>
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="section" class="form-label col-3 text-end mt-2 me-1">{{ _("Section de travail") }}</label>
                    <div>					
                        <select id="section" name="section" class="form-select">
                            {% from 'macros.html' import select_section %}
                            {{ select_section(ihm['sections'], args['section']) }}
                        </select>			
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="last_eval" class="form-label col-3 text-end mt-2 me-1">{{ _("Dernière évaluation des compétences") }}</label>
                    <div>					
                        <input id="last_eval" class="form-control form-lbk" type="date" maxlength="10" size="10" value="{{ args['last_eval'] }}" name="last_eval" style="color: #888;">
                    </div>
                </div>
                <div class="form-group d-lg-flex align-items-start mt-3">
                    <label for="comment" class="form-label col-3 text-end mt-2 me-1">{{ _("Commentaires") }}</label>
                    <div>					
                        <textarea id="comment" name="comment" rows="4" cols="50" class="form-control form-lbk">{{ args['comment'] }}</textarea>
                    </div>
                </div>
            </form>
            
            <div class="clearfix my-2">
                <div class="float-start ms-0">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-end">
                    <input type="button" onclick="save_user();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }} ms-2">
                </div>
            </div>
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
$("#search_doctor").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/doctor/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_doctor").text(),
        data: function (params) {

            return JSON.stringify({
                term: params.term
            });
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_doctor
                    }
                })
            };
        }
    }
} ) ;

function save_user()
{
var id_owner  = {{ session['user_id']|safe}} ;
var id_user   = {{ args['user_id']|safe }} ;
var login     = $("#login").val()     ;
var cps       = $("#cps").val()       ;
var rpps      = $("#rpps").val()      ;
var firstname = $("#firstname").val() ;
var lastname  = $("#lastname").val()  ;
var email     = $("#email").val()     ;
var title     = $("#title").val()     ;
var initial   = $("#initial").val()   ;
var birth     = $("#birth").val()     ; 
var phone     = $("#phone").val()     ;
var arrived   = $("#arrived").val()   ;
var position  = $("#position").val()  ;
var section   = $("#section").val()   ;
var last_eval = $("#last_eval").val() ;
{% if args['user_id'] > 0 %}
var stat      = $("input:radio[name=stat]:checked").val() ;
{% endif %}
var lang      = $("#lang").val() ;
var address   = JSON.stringify( $.trim( $("#address").val() ) )  ;
var cv        = JSON.stringify( $.trim( $("#cv").val() ) )       ;
var diploma   = JSON.stringify( $.trim( $("#diploma").val() ) )  ;
var training  = JSON.stringify( $.trim( $("#training").val() ) ) ;
var comment   = JSON.stringify( $.trim( $("#comment").val() ) )  ;
var role_type = $("#role").val()   ;
var id_pres   = $("#search_doctor").val() ;

var msg = "" ;

    if (id_pres == "" || id_pres == null)
    id_pres= 0 ;

    if (role_type == "Z")
    login = "staff_zzz" ; // temporary login to pass control

    if (login == "")
    msg += "{{ _("Veuillez saisir un identifiant.") }}\n" ;

{% if args['user_id'] == 0 %}
var pwd  = $("#pwd").val()  ;
var pwd2 = $("#pwd2").val() ;

    if (role_type == "Z")
    {
    pwd  = "zzzzzzzzz" ; // fake password modify by an another longer fake password by backend 
    pwd2 = "zzzzzzzzz" ;
    }

    if (pwd == "")
    msg += "{{ _("Veuillez saisir un mot de passe.") }}\n" ;

    if (pwd2 == "")
    msg += "{{ _("Veuillez confirmer votre mot de passe.") }}\n" ;

    if (pwd2 != pwd)
    msg += "{{ _("Les mots de passe ne correspondent pas !") }}\n" ;
{% endif %}

    if (lang == "" || lang == undefined)
    msg += "{{ _("Veuillez choisir une langue.") }}\n" ;

    if (role_type == '')
    msg += "{{ _("Veuillez choisir un rôle.") }}\n" ;

    if (msg != "")
    {
    alert( msg ) ;
    return false ;
    }

var param = '{ "id_owner":' + id_owner + ', ' +
              '"id_user":' + id_user + ', ' +
              '"login":"' + login + '", ' +
              {% if args['user_id'] == 0 %}
              '"password":"' + pwd + '", ' +
              {% endif %}
              '"cps":"' + cps + '", ' +
              '"rpps":"' + rpps + '", ' +
              {% if args['user_id'] > 0 %}
              '"stat":"' + stat + '", ' +
              {% endif %}
              '"firstname":"' + firstname + '", ' +
              '"lastname":"' + lastname + '", ' +
              '"lang":' + lang + ', ' +
              '"email":"' + email + '", ' +
              '"title":' + title + ', ' +
              '"initial":"' + initial + '", ' +
              '"birth":"' + birth + '", ' +
              '"phone":"' + phone + '", ' +
              '"arrived":"' + arrived + '", ' +
              '"position":"' + position + '", ' +
              '"section":' + section + ', ' +
              '"last_eval":"' + last_eval + '", ' +
              '"address":' + address + ', ' +   // No quotes with stringify
              '"cv":' + cv + ', ' +             // No quotes with stringify
              '"diploma":' + diploma + ', ' +   // No quotes with stringify
              '"training":' + training + ', ' + // No quotes with stringify
              '"comment":' + comment + ', ' +   // No quotes with stringify
              '"role_type":"' + role_type + '", ' + 
              '"id_pres":' + id_pres + '}' ;

    $.ajax( {
       type: "POST",
       url: "{{ session['server_ext'] }}/services/user/det/" + id_user,
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           {% if ihm['return_page'] %}
           window.location = "{{ session['server_ext'] }}/{{ ihm['return_page'] }}" ;
           {% else %}
           window.location = "{{ session['server_ext'] }}/setting-users" ;
           {% endif %}
           },
       error: function(data)
           {
           console.log("ERROR POST user det") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function role_choice( elem )
{
let val = $(elem).val() ;

    if ( val == 'P' )
    {
    $("#search_account").removeClass('d-none') ;
    $("#search_account").addClass('d-lg-flex') ;

    $("#div_login").removeClass('d-none') ;
    $("#div_pwd").removeClass('d-none') ;
    $("#div_pwd2").removeClass('d-none') ;

    $("#div_login").addClass('d-lg-flex') ;
    $("#div_pwd").addClass('d-lg-flex') ;
    $("#div_pwd2").addClass('d-lg-flex') ;
    }
    else if ( val == 'Z' )
    {
    $("#div_login").addClass('d-none') ;
    $("#div_pwd").addClass('d-none') ;
    $("#div_pwd2").addClass('d-none') ;

    $("#div_login").removeClass('d-lg-flex') ;
    $("#div_pwd").removeClass('d-lg-flex') ;
    $("#div_pwd2").removeClass('d-lg-flex') ;

    $("#search_account").addClass('d-none') ;
    $("#search_account").removeClass('d-lg-flex') ;
    }
    else
    {
    $("#div_login").removeClass('d-none') ;
    $("#div_pwd").removeClass('d-none') ;
    $("#div_pwd2").removeClass('d-none') ;

    $("#div_login").addClass('d-lg-flex') ;
    $("#div_pwd").addClass('d-lg-flex') ;
    $("#div_pwd2").addClass('d-lg-flex') ;

    $("#search_account").addClass('d-none') ;
    $("#search_account").removeClass('d-lg-flex') ;
    }
}

function new_doctor()
{
window.open("{{ session['server_ext'] }}/det-doctor/0", "_blank") ;
}

function cancel()
{
window.history.back() ;
}
</script>
{% endblock %}
