{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Analyse") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}" nonce="{{ session['nonce'] }}"></script>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Analyse") }}</span></h2>
            <form autocomplete="off">
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Analyse") }}</h3>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <div class="form-group form-inline">
                            <label for="code" class="col-form-label col-5 text-right mt-1 ">{{ _("Code") }} *</label>
                            <input type="text" name="code" id="code" value="{{ args['details']['code'] }}" class="form-control" style="width:50%">			
                            <input type="hidden" name="code_ori" id="code_ori" value="{{ args['details']['code'] }}">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group form-inline">
                            <label for="name" class="col-form-label col-4 text-right mt-1 ">{{ _("Désignation de l'acte") }} *</label>
                            <input type="text" name="name" id="name" value="{{ args['details']['nom'] }}" class="form-control" style="width:60%">			
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group form-inline">
                            <label for="abbr" class="col-form-label col-3 text-right mt-1 ">{{ _("Abréviation") }}</label>
                            <div>					
                                <input type="text" name="abbr" id="abbr" value="{{ args['details']['abbr'] }}" class="form-control">			
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group form-inline">
                            <label for="type_ana" class="col-form-label col-3 text-right mt-1 ">{{ _("Famille d'analyse") }}</label>
                            <div>
                                <select name="type_ana" id="type_ana" class="form-control">
                                    {% from 'macros.html' import select_type_ana %}
                                    {{ select_type_ana(ihm['type_ana'], args['details']['famille']) }}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group form-inline">
                            <label for="sample" class="col-form-label col-4 text-right mt-1 ">{{ _("Type de prélèvement") }}</label>
                            <div>					
                                <select name="type_prod" id="type_prod" class="form-control">
                                    <option value="0" selected="selected"></option>
                                    {% for product in ihm['products'] %}
                                    <option value="{{ product['id_data'] }}" {% if args['details']['type_prel'] == product['id_data'] %} selected {% endif %}>{{ product['label'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group form-inline">
                            <label for="unit" class="col-form-label col-6 text-right mt-1 ">{{ _("Unité de cotation") }}</label>
                            <input type="text" name="unit" id="unit" value="{{ args['details']['cote_unite'] }}" class="form-control" style="width:30%">			
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group form-inline">
                            <label for="value" class="col-form-label col-7 text-right mt-1 ">{{ _("Valeur de cotation") }}</label>
                            <input type="number" name="value" id="value" min="0" step="1" value="{{ args['details']['cote_valeur'] }}" class="form-control" style="width:90px;">			
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group form-inline">
                            <label class="col-form-label col-6 text-right mt-2">{{ _("Analyse active") }}</label>
                            <label class="col-form-label text-right mt-2 mr-3">
                                <input type="radio" name="stat" value="4" {% if not args['details'] or args['details']['actif'] == 4 %} checked="checked" {% endif %}>&nbsp;{{ _("Oui") }}</input>
                            </label>
                            <label class="col-form-label text-right mt-2 mr-3">
                                <input type="radio" name="stat" value="5" {% if args['details']['actif'] == 5 %} checked="checked" {% endif %}>&nbsp;{{ _("Non") }}</input>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group form-inline">
                            <label class="col-form-label col-6 text-right mt-2">{{ _("Export whonet") }}</label>
                            <label class="col-form-label text-right mt-2 mr-3">
                                <input type="radio" name="whonet" value="4" {% if args['details']['ana_whonet'] == 4 %} checked="checked" {% endif %} {% if session['user_role'] != 'A' %}disabled{% endif %}>&nbsp;{{ _("Oui") }}</input>
                            </label>
                            <label class="col-form-label text-right mt-2 mr-3">
                                <input type="radio" name="whonet" value="5" {% if not args['details'] or args['details']['ana_whonet'] == 5 %} checked="checked" {% endif %} {% if session['user_role'] != 'A' %}disabled{% endif %}>&nbsp;{{ _("Non") }}</input>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group form-inline">
                            <label for="comment" class="col-form-label col-2 text-right mt-2">{{ _("Commentaires") }}</label>
                            <div>					
                                <textarea id="comment" name="comment" rows="3" cols="80" class="form-control">{{ args['details']['commentaire'] }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- ### VARIABLES ### -->
            <form id="form_var" autocomplete="off">
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Variables") }}</h3>
                </div>
                <div class="row mt-2">
                    <div class="col-12 form-group form-inline">
                        <label for="search_var" class="col-form-label col-3 text-right ">{{ _("Chercher une variable") }}</label>
                        <div>
                            <select id="search_var" style="width:450px"></select>
                            <button type="button" onclick="add_var();" id="btn_var" title="{{ _("Créer une nouvelle variable") }}" class="btn btn-{{ session['user_role']|safe }}"><i class="fa fa-plus" /></i></button>
                        </div>
                    </div>

                    <div class="col-12 form-group form-inline">
                        <label for="var_label" class="col-form-label col-2 text-right mt-1 ">{{ _("Libellé") }} *</label>
                        <div>					
                            <input type="text" name="var_label" id="var_label" value="{% if args['var'] %}{{ args['var'][0]['label'] }}{% endif %}" class="group-det-var form-control" style="width:300px;" onChange="change_data(this);">			
                        </div>
                        <label for="var_code" class="col-form-label col-2 text-right mt-1 ">{{ _("Code var.") }}</label>
                        <div>					
                            <input type="text" name="var_code" id="var_code" value="{% if args['var'] %}{{ args['var'][0]['code_var'] }}{% endif %}" class="group-det-var form-control" onChange="change_data(this);" {% if session['user_role'] != 'A' %}readonly{% endif %} title="{{ _("Par défaut sera l'ID de la variable") }}" style="width:120px;">			
                        </div>
                        <label for="var_id" class="col-form-label col-1 text-right mt-1 ">{{ _("Id") }}</label>
                        <div>					
                            <input type="text" name="var_id" id="var_id" value="{% if args['var'] %}{{ args['var'][0]['id_data'] }}{% endif %}" class="form-control" readonly style="width:90px;">			
                        </div>
                    </div>

                    <div class="col-12 form-group form-inline">
                        <label for="var_type_res" class="col-form-label col-2 text-right mt-1 ">{{ _("Type de résultat") }} *</label>
                        <div>					
                            <select name="var_type_res" id="var_type_res" class="group-det-var form-control" onChange="change_data(this);">
                                <option value="0" selected="selected"></option>
                                {% for type_res in ihm['type_res'] %}
                                <option value="{{ type_res['id_data'] }}" {% if args['var'] and args['var'][0]['type_res'] == type_res['id_data'] %} selected {% endif %}>{{ type_res['label'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for="var_descr" class="col-form-label col-2 text-right mt-1 ">{{ _("Description") }}</label>
                        <div>					
                            <input type="text" name="var_descr" id="var_descr" value="{% if args['var'] %}{{ args['var'][0]['descr'] }}{% endif %}" class="group-det-var form-control" onChange="change_data(this);">			
                        </div>
                    </div>

                    <div class="col-12 form-group form-inline">
                        <label for="var_min" class="col-form-label col-2 text-right mt-1 ">{{ _("Valeur normale min.") }}</label>
                        <div>					
                            <input type="text" name="var_min" id="var_min" value="{% if args['var'] %}{{ args['var'][0]['normal_min'] }}{% endif %}" class="group-det-var form-control" onChange="change_data(this);">			
                        </div>
                        <label for="var_max" class="col-form-label col-2 text-right mt-1 ">{{ _("Valeur normale max.") }}</label>
                        <div>					
                            <input type="text" name="var_max" id="var_max" value="{% if args['var'] %}{{ args['var'][0]['normal_max'] }}{% endif %}" class="group-det-var form-control" onChange="change_data(this);">			
                        </div>
                    </div>

                    <div class="col-12 form-group form-inline">
                        <label for="var_formula" class="col-form-label col-2 text-right mt-1 ">{{ _("Formule") }}</label>
                        <div>					
                            <input type="text" name="var_formula" id="var_formula" value="{% if args['var'] %}{{ args['var'][0]['formula'] }}{% endif %}" class="group-det-var form-control" onChange="change_data(this);">			
                        </div>
                        <label for="var_unit" class="col-form-label col-1 text-right mt-1 ">{{ _("Unité") }}</label>
                        <div>					
                            <select name="var_unit" id="var_unit" class="group-det-var form-control" onChange="change_data(this);">
                                <option value="0" selected="selected"></option>
                                {% for unit in ihm['unit'] %}
                                <option value="{{ unit['id_data'] }}" {% if args['var'] and args['var'][0]['unit'] == unit['id_data'] %} selected {% endif %}>{{ unit['label'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for=var_accu" class="col-form-label col-1 text-right mt-1 ">{{ _("Précision") }}</label>
                        <input type="number" name="var_accu" id="var_accu" min="0" step="1" value="{% if args['var'] %}{{ args['var'][0]['accu'] }}{% endif %}" class="group-det-var form-control" style="width:80px;" onChange="change_data(this);">
                    </div>

                    <div class="col-12 form-group form-inline">
                        <label for="var_formula2" class="col-form-label col-2 text-right mt-1 ">{{ _("Formule de conversion unité 2") }}</label>
                        <div>					
                            <input type="text" name="var_formula2" id="var_formula2" value="{% if args['var'] %}{{ args['var'][0]['formula2'] }}{% endif %}" class="group-det-var form-control" onChange="change_data(this);">
                        </div>
                        <label for="var_unit2" class="col-form-label col-1 text-right mt-1 ">{{ _("Unité 2") }}</label>
                        <div>					
                            <select name="var_unit2" id="var_unit2" class="group-det-var form-control" onChange="change_data(this);">
                                <option value="0" selected="selected"></option>
                                {% for unit in ihm['unit'] %}
                                <option value="{{ unit['id_data'] }}" {% if args['var'] and args['var'][0]['unit2'] == unit['id_data'] %} selected {% endif %}>{{ unit['label'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for=var_accu2" class="col-form-label col-1 text-right mt-1 ">{{ _("Précision 2") }}</label>
                        <input type="number" name="var_accu2" id="var_accu2" min="0" step="1" value="{% if args['var'] %}{{ args['var'][0]['accu2'] }}{% endif %}" class="group-det-var form-control"  style="width:80px;" onChange="change_data(this);">			
                    </div>

                    <div class="col-12 form-group form-inline">
                        <label for="var_num" class="col-form-label col-2 text-right  mt-2">{{ _("Num. var pour la formule") }}</label>
                        <input type="number" name="var_num" id="var_num" min="0" step="1" value="{% if args['var'] %}{{ args['var'][0]['num_var'] }}{% endif %}" class="group-det-var form-control" style="width:80px;" onChange="change_data(this);">
                        <label for="var_pos" class="col-form-label col-2 text-right  mt-2">{{ _("Position affichage") }}</label>
                        <input type="number" name="var_pos" id="var_pos" min="0" step="1" value="{% if args['var'] %}{{ args['var'][0]['pos'] }}{% endif %}" class="group-det-var form-control" style="width:80px;" onChange="change_data(this);">
                    </div>

                    <div class="col-12 form-group form-inline">
                        <label for="var_comment" class="col-form-label col-2 text-right  mt-2">{{ _("Commentaires") }}</label>
                        <div>					
                            <textarea id="var_comment" name="var_comment" rows="3" cols="30" class="group-det-var form-control" onChange="change_data(this);">{% if args['var'] %}{{ args['var'][0]['comment'] }}{% endif %}</textarea>
                        </div>
                        <label class="col-form-label col-2 text-right  mt-2">{{ _("Résultat obligatoire") }}</label>
                        <label class="col-form-label text-right mt-2 mr-3">
                            <input type="radio" id="var_oblig_4" name="var_oblig" value="4" {% if args['var'] and args['var'][0]['oblig'] == 4 %} checked="checked" {% endif %} onChange="change_data(this);">&nbsp;{{ _("Oui") }}</input>
                        </label>
                        <label class="col-form-label text-right mt-2 mr-3">
                            <input type="radio" id="var_oblig_5" name="var_oblig" value="5" {% if not args['var'] or args['var'][0]['oblig'] == 5 %} checked="checked" {% endif %} onChange="change_data(this);">&nbsp;{{ _("Non") }}</input>
                        </label>
                        <label class="col-form-label col-2 text-right  mt-2">{{ _("Export whonet") }}</label>
                        <label class="col-form-label text-right mt-2 mr-3">
                            <input type="radio" id="var_whonet_4" name="var_whonet" value="4" {% if args['var'] and args['var'][0]['var_whonet'] == 4 %} checked="checked" {% endif %} {% if session['user_role'] != 'A' %}disabled{% endif %} onChange="change_data(this);">&nbsp;{{ _("Oui") }}</input>
                        </label>
                        <label class="col-form-label text-right mt-2 mr-3">
                            <input type="radio" id="var_whonet_5" name="var_whonet" value="5" {% if not args['var'] or args['var'][0]['var_whonet'] == 5 %} checked="checked" {% endif %} {% if session['user_role'] != 'A' %}disabled{% endif %} onChange="change_data(this);">&nbsp;{{ _("Non") }}</input>
                        </label>
                    </div>
                </div>
            </form>

            <!-- ### VAR TABLE ### -->
            <div class="row justify-content-center m-3" id="var-list">
                <table id="table_var" class="table table-striped table-hover col-12 table-lbk">
                    <thead>
                        <tr class="row">
                            <th hidden>{{ _("serial") }}</th>
                            <th class="col-1 text-left">{{ _("Action") }}</th>
                            <th class="col-5 text-center">{{ _("Nom") }}</th>
                            <th class="col-2 text-center">{{ _("Unité") }}</th>
                            <th class="col-1 text-center">{{ _("Min") }}</th>
                            <th class="col-1 text-center">{{ _("Max") }}</th>
                            <th class="col-1 text-center">{{ _("Num. var") }}</th>
                            <th class="col-1 text-center">{{ _("Position") }}</th>
                    </thead>
                    <tbody id="tbody_var">
                    </tbody>
                </table>
            </div>

            <form>
                <!-- display none useless ? -->
                <div class="panel-heading row d-none">
                    <h3 class="panel-title">{{ _("Sous analyses") }}</h3>
                </div>
                <div class="row mt-2 d-none">
                    <div class="col-12">
                        <div class="form-group form-inline">
                            <label for="search_ana" class="col-form-label col-3 text-right ">{{ _("Ajouter une analyse") }}</label>
                            <div>
                                <select id="search_ana" style="width:450px"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Produit biologique") }}</h3>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="form-group form-inline">
                            <label for="search_prod" class="col-form-label col-3 text-right ">{{ _("Chercher un produit biologique") }}</label>
                            <div>
                                {% if args['details'] and args['details']['produit_biologique'] and args['details']['produit_biologique'] > 0 %}
                                <select id="search_prod" style="width:450px" disabled></select>
                                <br />
                                <span class="mx-2" id="product_label">{{ args['details']['product_label'] }}</span>
                                <input type="hidden" id="product" value="{{ args['details']['produit_biologique'] }}">
                                <img id="btn_del_prod" onclick="del_prod();" title="{{ _("Supprimer") }}" src="{{ url_for('static', filename='img/close.png') }}"> 
                                {% else %}
                                <select id="search_prod" style="width:450px"></select>
                                <br />
                                <span class="mx-2" id="product_label"></span>
                                <input type="hidden" id="product" value="0">
                                <img id="btn_del_prod" onclick="del_prod();" title="{{ _("Supprimer") }}" src="{{ url_for('static', filename='img/close.png') }}" class="d-none">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="clearfix row mt-3">
                <div class="col-12">
                    <input type="button" onclick="cancel();" id="btn_cancel" value="{{ _("Annuler") }}" class="btn btn-{{ session['user_role']|safe }}">
                    <input type="button" onclick="save_ana();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-{{ session['user_role']|safe }} float-right">
                </div>
            </div>

        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var struct_var  = {"id_data":0 ,"label":"", "code_var":"", "descr":"", "type_res":"", "min":"", "max":"", "formula":"", "unit":0, "accu":0, "formula2":"", "unit2":0, "accu2":0, "comment":"", "oblig":5, "var_whonet":5, "num_var":0, "pos":0, "id_link":0, "unit_label":"", "id_item":0 } ;
var data_vars   = {% if args['var'] %}{{ args['var']|safe }}{% else %}[]{% endif %} ;
var ind_var     = 0 ;
var ind_sel_var = {% if args['var'] %}1{% else %}0{% endif %} ;

$("#search_var").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/analysis/variable/search",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_var").text(),
        data: function (params) {
            return JSON.stringify(
            {
                term: params.term
            } ) ;
        },
        processResults: function (data) {
            return {
                results: $.map(data, function (item) {
                    return {
                        text: item.field_value,
                        id: item.id_data
                    }
                })
            } ;
        }
    }
} ) ;

$("#search_var").on("select2:select", function (e) 
{
let id_var = $(e.currentTarget).val();

    // GET details of var
    $.ajax( {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/analysis/variable/det/" +  id_var,
        success: function(data_var)
            {
            let data_exist     = false ;
            let tmp_struct_var = JSON.parse(JSON.stringify(struct_var)) ;

                // check if not already used in this analysis
                $.map(data_vars,function(val,key) 
                { 
                    if( val != null && val.id_data == data_var.id_data ) 
                    { 
                    alert( "{{ _("Variable déjà utilisée dans cette analyse") }}" ) ;
                    data_exist = true; 
                    } 
                } ) ;

                if ( data_exist == false)
                {
                $("#search_var").empty() ;

                ind_var++ ;

                tmp_struct_var.id_item    = ind_var ;
                tmp_struct_var.id_data    = data_var.id_data ;
                tmp_struct_var.label      = data_var.label ;
                tmp_struct_var.code_var   = data_var.code_var ;
                tmp_struct_var.descr      = replaceUndefined(data_var.descr, "") ;
                tmp_struct_var.type_res   = replaceUndefined(data_var.type_res, 0) ;
                tmp_struct_var.min        = replaceUndefined(data_var.min, "") ;
                tmp_struct_var.max        = replaceUndefined(data_var.max, "") ;
                tmp_struct_var.formula    = replaceUndefined(data_var.formula, "") ;
                tmp_struct_var.unit       = replaceUndefined(data_var.unit, 0) ;
                tmp_struct_var.accu       = replaceUndefined(data_var.accu, 0) ;
                tmp_struct_var.formula2   = replaceUndefined(data_var.formula2, "") ;
                tmp_struct_var.unit2      = replaceUndefined(data_var.unit2, 0) ;
                tmp_struct_var.accu2      = replaceUndefined(data_var.accu2, 0) ;
                tmp_struct_var.comment    = replaceUndefined(data_var.comment, "") ;
                tmp_struct_var.oblig      = 5 ;
                tmp_struct_var.var_whonet = 5 ;
                tmp_struct_var.num_var    = 0 ;
                tmp_struct_var.pos        = 0 ;
                tmp_struct_var.id_link    = 0 ;
                tmp_struct_var.unit_label = "" ;

                ind_sel_var = ind_var ;

                data_vars.push(tmp_struct_var) ;

                // load new var in table
                load_data() ;

                edit_var( ind_var ) ;
                }
            },
        error: function(data_var)
            {
            console.log("ERROR GET det variable");
            alert("{{ _("Erreur lors la récupération des données") }}") ;
            }
    } ) ;


} ) ;

// fix bug between jquery 3.6.0 and select2
$(document).on('select2:open', () => 
{
document.querySelector('.select2-search__field').focus() ;
} ) ;

/*
$("#search_ana").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/analysis/search/" + {{ session['user_id']}},
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_analysis").text(),
        data: function (params) {
            return JSON.stringify(
            {
                term: params.term
            } ) ;
        },
        processResults: function (data) {
            return {
                // data need id key if not no focus selection displayed
                results: data
            } ;
        }
    },
    templateResult: formatRepoAna
} ) ;

function formatRepoAna(repo)
{
    if (repo.loading)
    return repo.text ;

var code = "" ;

    if (repo.code)
    code += "[" + repo.code + "]" ;

var name = "" ;

    if (repo.name)
    name += repo.name ;

var cat = "" ;

    if (repo.label)
    cat += repo.label ;

var display = $(
    "<div class='select2-result-repository clearfix'>" +
        "<div class='select2-result-repository__meta'>" +
            "<div class='select2-result-repository__code'><b>" + code + "</b></div>" +
            "<div class='select2-result-repository__name'>" + name + "</div>" +
            "<div class='select2-result-repository__category'>" + cat + "</div>" +
        "</div>" +
    "</div>") ;

return display ;
}

$("#search_ana").on("select2:select", function (e) 
{
let id_item = $(e.currentTarget).val();
} ) ;
*/

$("#search_prod").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/analysis/search/P",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_analysis").text(),
        data: function (params) {
            return JSON.stringify(
            {
                term: params.term
            } ) ;
        },
        processResults: function (data) {
            return {
                // data need id key if not no focus selection displayed
                results: data
            } ;
        }
    },
    templateResult: formatRepoProd
} ) ;

function formatRepoProd(repo)
{
    if (repo.loading)
    return repo.text ;

var code = "" ;

    if (repo.code)
    code += "[" + repo.code + "]" ;

var name = "" ;

    if (repo.name)
    name += repo.name ;

var cat = "" ;

    if (repo.label)
    cat += repo.label ;

var display = $(
    "<div class='select2-result-repository clearfix'>" +
        "<div class='select2-result-repository__meta'>" +
            "<div class='select2-result-repository__code'><b>" + code + "</b></div>" +
            "<div class='select2-result-repository__name'>" + name + "</div>" +
            "<div class='select2-result-repository__category'>" + cat + "</div>" +
        "</div>" +
    "</div>") ;

return display ;
}

$("#search_prod").on("select2:select", function (e) 
{
let id_prod     = $(e.currentTarget).val();
let data_search = $("#search_prod").select2('data') ;
let prod_label = data_search[0].code + " " + data_search[0].name

    $("#product_label").html( prod_label ) ;
    $("#product").val(id_prod) ;
    $("#search_prod").prop("disabled", true) ;
    $("#btn_del_prod").removeClass("d-none") ;
} ) ;

function del_prod()
{
    if ( window.confirm("{{ _("Merci de confirmer la suppression") }}") )
    {
        $("#product_label").html("") ;
        $("#product").val(0) ;
        $("#search_prod").prop("disabled", false) ;
        $("#btn_del_prod").addClass("d-none") ;
    }
    else
    return false ;
}

function add_var()
{
enabled_det_var("Y") ;

let tmp_struct_var = JSON.parse(JSON.stringify(struct_var)) ;

ind_var++ ;

tmp_struct_var.id_item = ind_var ;

ind_sel_var = ind_var ;

data_vars.push(tmp_struct_var) ;

load_var( tmp_struct_var) ;
}

function load_var( data )
{
let tr_var = '' ;
    
let obj = data ;

    if ( obj.id_link >= 0 )
    {
    let tmp_tr = '<tr class="row">' ;

    let btn_del = '<img onclick="del_var(' + obj.id_item + ');load_data();" title="{{ _("Supprimer") }}" src="{{ url_for('static', filename='img/close.png') }}">' ;
    let btn_edit= '<img onclick="edit_var(' + obj.id_item + ');" title="{{ _("Modifier") }}" src="{{ url_for('static', filename='img/edit.png') }}" class="mr-3">' ;

    tmp_tr += '<td id="' + obj.id_data + '" hidden><div>' + obj.id_data + '</div></td>' ;
    tmp_tr += '<td class="col-1"><span>' + btn_edit + btn_del + '</span></td>' ;
    tmp_tr += '<td class="col-5 text-left"><div>' + obj.label + '</div></td>' ;
    tmp_tr += '<td class="col-2 text-center"><div>' + replaceUndefined(obj.unit_label, "") + '</div></td>' ;
    tmp_tr += '<td class="col-1 text-center"><div>' + replaceUndefined(obj.min, "") + '</div></td>' ;
    tmp_tr += '<td class="col-1 text-center"><div>' + replaceUndefined(obj.max, "") + '</div></td>' ;
    tmp_tr += '<td class="col-1 text-center"><div>' + replaceUndefined(obj.num_var, 0) + '</div></td>' ;
    tmp_tr += '<td class="col-1 text-center"><div>' + replaceUndefined(obj.pos, 0) + '</div></td>' ;
   
    tmp_tr += '</tr>' ;

    tr_var += tmp_tr ;

        // display in input information for var selected or last added
        if ( ind_sel_var == obj.id_item )
        {
            edit_var( obj.id_item )
        }
    }

    $("#tbody_var").append(tr_var) ;
}

function edit_var( id_item )
{
let det_var = [] ;

    for( i in data_vars )
    {
        if (data_vars[i].id_item == id_item)
        {
        det_var = data_vars[i] ;

        break ;
        }
    }

ind_sel_var = id_item ;

$("#var_label").val( det_var.label ) ;
$("#var_code").val( det_var.code_var ) ;
$("#var_descr").val( det_var.descr ) ;
$("#var_id").val( det_var.id_data ) ;
$("#var_type_res").val( det_var.type_res ) ;
$("#var_min").val( det_var.min ) ;
$("#var_max").val( det_var.max ) ;
$("#var_formula").val( det_var.formula ) ;
$("#var_unit").val( det_var.unit ) ;
$("#var_accu").val( det_var.accu ) ;
$("#var_formula2").val( det_var.formula2 ) ;
$("#var_unit2").val( det_var.unit2 ) ;
$("#var_accu2").val( det_var.accu2 ) ;
$("#var_num").val( det_var.num_var ) ;
$("#var_pos").val( det_var.pos ) ;
$("#var_comment").val( det_var.comment ) ;

    if ( det_var.oblig == 4)
    {
    $("#var_oblig_4").prop("checked", true) ;
    }
    else if ( det_var.oblig == 5)
    {
    $("#var_oblig_5").prop("checked", true) ;
    }

    if ( det_var.var_whonet == 4)
    {
    $("#var_whonet_4").prop("checked", true)  ;
    }
    else if ( det_var.var_whonet == 5)
    {
    $("#var_whonet_5").prop("checked", true)  ;
    }
}

function del_var( id_item )
{
    if ( window.confirm("{{ _("Merci de confirmer la suppression") }}") )
    {
        for( i in data_vars )
        {
            if (data_vars[i].id_item == id_item)
            {
            delete data_vars[i] ;

            break ;
            }
        }
    }
    else
    return false ;
}

function load_data()
{
// clear table tbody
$("#tbody_var").empty() ;

    if (data_vars.length > 0)
    enabled_det_var("Y") ;

    for( i in data_vars )
    {
    ind_var = parseInt(i) + 1 ;

    data_vars[i].id_item = ind_var ;

    load_var( data_vars[i] ) ;
    }
}

function replaceUndefined(vl, vlr)
{
    if (typeof(vl) === "undefined")
    return vlr ;
    else
    return vl;
}

function change_data( elem )
{
// Get new value from select or input
let val = $(elem).val() ;

// Change value in data structure
let id_elem = elem.id ;

    if ( id_elem != "var_oblig_4" && id_elem != "var_oblig_5" &&
         id_elem != "var_whonet_4" && id_elem != "var_whonet_5" )
    {
        for( i in data_vars )
        {
            if (data_vars[i].id_item == ind_sel_var )
            {
            let val_elem = $("#" + id_elem).val() ;

                if (id_elem == "var_label")
                data_vars[i].label = val_elem ;
                else if (id_elem == "var_code")
                data_vars[i].code_var = val_elem ;
                else if (id_elem == "var_descr")
                data_vars[i].descr = val_elem ; 
                else if (id_elem == "var_type_res")
                data_vars[i].type_res = val_elem ;
                else if (id_elem == "var_min")
                data_vars[i].min = val_elem ;
                else if (id_elem == "var_max")
                data_vars[i].max = val_elem ;
                else if (id_elem == "var_formula")
                data_vars[i].formula = val_elem ;
                else if (id_elem == "var_unit")
                {
                data_vars[i].unit = val_elem ;

                data_vars[i].unit_label = $("#var_unit option:selected").text() ;
                }
                else if (id_elem == "var_accu")
                data_vars[i].accu = val_elem ;
                else if (id_elem == "var_formula2")
                data_vars[i].formula2 = val_elem ;
                else if (id_elem == "var_unit2")
                data_vars[i].unit2 = val_elem ;
                else if (id_elem == "var_accu2")
                data_vars[i].accu2 = val_elem ;
                else if (id_elem == "var_comment")
                data_vars[i].comment = val_elem ;
                else if (id_elem == "var_num")
                data_vars[i].num_var = val_elem ;
                else if (id_elem == "var_pos")
                data_vars[i].pos = val_elem ;

            break ;
            }
        }
    }
    else if ( id_elem == "var_oblig_4" || id_elem == "var_oblig_5" )
    {
        for( i in data_vars )
        {
            if (data_vars[i].id_item == ind_sel_var )
            {
            let val_elem = $("input:radio[name=var_oblig]:checked").val() ;
            data_vars[i].oblig = val_elem ;

            break ;
            }
        }
    }
    else if ( id_elem == "var_whonet_4" || id_elem == "var_whonet_5" )
    {
        for( i in data_vars )
        {
            if (data_vars[i].id_item == ind_sel_var )
            {
            let val_elem = $("input:radio[name=var_whonet]:checked").val() ;
            data_vars[i].var_whonet = val_elem ;

            break ;
            }
        }
    }

load_data() ;
}

function save_ana()
{
var id_owner  = {{ session['user_id']|safe}} ;
var id_ana    = {{ args['analysis_id']|safe }} ;
var code      = $("#code").val()      ;
var code_ori  = $("#code_ori").val()  ;
var name      = $("#name").val()      ;
var abbr      = $("#abbr").val()      ;
var type_ana  = $("#type_ana").val()  ;
var type_prod = $("#type_prod").val() ;
var unit      = $("#unit").val()      ;
var value     = $("#value").val()     ;
var stat      = $("input:radio[name=stat]:checked").val()   ;
var whonet    = $("input:radio[name=whonet]:checked").val() ;
var comment   = JSON.stringify( $("#comment").val() ) ;

var product = $("#product").val() ;

var msg = "" ;

    if (code == "")
    msg += "{{ _("Veuillez saisir un code.") }}\n" ;

    if (name == "")
    msg += "{{ _("Veuillez saisir un nom d'analyse.") }}\n" ;

    if ( !code.startsWith("PB") && data_vars.length == 0)
    msg += "{{ _("Veuillez choisir ou définir au moins une variable.") }}\n" ;

    if (msg != "")
    {
    alert( msg ) ;
    return false ;
    }

    // Check if code is not already existing
    $.ajax( {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/analysis/code/check/" + code,
        success: function(ret)
        {
            if ( ret > 0 && (id_ana == 0 || (id_ana > 0 && code_ori != code)) )
            {
            alert("{{ _("Ce code existe déjà") }}") ;
            return false ;
            }
            else
            {
            var list_var = '"list_var":[ ';
            var tmp_value= '' ;

                for( i in data_vars )
                {
                    if (data_vars[i] != null)
                    {
                        if (tmp_value != '')
                        tmp_value += ', ' ;

                    id_var       = data_vars[i].id_data  ;
                    var_label    = data_vars[i].label    ;
                    var_code     = data_vars[i].code_var ;
                    var_descr    = data_vars[i].descr    ;
                    var_type_res = data_vars[i].type_res ;
                    var_min      = data_vars[i].min      ;
                    var_max      = data_vars[i].max      ;
                    var_formula  = data_vars[i].formula  ;
                    var_unit     = data_vars[i].unit     ;
                    var_accu     = data_vars[i].accu     ;
                    var_formula2 = data_vars[i].formula2 ;
                    var_unit2    = data_vars[i].unit2    ;
                    var_accu2    = data_vars[i].accu2    ;
                    var_comment  = JSON.stringify( data_vars[i].comment ) ;
                    var_oblig    = data_vars[i].oblig    ;
                    var_whonet   = data_vars[i].var_whonet ;
                    var_num      = data_vars[i].num_var  ;
                    var_pos      = data_vars[i].pos      ;
                    id_link      = data_vars[i].id_link  ;
                    id_item      = data_vars[i].id_item  ;

                    if (var_unit == "")  var_unit  = 0 ;
                    if (var_accu == "")  var_accu  = 0 ;
                    if (var_unit2 == "") var_unit2 = 0 ;
                    if (var_accu2 == "") var_accu2 = 0 ;
                    if (var_num == "")   var_num   = 0 ;
                    if (var_pos == "")   var_pos   = 0 ;

                    var param_var = '{ "id_var":' + id_var + ', ' +
                                      '"var_label":"' + var_label + '", ' +
                                      '"var_code":"' + var_code + '", ' +
                                      '"var_descr":"' + var_descr + '", ' +
                                      '"var_type_res":' + var_type_res + ', ' +
                                      '"var_min":"' + var_min + '", ' +
                                      '"var_max":"' + var_max + '", ' +
                                      '"var_formula":"' + var_formula + '", ' +
                                      '"var_unit":' + var_unit + ', ' +
                                      '"var_accu":' + var_accu + ', ' +
                                      '"var_formula2":"' + var_formula2 + '", ' +
                                      '"var_unit2":' + var_unit2 + ', ' +
                                      '"var_accu2":' + var_accu2 + ', ' +
                                      '"var_comment":' + var_comment + ', ' +
                                      '"var_oblig":' + var_oblig + ', ' +
                                      '"var_whonet":' + var_whonet + ', ' +
                                      '"var_num":' + var_num + ', ' +
                                      '"var_pos":' + var_pos + ', ' +
                                      '"id_link":' + id_link + ', ' +
                                      '"id_item":' + id_item + '}' ;

                    tmp_value += param_var ;
                    }
                }

            list_var = list_var + tmp_value + ' ]';

            var param = '{ "id_owner":' + id_owner + ', ' +
                          '"id_ana":' + id_ana + ', ' +
                          '"code":"' + code + '", ' +
                          '"name":"' + name + '", ' +
                          '"abbr":"' + abbr + '", ' +
                          '"type_ana":' + type_ana + ', ' +
                          '"type_prod":' + type_prod + ', ' +
                          '"unit":"' + unit + '", ' +
                          '"value":"' + value + '", ' +
                          '"stat":' + stat + ', ' +
                          '"whonet":' + whonet + ', ' +
                          '"comment":' + comment + ', ' +   // No quotes with stringify
                          '"product":' + product + ', ' +
                          list_var + '}' ;

                $.ajax( {
                   type: "POST",
                   url: "{{ session['server_ext'] }}/services/analysis/det/" + id_ana,
                   dataType: 'json',
                   contentType: "application/json; charset=utf-8",
                   data: param,
                   success: function(data)
                       {
                       console.log("success save_ana") ;
                       tempAlert("{{ _("Enregistrement réussi") }}", "btn_save") ;

                       window.location = "{{ session['server_ext'] }}/setting-analyzes" ;
                       },
                   error: function(data)
                       {
                       console.log("ERROR POST dict det") ;
                       alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
                       }
                } ) ;
            }
        },
        error: function(ret)
        {
        console.log("ERROR GET code check") ;
        alert("{{ _("Une erreur est survenue lors de la vérification du code") }}") ;
        }
    } ) ;
}

function enabled_det_var( enabled )
{
    if ( enabled == "Y" )
    {
        $(".group-det-var").prop("disabled", false) ;
    }
    else
    {
        $(".group-det-var").prop("disabled", true) ;
    }
}

function cancel()
{
window.history.back() ;
}

$( document ).ready( function()
{
{% if args['analysis_id'] > 0 %}
load_data() ;
{% else %}
enabled_det_var("N");
{% endif %}
} ) ;
</script>
{% endblock %}
