{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Référentiel des analyses") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Référentiel des analyses") }}</span></h2>
            <form autocomplete="off">
                <div class="panel-heading row">
                    <h3 class="panel-title">{{ _("Rechercher") }}</h3>
                </div>
                <div class="panel-filter row mt-3">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="name" class="col-form-label col-3 text-right mt-1">{{ _("Désignation de l'acte") }}</label>
                            <div>					
                                <input type="text" name="name" id="name" value="" class="form-control">			
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="type_ana" class="col-form-label col-3 text-right mt-1">{{ _("Famille d'analyse") }}</label>
                            <div>
                                <select name="type_ana" id="type_ana" class="form-control">
                                    <option value="0" selected="selected"></option>
                                    {% for type_ana in ihm['type_ana'] %}
                                    <option value="{{ type_ana['id_data'] }}">{{ type_ana['label'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sample" class="col-form-label col-3 text-right mt-1">{{ _("Type de prélèvement") }}</label>
                            <div>					
                                <select name="type_prod" id="type_prod" class="form-control">
                                    <option value="0" selected="selected"></option>
                                    {% for product in ihm['products'] %}
                                    <option value="{{ product['id_data'] }}">{{ product['label'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="status" class="col-form-label col-3 text-right mt-1">{{ _("Analyse active") }}</label>
                            <div>					
                                <select id="status" name="status" class="form-control">
                                    <!--<option value="0"></option>-->
                                    <option value="4" selected>{{ _("Oui") }}</option>
                                    <option value="5">{{ _("Non") }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="float-right">
                            <button type="button" onclick="filter_analyzes();" id="btn_search" class="btn btn-{{ session['user_role']|safe }}"><i class="fa fa-search pr-1" /></i><span>{{ _("Rechercher") }}</span></button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="list_analyzes_info" id="listing_dos_total_info">
                <span class="list_analyzes_label" id="list_analyzes_total_label">{{ _("Nombre total de lignes") }} :</span>
                <span class="list_analyzes_total" id="list_analyzes_total">{% if not args %}0{% endif %}</span>
            </div>
            <div>
                <span><a class="link" id="first_analysis" onclick="display_analysis(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_analysis" onclick="display_analysis(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_t" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_analysis" onclick="display_analysis(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_analysis" onclick="display_analysis(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <form class="row justify-content-center mt-3" id="analyzes-list">
                <table id="table_analyzes" class="table table-striped table-hover col-12 table-lbk tablesorter">
                    <thead>
                        <tr>
                            <th hidden>{{ _("serial") }}</th>
                            <th class="text-left">{{ _("Action") }}</th>
                            <th class="text-left cursor-act">{{ _("Code") }}</th>
                            <th class="text-left cursor-act">{{ _("Désignation") }}</th>
                            <th class="text-left cursor-act">{{ _("Abbréviation") }}</th>
                            <th class="text-left cursor-act">{{ _("Famille") }}</th>
                            <th class="text-left cursor-act">{{ _("Statut") }}</th>
                            <th class="text-left cursor-act">{{ _("Produit bio.") }}</th>
                    </thead>
                    <tbody id="tbody_analyzes">
                    </tbody>
                </table>
            </form>

            <div>
                <span><a class="link" id="first_analysis" onclick="display_analysis(1);">{{ _("Premier") }}</a></span>
                <span><a class="link" id="prev_analysis" onclick="display_analysis(-1000);">{{ _("Précédent") }}</a></span>
                <span id="num_page_b" class="font-info">{% if not args %}0{% else %}1{% endif %}</span>
                <span><a class="link" id="next_analysis" onclick="display_analysis(1000);">{{ _("Suivant") }}</a></span>
                <span><a class="link" id="last_analysis" onclick="display_analysis(p_max);">{{ _("Dernier") }}</a></span>
            </div>

            <div class="clearfix mb-5">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-right">
                    <input type="button" onclick="import_analyzes();" id="btn_import" value="{{ _("Importer le référentiel") }}" class="btn btn-{{ session['user_role']|safe }}" disabled>
                    <input type="button" onclick="export_analyzes();" id="btn_export" value="{{ _("Exporter le référentiel") }}" class="btn btn-{{ session['user_role']|safe }} ml-2" disabled>
                    <input type="button" onclick="export_list();" id="btn_list" value="{{ _("Enregistrer la liste") }}" class="btn btn-{{ session['user_role']|safe }} ml-2" disabled>
                    <input type="button" onclick="add_analysis();" id="btn_add" value="{{ _("Ajouter une analyse") }}" class="btn btn-{{ session['user_role']|safe }} ml-2" disabled>
                </div>
            </div>

        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
var data_analyzes = {{ args|safe }} ;
var p_step     = 20 ;
var p_cur      = 1 ;
var p_max      = Math.ceil( data_analyzes.length / p_step ) ;

function filter_analyzes()
{
let name      = $("#name").val()      ;
let type_ana  = $("#type_ana").val()  ;
let type_prod = $("#type_prod").val() ;
let stat      = $("#status").val()    ;

let param = '{ "name":"' + name + '", ' +
            '"type_ana":' + type_ana  + ', ' +
            '"type_prod":' + type_prod  + ', ' +
            '"status":' + stat + '}' ;

    // popup wait
    $("#dial-wait").modal("show") ;

    $("#dial-wait").off() ;

    $("#dial-wait").on('shown.bs.modal', function () 
    {
        $.ajax( {
            type: "POST",
            url: "/services/analysis/list",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param,
            success: function(data)
                {
                data_analyzes = data ;

                p_max = Math.ceil( data.length / p_step ) ;

                display_analysis( 1 ) ;

                    $("#dial-wait").modal("hide") ;
                },
            error: function(data)
                {
                    $("#dial-wait").modal("hide") ;

                console.log("ERROR analysis list") ;
                alert("{{ _("Une erreur est survenue lors de la récupération des données") }}") ;
                }
        } ) ;
    } ) ;
}

function display_analysis( num_page )
{
let res = ''

    // Previous page
    if ( num_page == -1000 && p_cur > 1 )
    p_cur = p_cur - 1 ;
    // Next page
    else if ( num_page == 1000 && p_cur < p_max )
    p_cur = p_cur + 1 ;
    // First or Last page
    else if ( num_page > -1000 && num_page < 1000 )
    p_cur = num_page ;
    else
    return false;

    $("#tbody_analyzes").empty() ;

{% if not args %}
res = '<tr>' +
      '<td colspan="7">' +
      '<div>{{ _("Aucune donnée à afficher") }}</div></td></tr>' ;
{% else %}
let data_len = data_analyzes.length ;
let i_start  = (p_cur -1) * p_step ;
let i_stop   = Math.min( data_len, p_cur * p_step ) ;
let tr_class = '' ;

$("#list_analyzes_total").html( data_len ) ;

    for( i = i_start; i < i_stop; i++ )
    {
    let menu_act = '<nav class="">' +
                   '<ul class="navbar-nav">' +
                   '<li class="nav-item dropdown"><a class="dropdown-toggle menu-act" data-toggle="dropdown"></a>' +
                   '<div class="dropdown-menu menu-act-drop nav-{{ session['user_role']|safe }}" style="padding:0;">' +
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/setting-det-analysis/' + data_analyzes[i].id_data + '">{{ _("Editer") }}</a>' +
                   '<a class="dropdown-item menu-act-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/setting-del-analysis/' + data_analyzes[i].id_data + '">{{ _("Supprimer") }}</a>';

    menu_act += '</div></ul></nav>' ;

    analysis_stat = "{{ _("Activé") }}" ;

        if ( data_analyzes[i].stat != 4 )
        analysis_stat = "{{ _("Désactivé") }}" ;

        if ( data_analyzes[i].id_prod != "" && data_analyzes[i].id_prod > 0 )
        product = "PB" + data_analyzes[i].id_prod + " : " + data_analyzes[i].product ;
        else
        product = "" ; 

    res += '<tr><td hidden><div>' + data_analyzes[i].id_data + '</div></td>' +
           '<td><div>' + menu_act + '</div></td>' +
           '<td><div class="text-left">' + data_analyzes[i].code + '</div></td>' +
           '<td><div class="text-left">' + data_analyzes[i].name + '</div></td>' +
           '<td><div class="text-left">' + data_analyzes[i].abbr + '</div></td>' +
           '<td><div class="text-left">' + analysis_stat + '</div></td>' +
           '<td><div class="text-left">' + data_analyzes[i].type_ana + '</div></td>' +
           '<td><div class="text-left">' + product + '</div></td></tr>' ;
    } 
{% endif %}

    $("#tbody_analyzes").append(res) ;
    $("#num_page_t").text( p_cur ) ;
    $("#num_page_b").text( p_cur ) ;

    $("#table_analyzes").tablesorter() ;  // sort only data on screen
}

function change_status(id_analysis, stat)
{
var id_owner = {{ session['user_id_group']|safe}} ;

    if ( window.confirm("{{ _("Merci de confirmer la modification de statut") }}") )
    {
    var param = '{ "id_owner":' + id_owner + ', ' +
                  '"id_user":' + id_user + ', ' +
                  '"status":' + stat + '}' ;

        $.ajax( 
        {
            type: "POST",
            url: "{{ session['server_ext'] }}/services/user/status",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param,
            success: function(ret)
            {
            location.reload() ;
            },
            error: function(ret)
            {
            console.log("ERROR POST analysis status") ;
            alert("{{ _("Erreur lors du changement de statut") }}") ;
            }
        } ) ;
    }
    else
    return false ; 
}

function add_analysis()
{
window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/setting-det-analysis/0";
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/homepage";
}

$( document ).ready( function()
{
display_analysis( 1 ) ;
} ) ;
</script>
{% endblock %}
