{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Changement de logo") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Changement de logo pour les documents") }}</span></h2>
            <div class="row ml-5">
                <label>{{ _("Logo original") }} :</label>
                <img src="{{ session['server_ext'] }}/storage/resource/logo.png?{{ rand }}" alt="logo">
            </div>
            <div class="row ml-5">
                <label>{{ _("Logo tel qu'il apparaitra dans l'entête de rapport") }}<br />{{ _("Largeur forcée à 230 pixels et conserve les proportions") }} :</label>
                <img src="{{ session['server_ext'] }}/storage/resource/logo.png?{{ rand }}" width="230px;" alt="resized_logo">
            </div>
            <br />
            <p class="ml-5">{{ _("Le fichier doit être au format png ou jpg") }}</p>
            <div class="row">
                <div class="offset-1" style="display: inline-block; padding-right: 20px;" class="uploadHTML5">
                    <input name="file" type="file" style="margin-bottom:4px"/>
                </div> 
            </div>
            <div class="row">
                <div class="offset-1">
                    <input type="button" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Enregistrer") }}" onclick="upload_logo();">
                </div>
            </div>
        </div>
    </div>
</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
function upload_logo()
{
let param_form = new FormData() ;

param_form.append('file', $('input[type=file]')[0].files[0]) ;

    $.ajax(
    {
        type : 'POST',
        url : "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/upload-logo",
        dataType: 'json',
        contentType: false,
        processData: false,
        data: param_form,
        success : function(response)
        {
        console.log( "success upload logo ") ;
        location.reload() ;
        },
        error: function(response)
        {
        console.log("ERROR upload logo") ;
        alert("{{ _("Une erreur est survenue lors du dépot du logo") }}") ;
        }
    } ) ;
}
</script>
{% endblock %}
