{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Paramétrage numéro dossier") }}</title>
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Paramétrage numéro dossier") }}</span></h2>
            <form autocomplete="off">
                <div class="form-group row">
                    <label class="col-form-label col-3 text-right mt-2">{{ _("Période de numérotation") }}</label>
                    <label class="col-form-label text-right mt-2 mr-3">
                        <input type="radio" name="period" value="1070" {% if args['periode'] == 1070 %} checked="true" {% endif %}>&nbsp;{{ _("Mois") }}</input>
                    </label>
                    <label class="col-form-label text-right mt-2 mr-3">
                        <input type="radio" name="period" value="1071" {% if args['periode'] == 1071 %} checked="true" {% endif %}>&nbsp;{{ _("Année") }}</input>
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-3 text-right mt-2">{{ _("Format de numérotation") }}</label>
                    <label class="col-form-label text-right mt-2 mr-3">
                        <input type="radio" name="format" value="1072" {% if args['format'] == 1072 %} checked="true" {% endif %}>&nbsp;{{ _("Court") }}</input>
                    </label>
                    <label class="col-form-label text-right mt-2 mr-3">
                        <input type="radio" name="format" value="1073" {% if args['format'] == 1073 %} checked="true" {% endif %}>&nbsp;{{ _("Long") }}</input>
                    </label>
                </div>
            </form>

            <div class="clearfix mb-5">
                <div class="float-left" style="margin-left:0px;">
                    <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                </div>
                <div class="float-right">
                    <input type="button" onclick="save();" id="btn_save" value="{{ _("Enregistrer") }}" class="btn btn-{{ session['user_role']|safe }} ml-2">
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
function save()
{
var id_owner = {{ session['user_id']|safe}} ;
var period   = $("input:radio[name=period]:checked").val() ;
var format   = $("input:radio[name=format]:checked").val() ;

var param = '{ "id_owner":' + id_owner + ', ' +
              '"period":' + period + ', ' +
              '"format":' + format + '}' ;

    $.ajax( {
       type: "POST",
       url: "/services/setting/record/number",
       dataType: 'json',
       contentType: "application/json; charset=utf-8",
       data: param,
       success: function(data)
           {
           tempAlert("{{ _("Enregistrement réussi") }}", "btn_save") ;
           },
       error: function(data)
           {
           console.log("ERROR POST setting record number") ;
           alert("{{ _("Une erreur est survenue lors de l'enregistrement") }}") ;
           }
    } ) ;
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/homepage";
}
</script>
{% endblock %}
