<!DOCTYPE html>
<html lang='{{ locale }}' {% if locale == 'ar' %}dir="rtl"{% else %}dir="ltr"{% endif %}>

<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ url_for('static', filename='vendor/bootstrap/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    {# <link href="{{ url_for('static', filename='vendor/css/jquery.dataTables.min.css') }}" media="screen, print" rel="stylesheet" type="text/css"> #}
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" media="screen, print" rel="stylesheet" type="text/css">
    <link href="{{ url_for('labbook_css') }}?{{ rand }}" media="screen" rel="stylesheet" type="text/css">

    <script src="{{ url_for('static', filename='vendor/moment/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/jquery-3.6.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/jquery.tablesorter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {# TODO 01/04/2022 TEST with big database before to used it #}
    {# <script src="{{ url_for('static', filename='vendor/js/jquery.dataTables.min.js') }}"></script> #}
    <script src="{{ url_for('static', filename='js/app-labbook.js') }}?1" nonce="{{ session['nonce'] }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>

{% block body %}
{% block tag_body %}<body onLoad="init_timeOut('{{ session['server_ext'] }}', {{ session['auto_logout'] }});" onmousemove="reboot_timeOut({{ session['auto_logout'] }});">{% endblock %}
    <div id="page" class="container-fluid">
        {% block header %}
        <header id="page-header">
            {% include 'menu-country.html' %}
            <div class="inner">
                <div id="logo">
                    <h1>
                        <a href="{{ session['server_ext'] }}/homepage">{{ _("LabBook") }}</a>
                    </h1>
                </div>
                <div id="user-info">
                    <div id="header_name" class="name" {% if locale == 'ar' %}style="left:150px;right:auto;"{% endif %}></div>
                    <div class="dropdown role role-{{ session['user_role']|safe }}">
                        <button class="btn" type="button" id="dropdownRole" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownRole">
                            <li><a class="dropdown-item" href="{{ session['server_ext'] }}/disconnect">{{ _('Déconnexion') }}</a></li>
                            <li><a class="dropdown-item" href="{{ session['server_ext'] }}/det-staff/homepage/{{ session['user_id'] }}">{{ _('Editer utilisateur') }}</a></li>
                            <li><a class="dropdown-item" href="{{ session['server_ext'] }}/setting-pwd-user/homepage/{{ session['user_id'] }}">{{ _('Editer mot de passe') }}</a></li>
                        </ul>
                    </div>
                </div>
                {% include 'menu.html' %} 
            </div>
        </header><!-- close header -->
        {% endblock %}
        {% block content %}
        <div id="content"></div>
        {% endblock %}
        {% include 'popup/popup_history.html' %}
        {% block footer %}
        <footer>
            <div class="version">{{ _("Version") }} : {{ session['version'] }} | <a href="{{ session['server_ext'] }}/contributors">{{ _("Contributeurs") }}</a></div>
        </footer>
        {% endblock %}
    </div><!-- close page -->
    {% include 'popup/popup_wait.html' %}
    {% include 'popup/popup_toast.html' %}
</body>
{% endblock %}

<script type="text/javascript" nonce="{{ session['nonce'] }}">
var username = "{{ session['user_name']|safe}}" ;

function load_username()
{
var name      = ''             ;
var firstname = "{{ session['user_firstname']|safe}}" ;
var lastname  = "{{ session['user_lastname']|safe}}" ;

    if ( firstname )
    name = firstname + ' ' + lastname ;
    
    if ( !name )
    name = username ;  

$("#header_name").text( name ) ;
}

function download_file( type, filename, type_ref, ref)
{
    try
    {
        if ( type_ref == "PROC" )
        {
        var id_user = {{ session['user_id']|safe}} ;

        var param = '{ "id_user":' + id_user + ', "type":"' + type_ref + '", "ref":' + ref + '}' ;

            $.ajax( 
            {
                type: "POST",
                url: "{{ session['server_ext'] }}/services/quality/trace/download",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: param,
                error: function(ret)
                {
                console.log("ERROR POST trace download") ;
                }
            } ) ;
        }

    window.open("{{ session['server_ext'] }}/download-file/type/" + type + "/name/" + filename + "/ref/" + type_ref + "/" + ref, "_blank") ;
    }
    catch(err)
    {
    alert("{{ _("Une erreur est survenue") }}") ; 
    }
}

$( document ).ready( function()
{
    load_username() ;
} ) ;
</script>
{% block add_script %}
{% endblock %}
</html>
