<!DOCTYPE html>
<html lang='{{ locale }}'>

<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ url_for('static', filename='vendor/css/font-awesome.min.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}" media="screen, print" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/labbook.css') }}?{{ rand }}" media="screen" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/labbook.js') }}?1"></script>
    {% endblock %}
</head>

{% block body %}
{% block tag_body %}<body onLoad="init_timeOut('{{ session['server_ext'] }}', {{ session['auto_logout'] }});" onmousemove="reboot_timeOut({{ session['auto_logout'] }});">{% endblock %}
    <div id="page" class="container">
        {% block header %}
        <header id="page-header" class="text-center">
            <div id="country-sel" class="btn-group">
                <button type="button" class="btn btn-{{ session['user_role']|safe }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>{{ session['lang_select'] }}</strong>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/lang/fr_FR">{{ _("Français (FR)") }}</a>
                    <a class="dropdown-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/lang/en_GB">{{ _("English (UK)") }}</a>
                    <a class="dropdown-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/lang/en_US">{{ _("English (US)") }}</a>
                    <a class="dropdown-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/lang/ar">{{ _("Arabe (AR)") }}</a>
                    <a class="dropdown-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/lang/km">{{ _("Khmer (KM)") }}</a>
                    <a class="dropdown-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/lang/lo">{{ _("Laotien (LO)") }}</a>
                    <a class="dropdown-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/lang/mg">{{ _("Malagasy (MG)") }}</a>
                    <a class="dropdown-item" href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/lang/pt">{{ _("Portugais (PT)") }}</a>
                </div>
            </div>
            <div class="inner">
                <div id="logo">
                    <h1>
                        <a href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/homepage">{{ _("LabBook") }}</a>
                    </h1>
                </div>
                <div id="user-info">
                    <div id="header_name" class="name"></div>
                    <div class="role role-{{ session['user_role']|safe }}">
                        <ul>
                            <li>
                                <a href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/disconnect" title="Changer d'utilisateur">{{ _('Déconnexion') }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% include 'menu.html' %} 
            </div>
        </header><!-- close header -->
        {% endblock %}
        {% block content %}
        <div id="content"></div>
        {% endblock %}
        {% include 'popup_history.html' %}
        {% block footer %}
        <footer>
            <div class="version">{{ _("Version") }} : {{ session['version'] }} | <a href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/contributors">{{ _("Contributeurs") }}</a></div>
        </footer>
        {% endblock %}
    </div><!-- close page -->
    {% include 'popup_wait.html' %}
</body>
{% endblock %}

<script>
var username = "{{ session['user_name']|safe}}" ;

function load_username()
{
var name      = ''             ;
var firstname = "{{ session['user_firstname']|safe}}" ;
var lastname  = "{{ session['user_lastname']|safe}}" ;

    if ( firstname )
    name = firstname + ' ' + lastname ;
    
    if ( !name )
    name = username ;  

$("#header_name").text( name ) ;
}

function download_file( type, filename, type_ref, ref )
{
window.location = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/download-file/type/" + type + "/name/" + filename + "/ref/" + type_ref + "/" + ref ;
}

$( document ).ready( function()
{
    load_username() ;
} ) ;
</script>
{% block add_script %}
{% endblock %}
</html>
