{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>Validation technique</title>
    <link href="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/static/vendor/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ session['server_ext'] }}/{{ session['redirect_name'] }}/static/vendor/js/select2.min.js"></script>
{% endblock %}

{% block content %}        
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title form-technique">
                <span>Validation technique</span>
            </h2>
            <div class="statictext"><span>Dossier :</span></div>
            <div class="form-control-static field readonly-field div-inline">
                <span class="num-dos" id="num_rec"></span>
            </div>
            <div class="form-control-static field readonly-field div-inline">
                <span class="icon file-status" id="rec_stat"></span>
            </div>
            <form class="vzn-form form-horizontal row">
                <fieldset id="pat-group-group" class="group group-1">
                    <legend>Identité</legend>
                    <div class="row">
                        <div id="pat-group" class="col-xs-12">
                            <div class="form-group form-inline">
                                <div id="anon-code-ro" class="field"><span>{% if args['patient'] %}{{ args['patient']['code'] }}{% endif %}</span></div>
                            </div>
                            <fieldset class="group group-2">
                                <div class="row">
                                    <div class="form-inline col-xs-12">
                                        <div class="readonly-field form-control-static">
                                            <span>{% if args['patient'] %}{{ args['patient']['prenom'] }} {{ args['patient']['nom'] }}{% if args['patient']['nom_jf'] %} {{ args['patient']['nom_jf'] }}{% endif %}{% endif %}</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="group group-2">
                                <div class="row">
                                    <div class="form-inline col-xs-12">
                                        <div class="statictext">
                                            <span>Né le</span>
                                        </div>
                                        <div class="form-control-static field readonly-field div-inline label-rightMargin">
                                            <span>{% if args['patient'] and args['patient']['ddn'] %}{{ args['patient']['ddn']|date_format }}{% endif %}</span>
                                        </div>
                                        <div class="statictext"><span> - </span></div>
                                        <div class="form-control-static field readonly-field div-inline label-rightMargin">
                                            <span>{% if args['patient'] %}{{ args['patient']['age'] }}{% endif %}</span>
                                        </div>
                                        <div class="statictext"><span>{% if args['patient'] %}{% if args['patient']['unite'] == 1037 %}ans.
                                                                      {% elif args['patient']['unite'] == 1036 %}mois.
                                                                      {% elif args['patient']['unite'] == 1035 %}semaines.
                                                                      {% elif args['patient']['unite'] == 1034 %}jours.{% endif %}{% endif %}</span></div>
                                        <div class="form-control-static field readonly-field div-inline label-rightMargin">
                                            <span>{% if args['patient'] %}{% if args['patient']['sexe'] == 1 %}Masculin
                                                  {% elif args['patient']['sexe'] == 2 %}Féminin
                                                  {% elif args['patient']['sexe'] == 3 %}Inconnu{% endif %}{% endif %}</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div id="no_result" class="error">Aucune analyse</div>
            <div id="list_result"></div>
            <div id="list_result_test"></div>

            <!-- Popup history -->
            <div class="modal fade" id="dial_history" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="background:#EEE;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4>Historique</h4>
                    </div>
                    <div class="modal-body">  
                        <div class="yui-dt listing">
                            <table>
                                <tbody id="tbody_histo"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">OK</button>
                    </div>
                </div>
            </div>

            {% if args['list_res'] %}
            <form id="form-new-analyses" enctype="application/x-www-form-urlencoded" method="post" action="">
                <div class="subform">
                    <fieldset class="group group-1">
                        <legend>Ajouter de nouvelles analyses</legend>
                        <div class="form-group">
                            <select id="search_analysis" style="width:450px"></select>
                        </div>
                        <div id="new_analysis" class="row"></div>
                        <div id="div_add_analysis" class="form-group button" style="display:none">
                            <input type="button" class="button btn btn-success" name="btn_add_analysis" id="btn_add_analysis" value="Ajouter"  onclick="add_analysis();">
                        </div>
                    </fieldset>
                </div>
            </form>
            {% endif %}

        </div><!-- ferme inner -->
    </div><!-- ferme main -->
</div><!-- ferme le corps -->
{% endblock %}        

{% block add_script %}
<script>
var data_res     = [] ;
var tech_list    = {% if ihm['tech_list'] %}{{ ihm['tech_list']|safe }}{% else %}[]{% endif %} ;
var list_id_ana  = [] ;
var num_dos      = 0  ;
var num_rec      = "" ;
var per_rec      = "" ;
var rec_stat     = 0  ;

function display_histo( i )
{
$("#tbody_histo").empty() ;

let tr_histo = '<tr><td class="icon-container status"><span class="icon status-n">N</span></td>' +
               '<td><span id="date_rec">' + data_res[i].date_dos + '</span></td>' +
               '<td><ul style="padding:10px;"><li>Création du dossier (' + 
               {% if session['record_period'] == 1070 %}data_res[i].num_dos_mois{% else %}data_res[i].num_dos_an{% endif %} + ').</li>' +
               '<li>Analyse demandée : ' + data_res[i].nom + '</li>' +
               '<li>Date de prescription : ' + data_res[i].date_prescr + '.</li></ul></td></tr>' ;

    $.ajax( 
    {
        type: "GET",
        url: "/services/result/history/" + data_res[i].id_res,
        success: function(data_histo)
        {
            for( i in data_histo )
            {
            ident = '' ;
            extra = '' ;

                if ( data_histo[i].user.firstname  != "" )
                ident += data_histo[i].user.firstname + ' ' ;

                if ( data_histo[i].user.lastname  != "" )
                ident += data_histo[i].user.lastname ;

                if ( ident == "" )
                ident += data_histo[i].user.username ;

                if ( data_histo[i].motif_annulation != "" )
                extra += '<li><span>ANNULE ' + data_histo[i].dico_cancel.label +'</span></li>' ;

                if ( data_histo[i].commentaire != "" )
                extra += '<li><span>Commentaire : ' + data_histo[i].commentaire +'</span></li>'

            tr_histo += '<tr><td class="icon-container status" id="stat_res">' + status_res( data_histo[i].type_validation ) + '</td>' +
                        '<td><span>' + data_histo[i].date_validation +'</span></td>' +
                        '<td><ul style="padding:10px;"><li><span>' + ident + '</span></li>' +
                        '<li><span>Validation ' + data_histo[i].dico_valid.label +'</span></li>' + extra + '</ul></td></tr>' ;
            }

            $("#tbody_histo").append(tr_histo) ;

            setTimeout(function()
            {
                $( "#dial_history" ).modal( "show" ) ;
            }, 600) ;
        },
        error: function(data_ana)
        {
            console.log("ERROR GET result history");
            alert("Erreur lors la récupération des informations d'historiques de ce résultat") ;
        }
    } ) ;
}

function add_analysis()
{
let id_group       = {{ session['user_id_group']|safe}} ;
let user_role      = "{{ session['user_role']|safe }}"  ;
let id_rec         = data_res[0].id_dos ;
let param_list_ana = '{ "list_ana":[ ';
let param_list_res = '{ "id_owner":' + id_group + ', "user_role":"' + user_role + '", "list_ref":[ ';

    // Add analysis
    for( i in list_id_ana )
    {
        if (i > 0)
        {
        param_list_ana += ', ' ;
        param_list_res += ', ' ;
        }

    let param_ana = '{ "id_owner":' + id_group + ', ' +
                      '"id_rec":' + id_rec  + ', ' +
                      '"id_ana":' + list_id_ana[i] + ', ' +
                      '"price":0, ' +
                      '"paid": 5, ' +
                      '"emer": 5, ' +
                      '"req": 5 }' ;

    let param_res = '{ "ref_analyse":' + list_id_ana[i] + '}' ;

    param_list_ana += param_ana ;
    param_list_res += param_res ;
    }

param_list_ana += ' ] }';
param_list_res += ' ] }';

    // Send analysis information
    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/analysis/list/req",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param_list_ana,
        success: function(ret_ana)
        {
            // create in DB list of results to enter and corresponding validation
            $.ajax(
            {
                type : 'POST',
                url : "{{ session['server_ext'] }}/services/result/create/" + id_rec,
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: param_list_res,
                success : function(response)
                {
                let param_stat = '{ "stat":182 }' ; 

                    // update record stat to 182 = Validé administrativement
                    $.ajax(
                    {
                        type : 'POST',
                        url : "{{ session['server_ext'] }}/services/record/stat/" + id_rec,
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: param_stat,
                        success : function(response)
                        {
                        window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/technical-validation/" + id_rec ;
                        },
                        error: function(response)
                        {
                        console.log("ERROR record stat") ;
                        alert("Une erreur est survenue du changement de statut du dossier") ;
                        }
                    } ) ;
                },
                error: function(response)
                {
                console.log("ERROR result create") ;
                alert("Une erreur est survenue lors de création des résultats") ;
                }
            } ) ;
        },
        error: function(ret_ana)
        {
        console.log("ERROR analysis list req") ;
        alert("Une erreur est survenue lors de l'enregistrement des analyses") ;
        } 
    } ) ;
}

function display_result( num_page )
{
    // hide no_result
    if (data_res.length < 1)
    $("#no_result").show() ;
    else
    $("#no_result").hide() ;

gen_ihm_res( data_res ) ;
}

function enabled_save( id_rec, ref_ana )
{
    $(".btn_save_"+id_rec+"_"+ref_ana).prop("disabled", false) ;
}

function save_valid( id_rec, ref_ana )
{
let date_valid = $("#date_tech_"+ id_rec +"_"+ ref_ana).val() ;
let user_valid = $("#validator_"+ id_rec +"_"+ ref_ana).val() ;

let param_list_valid = '{ "list_valid":[ ' ;

    // GET id_res and value
    $(".res-" + id_rec +"-"+ ref_ana ).each( function(i, elem)
    {
        if (i > 0)
        param_list_valid += ', ' ;

    let param_valid = '{ "id_owner":' + {{ session['user_id_group'] }} + ', ' +
                        '"id_res":' + ($(this).attr("id")).substr(4) + ', ' +
                        '"date_valid":"' + date_valid + '", ' +
                        '"user_valid":' + user_valid + ', ' +
                        '"value":"' + $(this).val() + '"}' ;

    param_list_valid += param_valid ;
    } ) ;

param_list_valid += ' ] }' ;

console.log("DEBUG list_valid="+param_list_valid);

    // result to validate
    $.ajax( 
    {
        type: "POST",
        url: "/services/result/valid/T/" + id_rec,
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param_list_valid,
        success: function(data)
            {
            window.location.href = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/technical-validation/" + id_rec ;
            },
        error: function(data)
            {
            console.log("ERROR result valid") ;
            alert("Une erreur est survenue lors de validation technique des valeurs saisies") ;
            }
    } ) ;
}

function gen_ihm_res( data )
{
let res       = "" ;
let id_rec    = 0  ;
let ref_ana_p = 0  ;
let id_res_p  = 0  ;

let disp_valid = "hide" ;

    {% if args['list_res'] %}
    for( i in data )
    {
    id_rec      = data[i].id_dos  ;
    let ref_ana = data[i].ref_ana ;
    let id_res  = data[i].id_res  ;

        // close the previous form
        if ( ref_ana_p != 0 && ref_ana != ref_ana_p )
        {
        // close the form and table
        res += '</tbody></table></div></fieldset>' +
               '<div class="form-group button tech">' +
                   '<span class="validation validation-tech action ' + disp_valid + '" id="span_valid_' + id_rec +'_'+ ref_ana_p  + '">' +
                       '<span class="date-realisation">' +
                           '<label>Date de validation </label>&nbsp;' +
                           '<div class="field date-fields form-inline">' +
                               '<input id="date_tech_' + id_rec +'_'+ ref_ana_p  + '" class="voo_date voo_date_field_1 form-control" type="date" maxlength="10" size="10" value="{{ now|date_now }}" placeholder="" style="">' +
                               '<span class="calendar-img" id="quick_calendar_button_validation-date-10_img">' +
                                   '<img id="validation-date-10_img" src="/assets/widgets/calendar.gif">' +
                               '</span>' +
                           '</div>' +
                       '</span>' +
                       '<span class="realisation">' +
                           '<label for="validator_' + id_rec +'_'+ ref_ana_p  + '">Technicien</label>&nbsp;' +
                           '<select name="validator_' + id_rec +'_'+ ref_ana_p  + '" id="validator_' + id_rec +'_'+ ref_ana_p  + '" class="form-control">' +
                               '<option value="0"> </option>' ;

        // fill technical choice
        for ( k in tech_list )
        {
        let selected   = "" ;
        let tech_ident = tech_list[k].username ;

            if ( tech_list[k].firstname != "" && tech_list[k].lastname != "" )
            tech_ident =  tech_list[k].firstname + " " + tech_list[k].lastname ;

            if ( tech_list[k].id_group == {{ session['user_id_group'] }} )
            {
            selected = "selected" ;
            }
            
        res += '<option value="' + tech_list[k].id_group + '" ' + selected + '>' + tech_ident + '</option>' ;
        }

        res +=             '</select>&nbsp;' +
                       '</span>' +
                       '<span class="valider">' +
                           '<button name="validate_' + id_rec +'_'+ ref_ana_p  + '" id="validate_' + id_rec +'_'+ ref_ana_p  + '" type="button" value="Valider" class="btn btn-default" onclick="save_valid(' + id_rec +','+ ref_ana_p + ');">Valider</button>' +
                       '</span>' +
                       '<clear></clear>' +
                   '</span>' +
               '</div>' +
               '</fieldset>' +
               '</form>' ;

        disp_valid = "hide" ;
        }

        // new analysis so new form
        if ( ref_ana != ref_ana_p )
        {
        let res_name = data[i].nom ;
        let res_fam  = " [" + data[i].famille + "]" ;

            if (res_fam.length < 4) res_fam = "" ;

        res += '<form enctype="application/x-www-form-urlencoded" method="post" action="" class="vzn-form form-horizontal row">' +
               '<fieldset class="subform group group-1">' +
               '<legend>' + res_name + res_fam + '</legend>' +
               '<fieldset>' +
               '<legend><span class="num-dos">' + num_rec + '</span>&nbsp;' + per_rec + '</legend>' +
               '<div class="listing table-responsive yui-dt">' +
               '<table class="main">' +
               '<tbody class="yui-dt-data">' ;
        }

        // new analysis so new result line
        if ( id_res != id_res_p )
        {
        let res_valid  = data[i].validation.type_validation
        let res_stat   = status_res(res_valid) ;
        let res_emer   = emer(data[i].urgent)
        let res_label  = data[i].libelle ;
        let res_unit   = data[i].unit ;
        let res_limit  = '' ;
        let value      = data[i].res_label ;

            if ( data[i].normal_min != "" && data[i].normal_max != "" && value != "" )
            {
            let ico_limit = "hide" ;

                if ( value < parseFloat(data[i].normal_min) || value > parseFloat(data[i].normal_max) )
                ico_limit = "show" ;

            res_limit = '<span id="limit_' + id_res + '" class="oor ' + ico_limit + '"><span class="normals">[&nbsp;' + data[i].normal_min + '&nbsp;-&nbsp;' + data[i].normal_max + '&nbsp;]</span></span>' ;
            }

        res += '<tr class="yui-dt-rec">' +
                   '<td></td>' +
                   '<td class="icon-container">' + res_limit + '</td>' +
                   '<td class="icon-container">' + res_emer + '</td>' +
                   '<td class="icon-container status">' + res_stat +
                   '</td>' +
                   '<td class="icon-container history">' +
                       '<div class="history-icon" onclick="display_histo(' + i + ');"></div>' +
                   '</td>' +
                   '<td class="icon-container var-label">' + res_label + '</td>' ;

        res += '<td class="value"><span class="value">' ;

        if (res_valid == 250  && value != "" )
        disp_valid = "show" ;

        if ( value != "" )
        res += '<span>' + value + '</span><input id="res_' + id_res + '" class="res-' + id_rec + '-' + ref_ana + '" type="hidden" value="' + data[i].valeur + '">' ;
        else if ( res_valid == 252 )
        {
        res += '<span>ANNULE</span>' ;
        }
        else
        res += '<span>Non rempli</span>' ;

        res += '<input type="hidden" value="' + data[i].type_resultat + '"></span>&nbsp;' +
               '<span class="unit show">' + res_unit + '</span></td>' +
               '<td class="optionnal">&nbsp;</td></tr>' ;
        }

    ref_ana_p = ref_ana ;
    id_res_p  = id_res  ;
    }

    // close last form
    if ( res != "" )
    {
    // close the form and table
    res += '</tbody></table></div></fieldset>' +
           '<div class="form-group button tech">' +
               '<span class="validation validation-tech action ' + disp_valid + '" id="span_valid_' + id_rec +'_'+ ref_ana_p  + '">' +
                   '<span class="date-realisation">' +
                       '<label>Date de validation </label>&nbsp;' +
                       '<div class="field date-fields form-inline">' +
                           '<input id="date_tech_' + id_rec +'_'+ ref_ana_p  + '" class="voo_date voo_date_field_1 form-control" type="date" maxlength="10" size="10" value="{{ now|date_now }}" placeholder="" style="">' +
                           '<span class="calendar-img" id="quick_calendar_button_validation-date-10_img">' +
                               '<img id="validation-date-10_img" src="/assets/widgets/calendar.gif">' +
                           '</span>' +
                       '</div>' +
                   '</span>' +
                   '<span class="realisation">' +
                       '<label for="validator_' + id_rec +'_'+ ref_ana_p + '">Technicien</label>&nbsp;' +
                       '<select name="validator_' + id_rec +'_'+ ref_ana_p  + '" id="validator_' + id_rec +'_'+ ref_ana_p + '" class="form-control">' +
                           '<option value="0"> </option>' ;

    // fill technical choice
    for ( k in tech_list )
    {
    let selected   = "" ;
    let tech_ident = tech_list[k].username ;

        if ( tech_list[k].firstname != "" && tech_list[k].lastname != "" )
        tech_ident =  tech_list[k].firstname + " " + tech_list[k].lastname ;

        if ( tech_list[k].id_group == {{ session['user_id_group'] }} )
        {
        selected = "selected" ;
        }
        
    res += '<option value="' + tech_list[k].id_group + '" ' + selected + '>' + tech_ident + '</option>' ;
    }

    res +=             '</select>&nbsp;' +
                   '</span>' +
                   '<span class="valider">' +
                       '<button name="validate_' + id_rec +'_'+ ref_ana_p  + '" id="validate_' + id_rec +'_'+ ref_ana_p  + '" type="button" value="Valider" class="btn btn-default" onclick="save_valid(' + id_rec +','+ ref_ana_p + ');">Valider</button>' +
                   '</span>' +
                   '<clear></clear>' +
               '</span>' +
           '</div>' +
           '</fieldset>' +
           '</form>' ;
    }

    $("#list_result").html( res ) ;
    {% endif %}
// $("#list_result_test").text( JSON.stringify(data) ) ;
}

$("#search_analysis").select2(
{
    placeholder: "Cliquer pour commencer une recherche",
    tokenSeparators: [',', ' '],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session['server_ext'] }}/services/analysis/search/" + {{ session['user_id_group'] }},
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_analysis").text(),
        data: function (params) {
            return JSON.stringify(
            {
                term: params.term
            } ) ;
        },
        processResults: function (data) {
            return {
                // data need id key if not no focus selection displayed
                results: data
            } ;
        }
    },
    templateResult: formatRepoAnalysis
} ) ;

function formatRepoAnalysis(repo)
{
    if (repo.loading)
    return repo.text ;

var code = "" ;

    if (repo.code)
    code += "[" + repo.code + "]" ;

var name = "" ;

    if (repo.name)
    name += repo.name ;

var cat = "" ;

    if (repo.label)
    cat += repo.label ;

var display = $(
    "<div class='select2-result-repository clearfix'>" +
        "<div class='select2-result-repository__meta'>" +
            "<div class='select2-result-repository__code'><b>" + code + "</b></div>" +
            "<div class='select2-result-repository__name'>" + name + "</div>" +
            "<div class='select2-result-repository__category'>" + cat + "</div>" +
        "</div>" +
    "</div>") ;

return display ;
}

$("#search_analysis").on("select2:select", function (e) 
{
let id_ana = $(e.currentTarget).val() ;

list_id_ana.push( id_ana ) ;

$("#div_add_analysis").show() ;

    // GET det analysis
    $.ajax( 
        {
        type: "GET",
        url: "/services/analysis/det/" + id_ana,
        success: function(data_ana)
            {
            let new_ana  = '<div id="new-analysis-' + id_ana + '" class="new-analysis">' + data_ana.nom + '<input type="hidden" name="new-analysis[]" value="' + id_ana + '"></div>' ;

            let prev_new_ana = $("#new_analysis").html() ;

                $("#new_analysis").html( prev_new_ana + new_ana ) ;
            },
        error: function(data_ana)
            {
            console.log("ERROR GET det analysis");
            alert("Erreur lors de la récupération d'une analyse") ;
            }
        } ) ;
} ) ;

$( document ).ready( function()
{
data_res = {% if args['list_res'] %}{{ args['list_res']|safe }}{% elif args['record'] %}[{{ args['record']|safe }}]{% else %}[]{% endif %}

{% if session['record_period'] == 1070 %} // Month period
num_dos = data_res[0].num_dos_mois ;
{% else %} // Annual period
num_dos = data_res[0].num_dos_an ;
{% endif %}

num_rec  = fmt_num_rec( num_dos, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;
per_rec  = per_num_rec( num_dos, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;
rec_stat = status_rec(data_res[0].stat) ;

    $("#num_rec").html(num_rec)   ;
    $("#rec_stat").html(rec_stat) ;

display_result( 1 ) ;
} ) ;
</script>
{% endblock %}
