{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Validation technique") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/select2.min.js') }}" nonce="{{ session['nonce'] }}"></script>
{% endblock %}

{% block content %}        
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}">
                <span>{{ _("Validation technique") }}</span><span id="info_pat_title"></span>
            </h2>
            <form autocomplete="off">
                <div class="d-lg-flex align-items-start ms-3 mt-1">
                    <span>{{ _("Dossier") }} :</span> 
                    <span class="rec-num ms-1" id="num_rec"></span>
                    <div class="ms-2" id="rec_stat"></div>
                    {% if args['record'] and args['record']['rec_num_int'] %}
                    <div class="ms-3 mt-1">
                        <span>{{ _("Numéro de dossier interne au laboratoire") }} :&nbsp;</span> 
                        <span class="font-info" id="num_rec_int">{{ args['record']['rec_num_int'] }}</span>
                    </div>
                    {% endif %}
                </div>
                <fieldset class="d-lg-flex flex-lg-wrap border px-3 py-2">
                    <legend class="w-auto legend-lbk">{{ _("Identité") }}</legend>
                    <div class="col-lg-12">
                        {% if args['patient'] and args['patient']['code_patient'] %}
                        <span class="pat-num">{{ args['patient']['code_patient'] }}</span>
                        {% endif %}
                        <span class="pat-num">{% if args['patient'] %}{{ args['patient']['code'] }}{% endif %}</span>
                    </div>
                    <div class="col-lg-12 mt-2">
                        {% if args['patient'] and args['patient']['anonyme'] != 4 %}
                        <span class="font-info">{% if args['patient'] %}{{ args['patient']['prenom'] }} {{ args['patient']['nom'] }}{% if args['patient']['nom_jf'] %} {{ args['patient']['nom_jf'] }}{% endif %}{% endif %}</span>
                        {% else %}
                        <span class="font-info">{{ _("Patient anonyme") }}.</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-12 mt-2">
                        <span>{{ _("Né(e) le") }}&nbsp;</span>
                        <span class="font-info">{% if args['patient'] and args['patient']['ddn'] %}{{ args['patient']['ddn']|date_format }}{% endif %}</span>
                        <span>&nbsp;-&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{{ args['patient']['age'] }}{% endif %}&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{% if args['patient']['unite'] == 1037 %}{{ _("années") }}
                                                {% elif args['patient']['unite'] == 1036 %}{{ _("mois") }}
                                                {% elif args['patient']['unite'] == 1035 %}{{ _("semaines") }}
                                                {% elif args['patient']['unite'] == 1034 %}{{ _("jours") }}{% endif %}{% endif %}</span>
                        <span>&nbsp;-&nbsp;</span>
                        <span class="font-info">{% if args['patient'] %}{% if args['patient']['sexe'] == 1 %}{{ _("Masculin") }}
                                                {% elif args['patient']['sexe'] == 2 %}{{ _("Féminin") }}
                                                {% elif args['patient']['sexe'] == 3 %}{{ _("Inconnu") }}{% endif %}{% endif %}</span>
                    </div>
                </fieldset>
            </form>

            <div id="no_result" class="error mt-3">{{ _("Aucune analyse") }}</div>
            <div id="list_result" class="mt-3"></div>

            <!-- Popup cancel -->
            <div class="modal" id="dial-cancel" tabindex="-1">
                <div class="modal-dialog w-50 mw-75" style="background:#EEE;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>{{ _("Commentaire et motif annulation") }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-lg-2" style=""><span data-field="reason">{{ _("Motif") }} </span></label>
                                <select id="cancel_reason" class="form-select">
                                    {% for reason in ihm['cancel_reason'] %}
                                    <option value="{{ reason['id_data'] }}">{{ _(reason['label']) }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" style=""><span data-field="comment">{{ _("Commentaire") }}</span></label>
                                <textarea id="cancel_comm" rows="3" cols="80" class="form-select"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="button btn btn-lbk btn-{{ session['user_role']|safe }}" name="btn_cancel_res" id="btn_cancel_res" value="{{ _("Ajouter") }}"  onclick="send_cancel();">
                            <button class="btn btn-lbk btn-{{ session['user_role']|safe }}" data-bs-dismiss="modal" aria-hidden="true">{{ _("Annuler") }}</button>
                        </div>
                    </div>
                </div>
            </div>

            {% if args['list_res'] %}
            <form autocomplete="off">
                <div class="mt-3">
                    <fieldset class="d-lg-flex flex-lg-wrap border px-3 py-2">
                        <legend class="legend-lbk">{{ _("Ajouter de nouvelles analyses") }}</legend>
                        <div class="form-group">
                            <select id="search_analysis" class="form-select form-lbk form-search"></select>
                        </div>
                        <div class="col-lg-12">
                            <div id="new_analysis"></div>
                            <div id="div_add_analysis" class="form-group button" style="display:none">
                                <input type="button" class="button btn btn-lbk btn-{{ session['user_role']|safe }}" name="btn_add_analysis" id="btn_add_analysis" value="{{ _("Ajouter") }}"  onclick="add_analysis();">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
            {% endif %}

        </div>
    </div>
</div><!-- close content -->
{% endblock %}        

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var data_res     = [] ;
{#var tech_list    = {% if ihm['tech_list'] %}{{ ihm['tech_list']|safe }}{% else %}[]{% endif %} ;#}
var list_id_ana  = [] ;
var num_dos      = 0  ;
var num_rec      = "" ;
var per_rec      = "" ;
var rec_stat     = 0  ;

function add_analysis()
{
let id_user        = {{ session['user_id']|safe}} ;
let user_role      = "{{ session['user_role']|safe }}"  ;
let id_rec         = data_res[0].id_dos ;
let param_list_ana = '{ "list_ana":[ ';
let param_list_res = '{ "id_owner":' + id_user + ', "user_role":"' + user_role + '", "list_ref":[ ';
let value_ana      = '' ;
let value_res      = '' ;

    // Add analysis
    for( i in list_id_ana )
    {
        if (value_ana != '')
        {
        value_ana += ', ' ;
        }

        if (value_res != '')
        {
        value_res += ', ' ;
        }

    let param_ana = '{ "id_owner":' + id_user + ', ' +
                      '"id_rec":' + id_rec  + ', ' +
                      '"id_ana":' + list_id_ana[i] + ', ' +
                      '"price":0, ' +
                      '"paid": 5, ' +
                      '"emer": 5, ' +
                      '"req": 5 }' ;

    let param_res = '{ "ref_analyse":' + list_id_ana[i] + '}' ;

    value_ana += param_ana ;
    value_res += param_res ;
    }

param_list_ana += value_ana + ' ] }';
param_list_res += value_res + ' ] }';

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    // Send analysis information
    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/analysis/list/req",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param_list_ana,
        success: function(ret_ana)
        {
            // create in DB list of results to enter and corresponding validation
            $.ajax(
            {
                type : 'POST',
                url : "{{ session['server_ext'] }}/services/result/create/" + id_rec,
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: param_list_res,
                success : function(response)
                {
                let param_stat = '{ "stat":182 }' ; 

                    // update record stat to 182 = Validé administrativement
                    $.ajax(
                    {
                        type : 'POST',
                        url : "{{ session['server_ext'] }}/services/record/stat/" + id_rec,
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: param_stat,
                        success : function(response)
                        {
                            $("#dial-wait").modal("hide") ;

                        window.location.href = "{{ session['server_ext'] }}/technical-validation/" + id_rec ;
                        },
                        error: function(response)
                        {
                            $("#dial-wait").modal("hide") ;

                        console.log("ERROR record stat") ;
                        alert("{{ _("Une erreur est survenue lors du changement de statut du dossier") }}") ;
                        }
                    } ) ;
                },
                error: function(response)
                {
                    $("#dial-wait").modal("hide") ;

                console.log("ERROR result create") ;
                alert("{{ _("Une erreur est survenue lors de la création des résultats") }}") ;
                }
            } ) ;
        },
        error: function(ret_ana)
        {
            $("#dial-wait").modal("hide") ;

        console.log("ERROR analysis list req") ;
        alert("{{ _("Une erreur est survenue lors de l'enregistrement des analyses") }}") ;
        } 
    } ) ;
}

function display_result( num_page )
{
    // hide no_result
    if (data_res.length < 1)
    $("#no_result").show() ;
    else
    $("#no_result").hide() ;

gen_ihm_res( data_res ) ;
}

function enabled_save( id_rec, ref_ana )
{
    $(".btn_save_"+id_rec+"_"+ref_ana).prop("disabled", false) ;
}

function reset_res( id_rec, id_res )
{
    if ( window.confirm("{{ _("Etes-vous sur de vouloir effacer ce résultat ?") }}") )
    {
    let param_res = '{ "id_owner": {{ session["user_id"]}}, "id_res":' + id_res + '}' ;

        // result to reset
        $.ajax( 
        {
            type: "POST",
            url: "{{ session['server_ext'] }}/services/result/reset/" + id_rec,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: param_res,
            success: function(data)
                {
                window.location.href = "{{ session['server_ext'] }}/technical-validation/{{ ihm['mode'] }}/" + id_rec ;
                },
            error: function(data)
                {
                console.log("ERROR result reset") ;
                alert("{{ _("Une erreur est survenue lors de réinitialisation d'une valeur saisie") }}") ;
                }
        } ) ;
    }
}

function cancel_res( id_rec, id_res )
{
    if ( window.confirm("{{ _("Etes-vous sur de vouloir annuler ce résultat ?\\nCette action est irreversible.") }}") )
    {
    id_rec_tmp = id_rec ;
    id_res_tmp = id_res ;

        // popup reason and comment
        $( "#dial-cancel" ).modal( "show" ) ;
    }
    else
    {
    id_rec_tmp = 0 ;
    id_res_tmp = 0 ;
    }
}

function send_cancel()
{
let reason    = $("#cancel_reason").val() ;
let comment   = JSON.stringify( $.trim( $("#cancel_comm").val() ) ) ;
let param_res = '{ "id_owner": {{ session['user_id']}}, ' +
                  '"id_res":' + id_res_tmp + ', ' +
                  '"reason":' + reason + ',' +
                  '"comment":' + comment  + '}' ; // NO QUOTE DUE TO STRINGIFY PROCESS

    $('#dial-cancel').modal("hide") ;

    // result to cancel
    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/result/cancel/" + id_rec_tmp,
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param_res,
        success: function(data)
            {
            window.location.href = "{{ session['server_ext'] }}/technical-validation/{{ ihm['mode'] }}/" + id_rec_tmp ;
            },
        error: function(data)
            {
            console.log("ERROR result cancel") ;
            alert("{{ _("Une erreur est survenue lors de l'annulation d'une valeur saisie") }}") ;
            }
    } ) ;
}

function save_valid( id_rec, ref_ana )
{
let date_valid = $("#date_tech_"+ id_rec +"_"+ ref_ana).val() ;
let user_valid = $("#id_validator_"+ id_rec +"_"+ ref_ana).val() ;

let param_list_valid = '{ "list_valid":[ ' ;

    // GET id_res and value
    $(".res-" + id_rec +"-"+ ref_ana ).each( function(i, elem)
    {
        if (i > 0)
        param_list_valid += ', ' ;

    let param_valid = '{ "id_owner":' + {{ session['user_id']}} + ', ' +
                        '"id_res":' + ($(this).attr("id")).substr(4) + ', ' +
                        '"date_valid":"' + date_valid + '", ' +
                        '"user_valid":' + user_valid + ', ' +
                        '"value":"' + $(this).val() + '"}' ;

    param_list_valid += param_valid ;
    } ) ;

param_list_valid += ' ] }' ;

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    // result to validate
    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/result/valid/T/" + id_rec,
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param_list_valid,
        success: function(data)
        {
            $("#dial-wait").modal("hide") ;

        window.location.href = "{{ session['server_ext'] }}/technical-validation/" + id_rec + "/validate_" + id_rec +"_"+ ref_ana ;
        },
        error: function(data)
        {
            $("#dial-wait").modal("hide") ;

        console.log("ERROR result valid") ;
        alert("{{ _("Une erreur est survenue lors de validation technique des valeurs saisies") }}") ;
        }
    } ) ;
}

function gen_ihm_res( data )
{
let res       = "" ;
let id_rec    = 0  ;
let ref_ana_p = 0  ;
let id_res_p  = 0  ;

let disp_valid = "d-none" ;

let name      = '' ;
let id_user   = "{{ session['user_id']|safe}}"        ;
let firstname = "{{ session['user_firstname']|safe}}" ;
let lastname  = "{{ session['user_lastname']|safe}}"  ;

    if ( firstname )
    name = firstname + ' ' + lastname ;
    
    if ( !name )
    name = username ;

    {% if args['list_res'] %}
    for( i in data )
    {
    id_rec      = data[i].id_dos  ;
    let ref_ana = data[i].ref_ana ;
    let id_res  = data[i].id_res  ;

        // close the previous form
        if ( ref_ana_p != 0 && ref_ana != ref_ana_p )
        {
        // close the form and table
        res += "</tbody></table>" +
               "<div class=\"form-group\">" +
               "<span class=\"d-lg-flex align-items-start " + disp_valid + "\" id=\"span_valid_" + id_rec +"_"+ ref_ana_p  + "\">" +
               "<label class=\"form-label mt-2 me-1\">{{ _("Date de validation") }} : </label>" +
               "<div>" +
               "<input id=\"date_tech_" + id_rec +"_"+ ref_ana_p  + "\" class=\"form-control\" type=\"datetime-local\" step=\"60\" value=\"{{ now|datetime_now }}\" placeholder=\"\" style=\"\">" +
               "</div>" +
               "<label class=\"form-label ms-3 mt-2 me-1\" for=\"validator_" + id_rec +"_"+ ref_ana_p  + "\">{{ _("Technicien") }}</label>&nbsp;" +
               "<input type=\"text\" name=\"validator_" + id_rec +"_"+ ref_ana_p + "\" id=\"validator_" + id_rec +"_"+ ref_ana_p  + "\" class=\"form-control form-lbk bg-readonly\" value=\"" + name + "\" readonly />" +
               "<input type=\"hidden\" id=\"id_validator_" + id_rec +"_"+ ref_ana_p + "\" value=\"" + id_user + "\" />" ;

        {#
        // fill technical choice
        for ( k in tech_list )
        {
        let selected   = "" ;
        let tech_ident = tech_list[k].username ;

            if ( tech_list[k].firstname != "" && tech_list[k].lastname != "" )
            tech_ident =  tech_list[k].firstname + " " + tech_list[k].lastname ;

            if ( tech_list[k].id_user == {{ session['user_id']}} )
            {
            selected = "selected" ;
            }
            
        res += "<option value=\"" + tech_list[k].id_user + "\" " + selected + ">" + tech_ident + "</option>" ;
        }
        #}

        res += "</select>" +
               "<button name=\"validate_" + id_rec +"_"+ ref_ana_p  + "\" id=\"validate_" + id_rec +"_"+ ref_ana_p  + "\" type=\"button\" value=\"Valider\" class=\"btn btn-lbk btn-{{ session["user_role"]|safe }} ms-3\" onclick=\"save_valid(" + id_rec +","+ ref_ana_p + ");\">{{ _("Valider") }}</button>" +
               "</span>" +
               "</fieldset>" +
               "</form>" ;

        disp_valid = "d-none" ;
        }

        // new analysis so new form
        if ( ref_ana != ref_ana_p )
        {
        let res_name = data[i].nom ;
        let res_fam  = " [" + data[i].famille + "]" ;

            if (res_fam.length < 4) res_fam = "" ;

        res += "<form autocomplete=\"off\">" +
               "<fieldset class=\"d-lg-flex flex-lg-wrap border px-3 py-2\">" +
               "<legend class=\"legend-lbk\">" + res_name + res_fam + "</legend>" +
               "<span class=\"rec-num me-2 mb-2\">" + num_rec + "</span>" + per_rec +
               "<table class=\"table table-striped table-hover table-lbk\">" +
               "<tbody class=\"mx-1\">" ;
        }

        // new analysis so new result line
        if ( id_res != id_res_p )
        {
        let res_valid  = data[i].validation.type_validation
        let res_stat   = status_res(res_valid) ;
        let res_emer   = emer(data[i].urgent)
        let res_label  = data[i].libelle ;
        let res_unit   = data[i].unit ;
        let res_limit  = "" ;
        let value      = data[i].res_label ;
        let res_reset  = '' ;
        let res_cancel = '' ;
        let res_type   = data[i].type_resultat ;

            /* result of type labeled */
            if ( res_type == 265 )
            res_label = '<b>' + res_label + '</b>' ;

            if ( data[i].normal_min != "" && data[i].normal_max != "" && value != "" )
            {
            let ico_limit = "d-none" ;

                if ( value < parseFloat(data[i].normal_min) || value > parseFloat(data[i].normal_max) )
                ico_limit = "show" ;

                res_limit = "<span id=\"limit_" + id_res + "\" class=\"warning " + ico_limit + "\" title=\"[&nbsp;" + data[i].normal_min + "&nbsp;-&nbsp;" + data[i].normal_max + "&nbsp;]\"></span>" ;
            }

            // outsourced icon
            if (data[i].outsourced == "Y")
            {
            res_limit += "<span title=\"{{ _("Sous-traitée") }}\"><i class=\"bi bi-building-gear fs-5 text-primary\"></i></span>" ;
            }

        res += "<tr>" +
               "<td class=\"col-lg-1\">" + res_limit + "</td>" +
               "<td class=\"col-lg-1 text-center\">" + res_emer + "</td>" +
               "<td class=\"text-center\">" + res_stat +
               "</td>" +
               "<td class=\"text-center\">" +
               "<div class=\"history\" onclick=\"display_histo(" + i + ");\"></div>" +
               "</td>" +
               "<td class=\"col-lg-5 text-center\">" + res_label + "</td>" ;

        res += "<td class=\"text-center\"><span class=\"value\">" ;

        if (res_valid == 250  && value != "" )
        disp_valid = "show" ;

        if (res_valid == 251  && res_type != 265 )
        res_reset = "<a title=\"{{ _("Réinitialiser la valeur") }}\" class=\"color-T\" onclick=\"reset_res(" + id_rec +","+ id_res + ");\"><i class=\"bi bi-bootstrap-reboot\" /></i></a>" ;

        if ( res_type != 265 && (res_valid == 250 || (res_valid == 251 && value != "")) )
        res_cancel = '<a title="Annuler" class="color-T" onclick="cancel_res(' + id_rec +','+ id_res + ');"><i class="bi bi-x-circle" /></i></a>' ;

        if ( value != "" )
        res += "<span>" + value + "</span><input id=\"res_" + id_res + "\" class=\"res-" + id_rec + "-" + ref_ana + "\" type=\"hidden\" value=\"" + data[i].valeur + "\"><span class=\"unit show ms-1\">" + res_unit + "</span>" ;
        else if ( res_valid == 252 )
        {
        res += "<span>{{ _("ANNULE") }}</span>" ;
        res_cancel = '<span>' + data[i].validation.label_motif + '<br />' + data[i].validation.commentaire + '</span>' ;
        }
        /* result of type labeled */
        else if ( res_type == 265 )
        {
        res += '<span></span>' ;
        }
        else
        res += "<span>{{ _("Non rempli") }}</span>" ;

        res += "<input type=\"hidden\" value=\"" + data[i].type_resultat + "\"></span></td>" +
               "<td class=\"text-center\">" + res_reset + "</td>" +
               "<td class=\"text-center\">" + res_cancel + "</td></tr>" ;
        }

    ref_ana_p = ref_ana ;
    id_res_p  = id_res  ;
    }

    // close last form
    if ( res != "" )
    {
    // close the form and table
    res += "</tbody></table>" +
           "<div class=\"form-group\">" +
           "<span class=\"d-lg-flex align-items-start " + disp_valid + "\" id=\"span_valid_" + id_rec +"_"+ ref_ana_p  + "\">" +
           "<label class=\"form-label mt-2 me-1\">{{ _("Date de validation") }} </label>" +
           "<div>" +
           "<input id=\"date_tech_" + id_rec +"_"+ ref_ana_p  + "\" class=\"form-control\" type=\"datetime-local\" step=\"60\" value=\"{{ now|datetime_now }}\" placeholder=\"\" style=\"\">" +
           "</div>" +
           "<label class=\"form-label ms-3 mt-2 me-1\" for=\"validator_" + id_rec +"_"+ ref_ana_p + "\">{{ _("Technicien") }}</label>&nbsp;" +
           "<input type=\"text\" name=\"validator_" + id_rec +"_"+ ref_ana_p + "\" id=\"validator_" + id_rec +"_"+ ref_ana_p + "\" class=\"form-control form-lbk bg-readonly\" value=\"" + name + "\" readonly />" +
           "<input type=\"hidden\" id=\"id_validator_" + id_rec +"_"+ ref_ana_p + "\" value=\"" + id_user + "\" />" ;

    {#
    // fill technical choice
    for ( k in tech_list )
    {
    let selected   = "" ;
    let tech_ident = tech_list[k].username ;

        if ( tech_list[k].firstname != "" && tech_list[k].lastname != "" )
        tech_ident =  tech_list[k].firstname + " " + tech_list[k].lastname ;

        if ( tech_list[k].id_user == {{ session['user_id']}} )
        {
        selected = "selected" ;
        }
        
    res += "<option value=\"" + tech_list[k].id_user + "\" " + selected + ">" + tech_ident + "</option>" ;
    }
    #}

    res += "</select>" +
           "<button name=\"validate_" + id_rec +"_"+ ref_ana_p + "\" id=\"validate_" + id_rec +"_"+ ref_ana_p  + "\" type=\"button\" value=\"Valider\" class=\"btn btn-lbk btn-{{ session["user_role"]|safe }} ms-3\" onclick=\"save_valid(" + id_rec +","+ ref_ana_p + ");\">{{ _("Valider") }}</button>" +
           "</span>" +
           "</fieldset>" +
           "</form>" ;
    }

    $("#list_result").html( res ) ;
    {% endif %}
}

$("#search_analysis").select2(
{
    placeholder: "{{ _("Cliquer pour commencer une recherche") }}",
    tags: false,
    multiple: false,
    tokenSeparators: [','],
    minimumInputLength: 2,
    ajax: {
        url: "{{ session["server_ext"] }}/services/analysis/search/A",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        term: $("#search_analysis").text(),
        data: function (params) {
            return JSON.stringify(
            {
                term: params.term
            } ) ;
        },
        processResults: function (data) {
            return {
                // data need id key if not no focus selection displayed
                results: data
            } ;
        }
    },
    templateResult: formatRepoAnalysis
} ) ;

function formatRepoAnalysis(repo)
{
    if (repo.loading)
    return repo.text ;

var code = "" ;

    if (repo.code)
    code += "[" + repo.code + "]" ;

var name = "" ;

    if (repo.name)
    name += repo.name ;

var cat = "" ;

    if (repo.label)
    cat += repo.label ;

var display = $(
    "<div class='select2-result-repository clearfix'>" +
        "<div class='select2-result-repository__meta'>" +
            "<div class='select2-result-repository__code'><b>" + code + "</b></div>" +
            "<div class='select2-result-repository__name'>" + name + "</div>" +
            "<div class='select2-result-repository__category'>" + cat + "</div>" +
        "</div>" +
    "</div>") ;

return display ;
}

$("#search_analysis").on("select2:select", function (e) 
{
let id_ana = $(e.currentTarget).val() ;

    for ( k in data_res )
    {
        if ( data_res[k].ref_ana == id_ana )
        {
        alert("{{ _("Analyse déjà présente !") }}") ;
        return;
        }
    }

list_id_ana.push( id_ana ) ;

$("#div_add_analysis").show() ;

    // GET det analysis
    $.ajax( 
        {
        type: "GET",
        url: "{{ session['server_ext'] }}/services/analysis/det/" + id_ana,
        success: function(data_ana)
            {
            let new_ana  = "<div id=\"new-analysis-" + id_ana + "\" class=\"new-analysis\">" + data_ana.nom + "<input type=\"hidden\" name=\"new-analysis[]\" value=\"" + id_ana + "\"></div>" ;

            let prev_new_ana = $("#new_analysis").html() ;

                $("#new_analysis").html( prev_new_ana + new_ana ) ;
            },
        error: function(data_ana)
            {
            console.log("ERROR GET det analysis");
            alert("{{ _("Erreur lors de la récupération d'une analyse") }}") ;
            }
        } ) ;
} ) ;

// fix bug between jquery 3.6.0 and select2
$(document).on('select2:open', () => 
{
document.querySelector('.select2-search__field').focus() ;
} ) ;

function info_pat_title()
{
{% if args['patient'] %}
let info = "" ;

info = " - {% if args['patient']['code_patient'] %}{{ args['patient']['code_patient'] }} {% endif %}" +
           "{% if args['patient']['code'] %}{{ args['patient']['code'] }}{% endif %} - " +
           "{% if args['patient']['prenom'] %}{{ args['patient']['prenom'] }} {% endif %}" +
           "{% if args['patient']['nom'] %}{{ args['patient']['nom'] }} {% endif %}" +
           "{% if args['patient']['nom_jf'] %}{{ args['patient']['nom_jf'] }} {% endif %} - " +
           "{% if args['patient']['ddn'] %}{{ _("Né(e) le") }} {{ args['patient']['ddn'] }} {% endif %}" +
           "{% if args['patient']['age'] %} - {{ args['patient']['age'] }} {% endif %}" +
           "{% if args['patient']['unite'] == 1037 %}{{ _("années") }}" +
           "{% elif args['patient']['unite'] == 1036 %}{{ _("mois") }}" +
           "{% elif args['patient']['unite'] == 1035 %}{{ _("semaines") }}" +
           "{% elif args['patient']['unite'] == 1034 %}{{ _("jours") }}{% endif %}" ;

    if (info != "")
    $("#info_pat_title").text(info) ;
{% endif %}
}

{% include 'js/display_histo.js' %}

$( document ).ready( function()
{
data_res = {% if args['list_res'] %}{{ args['list_res']|safe }}{% elif args['record'] %}[{{ args['record']|safe }}]{% else %}[]{% endif %}

{% if session['record_period'] == 1070 %} // Month period
num_dos = data_res[0].num_dos_mois ;
{% else %} // Annual period
num_dos = data_res[0].num_dos_an ;
{% endif %}

num_rec  = fmt_num_rec( num_dos, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;
per_rec  = per_num_rec( num_dos, {{ session['record_format'] }}, {{ session['record_period'] }} ) ;
rec_stat = status_rec(data_res[0].stat) ;

    $("#num_rec").html(num_rec)   ;
    $("#rec_stat").html(rec_stat) ;

display_result( 1 ) ;

info_pat_title() ;

    {% if ihm['anchor'] %}
    setTimeout(function()
    {
        $(document).scrollTop( $("{{ ihm['anchor'] }}").offset().top ) ;
    }, 400);
    {% endif %}
} ) ;
</script>
{% endblock %}
