{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Import utilisateurs") }}</title>
    <link href="{{ url_for('static', filename='vendor/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main" style="opacity: 1;">
            <h2 class="page-title page-title-{{ session['user_role']|safe }}"><span>{{ _("Import utilisateurs") }}</span></h2>
            <form>
                <div class="row">
                    <div class="col-12 my-3">
                        <div class="form-group">
                            <div class="text-left upload-container">
                                <div>
                                    <div>
                                        <div style="display: inline-block; padding-right: 20px;" class="uploadHTML5">
                                            {% if session['user_role'] != 'P' %}
                                            <input name="file" type="file" style="margin-bottom:4px"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if session['user_role'] != 'P' %}
                        <input type="button" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Enregistrer le document") }}" onclick="upload_file();">
                        {% endif %}
                    </div>                    
                </div>

                <div id="tempAnchor"></div>

                <div class="col-12 clearfix mt-3">
                    <div class="float-left" style="margin-left:0px;">
                        <input type="button" onclick="return_back();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-{{ session['user_role']|safe }}">
                    </div>
                    <div class="float-right mr-2" style="margin-left:0px;">
                        <input type="button" id="import-users" onclick="import_users();" class="btn btn-{{ session['user_role']|safe }}" value="{{ _("Importer des utilisateurs") }}" disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script>
var filename = '' ;

function upload_file()
{
let param_form = new FormData() ;

param_form.append('file', $('input[type=file]')[0].files[0]) ;

filename = $('input[type=file]')[0].files[0].name ;

    if ( filename.endsWith(".csv") )
    {
        $.ajax(
        {
            type : 'POST',
            url : "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/upload-import",
            dataType: 'json',
            contentType: false,
            processData: false,
            data: param_form,
            success : function(response)
            {
            tempAlert("{{ _("Dépôt réussi") }}", 2000, "tempAnchor") ;
            console.log( "success upload ") ;
            $("#import-users").prop('disabled', false);
            },
            error: function(response)
            {
            console.log("ERROR upload file") ;
            alert("{{ _("Une erreur est survenue lors du dépot d'un fichier") }}") ;
            }
        } ) ;
    }
    else
    alert("{{ _("Le fichier doit être un csv") }}") ;
}

function import_users()
{
    if ( window.confirm("{{ _("Mettre à jour la liste des utilisateurs et ajouter ceux n'existant pas ?") }}") )
    {
        $.ajax( 
        {
            type: "GET",
            url: "{{ session['server_ext'] }}/services/user/import/" + filename + "/{{ session['user_id'] }}",
            success: function(ret)
            {
            tempAlert("{{ _("Traitement réussi") }}", 2000, "tempAnchor") ;
            window.location = "{{ session['server_ext'] }}/{{ session['redirect_name'] }}/setting-users" ;
            },
            error: function(ret)
            {
            console.log("ERROR import user") ;
            alert("{{ _("Erreur lors du traitement des données") }}") ;
            }
        } ) ;
    }
    else
    return false ;
}

function return_back()
{
window.history.back() ;
}
</script>
{% endblock %}
