{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Import utilisateurs") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-color"><span>{{ _("Import utilisateurs") }}</span></h2>
            <form>
                <div class="row">
                    <div class="col-lg-12 my-3">
                        <div class="form-group">
                            <div class="text-start upload-container">
                                <div>
                                    <div>
                                        <div class="uploadHTML5 d-inline-block pe-3">
                                            {% if has_permission("SETTING_40") %}
                                            <input name="file" type="file" class="mb-1"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if has_permission("SETTING_40") %}
                        <input type="button" id="btn-upload" class="btn btn-lbk btn-{{ session['user_role']|safe }} mt-2" value="{{ _("Enregistrer le document") }}" onclick="upload_file();">
                        {% endif %}
                    </div>                    
                </div>

                <div class="col-lg-12 clearfix mt-3">
                    <div class="float-start ms-0">
                        <input type="button" onclick="return_back();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                    </div>
                    <div class="float-end me-2" style="margin-start:0px;">
                        <input type="button" id="import-users" onclick="import_users();" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _("Importer des utilisateurs") }}" disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
var filename = '' ;

function upload_file()
{
let param_form = new FormData() ;

param_form.append('file', $('input[type=file]')[0].files[0]) ;

filename = $('input[type=file]')[0].files[0].name ;

    if ( filename.endsWith(".csv") )
    {
        $.ajax(
        {
            type : 'POST',
            url : "{{ session['server_ext'] }}/upload-import",
            dataType: 'json',
            contentType: false,
            processData: false,
            data: param_form,
            success : function(response)
            {
            tempAlert("{{ _("Dépôt réussi") }}", "btn-upload") ;
            console.log( "success upload ") ;
            $("#import-users").prop('disabled', false);
            },
            error: function(response)
            {
            console.log("ERROR upload file") ;
            alert("{{ _("Une erreur est survenue lors du dépot d'un fichier") }}") ;
            }
        } ) ;
    }
    else
    alert("{{ _("Le fichier doit être un csv") }}") ;
}

function import_users()
{
    if ( window.confirm("{{ _("Mettre à jour la liste des utilisateurs et ajouter ceux n'existant pas ?") }}") )
    {
        $.ajax( 
        {
            type: "GET",
            url: "{{ session['server_ext'] }}/services/user/import/" + filename + "/{{ session['user_id'] }}",
            success: function(ret)
            {
            tempAlert("{{ _("Traitement réussi") }}", "import-users") ;
            setTimeout(function(){location.href="{{ session['server_ext'] }}/setting-users"}, 2400) ;
            },
            error: function(ret)
            {
            console.log("ERROR import user") ;
            alert("{{ _("Erreur lors du traitement des données") }}") ;
            }
        } ) ;
    }
    else
    return false ;
}

function return_back()
{
window.location.href = "{{ session['server_ext'] }}/setting-users" ;
}
</script>
{% endblock %}
