{% extends "skeleton.html" %}

{% block head %}
{{ super() }}
    <title>{{ _("Export WHONET") }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="content">
    <div class="inner">
        <div id="main">
            <h2 class="page-title page-title-color"><span>{{ _("Export WHONET") }}</span></h2>
            <form>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="date_beg" class="form-label col-lg-6 text-end mt-2 me-1">{{ _("Date de validation du") }} </label>
                            <div>					
                                <input id="date_beg" class="form-control form-lbk" type="date" maxlength="10" size="10" value="" name="date_beg" style="color: #888;">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group d-lg-flex align-items-start mt-3">
                            <label for="date_end" class="form-label col-lg-2 text-end mt-2 me-1"> {{ _("au") }} </label>
                            <div>					
                                <input id="date_end" class="form-control form-lbk" type="date" maxlength="10" size="10" value="" name="date_beg" style="color: #888;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="float-start ms-0">
                        <input type="button" onclick="return_home();" id="btn_return" value="{{ _("Retour") }}" class="btn btn-lbk btn-{{ session['user_role']|safe }}">
                    </div>
                    <div class="float-end me-2" style="margin-start:0px;">
                        <input type="button" onclick="export_whonet();" class="btn btn-lbk btn-{{ session['user_role']|safe }}" value="{{ _("Récupérer les données") }}">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div><!-- close content -->
{% endblock %}

{% block add_script %}
<script type="text/javascript" nonce="{{ session['nonce'] }}">
function export_whonet()
{
var date_beg = $("#date_beg").val() ;
var date_end = $("#date_end").val() ;

let str_beg = date_beg ;
let str_end = date_end ;

    if (date_beg)
    date_beg += ' 00:00' ;

    if (date_end)
    date_end += ' 23:59' ;

var param = '{"date_beg":"' + date_beg + '", "date_end":"' + date_end + '"}' ;

    // popup wait
    $("#dial-wait").off('shown.bs.modal') ;
    $("#dial-wait").modal("show") ;

    $.ajax( 
    {
        type: "POST",
        url: "{{ session['server_ext'] }}/services/export/whonet",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: param,
        success: function(ret)
        {
            $("#dial-wait").modal("hide") ;

        download_file( "PY", "whonet_" + str_beg + "_" + str_end + ".txt", "GEN", 0 ) ;
        },
        error: function(ret)
        {
            $("#dial-wait").modal("hide") ;

            if (ret.status == 404)
            alert("{{ _("Aucun résultat à exporter !") }}") ;
            else
            alert("{{ _("Erreur lors de la génération du fichier") }}") ;
        }
    } ) ;
}

function return_home()
{
window.location.href = "{{ session['server_ext'] }}/homepage" ;
}

$( document ).ready( function()
{
let year = new Date().getFullYear() ;

let date_beg = year + "-01-01" ;

    $("#date_beg").val( date_beg ) ;
    $("#date_end").val( "{{ now|date_now }}" ) ;
} ) ;
</script>
{% endblock %}
