<!-- Popup toast -->
<div class="toast" style="position: absolute;" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000" data-autohide="true">
    <div class="toast-header">
        <strong class="mr-auto">{{ _("Notification") }}</strong>
        <button type="button" class="ml-2 mb-1 btn-close" data-bs-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body" id="toast-msg" style="background-color:#CCC; color: #111; font-weight:bold;"></div>
</div>
