<!-- Popup waiting -->
<div class="modal" id="dial-wait" tabindex="-1">
    <div class="modal-dialog w-50 mw-75" style="background:#EEE;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ _("Processus en cours") }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span data-field="reason">
                        {{ _("Veuillez patienter") }}
                        <img src="{{ url_for('static', filename='img/busy.gif') }}" class="ml-3">
                    </span>
                    <br />
                    <span id="wait-status"></span>
                </div>
            </div>
        </div>
    </div>
</div>
